标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00810/TaxMLBw_HXZG_DJ_00810_Responset_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00810Response">
		<xs:annotation>
			<xs:documentation>查询外埠纳税人经营地报验登记管理</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="WjzglGrid" type="WjzglGrid">
						<xs:annotation>
							<xs:documentation>完税凭证换开信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WjzglVO">
		<xs:annotation>
			<xs:documentation>外经证管理VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wcjyglzmztDm" type="bz1">
				<xs:annotation>
					<xs:documentation>外出经营活动管理状态</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjDm" type="zgswjDm">
				<xs:annotation>
					<xs:documentation>主管税务局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyfsdmjh" type="jyfsdmjh">
				<xs:annotation>
					<xs:documentation>经营方式代码集合</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyzmuuid" type="wcjyzmuuid">
				<xs:annotation>
					<xs:documentation>外出经营证明uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyhdssglzmbh" type="wcjyhdssglzmbh">
				<xs:annotation>
					<xs:documentation>外出经营活动税收管理证明编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjydxzqhszDm" type="wcjydxzqhszDm">
				<xs:annotation>
					<xs:documentation>外出经营地行政区划数字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyd" type="wcjyd">
				<xs:annotation>
					<xs:documentation>外出经营地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmkjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>证明开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datasource" type="bz1">
				<xs:annotation>
					<xs:documentation>数据来源</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uuid" type="uuid">
				<xs:annotation>
					<xs:documentation>流水表uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WjzglGrid">
		<xs:annotation>
			<xs:documentation>外经证管理信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="WjzglVO" type="WjzglVO">
				<xs:annotation>
					<xs:documentation>外经证管理VO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
