标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01673/TaxMLBw_HXZG_SB_01673_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_kjqysdssb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01673Request">
		<xs:annotation>
			<xs:documentation>扣缴企业所得税错误更正保存接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kjqysdssbvo" type="zhrmghgkjqysdsbgb">
						<xs:annotation>
							<xs:documentation>扣缴企业所得税申报申报表单数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbbcTjqtxxVO" type="SBSBbcTjqtxxVO">
						<xs:annotation>
							<xs:documentation>扣缴企业所得税申报申报保存提交其他信息对象</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsrxxsbvo">
						<xs:annotation>
							<xs:documentation>扣缴企业所得税申报申报保存纳税人对象</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="scenceCsForjs" type="xs:string">
									<xs:annotation>
										<xs:documentation>错误更正保存标志</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="pzxh" type="pzxh">
									<xs:annotation>
										<xs:documentation>凭证序号</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sbuuid" type="sbuuid">
									<xs:annotation>
										<xs:documentation>申报uuid</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="scenceCs" type="xs:string">
									<xs:annotation>
										<xs:documentation>业务跳转口径(申报错误更正cwgzbz)</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="isYhba" type="xs:string">
						<xs:annotation>
							<xs:documentation>是否发起优惠备案待办任务</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
