标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00373个人所得税分期递延备案情况查询/TaxMLBw_GSGL_SB_00373_Request_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (servyou) 使用XMLSpy vservyou编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbgrsdsfqdybacxrequest">
		<xs:annotation>
			<xs:documentation>个人所得税分期递延备案情况查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="DJXH" type="djxh">
						<xs:annotation>
							<xs:documentation>纳税人登记序号（条件必录：与备案编号、交易唯一识别号三者必录其一，且当录入多项时，查询优先级为：交易唯一识别号>备案编号>登记序号）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SWSX_DM" type="swsxDm">
						<xs:annotation>
							<xs:documentation>备案税务事项（必录）（码值来源dm_gy_swsx，支持范围：SXA061048001：非上市公司股权激励个人所得税递延纳税备案、SXA061048003：技术成果投资入股个人所得税递延纳税备案、SXA061048002：上市公司股权激励个人所得税延期纳税备案、SXA061048004：个人所得税递延纳税情况年度报告、SXA061046003：股票期权或认购股票个人所得税分期缴纳备案、SXA061044001：非货币性资产投资分期缴纳个人所得税备案、SXA061046001：股权奖励个人所得税分期缴纳备案、SXA061046002：转增股本个人所得税分期缴纳备案、SXA06100813：科技人员取得职务科技成果转化现金奖励个人所得税备案表、SXA06100807：科技成果转化暂不征收个人所得税备案表）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BARQQ" type="barq">
						<xs:annotation>
							<xs:documentation>备案日期起（备案日期起、备案日期止必须成对出现，或者不出现，格式：yyyy-MM-dd）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BARQZ" type="barq">
						<xs:annotation>
							<xs:documentation>备案日期止（备案日期起、备案日期止必须成对出现，或者不出现，格式：yyyy-MM-dd）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BABH" type="babh">
						<xs:annotation>
							<xs:documentation>备案编号（条件必录：与备案编号、交易唯一识别号三者必录其一，且当录入多项时，查询优先级为：交易唯一识别号>备案编号>登记序号）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JYWYSBH" type="jywysbh">
						<xs:annotation>
							<xs:documentation>交易唯一识别号（条件必录：与备案编号、交易唯一识别号三者必录其一，且当录入多项时，查询优先级为：交易唯一识别号>备案编号>登记序号）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
