标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01800/TaxMLBw_dkdjzqjyyhssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610139_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_tydkdj_0610575_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_tydkdj_0610572_V1.0.xsd"/>
	<xs:complexType name="SBDkdjzqjyyhssbywbw">
		<xs:annotation>
			<xs:documentation>《代扣代缴证券交易印花税申报》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkdjzqjyyhssbbw" type="SBDkdjzqjyyhssbywbd"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBDkdjzqjyyhssbywbd">
		<xs:annotation>
			<xs:documentation>代扣代缴证券交易印花税业务报文</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dkdjzqjyyhsbgb" type="SBDkdjzqjyyhsbgbVo">
				<xs:annotation>
					<xs:documentation>代扣代缴证券交易印花税报告表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdjdsdjdkdszy" type="dkdjdsdjdkdszy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中华人民共和国税收缴款书（代扣代收专用）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdjdsdjyhjszy" type="dkdjdsdjyhjszy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中华人民共和国税收缴款书（银行经收专用）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
