标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00023/TaxMLBw_SSFWGL_SF_00023_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSFType.xsd"/>
	<xs:complexType name="SSFWGLSF00023Request">
		<xs:annotation>
			<xs:documentation>保存涉税专业服务中止采集表信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sszyfwhzzVO" type="SszyfwjgzzbVO">
						<xs:annotation>
							<xs:documentation>涉税专业服务中止表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shxydm" type="shxydm">
						<xs:annotation>
							<xs:documentation>社会信用代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssfwjguuid" type="uuid">
						<xs:annotation>
							<xs:documentation>涉税服务机构uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
