标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00858/TaxMLBd_0610717new_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="dkynssdemxbFormNew">
		<xs:annotation>
			<xs:documentation>抵扣应纳税所得额明细表(A107030)业务报文(新版本)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkynssdeMxbVONew" type="dkynssdemxbVONew" minOccurs="0">
						<xs:annotation>
							<xs:documentation>抵扣应纳税所得额明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dkynssdemxbVONew">
		<xs:annotation>
			<xs:documentation>《抵扣应纳税所得额明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bnxzfhtjgqtze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年新增的符合条件的股权投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssgddklje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收规定的抵扣率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnxzkdkgqtze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年新增的可抵扣的股权投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndjzswdkgqtzje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度结转的尚未抵扣的股权投资余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnkdkgqtze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年可抵扣的股权投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnkyydkynssde" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年可用于抵扣的应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnsjdkynssde" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年实际抵扣应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzyhnddkgqtzye" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>结转以后年度抵扣的股权投资余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bncyxhhctqysdse" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年从有限合伙创投企业应分得的应纳税所得额||本年从有限合伙创投企业应分得的应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnxzdkdktze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年新增的可抵扣投资额||本年新增的可抵扣投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndjzdkdktzeye" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度结转的可抵扣投资额余额||以前年度结转的可抵扣投资额余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnkdktze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年可抵扣投资额（10行+11行）||本年可抵扣投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnsjdkyfdynssde" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年实际抵扣应分得的应纳税所得额（9行≤12行，本行=9行；9行＞12行，本行=12行）||本年实际抵扣应分得的应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzyhnddkdtzrye" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>结转以后年度抵扣的投资额余额（9行≤12行，本行=12行-9行；9行＞12行，本行=0）||结转以后年度抵扣的投资额余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hj" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
