标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00003/TaxMLBw_HXZG_DJ_00003_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00003Response">
		<xs:annotation>
			<xs:documentation>注销税务登记受理保存响应</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qyqsbzmessge" type="bz">
						<xs:annotation>
							<xs:documentation>qyqsbzmessge</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qyqsbz" type="bz">
						<xs:annotation>
							<xs:documentation>qyqsbz</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qydjbzmessage" type="bz">
						<xs:annotation>
							<xs:documentation>qydjbzmessage</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qydjbz" type="bz">
						<xs:annotation>
							<xs:documentation>qydjbz</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dfjgzxlcqdBz" type="bz">
						<xs:annotation>
							<xs:documentation>dfjgzxlcqdBz</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rwuuid" type="uuid">
						<xs:annotation>
							<xs:documentation>任务UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
