标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00112/TaxMLBw_HXZG_DJ_00112_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00112Response">
		<xs:annotation>
			<xs:documentation>保存外埠纳税人经营地报验登记表返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bydjuuid" type="bydjuuid">
						<xs:annotation>
							<xs:documentation>报验登记UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wcjyhdssglzmbh" type="wcjyhdssglzmbh">
						<xs:annotation>
							<xs:documentation>外出经营活动税收管理证明编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>地税登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djbydjuuid" type="bydjuuid">
						<xs:annotation>
							<xs:documentation>地税报验登记UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djwcjyhdssglzmbh" type="wcjyhdssglzmbh">
						<xs:annotation>
							<xs:documentation>地税外出经营活动税收管理证明编号</xs:documentation>
						</xs:annotation>
					</xs:element>
						<xs:element name="dsrecode" type="bz">
						<xs:annotation>
							<xs:documentation>地税成功标志</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
