标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00019/TaxMLBw_HXZG_DJ_00019_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00019Request">
		<xs:annotation>
			<xs:documentation>扣缴义务人关键信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="nsrmc" type="nsrmc">
						<xs:annotation>
							<xs:documentation>扣缴义务人名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fddbrxm" type="fddbrxm">
						<xs:annotation>
							<xs:documentation>法定代表人（负责人）名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fddbrsfzjlxDm" type="fddbrsfzjlxDm">
						<xs:annotation>
							<xs:documentation>法定代表人身份证件种类</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fddbrsfzjhm" type="fddbrsfzjhm">
						<xs:annotation>
							<xs:documentation>法定代表人身份证件号码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zzjgDm" type="zzjgDm">
						<xs:annotation>
							<xs:documentation>组织机构代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zcdzxzqhszDm" type="zcdzxzqhszDm">
						<xs:annotation>
							<xs:documentation>注册地址行政区划</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
