标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10059/TaxMLBd_0610093_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="xfskspzmxbcpyywbw">
		<xs:annotation>
			<xs:documentation>《消费税扣税凭证明细表》（成品油）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="xfskspzmxbcpy" type="xfskspzmxbcpy">
						<xs:annotation>
							<xs:documentation>《消费税扣税凭证明细表》（成品油）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="xfskspzmxbcpy">
		<xs:annotation>
			<xs:documentation>《消费税扣税凭证明细表》（成品油）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfskspzmxbcpyGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="xfskspzmxbcpyGridlb" type="xfskspzmxbcpyGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfskspzmxbcpyGridlbVO">
		<xs:annotation>
			<xs:documentation>扣税凭证申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysxfpmc" type="ysxfpmc">
				<xs:annotation>
					<xs:documentation>应税消费品名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfskspzlxDm" type="xfskspzlxDm">
				<xs:annotation>
					<xs:documentation>消费税扣税凭证类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzhm2" type="pzhm2">
				<xs:annotation>
					<xs:documentation>凭证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kprq" type="kprq">
				<xs:annotation>
					<xs:documentation>开票日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl">
				<xs:annotation>
					<xs:documentation>数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="je" type="je">
				<xs:annotation>
					<xs:documentation>金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysl" type="sysl">
				<xs:annotation>
					<xs:documentation>适用税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfse" type="xfse">
				<xs:annotation>
					<xs:documentation>消费税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
