标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01350/TaxMLBw_HXZG_SB_01350_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB01350Response">
		<xs:annotation>
			<xs:documentation>外部厂商申报比对返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBWbcsHqbdxxJgVO" type="SBWbcsHqbdxxJgVO" nillable="true">
						<xs:annotation>
							<xs:documentation>外部厂商申报比对调用VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBWbcsHqbdxxJgVO">
		<xs:annotation>
			<xs:documentation>查询残保信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yzpzxh" type="bar"/>
			<xs:element name="bdjg" type="bz1"/>
			<xs:element name="SBWbcsHqbdxxJgNrGrid">
				<xs:annotation>
					<xs:documentation>外部厂商申报比对调用VO</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="SBWbcsHqbdxxJgNrGridlb" type="SBWbcsHqbdxxJgNrGridlbVO">
							<xs:annotation>
								<xs:documentation>查询残保信息Grid</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SBWbcsHqbdxxJgNrGridlbVO">
		<xs:annotation>
			<xs:documentation>查询残保信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wbnr" type="bz"/>
			<xs:element name="wbje" type="skssqq"/>
			<xs:element name="sbnr" type="bz"/>
			<xs:element name="sbje" type="skssqz"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
