标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/预审核/HXZG_YSH_00017/TaxMLBw_HXZG_YSH_00017_Request_V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYSHType.xsd"/>
	<xs:complexType name="HXZGYSH00017Request">
		<xs:annotation>
			<xs:documentation>保存事项与附件信息接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sxjbxxVO" type="GYSxjbxxVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>事项基本信息VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fileGrid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附件List</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="fileGridLb" type="YSHFileJhVO" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
