标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01678/TaxMLBw_HXZG_SB_01678_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="fkjgList">
		<xs:annotation>
			<xs:documentation>反馈结果列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fkjgmx" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ysbxh" type="ysbxh">
							<xs:annotation>
								<xs:documentation>预申报序号</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="xh" type="xh">
							<xs:annotation>
								<xs:documentation>序号</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="clzt" type="clzt">
							<xs:annotation>
								<xs:documentation>处理状态</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="remsg" type="bz">
							<xs:annotation>
								<xs:documentation>失败情况下，返回失败原因</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGSB01678Response">
		<xs:annotation>
			<xs:documentation>作废社保费批扣清册返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fkjgList" type="fkjgList">
						<xs:annotation>
							<xs:documentation>返回信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
