标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10030/TaxMLBw_tdzzssbcsfdcqshwpxssy_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLBd_061027005_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061027006_V1.0.xsd"/>
	<xs:complexType name="tdzzssbcsfdcqshwpxssyywbw">
		<xs:annotation>
			<xs:documentation>土地增值税纳税申报表（四）（从事房地产开发的纳税人清算后尾盘销售适用）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tdzzssbcsfdcqshwpxssy">
						<xs:annotation>
							<xs:documentation>土地增值税纳税申报表（四）（从事房地产开发的纳税人清算后尾盘销售适用）</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="tdzzssbcsfdcqshwpxssybd" type="tdzzssbcsfdcqshwpxssybd">
									<xs:annotation>
										<xs:documentation>土地增值税纳税申报表（四）（从事房地产开发的纳税人清算后尾盘销售适用）</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="tdzzsqshwpxstdzzskcxmmxb" type="tdzzsqshwpxstdzzskcxmmxb">
									<xs:annotation>
										<xs:documentation>清算后尾盘销售土地增值税扣除项目明细表</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
