标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00001/TaxMLBd_0610510_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="scqyddzgsnyrlykjptbzzszyfpmxbywbw">
		<xs:annotation>
			<xs:documentation>生产企业定点直供石脑油、燃料油开具普通版增值税专用发票明细表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="scqyddzgsnyrlykjptbzzszyfpmxb" type="scqyddzgsnyrlykjptbzzszyfpmxb">
						<xs:annotation>
							<xs:documentation>生产企业定点直供石脑油、燃料油开具普通版增值税专用发票明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="scqyddzgsnyrlykjptbzzszyfpmxb">
		<xs:annotation>
			<xs:documentation>生产企业定点直供石脑油、燃料油开具普通版增值税专用发票明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kjptbzzszyfpmxbGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="kjptbzzszyfpmxbGridlb" type="kjptbzzszyfpmxbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjptbzzszyfpmxbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hwmc" type="hwmc">
				<xs:annotation>
					<xs:documentation>货物名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpDm" type="fpDm">
				<xs:annotation>
					<xs:documentation>发票代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fphm" type="fphm">
				<xs:annotation>
					<xs:documentation>发票号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kprq" type="kprq">
				<xs:annotation>
					<xs:documentation>开票日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ghfnsrsbh" type="ghfnsrsbh">
				<xs:annotation>
					<xs:documentation>购货方纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl">
				<xs:annotation>
					<xs:documentation>数量</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
