标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00195/TaxMLBd_0610673_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qysdsyjdsbczzs_jmqycgwgqyxxbgbywbw">
		<xs:annotation>
			<xs:documentation>居民企业参股外国企业信息报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdsyjdsbczzs_jmqycgwgqyxxbgb" type="qysdsyjdsbczzs_jmqycgwgqyxxbgb">
						<xs:annotation>
							<xs:documentation>居民企业参股外国企业信息报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdsyjdsbczzs_jmqycgwgqyxxbgb">
		<xs:annotation>
			<xs:documentation>居民企业参股外国企业信息报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bgrxxForm" type="bgrxxForm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报告人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="btzwgqyxxForm" type="btzwgqyxxForm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被投资外国企业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybjqgfdqtgdGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被投资外国企业信息--持有外国企业10%以上股份或有表决权股份的其他股东情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="ybjqgfdqtgdGridlb" type="ybjqgfdqtgdGridlbVO">
							<xs:annotation>
								<xs:documentation>持有外国企业10%以上股份或有表决权股份的其他股东情况</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="zgjmgrdrwgqygghdsqkGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被投资外国企业信息--中国居民个人担任外国企业高管或董事情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="zgjmgrdrwgqygghdsqkGridlb" type="zgjmgrdrwgqygghdsqkGridlbVO">
							<xs:annotation>
								<xs:documentation>中国居民个人担任外国企业高管或董事情况</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bgrsgwgqygfqkGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>外国企业股份变动信息--报告人收购外国企业股份情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="bgrsgwgqygfqkGridlb" type="bgrsgwgqygfqkGridlbVO">
							<xs:annotation>
								<xs:documentation>报告人收购外国企业股份情况</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bgrczwgqygfqkGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>外国企业股份变动信息--报告人处置外国企业股份情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="bgrczwgqygfqkGridlb" type="bgrczwgqygfqkGridlbVO">
							<xs:annotation>
								<xs:documentation>报告人处置外国企业股份情况</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bgrxxForm">
		<xs:annotation>
			<xs:documentation>报告人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qymc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nssbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="btzwgqyxxForm">
		<xs:annotation>
			<xs:documentation>被投资外国企业信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wgqyzwmc" type="wgqyzwmc">
				<xs:annotation>
					<xs:documentation>外国企业中文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wgqyzwcld" type="wgqyzwcld">
				<xs:annotation>
					<xs:documentation>外国企业中文成立地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wgqywwmc" type="wgqywwmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>外国企业外文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wgqywwcld" type="wgqywwcld" minOccurs="0">
				<xs:annotation>
					<xs:documentation>外国企业外文成立地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="szgnssbh" type="szgnssbh">
				<xs:annotation>
					<xs:documentation>所在国纳税识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zyywlx" type="zyywlx">
				<xs:annotation>
					<xs:documentation>主营业务类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgrcgbl" type="bgrcgbl">
				<xs:annotation>
					<xs:documentation>报告人持股比例</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ybjqgfdqtgdGridlbVO">
		<xs:annotation>
			<xs:documentation>持有外国企业10%以上股份或有表决权股份的其他股东情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cggdzwmc" type="cggdzwmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>持股股东中文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cggdwwmc" type="cggdwwmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>持股股东外文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzdhcldzw" type="jzdhcldzw" minOccurs="0">
				<xs:annotation>
					<xs:documentation>居住地或成立地中文</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzdhcldww" type="jzdhcldww" minOccurs="0">
				<xs:annotation>
					<xs:documentation>居住地或成立地外文</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cglx" type="cglx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>持股类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cgbl" type="cgbl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>持股比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qyfeqsrq" type="qyfeqsrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>权益份额的起始日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zgjmgrdrwgqygghdsqkGridlbVO">
		<xs:annotation>
			<xs:documentation>中国居民个人担任外国企业高管或董事情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zgmjgrxm" type="zgmjgrxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中国居民个人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgjnczd" type="zgjnczd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中国境内常住地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlx" type="sfzjlx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zw" type="zw" minOccurs="0">
				<xs:annotation>
					<xs:documentation>职务</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rzrqq" type="rzrqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>任职日期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rzrqz" type="rzrqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>任职日期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bgrsgwgqygfqkGridlbVO">
		<xs:annotation>
			<xs:documentation>报告人收购外国企业股份情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsggflx" type="bsggflx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被收购股份类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyrq" type="jyrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>交易日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sgfs" type="sgfs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收购方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sgqbgrzwgqycgfe" type="sgqbgrzwgqycgfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收购前报告人在外国企业持股份额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sghbgrzwgqycgfe" type="sghbgrzwgqycgfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收购后报告人在外国企业持股份额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bgrczwgqygfqkGridlbVO">
		<xs:annotation>
			<xs:documentation>报告人处置外国企业股份情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bczgflx" type="bczgflx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被处置股份类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrq" type="czrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>处置日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czfs" type="czfs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>处置方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czqbgrzwgqycgfe" type="czqbgrzwgqycgfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>处置前报告人在外国企业持股份额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czhbgrzwgqycgfe" type="czhbgrzwgqycgfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>处置后报告人在外国企业持股份额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
