标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00195/TaxMLBd_0610040_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xuxin (csstj) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qysdsyjdyjnssbbalywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdsyjdyjnssbbal">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="sbbhead" type="qysdsyjdyjnssbbalheadVO">
									<xs:annotation>
										<xs:documentation>中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）表头信息</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qysdsyjdyjnssbbalFrom" type="qysdsyjdyjnssbbalFrom">
									<xs:annotation>
										<xs:documentation>中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）申报信息</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="slxx" type="qysdsyjdyjnssbbalslxxVO">
									<xs:annotation>
										<xs:documentation>中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）受理信息</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdsyjdyjnssbbal">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="qysdsyjdyjnssbbalheadVO">
				<xs:annotation>
					<xs:documentation>中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qysdsyjdyjnssbbalFrom" type="qysdsyjdyjnssbbalFrom">
				<xs:annotation>
					<xs:documentation>中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slxx" type="qysdsyjdyjnssbbalslxxVO">
				<xs:annotation>
					<xs:documentation>中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsyjdyjnssbbalFrom">
		<xs:annotation>
			<xs:documentation>企业所得税月（季）度预缴纳税申报表（A类）数据对应明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yysrBq" type="yysrBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业收入本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yysrLj" type="yysrLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业收入累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yycbBq" type="yycbBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业成本本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yycbLj" type="yycbLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业成本累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrzeBq" type="lrzeBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>利润总额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrzeLj" type="lrzeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>利润总额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdywjsdynssdeBq" type="tdywjsdynssdeBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特定业务计算的应纳税所得额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdywjsdynssdeLj" type="tdywjsdynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特定业务计算的应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzssrBq" type="bzssrBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>不征税收入本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzssrLj" type="bzssrLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>不征税收入累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssrBq" type="mssrBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税收入本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssrLj" type="mssrLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税收入累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzmzynssdeBq" type="jzmzynssdeBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减征免征应纳税所得额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzmzynssdeLj" type="jzmzynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减征免征应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbyqndksBq" type="mbyqndksBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>弥补以前年度亏损本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbyqndksLj" type="mbyqndksLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>弥补以前年度亏损累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjlreBq" type="sjlreBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际利润额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjlreLj" type="sjlreLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际利润额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slLj" type="slLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsdseBq" type="ynsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsdseLj" type="ynsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxwlqyjmsdseBq" type="xxwlqyjmsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>小型微利企业减免所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxwlqyjmsdseLj" type="xxwlqyjmsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>小型微利企业减免所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsdseBq" type="jmsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsdseLj" type="jmsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjyyjsdseLj" type="sjyyjsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际已缴所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdywyjzsdseBq" type="tdywyjzsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特定业务预缴（征）所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdywyjzsdseLj" type="tdywyjzsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特定业务预缴（征）所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtsdseLj" type="ybtsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应补（退）所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqnddjzbqdjsdseBq" type="yqnddjzbqdjsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度多缴在本期抵缴所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqnddjzbqdjsdseLj" type="yqnddjzbqdjsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度多缴在本期抵缴所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjsjybtsdseLj" type="byjsjybtsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）实际应补（退）所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="synsndynssdeLj" type="synsndynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上一纳税年度应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjynssdeBq" type="byjynssdeBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）应纳税所得额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjynssdeLj" type="byjynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asnpjeyjSlBq" type="asnpjeyjSlBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按照上一纳税年度应纳税所得额的平均额预缴本期税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asnpjeyjSlLj" type="asnpjeyjSlLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按照上一纳税年度应纳税所得额的平均额预缴累计税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjynsdseBq" type="byjynsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）应纳所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjynsdseLj" type="byjynsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）应纳所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asnpjeXxwlqyjmsdseBq" type="asnpjeXxwlqyjmsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按上年平均额小型微利企业减免所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asnpjeXxwlqyjmsdseLj" type="asnpjeXxwlqyjmsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按上年平均额小型微利企业减免所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjsjynsdseBq" type="byjsjynsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）实际应纳所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjsjynsdseLj" type="byjsjynsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）实际应纳所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjswjgqdyjsdseBq" type="byjswjgqdyjsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）税务机关确定的预缴的所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjswjgqdyjsdseLj" type="byjswjgqdyjsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）税务机关确定的预缴的所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgyftsdseBq" type="zjgyftsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构应分摊所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgljyftdsdse" type="zjgljyftdsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构累计应分摊的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czjzfpsdseBq" type="czjzfpsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财政集中分配所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czjzfpsdseLj" type="czjzfpsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财政集中分配所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgyftsdseBq" type="fzjgyftsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构应分摊所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgyftsdseLj" type="fzjgyftsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构应分摊所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgdlscjybmyftsdseBq" type="zjgdlscjybmyftsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构独立生产经营部门应分摊所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgdlscjybmyftsdseLj" type="zjgdlscjybmyftsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构独立生产经营部门应分摊所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgycxfjjgyftsdsebqje" type="zjgycxfjjgyftsdsebqje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构已撤销分支机构应分摊所得税额本期金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgycxfjjgyftsdseljje" type="zjgycxfjjgyftsdseljje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构已撤销分支机构应分摊所得税额累计金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpbl" type="fpbl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分配比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgfpblLj" type="fzjgfpblLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构分配比例累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgfpsdseBq" type="fzjgfpsdseBq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构分配所得税额本期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgfpsdseLj" type="fzjgfpsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构分配所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsyjdyjnssbbalslxxVO">
		<xs:annotation>
			<xs:documentation>企业所得税月（季）度预缴纳税申报表（A类）受理信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fddbr" type="fddbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>法定代表人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="smrq" type="smrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>声明日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbzjjgzyzjhm" type="dlsbzjjgzyzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理申报中介机构</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="zgswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjzg" type="hjzg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>会计主管</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="jbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrzyzjhm" type="jbrzyzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人执业证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>填表日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbrq" type="dlsbrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsyjdyjnssbbalheadVO">
		<xs:annotation>
			<xs:documentation>企业所得税月（季）度预缴纳税申报表（A类）表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm1" type="sbsxDm1">
				<xs:annotation>
					<xs:documentation>申报属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfjglxDm" type="zfjglxDm">
				<xs:annotation>
					<xs:documentation>总分机构类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kdqzylx" type="kdqzylx">
				<xs:annotation>
					<xs:documentation>跨地区转移类型</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
