标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01898/TaxMLBd_zdsyqyssxxybb01_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zdsyqyssxxybb01VO">
		<xs:annotation>
			<xs:documentation>2重点税源企业税收信息（月报）表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zdsyqyssxxybbGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="zdsyqyssxxybbGridlbVO" type="zdsyqyssxxybb01GridlbVO">
							<xs:annotation>
								<xs:documentation>申报信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nsrxxFormVO" type="NsrxxFormVO" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zdsyqyssxxybb01GridlbVO">
		<xs:annotation>
			<xs:documentation>2重点税源企业税收信息（月报）表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hmc" type="hmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnbqs" type="bnbqs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年本期数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljs" type="bnljs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年累计数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snbqs" type="snbqs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年本期数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snljs" type="snljs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年累计数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
