标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10026/TaxMLBw_HXZG_SB_10026_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB10026Request">
		<xs:annotation>
			<xs:documentation>资源税申报错误更正初始化</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbNsrxxJhVO" type="SBNsrxxJhVO">
						<xs:annotation>
							<xs:documentation>申报纳税人主体数据查询信息对象</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cxbz" type="bz">
						<xs:annotation>
							<xs:documentation>查询标志,外围传N或者不传</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
