标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10026/TaxMLBd_BDA0610888_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by www.hbnu.com (www.hbnu.com) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="BDA0610888">
		<xs:annotation>
			<xs:documentation>《zyssb01》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yklsmsyGrid" type="yklsmsyGrid">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yklsmsyGrid">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="yklsmsyGridlbVO" type="yklsmsyGridlbVO"  minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yklsmsyGridlbVO">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>税目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>子目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykxse" type="je">
				<xs:annotation>
					<xs:documentation>原矿销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkxse" type="je">
				<xs:annotation>
					<xs:documentation>精矿销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsl1" type="sl1">
				<xs:annotation>
					<xs:documentation>折算率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkzswykdxse" type="je">
				<xs:annotation>
					<xs:documentation>精矿折算为原矿的销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkcdyzf" type="je">
				<xs:annotation>
					<xs:documentation>允许扣减的运杂费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkjdwgkgjje" type="je">
				<xs:annotation>
					<xs:documentation>允许扣减的外购矿购进金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsxse" type="je">
				<xs:annotation>
					<xs:documentation>计税销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jldwDm" type="jldwDm">
				<xs:annotation>
					<xs:documentation>计量单位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykxsl" type="je">
				<xs:annotation>
					<xs:documentation>原矿销售量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkxsl" type="je">
				<xs:annotation>
					<xs:documentation>精矿销售量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pjxkb" type="je">
				<xs:annotation>
					<xs:documentation>平均选矿比</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkhswykdxsl" type="je">
				<xs:annotation>
					<xs:documentation>精矿换算为原矿的销售量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsxsl" type="je">
				<xs:annotation>
					<xs:documentation>计税销售量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjclbz" type="bz1">
				<xs:annotation>
					<xs:documentation>从价从量标志</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
