标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01840/TaxMLBw_HXZG_SB_01840_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_BDA0610887_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01840Response">
		<xs:annotation>
			<xs:documentation>资源税申报载入基础信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zysxxGrid">
						<xs:annotation>
							<xs:documentation>资源税申报信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zyssbGridlbVO" type="zyssbGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免税款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yqsbxx">
						<xs:annotation>
							<xs:documentation>逾期申报信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="yqsbBz" type="xs:string">
									<xs:annotation>
										<xs:documentation>逾期申报标志</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="yqsbMes" type="xs:string">
									<xs:annotation>
										<xs:documentation>逾期申报提示信息</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="kdqsssrfpBz" type="xs:string">
						<xs:annotation>
							<xs:documentation>跨地区税收收入分配标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kdqsssrfpblGrid">
						<xs:annotation>
							<xs:documentation>跨地区税收收入分配比例信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="kdqsssrfpblGridlb" type="SBKdqsssrfpblqkbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
