标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/24 中小学校会计制度财务报表报送与信息采集/TaxMLBd_0610651_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zxxxkjzdcwbbsrzcbnbVO">
		<xs:annotation>
			<xs:documentation>中小学校会计制度财务报表报送与信息采集_收入支出表年报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="NsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srzcbnbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="srzcbnbGridlb" type="zxxxkjzdcwbbsrzcbnbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxxForm" type="slxxFormVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zxxxkjzdcwbbsrzcbnbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srxmmc" type="xmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收入项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srbns" type="bns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收入本年数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srsns" type="sns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收入上年数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcbns" type="bns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>支出本年数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcsns" type="sns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>支出上年数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzjybns" type="bns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>结转结余本年数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzjysns" type="sns" minOccurs="0">
				<xs:annotation>
					<xs:documentation>结转结余上年数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
