标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01769/TaxMLBw_HXZG_SB_01769_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_fqdqdzcpcljjsb2015_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01769Request">
		<xs:annotation>
			<xs:documentation>废弃电器电子产品处理基金申报表（2015版）保存信息请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxTjVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBSbjmTjVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBSbyjTjVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="fqdqdzcpcljjsb2015VO" type="fqdqdzcpcljjsb2015VO">
						<xs:annotation>
							<xs:documentation>申报纳税人主体数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
