标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01769/TaxMLBd_fqdqdzcpcljjsbyjjejs_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="fqdqdzcpcljjsbyjjejs">
		<xs:annotation>
			<xs:documentation>>废弃电器电子产品处理基金申报应缴金额计算</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bqyzjehj" type="je">
						<xs:annotation>
							<xs:documentation>本期应征金额合计</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bqkkcjehj" type="je">
						<xs:annotation>
							<xs:documentation>本期可扣除金额合计 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bqjzje" type="je">
						<xs:annotation>
							<xs:documentation>本期减征金额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyjje" type="je">
						<xs:annotation>
							<xs:documentation>已预缴金额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sqjzje" type="je">
						<xs:annotation>
							<xs:documentation>上期结转金额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bqyjje" type="je">
						<xs:annotation>
							<xs:documentation>本期应缴金额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bqjzxqje" type="je">
						<xs:annotation>
							<xs:documentation>本期结转下期金额</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
