标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00206上市公司股权激励个人所得税延期纳税备案/TaxML_GSGL_SB_00206_Response_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ssgsgqjlgrsdsyqnsResponse">
		<xs:annotation>
			<xs:documentation>上市公司股权激励个人所得税延期纳税备案表-反馈报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jywysbh" type="jywysbh">
						<xs:annotation>
							<xs:documentation>交易唯一识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="babh" type="babh">
						<xs:annotation>
							<xs:documentation>备案编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfcg" type="sfcg">
						<xs:annotation>
							<xs:documentation>是否成功（1：成功，0：失败）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fkxx" type="fkxx">
						<xs:annotation>
							<xs:documentation>反馈信息，主要失败时的返回信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
