标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10103/TaxMLBd_0611036_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="A201030Ywbd">
		<xs:annotation>
			<xs:documentation>减免所得税优惠明细表(A201030)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jmsdsyhMxbForm" type="jmsdsyhmxbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>减免所得税优惠明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jmsdsyhmxbVO">
		<xs:annotation>
			<xs:documentation>减免所得税优惠明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fhtjdxxwlqyjmqysdsLj" type="je">
				<xs:annotation>
					<xs:documentation>符合条件的小型微利企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zdfcgxjsqyjmLj" type="je">
				<xs:annotation>
					<xs:documentation>国家需要重点扶持的高新技术企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jjtqpdxqxslgxjsqyjmLj" type="je">
				<xs:annotation>
					<xs:documentation>经济特区和上海浦东新区新设立的高新技术企业在区内取得的所得定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="szdqncxysLj" type="je">
				<xs:annotation>
					<xs:documentation>受灾地区农村信用社免征企业所得税 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmqyzzkfLj" type="je">
				<xs:annotation>
					<xs:documentation>动漫企业自主开发、生产动漫产品定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bwmjcdlLj" type="je">
				<xs:annotation>
					<xs:documentation>线宽小于0.8微米（含）的集成电路生产企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewwmjcdljaswslLj" type="je">
				<xs:annotation>
					<xs:documentation>线宽小于0.25微米的集成电路生产企业减按15%税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsyyjcdljaswslLj" type="je">
				<xs:annotation>
					<xs:documentation>投资额超过80亿元的集成电路生产企业减按15%税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewwmjcdlLj" type="je">
				<xs:annotation>
					<xs:documentation>线宽小于0.25微米的集成电路生产企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsyyjcdlLj" type="je">
				<xs:annotation>
					<xs:documentation>投资额超过80亿元的集成电路生产企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xkxyybsnmdjcdlscqyjmLj" type="je">
				<xs:annotation>
					<xs:documentation>线宽小于130纳米的集成电路生产企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xkxylwnmhtzecgywlyLj" type="je">
				<xs:annotation>
					<xs:documentation>线宽小于65纳米或投资额超过150亿元的集成电路生产企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xbjcdlsjqyLj" type="je">
				<xs:annotation>
					<xs:documentation>新办集成电路设计企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjghbjjcdljasslLj" type="je">
				<xs:annotation>
					<xs:documentation>国家规划布局内集成电路设计企业可减按10%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhtjrjqyLj" type="je">
				<xs:annotation>
					<xs:documentation>符合条件的软件企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjghbjnzdrjqyjasslLj" type="je">
				<xs:annotation>
					<xs:documentation>国家规划布局内重点软件企业可减按10%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhtjjcdlfzcsqyLj" type="je">
				<xs:annotation>
					<xs:documentation>符合条件的集成电路封装、测试企业定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhtjjcdlzyclscqyLj" type="je">
				<xs:annotation>
					<xs:documentation>符合条件的集成电路关键专用材料生产企业、集成电路专用设备生产企业定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyxwhsydwLj" type="je">
				<xs:annotation>
					<xs:documentation>经营性文化事业单位转制为企业的免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhtjsczpscryypLj" type="je">
				<xs:annotation>
					<xs:documentation>符合条件的生产和装配伤残人员专门用品企业免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsxjxfwqyjaswslLj" type="je">
				<xs:annotation>
					<xs:documentation>技术先进型服务企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwmycxfzsdjsxjxfwqyLj" type="je">
				<xs:annotation>
					<xs:documentation>服务贸易类技术先进型服务企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xbdqgllqyjaswLj" type="je">
				<xs:annotation>
					<xs:documentation>设在西部地区的鼓励类产业企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xjkndqxbqyLj" type="je">
				<xs:annotation>
					<xs:documentation>新疆困难地区新办企业定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xjkstsjjkfqxbqyLj" type="je">
				<xs:annotation>
					<xs:documentation>新疆喀什、霍尔果斯特殊经济开发区新办企业定期免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hqptqhgllqyLj" type="je">
				<xs:annotation>
					<xs:documentation>广东横琴、福建平潭、深圳前海等地区的鼓励类产业企业减按15%税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bjdazwsszwhLj" type="je">
				<xs:annotation>
					<xs:documentation>北京冬奥组委、北京冬奥会测试赛赛事组委会免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qt" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzmzlx" type="jzmzlx">
				<xs:annotation>
					<xs:documentation>减征免征类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzfd" type="jzfd">
				<xs:annotation>
					<xs:documentation>减征幅度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mzzzdfqydffxbfLj" type="je">
				<xs:annotation>
					<xs:documentation>民族自治地方的自治机关对本民族自治地方的企业应缴纳的企业所得税中属于地方分享的部分减征或免征</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjLj" type="je">
				<xs:annotation>
					<xs:documentation>合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
