标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10248/TaxMLPublicType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="sbbheadVO">
		<xs:annotation>
			<xs:documentation>通用申报表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbbheadkz1VO">
		<xs:annotation>
			<xs:documentation>通用申报表表头扩展，增加申报类型，日期</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sbbheadVO">
				<xs:sequence>
					<xs:element name="sbsxDm1" type="sbsxDm1">
						<xs:annotation>
							<xs:documentation>申报类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrq1" type="sbrq">
						<xs:annotation>
							<xs:documentation>申报日期</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbbheadkz2VO">
		<xs:annotation>
			<xs:documentation>通用申报表表头扩展2，增加申报日期</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sbbheadVO">
				<xs:sequence>
					<xs:element name="sbrq" type="sbrq">
						<xs:annotation>
							<xs:documentation>申报日期</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbbslxxVO">
		<xs:annotation>
			<xs:documentation>申报表受理信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="slrDm" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbbslxxkz1VO">
		<xs:annotation>
			<xs:documentation>申报表受理信息VO扩展1，增加代理人相关信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sbbslxxVO">
				<xs:sequence>
					<xs:element name="swdlrmc" type="swdlrmc">
						<xs:annotation>
							<xs:documentation>税务代理人名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swdlrlxdh" type="swdlrlxdh">
						<xs:annotation>
							<xs:documentation>税务代理人联系电话</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swdlrjbr" type="xm">
						<xs:annotation>
							<xs:documentation>税务代理人经办人</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cwfzr" type="cwfzr">
						<xs:annotation>
							<xs:documentation>财务负责人</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fddbr" type="fddbr">
						<xs:annotation>
							<xs:documentation>法定代表人</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bsy" type="bsy">
						<xs:annotation>
							<xs:documentation>办税人</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbbslxxkz2VO">
		<xs:annotation>
			<xs:documentation>申报表受理信息VO扩展2，增加办税人相关信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sbbslxxVO">
				<xs:sequence>
					<xs:element name="bsy" type="bsy">
						<xs:annotation>
							<xs:documentation>办税人</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbbFjxxVO">
		<xs:annotation>
			<xs:documentation>申报表附加信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="swdlrdwmc" type="swdlrdwmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务代理人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrlxdh" type="swdlrlxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务代理人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbbslxxkz3VO">
		<xs:annotation>
			<xs:documentation>申报表受理信息VO扩展3</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jbr" type="jbr">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzr" type="cwfzr">
				<xs:annotation>
					<xs:documentation>财务负责人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="swdlrlxdh">
				<xs:annotation>
					<xs:documentation>税务代理人联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrmc" type="swdlrmc">
				<xs:annotation>
					<xs:documentation>税务代理人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrdz" type="swdlrdz">
				<xs:annotation>
					<xs:documentation>税务代理人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqr" type="bsy">
				<xs:annotation>
					<xs:documentation>授权人</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NsrxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrq" type="bsrq">
				<xs:annotation>
					<xs:documentation>报送日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bbssq" type="bbssq">
				<xs:annotation>
					<xs:documentation>报表所属期（如：201401）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxxFormVO">
		<xs:sequence>
			<xs:element name="swrymc" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgmc" type="slswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbbheadkz3VO">
		<xs:annotation>
			<xs:documentation>通用申报表表头扩展，增加申报类型，日期</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sbbheadVO">
				<xs:sequence>
					<xs:element name="sbsxDm1" type="sbsxDm1">
						<xs:annotation>
							<xs:documentation>申报类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrq1" type="sbrq">
						<xs:annotation>
							<xs:documentation>申报日期</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
