标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10248/TaxMLBw_HXZG_ZS_10248_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="HXZGZS10248Response">
		<xs:annotation>
			<xs:documentation>实时扣款状态不明处理</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sskkztbmcl" type="ZSClResultVO">
						<xs:annotation>
							<xs:documentation>处理结果</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZSClResultVO">
		<xs:annotation>
			<xs:documentation>处理结果</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="reCode" type="kkfhDm">
				<xs:annotation>
					<xs:documentation>返回码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reMsg" type="fhxx">
				<xs:annotation>
					<xs:documentation>返回信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
