标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/其他/HXZG_ZGGZL_00001/TaxMLBw_WfGnjdxx_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="WfGnjdxxCxResponse">
		<xs:annotation>
			<xs:documentation>业务消息Response请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wfGnjdxxResVO" type="GnjdxxResVO">
						<xs:annotation>
							<xs:documentation>返回的功能节点信息VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GnjdxxResVO">
		<xs:sequence>
			<xs:element name="xtgnDm" type="xs:string">
				<xs:annotation>
					<xs:documentation>系统功能代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postList" type="PostVO" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>岗位代码列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostVO">
		<xs:sequence>
			<xs:element name="gwDm" type="xs:string">
				<xs:annotation>
					<xs:documentation>岗位代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gwmc" type="xs:string">
				<xs:annotation>
					<xs:documentation>岗位名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
