标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00746/TaxMLBw_HXZG_DJ_00746_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00746Request">
		<xs:annotation>
			<xs:documentation>两证整合税务登记证信息采集校验</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zzhm" type="zzhm"/>
					<xs:element name="zzlxDm" type="zzlxDm"/>
					<xs:element name="kzztdjlxDm" type="kzztdjlxDm"/>
					<xs:element name="shxydm" type="shxydm"/>
					<xs:element name="nsrmc" type="nsrmc"/>
					<xs:element name="fddbrhfzrhyzsfzjhm" type="fddbrsfzjhm"/>
					<xs:element name="fddbrhfzrhyzsfzjzlDm" type="sfzjzlDm"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
