标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00253/TaxMLBd_0610291_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBw_tdzzsqssb_gy_V1.0.xsd"/>
	<xs:complexType name="qqgcfmxbywbw">
		<xs:annotation>
			<xs:documentation>前期工程费明细表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qqgcfmxb" type="qqgcfmxb">
						<xs:annotation>
							<xs:documentation>前期工程费明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qqgcfmxb">
		<xs:annotation>
			<xs:documentation>前期工程费明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qqgcfmxbGrid" type="qqgcfmxbGrid">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzzsqsFbGyNdVo" type="tdzzsqsFbGyNdVo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qqgcfmxbGrid">
		<xs:annotation>
			<xs:documentation>前期工程费明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="qqgcfmxbGridlb" type="tdzzsqsFbGyNdDataVo">
				<xs:annotation>
					<xs:documentation>前期工程费明细表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
