标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00253/TaxMLBd_0610284_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="lxzcmxb">
		<xs:annotation>
			<xs:documentation>利息支出明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lxzcmxGrid">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="lxzcmxGridlb" type="lxzcmxGridlbVo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="xmxxForm">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="xmmc">
							<xs:annotation>
								<xs:documentation>项目名称</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="xmdz">
							<xs:annotation>
								<xs:documentation>项目地址</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="yhtqll">
							<xs:annotation>
								<xs:documentation>银行同期利率</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lxzcmxGridlbVo">
		<xs:annotation>
			<xs:documentation>利息支出明细表表格</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jrjgmc" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>金融机构名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jksj" type="srlb">
				<xs:annotation>
					<xs:documentation>借款时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkje" type="nd">
				<xs:annotation>
					<xs:documentation>借款金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqx" type="sadq">
				<xs:annotation>
					<xs:documentation>借款期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ll" type="nd">
				<xs:annotation>
					<xs:documentation>利率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxlzlxje" type="nd">
				<xs:annotation>
					<xs:documentation>允许列支利息金额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
