标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00002/TaxMLBd_0610734_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="bqdsdjsejsbdcywbw">
		<xs:annotation>
			<xs:documentation>《本期代收代缴税额计算表》（适用于电池消费税纳税人）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bqdsdjsejsbdc" type="bqdsdjsejsbdc">
						<xs:annotation>
							<xs:documentation>《本期代收代缴税额计算表》（适用于电池消费税纳税人）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bqdsdjsejsbdc">
		<xs:annotation>
			<xs:documentation>《本期代收代缴税额计算表》（适用于电池消费税纳税人）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bqdsdjsejsbdcGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="bqdsdjsejsbdcGridlb" type="bqdsdjsejsbdcGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bqdsdjsejsbdcGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewblxh" type="ewblxh">
				<xs:annotation>
					<xs:documentation>二维表列序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lmc" type="lmc">
				<xs:annotation>
					<xs:documentation>列名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysl" type="sysl">
				<xs:annotation>
					<xs:documentation>适用税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stjgsl" type="stjgsl">
				<xs:annotation>
					<xs:documentation>受托加工数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tlcpxsjg" type="tlcpxsjg">
				<xs:annotation>
					<xs:documentation>同类产品销售价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clcb" type="clcb">
				<xs:annotation>
					<xs:documentation>材料成本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jgf" type="jgf">
				<xs:annotation>
					<xs:documentation>加工费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcjsjg" type="zcjsjg">
				<xs:annotation>
					<xs:documentation>组成计税价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqdsdjsk" type="bqdsdjsk">
				<xs:annotation>
					<xs:documentation>本期代收代缴税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqstjgjmsk" type="bqstjgjmsk">
				<xs:annotation>
					<xs:documentation>本期受托加工减（免）税款</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
