标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00002/TaxMLBd_0610548_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="yxfjsczztrcclljtjbywbw">
		<xs:annotation>
			<xs:documentation>乙烯、芳烃生产装置投入产出流量计统计表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yxfjsczztrcclljtjb" type="yxfjsczztrcclljtjb">
						<xs:annotation>
							<xs:documentation>乙烯、芳烃生产装置投入产出流量计统计表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="yxfjsczztrcclljtjb">
		<xs:annotation>
			<xs:documentation>乙烯、芳烃生产装置投入产出流量计统计表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yxfjsczztrcclljtjbGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="yxfjsczztrcclljtjbGridlb" type="yxfjsczztrcclljtjbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yxfjsczztrcclljtjbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzmc1" type="zzmc1">
				<xs:annotation>
					<xs:documentation>装置名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yltrqkLljgs" type="yltrqkLljgs">
				<xs:annotation>
					<xs:documentation>原料投入情况流量计个数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yltrLltjSnysl" type="yltrLltjSnysl">
				<xs:annotation>
					<xs:documentation>原料投入情况流量计统计石脑油数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yltrLltjRnlsl" type="yltrLltjRnlsl">
				<xs:annotation>
					<xs:documentation>原料投入情况流量计统计燃料油数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yltrCwhsSnysl" type="yltrCwhsSnysl">
				<xs:annotation>
					<xs:documentation>原料投入情况财务核算石脑油数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yltrCwhsRnlsl" type="yltrCwhsRnlsl">
				<xs:annotation>
					<xs:documentation>原料投入情况财务核算燃料油数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpccLltjgs" type="cpccLltjgs">
				<xs:annotation>
					<xs:documentation>产品产出情况流量计个数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpccLltjYxsl" type="cpccLltjYxsl">
				<xs:annotation>
					<xs:documentation>产品产出情况流量计统计乙烯数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpccLltjFtsl" type="cpccLltjFtsl">
				<xs:annotation>
					<xs:documentation>产品产出情况流量计统计芳烃类数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpccCwhsYxsl" type="cpccCwhsYxsl">
				<xs:annotation>
					<xs:documentation>产品产出情况财务核算乙烯数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpccCwhsFtsl" type="cpccCwhsFtsl">
				<xs:annotation>
					<xs:documentation>产品产出情况财务核算芳烃类数量</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
