标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00002/TaxMLBd_0610018_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="jyscqyndxsmxbywbw">
		<xs:annotation>
			<xs:documentation>《卷烟生产企业年度销售明细表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jyscqyndxsmxb">
						<xs:annotation>
							<xs:documentation>《卷烟生产企业年度销售明细表》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="jyscqyndxsmxb"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jyscqyndxsmxb">
		<xs:annotation>
			<xs:documentation>《卷烟生产企业年度销售明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jyscqyndxsmxbGrid">
				<xs:annotation>
					<xs:documentation>申报数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jyscqyndxsmxbGridlb" type="jyscqyndxsmxbGridlbVO">
							<xs:annotation>
								<xs:documentation>申报数据信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jyscqyndxsmxbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jytbzsptm" type="jytbzsptm">
				<xs:annotation>
					<xs:documentation>卷烟条包装商品条码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gg" type="gg">
				<xs:annotation>
					<xs:documentation>卷烟牌号规格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cl" type="cl">
				<xs:annotation>
					<xs:documentation>产量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl">
				<xs:annotation>
					<xs:documentation>数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsjg" type="xsjg">
				<xs:annotation>
					<xs:documentation>销售价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dbjg" type="dbjg">
				<xs:annotation>
					<xs:documentation>调拨价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsjg" type="jsjg">
				<xs:annotation>
					<xs:documentation>计税价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xse" type="xse">
				<xs:annotation>
					<xs:documentation>销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
