标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00582/TaxMLBw_HXZG_SB_00582_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00582Request">
		<xs:annotation>
			<xs:documentation>根据买卖双方信息查询土地交易信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zrfdjxh" type="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>转让方登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zrfnsrsbh" type="nsrsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>转让方纳税人识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="csfdjxh" type="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>承受方登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="csfnsrsbh" type="nsrsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>承受方纳税人识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jyflx" type="bz1">
						<xs:annotation>
							<xs:documentation>交易方类型：0 转让 1受让 2 双方</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
