标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00582/TaxMLBw_HXZG_SB_00582_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00582Response">
		<xs:annotation>
			<xs:documentation>根据买卖双方信息查询土地交易信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tdczrxxGrid">
						<xs:annotation>
							<xs:documentation>土地信息Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="tdczrxxGridlb" type="tdczrxxGridlbVO">
									<xs:annotation>
										<xs:documentation>土地交易信息Gridlb</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tdczrxxGridlbVO">
		<xs:annotation>
			<xs:documentation>土地信息GridlbVO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="czrfdjxh" type="djxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出租房登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrfNsrsbh" type="czrfNsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让方纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrfDwhgrmc" type="czrfDwhgrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让方单位或个人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrfSfzjzlDm" type="czrfSfzjzlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让方身份证件种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrfZjhm" type="czrfZjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让方证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfdjxh" type="djxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>承受方登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfnsrsbh" type="csfnsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>承受方纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfDwhgrmc" type="csfDwhgrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>承受方单位或个人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfSfzjzl" type="csfSfzjzl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>承受方身份证件种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfZjhm" type="csfZjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>承受方证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrfs" type="czrfs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzlwz" type="tdzlwz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地坐落位置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qh" type="qh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>丘号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsybh" type="tdsybh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdmj" type="tdmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrhtqdsj" type="czrhtqdsj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让合同签订时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrhtbh" type="czrhtbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让合同编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czrsj" type="czrsj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出转让时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdytDm" type="tdytDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地用途代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tddjDm" type="tddjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地等级代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sz1" type="sz1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>四至</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyjg" type="jyjg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>交易价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsdswjgDm" type="tdsdswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地属地税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsyzbh" type="tdsyzbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地使用证编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qsqszyytDm" type="qsqszyytDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>契税权属转移用途代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
