标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00088/TaxMLBd_00003_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="WjzglVO">
		<xs:annotation>
			<xs:documentation>外经证管理VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wcjyglzmztDm" type="bz1">
				<xs:annotation>
					<xs:documentation>外出经营活动管理状态</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjDm" type="zgswjDm">
				<xs:annotation>
					<xs:documentation>主管税务局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyfsdmjh" type="jyfsdmjh">
				<xs:annotation>
					<xs:documentation>经营方式代码集合</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyzmuuid" type="wcjyzmuuid">
				<xs:annotation>
					<xs:documentation>外出经营证明uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyhdssglzmbh" type="wcjyhdssglzmbh">
				<xs:annotation>
					<xs:documentation>外出经营活动税收管理证明编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjydxzqhszDm" type="wcjydxzqhszDm">
				<xs:annotation>
					<xs:documentation>外出经营地行政区划数字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyd" type="wcjyd">
				<xs:annotation>
					<xs:documentation>外出经营地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmkjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>证明开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="datasource" type="bz1">
				<xs:annotation>
					<xs:documentation>数据来源</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uuid" type="uuid">
				<xs:annotation>
					<xs:documentation>流水表uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WjzglCxtjVO">
		<xs:annotation>
			<xs:documentation>外经证管理查询条件VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wcjyglzmztDm" type="bz1">
				<xs:annotation>
					<xs:documentation>外出经营活动管理状态</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjykjdxzqhszDm" type="wcjydxzqhszDm">
				<xs:annotation>
					<xs:documentation>开具地行政区划数字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmyxqxq" type="zmyxqxq">
				<xs:annotation>
					<xs:documentation>证明有效期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmyxqxz" type="zmyxqxz">
				<xs:annotation>
					<xs:documentation>证明有效期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dfjgBz" type="bz1">
				<xs:annotation>
					<xs:documentation>对方机关标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gdslxDm" type="gdslxDm">
				<xs:annotation>
					<xs:documentation>国地税类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
