标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00534/TaxMLBw_HXZG_SB_00534_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBw_SBGSJKType_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00534Request">
		<xs:annotation>
			<xs:documentation>申报表应征信息更正请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yzpzxh" type="yzpzxh">
						<xs:annotation>
							<xs:documentation>原申报应征凭证序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbbyzxxGrid" type="sbbyzxxGrid">
						<xs:annotation>
							<xs:documentation>申报表应征信息列表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zcbbtzsxhGrid" type="zcbbtzsxhGrid">
						<xs:annotation>
							<xs:documentation>自查补报通知书序号列表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssjksyhzyGrid" type="ssjksyhzyGrid">
						<xs:annotation>
							<xs:documentation>税收缴款书（银行经收专用）列表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssjksdkdjzyGrid" type="ssjksdkdjzyGrid">
						<xs:annotation>
							<xs:documentation>税收缴款书（代扣代收专用）列表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skfjxxGrid" type="skfjxxGrid">
						<xs:annotation>
							<xs:documentation>税款分解信息列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
