标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00049/TaxMLBw_whsyjsfsbbygzywbw_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610334_V1.0.xsd"/>
	<xs:complexType name="whsyjsfsbywbw">
		<xs:annotation>
			<xs:documentation>《文化事业建设费申报（营改增）业务报文》</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="whsyjsfsbbygz" type="whsyjsfsbbygz">
						<xs:annotation>
							<xs:documentation>《文化事业建设费申报表》（营改增）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ysfwxmjcqdGrid" type="ysfwxmjcqdGrid">
						<xs:annotation>
							<xs:documentation>文化事业建设费（营改增）申报表应税服务减除项目清单附表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
