标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00861/TaxMLBd_0610704_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="gdzcjszjkcmxbForm">
		<xs:annotation>
			<xs:documentation>固定资产加速折旧、扣除明细表(A105081)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="gdzcjszjkcMxbGrid">
						<xs:annotation>
							<xs:documentation>固定资产加速折旧、扣除明细表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="gdzcjszjkcmxbgridVO" type="gdzcjszjkcmxbGridVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="gdzcjszjkcmxbGridVO">
		<xs:annotation>
			<xs:documentation>《固定资产加速折旧、扣除明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>二维表行名称||二维表行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwjzwyz" type="je">
				<xs:annotation>
					<xs:documentation>房屋建租房屋原值||房屋建租房屋原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwjzwbqzje" type="je">
				<xs:annotation>
					<xs:documentation>房屋建租房屋本期折旧额||房屋建租房屋本期折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwjzwljzje" type="je">
				<xs:annotation>
					<xs:documentation>房屋建租房屋累计折旧额||房屋建租房屋累计折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhljjscyz" type="je">
				<xs:annotation>
					<xs:documentation>飞机、火车、轮船、机器、机械和其他设备||飞机、火车、轮船、机器、机械和其他设备</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhljjscbqzje" type="je">
				<xs:annotation>
					<xs:documentation>飞机、火车、轮船、机器、机械和其他设备本期折旧额||飞机、火车、轮船、机器、机械和其他设备本期折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhljjscljzje" type="je">
				<xs:annotation>
					<xs:documentation>飞机、火车、轮船、机器、机械和其他设备累计折旧额||飞机、火车、轮船、机器、机械和其他设备累计折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yscjyhdyz" type="je">
				<xs:annotation>
					<xs:documentation>与生产经营活动有关的器具、工具原值||与生产经营活动有关的器具、工具原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yscjyhdbqzje" type="je">
				<xs:annotation>
					<xs:documentation>与生产经营活动有关的器具、工具本期折旧额||与生产经营活动有关的器具、工具本期折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yscjyhdljzje" type="je">
				<xs:annotation>
					<xs:documentation>与生产经营活动有关的器具、工具累计折旧额||与生产经营活动有关的器具、工具累计折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhlysyz" type="je">
				<xs:annotation>
					<xs:documentation>飞机火车轮船意外的运输工具原值||飞机火车轮船意外的运输工具原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhlysbqzje" type="je">
				<xs:annotation>
					<xs:documentation>飞机火车轮船意外的运输工具本期折旧额||飞机火车轮船意外的运输工具本期折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhlysljzje" type="je">
				<xs:annotation>
					<xs:documentation>飞机火车轮船意外的运输工具累计折旧额||飞机火车轮船意外的运输工具累计折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsbyz" type="je">
				<xs:annotation>
					<xs:documentation>电子设备原值||电子设备原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsbbqzje" type="je">
				<xs:annotation>
					<xs:documentation>电子设备本期折旧额||电子设备本期折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsbljzje" type="je">
				<xs:annotation>
					<xs:documentation>电子设备累计折旧额||电子设备累计折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjyz" type="je">
				<xs:annotation>
					<xs:documentation>合计原值||合计原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjbqzczje" type="je">
				<xs:annotation>
					<xs:documentation>合计本期折旧额正常折旧额||合计本期折旧额正常折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjbqjszje" type="je">
				<xs:annotation>
					<xs:documentation>合计本期折旧额加速折旧额||合计本期折旧额加速折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjljzczje" type="je">
				<xs:annotation>
					<xs:documentation>合计累计折旧额正常折旧额||合计累计折旧额正常折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjljjszje" type="je">
				<xs:annotation>
					<xs:documentation>合计累计折旧额加速折旧额||合计累计折旧额加速折旧额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
