标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00861/TaxMLBd_0610693_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="sydwmjfylzzsrzcmxbForm">
		<xs:annotation>
			<xs:documentation>事业单位、民间非营利组织收入、支出明细表(A103000)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sydwmjfykzzsrzcMxbVO" type="sydwmjfykzzsrzcmxbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>事业单位、民间非营利组织收入、支出明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sydwmjfykzzsrzcmxbVO">
		<xs:annotation>
			<xs:documentation>《事业单位、民间非营利组织收入、支出明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sydwsr" type="je">
				<xs:annotation>
					<xs:documentation>事业单位收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czbzsr" type="je">
				<xs:annotation>
					<xs:documentation>财政补助收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysr" type="je">
				<xs:annotation>
					<xs:documentation>事业收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjbzsr" type="je">
				<xs:annotation>
					<xs:documentation>上级补助收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fsdwsjsr" type="je">
				<xs:annotation>
					<xs:documentation>附属单位上缴收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jysr" type="je">
				<xs:annotation>
					<xs:documentation>经营收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtsr" type="je">
				<xs:annotation>
					<xs:documentation>其他收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzsy" type="je">
				<xs:annotation>
					<xs:documentation>投资收益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtsrqt" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mjfylzzsr" type="je">
				<xs:annotation>
					<xs:documentation>民间非营利组织收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsjzsr" type="je">
				<xs:annotation>
					<xs:documentation>接受捐赠收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hfsr" type="je">
				<xs:annotation>
					<xs:documentation>会费收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tglwsr" type="je">
				<xs:annotation>
					<xs:documentation>提供劳务收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spxssr" type="je">
				<xs:annotation>
					<xs:documentation>商品销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfbzsr" type="je">
				<xs:annotation>
					<xs:documentation>政府补助收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mjtzsy" type="je">
				<xs:annotation>
					<xs:documentation>民间投资收益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mjfylzzsrqtsr" type="je">
				<xs:annotation>
					<xs:documentation>其他收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sydwzc" type="je">
				<xs:annotation>
					<xs:documentation>事业单位支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syzc" type="je">
				<xs:annotation>
					<xs:documentation>事业支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjsjzc" type="je">
				<xs:annotation>
					<xs:documentation>上缴上级支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dfsdwbz" type="je">
				<xs:annotation>
					<xs:documentation>对附属单位补助</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyzc" type="je">
				<xs:annotation>
					<xs:documentation>经营支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtzc" type="je">
				<xs:annotation>
					<xs:documentation>其他支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mjfylzzzc" type="je">
				<xs:annotation>
					<xs:documentation>民间非营利组织支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ywhdcb" type="je">
				<xs:annotation>
					<xs:documentation>业务活动成本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="glfy" type="je">
				<xs:annotation>
					<xs:documentation>管理费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzfy" type="je">
				<xs:annotation>
					<xs:documentation>筹资费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtfy" type="je">
				<xs:annotation>
					<xs:documentation>其他费用</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
