标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00034/TaxMLBw_HXZG_RD_00034_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicRDType.xsd"/>
	<xs:complexType name="HXZGRD00034Request">
		<xs:annotation>
			<xs:documentation>保存非居民享受税收协定待遇审批申请报告表信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主观税务所科分局代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xduuid" type="xduuid">
						<xs:annotation>
							<xs:documentation>协定uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fjmxsssxddybaxxb" type="fjmxsssxddyspsqxxbVO">
						<xs:annotation>
							<xs:documentation>非居民享受税收协定待遇备案信息表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fjmxsssxddyspsqxxbVO">
		<xs:annotation>
			<xs:documentation>非居民享受税收协定待遇审批申请信息表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fjmxsssxddyspsqxxb" type="RDSsxddysqspbVO">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇申请审批表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insertSpsqSsxdxxGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息新增</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertSpsqSsxdxxGridlb" type="RDSsxddyspsqmxgcbVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息新增列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateSpsqSsxdxxGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息修改</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateSpsqSsxdxxGridlb" type="RDSsxddyspsqmxgcbVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息修改列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteSpsqSsxdxxGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息删除</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteSpsqSsxdxxGridlb" type="RDSsxddyspsqmxgcbVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息删除列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nonstatusSpsqSsxdxxGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息无状态</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="nonstatusSpsqSsxdxxGridlb" type="RDSsxddyspsqmxgcbVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇审批申请信息-税收协定信息无状态列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertSsxdzllsqdGrid">
				<xs:annotation>
					<xs:documentation>税收协定资料历史清单新增信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertSsxdzllsqdGridlb" type="RDSsxddyspFbzlVO">
							<xs:annotation>
								<xs:documentation>税收协定资料历史清单新增信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteSsxdzllsqdGrid">
				<xs:annotation>
					<xs:documentation>税收协定资料历史清单删除信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteSsxdzllsqdGridlb" type="RDSsxddyspFbzlVO">
							<xs:annotation>
								<xs:documentation>税收协定资料历史清单删除信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateSsxdzllsqdGrid">
				<xs:annotation>
					<xs:documentation>税收协定资料历史修改信息清单</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateSsxdzllsqdGridlb" type="RDSsxddyspFbzlVO">
							<xs:annotation>
								<xs:documentation>税收协定资料历史清单修改信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bcsqfbzlqdGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇审批申请附报资料清单</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="bcsqfbzlqdGridlb" type="fjmxsssxddyspsqFbzlqdVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
