标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00171/TaxMLBw_HXZG_ZS_00171_response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
		<xs:include schemaLocation="TaxMLBd_jmqysdshdysq_V1.0.xsd"/>
	<xs:complexType name="ZSHXZG00171ResponseVO">
		<xs:annotation>
			<xs:documentation>《居民企业所得税核定申请》（企业所得税核定（居民）(依申请)）表单信息初始化VO</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
		<xs:extension base="taxDoc">
		<xs:sequence>
			<xs:element name="jbxxFormVo" type="ZSjmqysdshdysqJbxxVo">
				<xs:annotation>
					<xs:documentation>基本信息区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsFormVo" type="ZSjmqysdshdysqZsfsVo">
				<xs:annotation>
					<xs:documentation>征收方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqnrFormVo" type="ZSjmqysdshdysqSqnrVo">
				<xs:annotation>
					<xs:documentation>申请内容</xs:documentation>
				</xs:annotation>
			</xs:element>
	</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
