标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01670/TaxMLBw_kjqysdssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.chinatax.gov.cn/dataspec/">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_BDA0610134_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_tydkdj_0610575_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_tydkdj_0610572_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_htbaxx_V1.0.xsd"/>
	<xs:complexType name="kjqysdssbywbw">
		<xs:annotation>
			<xs:documentation>《扣缴企业所得税申报》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zhrmghgkjqysdsbgb" type="zhrmghgkjqysdsbgb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国扣缴企业所得税报告表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjqysdsbgbhtbaxx" type="kjqysdsbgbhtbaxx">
						<xs:annotation>
							<xs:documentation>中华人民共和国扣缴企业所得税报告表合同备案信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
