标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_01914/TaxMLBw_HXZG_FXCL_01914_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL01914Request">
		<xs:annotation>
			<xs:documentation>核心征管公用任务反馈请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ajxxuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>案件信息uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ajbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>案件编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ydfs">
						<xs:annotation>
							<xs:documentation>应对方式(01 稽查，02 纳税评估，03 调查核查 04 ,提醒)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsrmc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>纳税人名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsrsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>纳税人识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
