标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00014/TaxMLBw_HXZG_ZM_00014_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZMType.xsd"/>
	<xs:complexType name="HXZGZM00014Request">
		<xs:annotation>
			<xs:documentation>保存葡萄酒购货管理证明单发放申请信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
		<xs:sequence>
				
				<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			
				<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
	
		<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
				
				<xs:element name="ptjghglzmdffxxvo" type="ZMPtjghglzmdffxxVO">
				<xs:annotation>
					<xs:documentation>葡萄酒购货管理证明单发放信息</xs:documentation>
				</xs:annotation>
			</xs:element>
				
			<xs:element name="ssdcqyqcGrid" type="PtjghglzmdffmxGrid">
				<xs:annotation>
					<xs:documentation>葡萄酒购货管理证明单发放信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
			</xs:extension>
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PtjghglzmdffmxGrid">
		<xs:annotation>
			<xs:documentation>葡萄酒购货管理证明单发放明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ptjghglzmdffmxGridlb" type="ZMPtjghglzmdffMxxxVO">
				<xs:annotation>
					<xs:documentation>葡萄酒购货管理证明单发放明细信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
