标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01276/TaxMLBw_HXZG_SB_01276_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB01276Response">
		<xs:annotation>
			<xs:documentation>企业所得税跨地区经营汇总纳税企业的分支机构年度纳税申报查询纳税人申报基础数据信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbQysdszjgxxVO" type="SBQysdszjgxxVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>企业所得税汇总纳税分支机构分配表总机构情况信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fzjgxxGrid">
						<xs:annotation>
							<xs:documentation>企业所得税汇总纳税分支机构分配表分支机构情况信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="fzjgxxGridlb" type="SBQysdsfzjgxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbQysdsczzsyjdsbqcsxxVO" type="SBQysdsczzsyjdsbqcsxxVO">
						<xs:annotation>
							<xs:documentation>企业所得税查账征收月季度申报期初数数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbQysdsczzsyjdsbqtxxVO" type="SBQysdsczzsyjdsbqtxxVO">
						<xs:annotation>
							<xs:documentation>企业所得税查账征收月季度申报其他数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBQysdsczzsyjdsbqcsxxVO">
		<xs:annotation>
			<xs:documentation>企业所得税查账征收月季度申报期初数数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yysrLj" type="yysrLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业收入累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yycbLj" type="yycbLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业成本累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrzeLj" type="lrzeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>利润总额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdywjsdynssdeLj" type="tdywjsdynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特定业务计算的应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzssrLj" type="bzssrLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>不征税收入累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssrLj" type="mssrLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税收入累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzmzynssdeLj" type="jzmzynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减征免征应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbyqndksLj" type="mbyqndksLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>弥补以前年度亏损累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjlreLj" type="sjlreLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际利润额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slLj" type="slLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsdseLj" type="ynsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxwlqyjmsdseLj" type="xxwlqyjmsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>小型微利企业减免所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsdseLj" type="jmsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjyyjsdseLj" type="sjyyjsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际已缴所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdywyjzsdseLj" type="tdywyjzsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>特定业务预缴（征）所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtsdseLj" type="ybtsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应补（退）所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqnddjzbqdjsdseLj" type="yqnddjzbqdjsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度多缴在本期抵缴所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="synsndynssdeLj" type="synsndynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上一纳税年度应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjynssdeLj" type="byjynssdeLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）应纳税所得额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asnpjeyjSlLj" type="asnpjeyjSlLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按照上一纳税年度应纳税所得额的平均额预缴累计税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjynsdseLj" type="byjynsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）应纳所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asnpjeXxwlqyjmsdseLj" type="asnpjeXxwlqyjmsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按上年平均额小型微利企业减免所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjsjynsdseLj" type="byjsjynsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）实际应纳所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjswjgqdyjsdseLj" type="byjswjgqdyjsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本月（季）税务机关确定的预缴的所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgljyftdsdse" type="zjgljyftdsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构累计应分摊的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czjzfpsdseLj" type="czjzfpsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财政集中分配所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgyftsdseLj" type="fzjgyftsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构应分摊所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgdlscjybmyftsdseLj" type="zjgdlscjybmyftsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构独立生产经营部门应分摊所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgycxfjjgyftsdseljje" type="zjgycxfjjgyftsdseljje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构已撤销分支机构应分摊所得税额累计金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgfpblLj" type="fzjgfpblLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构分配比例累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgfpsdseLj" type="fzjgfpsdseLj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构分配所得税额累计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SBQysdsczzsyjdsbqtxxVO">
		<xs:annotation>
			<xs:documentation>企业所得税查账征收月季度申报其他数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zfjglb" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总分机构类别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kdsAndkxqFlag" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>跨地区、跨县区标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdftfzjgFlag" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>就地分摊分支机构标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jaqyYjze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>外地建安企业预缴总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyjje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyyjye" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>可用预缴余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yyyjje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已用预缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbksehj" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>五年内可结转以后年度弥补亏损金额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjfsDm" type="yjfsDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预缴方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfxwqybz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否小型微利企业标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxwlqysl" type="sl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>小型微利企业适用税率</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
