标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01626/TaxMLBw_HXZG_SB_01626_Response_V2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by maatcat (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610749_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01626Response">
		<xs:annotation>
			<xs:documentation>房产税申报载入基础数据信息返回结果</xs:documentation>
		</xs:annotation>
			<xs:complexContent>
			<xs:extension base="taxDoc">
		<xs:sequence>
			<xs:element name="jmxxGrid">
				<xs:annotation>
					<xs:documentation>房产税申报减免数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="yjxxGrid">
				<xs:annotation>
					<xs:documentation>房产税申报预缴数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fcsnssbb" type="fcsnssbb">
				<xs:annotation>
					<xs:documentation>房产税申报表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
					</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
