标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01626/TaxMLBd_0610118_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="fcssbb">
		<xs:annotation>
			<xs:documentation>房产税申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="sbbheadkz1VO">
				<xs:annotation>
					<xs:documentation>申报表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjjzfcsbbxxGrid">
				<xs:annotation>
					<xs:documentation>从价计征房产申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="cjjzfcsbbxxGridlb" type="cjjzfcsbbxxGridlbVo">
							<xs:annotation>
								<xs:documentation>从价计征房产申报表信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="czjzfcsbbxxGrid">
				<xs:annotation>
					<xs:documentation>从租计征房产申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="czjzfcsbbxxGridlb" type="czjzfcsbbxxGridlbVo">
							<xs:annotation>
								<xs:documentation>从租计征房产申报表信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxxForm" type="sbbslxxkz2VO">
				<xs:annotation>
					<xs:documentation>受理人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cjjzfcsbbxxGridlbVo">
		<xs:annotation>
			<xs:documentation>从价计征房产申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xm1" type="xm1">
				<xs:annotation>
					<xs:documentation>项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fcyz" type="fcyz">
				<xs:annotation>
					<xs:documentation>房产原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czwyz" type="czwyz">
				<xs:annotation>
					<xs:documentation>其中:出租房产原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fybh" type="fybh">
				<xs:annotation>
					<xs:documentation>房源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsybh" type="tdsybh">
				<xs:annotation>
					<xs:documentation>土地税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcl" type="jcl">
				<xs:annotation>
					<xs:documentation>减除率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyz" type="jsyz">
				<xs:annotation>
					<xs:documentation>计税原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnynse" type="bnynse">
				<xs:annotation>
					<xs:documentation>本年应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjse1" type="bqyjse">
				<xs:annotation>
					<xs:documentation>本期已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtse" type="bqYbtse">
				<xs:annotation>
					<xs:documentation>本期应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqxDm" type="sbqxDm">
				<xs:annotation>
					<xs:documentation>申报期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm">
				<xs:annotation>
					<xs:documentation>纳税期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqxDm" type="jkqxDm">
				<xs:annotation>
					<xs:documentation>缴款期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uuid" type="uuid">
				<xs:annotation>
					<xs:documentation>房源ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmwsuuid" type="uuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免文书uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qs" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="yxqq">
				<xs:annotation>
					<xs:documentation>有效期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syuuid" type="uuid">
				<xs:annotation>
					<xs:documentation>税源uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwzjsr" type="nzjsr">
				<xs:annotation>
					<xs:documentation>房屋年租金收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwzldz" type="fwzldz" nillable="1">
				<xs:annotation>
					<xs:documentation>房屋坐落地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="czjzfcsbbxxGridlbVo">
		<xs:annotation>
			<xs:documentation>从租计征房产申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xm1" type="xm1">
				<xs:annotation>
					<xs:documentation>项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqzjsr" type="bqzjsr">
				<xs:annotation>
					<xs:documentation>本期租金收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fybh" type="fybh">
				<xs:annotation>
					<xs:documentation>房源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsybh" type="tdsybh">
				<xs:annotation>
					<xs:documentation>土地税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjse1" type="bqyjse1">
				<xs:annotation>
					<xs:documentation>本期已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtse" type="bqYbtse">
				<xs:annotation>
					<xs:documentation>本期应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqxDm" type="sbqxDm">
				<xs:annotation>
					<xs:documentation>申报期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm">
				<xs:annotation>
					<xs:documentation>纳税期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqxDm" type="jkqxDm">
				<xs:annotation>
					<xs:documentation>缴款期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmwsuuid" type="uuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免文书uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qs" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uuid" type="uuid">
				<xs:annotation>
					<xs:documentation>房源ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="yxqq">
				<xs:annotation>
					<xs:documentation>有效期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syuuid" type="uuid">
				<xs:annotation>
					<xs:documentation>税源uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwzldz" type="fwzldz" nillable="1">
				<xs:annotation>
					<xs:documentation>房屋坐落地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxxForm">
		<xs:annotation>
			<xs:documentation>受理人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsr" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
