标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10252/TaxMLBw_HXZG_ZS_10252_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="HXZGZS10252Request">
		<xs:annotation>
			<xs:documentation>查询退税信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="sbxh">
						<xs:annotation>
							<xs:documentation>申报序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="spnd">
						<xs:annotation>
							<xs:documentation>审批年度</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="spyf">
						<xs:annotation>
							<xs:documentation>审批月份</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jmwsLcslid">
						<xs:annotation>
							<xs:documentation>减免文书流程实例id</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
