标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10252/TaxMLBw_HXZG_ZS_10252_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="HXZGZS10252Response">
		<xs:annotation>
			<xs:documentation>查询退税信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tsxxGrid">
						<xs:annotation>
							<xs:documentation>查询退税信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="tsxxGridlb" type="ZSTytsspxxVO">
									<xs:annotation>
										<xs:documentation>查询退税信息列表</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="flqyyhxxvo" type="ZSFlqyYhxxVO">
						<xs:annotation>
							<xs:documentation>可审批退税计算列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZSFlqyYhxxVO">
		<xs:sequence>
			<xs:element name="yhuuid">
				<xs:annotation>
					<xs:documentation>优惠UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsfuuid">
				<xs:annotation>
					<xs:documentation>退抵税费UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spnd">
				<xs:annotation>
					<xs:documentation>审批年度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spyf">
				<xs:annotation>
					<xs:documentation>审批月份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqfhtjcjrs">
				<xs:annotation>
					<xs:documentation>本期符合条件残疾人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgrs">
				<xs:annotation>
					<xs:documentation>职工人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqcjrybl">
				<xs:annotation>
					<xs:documentation>本期残疾人员比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mrmytsxe">
				<xs:annotation>
					<xs:documentation>每人每月退税限额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xszcrkseqcye">
				<xs:annotation>
					<xs:documentation>享受政策入库税额期初余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xszcbqrkse">
				<xs:annotation>
					<xs:documentation>享受政策本期入库税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tsxeqcye">
				<xs:annotation>
					<xs:documentation>退税限额期初余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqtsxe">
				<xs:annotation>
					<xs:documentation>本期退税限额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqksptse">
				<xs:annotation>
					<xs:documentation>本期可审批退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqsptse">
				<xs:annotation>
					<xs:documentation>本期审批退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xszcrkseqmye">
				<xs:annotation>
					<xs:documentation>享受政策入库税额期末余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tsxeqmye">
				<xs:annotation>
					<xs:documentation>退税限额期末余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhcsfs">
				<xs:annotation>
					<xs:documentation>优惠产生方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxbz">
				<xs:annotation>
					<xs:documentation>有效标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bytsbz">
				<xs:annotation>
					<xs:documentation>不予退税标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byytje">
				<xs:annotation>
					<xs:documentation>本月已退金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byyxszcrkse">
				<xs:annotation>
					<xs:documentation>本月已享受政策入库税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZSTytsspxxVO">
		<xs:sequence>
			<xs:element name="jzjtskbz">
				<xs:annotation>
					<xs:documentation>即征即退税款标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhpzuuid">
				<xs:annotation>
					<xs:documentation>优惠凭证UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmtse">
				<xs:annotation>
					<xs:documentation>减免退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydtlyuuid">
				<xs:annotation>
					<xs:documentation>应抵退来源UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzhm">
				<xs:annotation>
					<xs:documentation>票证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsphm">
				<xs:annotation>
					<xs:documentation>电子税票号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsuuid">
				<xs:annotation>
					<xs:documentation>征收UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djsjsxDm">
				<xs:annotation>
					<xs:documentation>多缴税金属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ttsjlxDm">
				<xs:annotation>
					<xs:documentation>提退税金类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkfsrq">
				<xs:annotation>
					<xs:documentation>缴款发生日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq">
				<xs:annotation>
					<xs:documentation>入库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="se">
				<xs:annotation>
					<xs:documentation>税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sksxDm">
				<xs:annotation>
					<xs:documentation>税款属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skzlDm">
				<xs:annotation>
					<xs:documentation>税款种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yskmDm">
				<xs:annotation>
					<xs:documentation>预算科目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysfpblDm">
				<xs:annotation>
					<xs:documentation>预算分配比率代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skgkDm">
				<xs:annotation>
					<xs:documentation>收款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所科分局</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzmxxh">
				<xs:annotation>
					<xs:documentation>应征凭证明细序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzdlDm">
				<xs:annotation>
					<xs:documentation>减免性质大类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzxlDm">
				<xs:annotation>
					<xs:documentation>减免性质小类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzhzDm">
				<xs:annotation>
					<xs:documentation>减免性质</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssyhlxDm">
				<xs:annotation>
					<xs:documentation>税收优惠类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmlxDm">
				<xs:annotation>
					<xs:documentation>减免类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsdlfsDm"/>
			<xs:element name="zszmDm">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rdskssqq">
				<xs:annotation>
					<xs:documentation>认定税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rdskssqz">
				<xs:annotation>
					<xs:documentation>认定税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ljytdje">
				<xs:annotation>
					<xs:documentation>累计已退抵金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syktdje">
				<xs:annotation>
					<xs:documentation>尚余可退抵金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="check"/>
			<xs:element name="pzzlDm">
				<xs:annotation>
					<xs:documentation>票证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzgDm">
				<xs:annotation>
					<xs:documentation>票证字轨代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxm">
				<xs:annotation>
					<xs:documentation>征收项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspm">
				<xs:annotation>
					<xs:documentation>征收品目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tsjehj">
				<xs:annotation>
					<xs:documentation>退税金额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
