标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10257/TaxMLBw_HXZG_ZS_10257_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS10257Response">
		<xs:annotation>
			<xs:documentation>查询入库信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="rkxxGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="rkxxGridlb" type="rkxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="rkxxVO">
		<xs:annotation>
			<xs:documentation>入库信息明细VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zsxmDm" type="zsxmDm"/>
			<xs:element name="zspmDm" type="zspmDm"/>
			<xs:element name="rksk" type="ybtse"/>
			<xs:element name="sphm" type="pzhm"/>
			<xs:element name="skssqq" type="skssqq"/>
			<xs:element name="skssqz" type="skssqz"/>
			<xs:element name="sbrq" type="sbrq"/>
			<xs:element name="rkrq" type="rkrq"/>
			<xs:element name="zsuuid" type="zsuuid"/>
			<xs:element name="yzpzxh" type="yzpzxh"/>
			<xs:element name="yzpzmxxh" type="yzpzmxxh"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
