标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/应用集成平台/HXZG_JCPT_00001/TaxML_I_JC_jyztcx_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="jyztcxresponse">
		<xs:annotation>
			<xs:documentation>交易状态查询响应报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yjym"  minOccurs="1">
						<xs:annotation>
							<xs:documentation>原交易ID</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="yjylsh" minOccurs="1">
						<xs:annotation>
							<xs:documentation>原交易流水号</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="jyrq" minOccurs="0">
						<xs:annotation>
							<xs:documentation>交易日期</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="8"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="jyclzt" minOccurs="1">
						<xs:annotation>
							<xs:documentation>返回码小类代码</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="cljgbw" minOccurs="0">
						<xs:annotation>
							<xs:documentation>处理结果报文</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
