标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00157/TaxMLBw_HXZG_SB_00157_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="zfkxbaxxGrid">
		<xs:annotation>
			<xs:documentation>返回合同款项支付备案信息Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="zfkxbaxxGridlbVO" type="zfkxbaxxGridlbVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zfkxbaxxGridlbVO">
		<xs:annotation>
			<xs:documentation>返回合同款项支付备案信息GridlbVO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="uuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbuuid" type="sbuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq" type="zfrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>支付日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfje" type="zfje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>支付金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htbz" type="htbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同币种</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skrmc" type="skrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收款人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kxxzmc" type="kxxzmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>款项性质名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jbxxcxForm">
		<xs:annotation>
			<xs:documentation>境内机构和个人境内机构和个人发包工程作业或劳务合同款项支付情况基本信息from</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="uuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fbfnsrsbh" type="fbfnsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>发包方纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybgbbh" type="ybgbbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>原报告表编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fbfmc" type="fbfmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>发包方名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbsmc" type="cbsmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>承包商名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrjbr" type="nsrjbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fkpzfs" type="fkpzfs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>付款凭证份数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfjfkpzfyjqbbswjgbaBz" type="sfjfkpzfyjqbbswjgbaBz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否将付款凭证复印件全部报税务机关备案标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgrq1" type="bgrq1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报告日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报告日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGSB00157Response">
		<xs:annotation>
			<xs:documentation>_查询境内机构和个人发包工程作业或劳务合同款项支付情况备案</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zfkxbaxxGrid" type="zfkxbaxxGrid"/>
					<xs:element name="jbxxcxForm" type="jbxxcxForm"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
