标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00690/TaxMLBw_HXZG_SB_00690_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB00690Request">
		<xs:annotation>
			<xs:documentation>资料报送受理页面查询判断是否是重复采集</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SlCxsfcfcjVO" type="SlCxsfcfcjVO">
						<xs:annotation>
							<xs:documentation>受理页面查询判断是否重复采集</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SlCxsfcfcjVO">
		<xs:annotation>
			<xs:documentation>受理页面查询判断是否是重复采集</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssqq" type="uuid">
				<xs:annotation>
					<xs:documentation>所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssqz" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bszlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>报送资料代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
