标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00690/TaxMLBw_HXZG_SB_00690_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB000690Response">
		<xs:annotation>
			<xs:documentation>资料报送返回给受理页面是否重复采集信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SlCxsfcfcjfhVO" type="SlCxsfcfcjfhVO">
						<xs:annotation>
							<xs:documentation>返回给受理页面是否重复采集信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SlCxsfcfcjfhVO">
		<xs:annotation>
			<xs:documentation>返回给受理页面是否重复采集信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zlbsuuid" type="id">
				<xs:annotation>
					<xs:documentation>资料报送UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssqq" type="code">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssqz" type="datafieldid">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="sjgsrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjbj" type="bj">
				<xs:annotation>
					<xs:documentation>采集标记</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cfdz" type="cfdz">
				<xs:annotation>
					<xs:documentation>存放地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fjuuidGrid">
				<xs:annotation>
					<xs:documentation>附件uuid列表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="fjuuid" type="fjuuid"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
