标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10029/TaxMLBw_HXZG_SB_10029_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_tdzzssbcsfdckf_V1.0.xsd"/>
	<xs:complexType name="HXZGSB10029Request">
		<xs:annotation>
			<xs:documentation>土地增值税申报（适用于房地产企业）错误更正保存请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbTdzzscxVO" type="SBTdzzscxVO">
						<xs:annotation>
							<xs:documentation>土地增值税查询VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tdzzsnssbywbw" type="tdzzsnssbywbw">
						<xs:annotation>
							<xs:documentation>土地增值税申报申报表单数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbcwgzJs" type="bz">
						<xs:annotation>
							<xs:documentation>申报粗无更正计税标志（必传，取值为sbcwgzSv）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
