标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01701/TaxMLBw_HXZG_SB_01701_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLBd_0610788_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01701Request">
		<xs:annotation>
			<xs:documentation>根据查询条件查询房产税房源信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fyxxuuid" type="fyxxuuid">
						<xs:annotation>
							<xs:documentation>房源信息UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fybh" type="fybh">
						<xs:annotation>
							<xs:documentation>房源编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fwcqzsh" type="fwcqzsh">
						<xs:annotation>
							<xs:documentation>房屋产权证书号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fcmc" type="fcmc">
						<xs:annotation>
							<xs:documentation>房产名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fwzldz" type="fwzldz">
						<xs:annotation>
							<xs:documentation>房屋坐落地址</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
