标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00105/TaxMLBw_HXZG_ZM_00105_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZMType.xsd"/>
	<xs:complexType name="HXZGZM00105Response">
		<xs:annotation>
			<xs:documentation>根据登记序号查询纳税人合同信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ZMFwmydxmdwzfswbahtxxGrid" type="ZMFwmydxmdwzfswbahtxxGrid">
						<xs:annotation>
							<xs:documentation>服务贸易备案信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZMFwmydxmdwzfswbahtxxGrid">
		<xs:annotation>
			<xs:documentation>服务贸易等项目对外支付税务备案合同信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ZMFwmydxmdwzfswbahtxxGridlb" type="ZMFwmydxmdwzfswbahtxxVO">
				<xs:annotation>
					<xs:documentation>服务贸易等项目对外支付税务备案合同信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
