标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00196/TaxMLBw_HXZG_DJ_00196_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00196Request">
		<xs:annotation>
			<xs:documentation>保保存非正常户认定解除信息接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fzchrduuid" type="fzchrduuid">
						<xs:annotation>
							<xs:documentation>非正常户认定UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NsrZjjcxxGrid" type="NsrZjjcxxGrid">
						<xs:annotation>
							<xs:documentation>纳税人证件结存信息集合</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wszzgzDm" type="bz">
						<xs:annotation>
							<xs:documentation>文书制作规则代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NsrZjjcxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人证件结存信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="NsrZjjcxxGridlb" type="DJNsrzjjcxxVO">
				<xs:annotation>
					<xs:documentation>纳税人证件结存信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
