标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00786/TaxMLBw_HXZG_SB_00786_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB00786Response">
		<xs:annotation>
			<xs:documentation>车辆购置税申报计税返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBCgsWszmZfxxGridVO" type="SBCgsWszmZfxxGridVO">
						<xs:annotation>
							<xs:documentation>车辆购置税申报完税证明作废信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBCgsWszmZfxxGridVO">
		<xs:annotation>
			<xs:documentation>二手车发票信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="CgsWszmZfxxlbVO" type="CgsWszmZfxxlbVO">
				<xs:annotation>
					<xs:documentation>二手车发票信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CgsWszmZfxxlbVO">
		<xs:annotation>
			<xs:documentation>车辆购置税申报完税证明作废信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zfbz1" type="zfbz1">
				<xs:annotation>
					<xs:documentation>作废标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrDm" type="zfrDm">
				<xs:annotation>
					<xs:documentation>作废人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq1" type="zfrq1">
				<xs:annotation>
					<xs:documentation>作废日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wszmhm" type="wszmhm">
				<xs:annotation>
					<xs:documentation>完税证明号码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
