标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00146/TaxMLBw_HXZG_SB_00146_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by aaa (aaa) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00146Request">
		<xs:annotation>
			<xs:documentation>保存延期申报申请请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBYqsbSaveVO" type="SBYqsbSaveVO">
						<xs:annotation>
							<xs:documentation>保存参数主体VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBYqsbSaveVO">
		<xs:annotation>
			<xs:documentation>延期申报核准延期附加税VO</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yqsbMx">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="sbYqmxVO" type="SBYqsbmxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yqsbuuid" type="uuid">
						<xs:annotation>
							<xs:documentation>延期申报uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzxh" type="pzxh">
						<xs:annotation>
							<xs:documentation>凭证序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sqyqsbdly" type="yy">
						<xs:annotation>
							<xs:documentation>延期申请的理由</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sqrmc1" type="nsrmc">
						<xs:annotation>
							<xs:documentation>申请人名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sqrq" type="sqrq">
						<xs:annotation>
							<xs:documentation>申请日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slrDm" type="slrDm">
						<xs:annotation>
							<xs:documentation>受理人代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slswjgDm" type="swjgDm">
						<xs:annotation>
							<xs:documentation>受理税务机关</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slrq" type="slrq">
						<xs:annotation>
							<xs:documentation>受理日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjskhdfsDm" type="zsfsDm">
						<xs:annotation>
							<xs:documentation>预缴税款核定方式代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zfbz" type="zfbz">
						<xs:annotation>
							<xs:documentation>作废标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zfrq" type="zfrq">
						<xs:annotation>
							<xs:documentation>作废日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zfrDm" type="zfrDm">
						<xs:annotation>
							<xs:documentation>作废人代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lrrq" type="lrrq">
						<xs:annotation>
							<xs:documentation>录入日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xgrDm" type="xgrDm">
						<xs:annotation>
							<xs:documentation>修改人代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xgrq" type="xgrq">
						<xs:annotation>
							<xs:documentation>修改日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sjgsdq" type="sjgsdq">
						<xs:annotation>
							<xs:documentation>数据归属地区</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lrrDm" type="lrrDm">
						<xs:annotation>
							<xs:documentation>录入人代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hzyj" type="hzyj">
						<xs:annotation>
							<xs:documentation>核准意见</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hzyjsm" type="hzyjsm">
						<xs:annotation>
							<xs:documentation>核准意见说明</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yzpzzlDm" type="yzpzzlDm">
						<xs:annotation>
							<xs:documentation>应征凭证种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBYqsbmxVO">
		<xs:annotation>
			<xs:documentation>延期申报申请税种VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yqsbmxuuid" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>延期申报明细uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqsbuuid" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>延期申报uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm">
				<xs:annotation>
					<xs:documentation>纳税人期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbszDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>申请延期申报税种代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbpmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>申请延期品目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gdsbqx" type="gdsbqx">
				<xs:annotation>
					<xs:documentation>规定申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbqx" type="sqyqsbqx">
				<xs:annotation>
					<xs:documentation>申请延期申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzyqsbqx" type="hzyqsbqx">
				<xs:annotation>
					<xs:documentation>核准延期申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsdlfsDm" type="zsdlfsDm">
				<xs:annotation>
					<xs:documentation>征收代理方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
