标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00159/TaxMLBd_0110086_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="bdcxmdjywbw">
		<xs:annotation>
			<xs:documentation>不动产项目登记业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bdcxmdjxx" type="bdcxmdjxxVO">
						<xs:annotation>
							<xs:documentation>不动产项目登记信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bdcxmdjxxVO">
		<xs:annotation>
			<xs:documentation>不动产项目登记信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bdcjbxxForm" type="DJBdcxmdjxxVO">
				<xs:annotation>
					<xs:documentation>不动产项目登记-不动产项目信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsqxmxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-建设期项目信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jsqxmxxGridlb" type="DJBdcxmdjJsqxmxxVO">
							<xs:annotation>
								<xs:documentation>建设期项目信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="tdxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-土地信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="tdxxGridlb" type="bdcxmdjTdxxVO">
							<xs:annotation>
								<xs:documentation>土地信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ydghxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-用地规划信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="ydghxxGridlb" type="DJBdcxmdjYdghxxVO">
							<xs:annotation>
								<xs:documentation>用地规划信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ghxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-规划许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jzghxkzGridlb" type="DJBdcxmdjJzghxkzxxVO">
							<xs:annotation>
								<xs:documentation>规划许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="xsxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-销售许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="xsxkzGridlb" type="DJBdcxmdjYsxkzxxVO">
							<xs:annotation>
								<xs:documentation>销售许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dwjzxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-对外捐赠信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="dwjzxxGridlb" type="DJBdcxmdjDwjzxxVO">
							<xs:annotation>
								<xs:documentation>对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dczwxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记-低偿债务信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="dczwxxGridlb" type="DJBdcxmdjDczwxxVO">
							<xs:annotation>
								<xs:documentation>对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bdcxmdjslxxForm" type="DJYsqywslxxbVO">
				<xs:annotation>
					<xs:documentation>不动产项目登记-税务机关填写信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bdcxmdjTdxxVO">
		<xs:annotation>
			<xs:documentation>不动产项目登记土地信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sytdxxuuid" type="sytdxxuuid">
				<xs:annotation>
					<xs:documentation>税源土地信息UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsybh" type="tdsybh">
				<xs:annotation>
					<xs:documentation>土地税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmbh" type="xmbh">
				<xs:annotation>
					<xs:documentation>项目编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxbz" type="yxbz">
				<xs:annotation>
					<xs:documentation>有效标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzldz" type="tdzldz">
				<xs:annotation>
					<xs:documentation>土地坐落地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qh" type="qh">
				<xs:annotation>
					<xs:documentation>丘号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsyzfzjgmc" type="tdsyzfzjgmc">
				<xs:annotation>
					<xs:documentation>土地使用证发证机关名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsyzbh" type="tdsyzbh">
				<xs:annotation>
					<xs:documentation>土地使用证编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzmj" type="tdzmj">
				<xs:annotation>
					<xs:documentation>土地总面积</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
