标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_SB_00006_全责模式结算申报初始化/TaxMLBw_GSSB_SB_00006_Response_V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by adwadwa (TeaM DJiNN) -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="GSSBFJSSBINITResponse">
		<xs:annotation>
			<xs:documentation>结算申报页面初始化响应报文(全责模式)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="nsrsbh" type="nsrsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>纳税人识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djzclxDm" type="djzclxDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>注册类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dwlsgxDm" type="dwlsgxDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>单位隶属关系代码,纳税人为单位时填写</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hyDm" type="hyDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>行业代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsfsDm" type="zsfsDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>征收方式代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yhzh" type="yhzh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>银行帐号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lxdh" type="lxdh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>联系电话</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yhmc" type="yhmc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>银行名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jkqx" type="jkqx">
						<xs:annotation>
							<xs:documentation>缴款期限</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbqx" type="sbqx">
						<xs:annotation>
							<xs:documentation>申报期限</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jssqxssrze" type="xssr" minOccurs="0">
						<xs:annotation>
							<xs:documentation>结算所属期销售收入总额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jssqsrzexgbz" type="bz1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>结算所属期销售收入总额是否可以修改 Y：可修改 N：不可修改</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jshzsbDtoList">
						<xs:annotation>
							<xs:documentation>申报汇总数据列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="SbfJssbHzDTO" type="SbfJssbHzDTO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="tzxmList">
						<xs:annotation>
							<xs:documentation>调增项目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="CsSbfTztjxmDTO" type="CsSbfTztjxmDTO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="tjxmList">
						<xs:annotation>
							<xs:documentation>调减项目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="CsSbfTztjxmDTO" type="CsSbfTztjxmDTO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="bdgxlb">
						<xs:annotation>
							<xs:documentation>比对关系列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="SbfBdgxxxVO" type="SbfBdgxxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SbfJssbHzDTO">
		<xs:annotation>
			<xs:documentation>社保核定信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
					<xs:documentation>社保经办机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbbm" type="sbbm">
				<xs:annotation>
					<xs:documentation>社保编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmmc" type="zsxmmc">
				<xs:annotation>
					<xs:documentation>征收项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjzspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>上级征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmmc" type="zspmmc">
				<xs:annotation>
					<xs:documentation>征收品目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmmc" type="zszmmc">
				<xs:annotation>
					<xs:documentation>征收子目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsssqgzze" type="gzze">
				<xs:annotation>
					<xs:documentation>结算属期工资总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsssqysbjfjs" type="jfjs">
				<xs:annotation>
					<xs:documentation>结算所属期已申报缴费基数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfbl" type="jfbl">
				<xs:annotation>
					<xs:documentation>缴费比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzzexgbz" type="bz1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>工资总额是否可以修改 Y：可修改 N：不可修改</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CsSbfTztjxmDTO">
		<xs:annotation>
			<xs:documentation>比对关系信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tztjxmxh" type="jzxhuuid">
				<xs:annotation>
					<xs:documentation>调增调减项目xh,该字段为调增调减项目主键</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzlx" type="bz1">
				<xs:annotation>
					<xs:documentation>调增调减项目类型，1 调增 2调减</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tztjxm" type="tztjxmmc">
				<xs:annotation>
					<xs:documentation>调增调减项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SbfBdgxxxVO">
		<xs:annotation>
			<xs:documentation>比对关系信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mbzsxmmc" type="zsxmmc">
				<xs:annotation>
					<xs:documentation>目标征收项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbzsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>目标征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbzspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>目标征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbzspmmc" type="zspmmc">
				<xs:annotation>
					<xs:documentation>目标征收品目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbzszmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>目标征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbzszmmc" type="zszmmc">
				<xs:annotation>
					<xs:documentation>目标征收子目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czzsxmmc" type="zsxmmc">
				<xs:annotation>
					<xs:documentation>参照征收项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czzsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>参照征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czzspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>参照征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czzspmmc" type="zspmmc">
				<xs:annotation>
					<xs:documentation>参照征收品目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czzszmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>参照征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czzszmmc" type="zszmmc">
				<xs:annotation>
					<xs:documentation>参照征收子目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdfsbj" type="bz1">
				<xs:annotation>
					<xs:documentation>比对方式标记，0:大于等于; 1：等于; 2:小于;3:大于;4:小于等于</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdfsmc" type="bdjgmc">
				<xs:annotation>
					<xs:documentation>比对方式名称,大于等于; 等于;小于;大于;小于等于</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="jssq">
		<xs:annotation>
			<xs:documentation>结算属期</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jfbl">
		<xs:annotation>
			<xs:documentation>缴费比例</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="tztjxmmc">
		<xs:annotation>
			<xs:documentation>调增调减项目名称</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
