标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00354代扣代缴客户端核定查询/scjyhdxx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="khdScjyCshYwbw">
		<xs:annotation>
			<xs:documentation>客户端生产经营初始化业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="khdScjyCsh" type="khdScjyCsh"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="khdScjyCsh">
		<xs:annotation>
			<xs:documentation>客户端生产经营初始化</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qyxx" type="qyxx">
				<xs:annotation>
					<xs:documentation>企业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzxxList" type="sfzxxList">
				<xs:annotation>
					<xs:documentation>税费种信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzfxxList" type="tzfxxList">
				<xs:annotation>
					<xs:documentation>投资方信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="khdScjyDlhd" type="khdScjyDlhd">
				<xs:annotation>
					<xs:documentation>客户端生产经营定率核定</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grsdsSlxx" type="grsdsSlxx">
				<xs:annotation>
					<xs:documentation>个人所得税的税率信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qyxx">
		<xs:annotation>
			<xs:documentation>企业信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djzclxDm" type="djzclxDm">
				<xs:annotation>
					<xs:documentation>
					实际的登记注册类型代码
					1、合伙企业：421、422、423、522、172
                    2、个人独资：171、523
                    3、个体工商户：412、410、411、413
                    4、承包承租：不能按照登记注册类型判断，征收品目是101060300的即为承包承租；
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdwlxDm" type="bz3">
				<xs:annotation>
					<xs:documentation>
					0：个体工商户，1：承包承租经营者， 2： 个人独资企业，3： 合伙企业，对应TaxMLBd_BDA0610353_v1.1.xsd的lx节点
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qyzcrq" type="skssqq">
				<xs:annotation>
					<xs:documentation>企业注册日期，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrXm" type="xm">
				<xs:annotation>
					<xs:documentation>法定代表人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrSfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>法定代表人身份证件类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrSfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>法定代表人身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrDjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>法定代表人登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrNsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>法定代表人纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sfzxxList">
		<xs:annotation>
			<xs:documentation>税费种信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sfzxx" type="sfzxx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>税费种信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sfzxx">
		<xs:annotation>
			<xs:documentation>税费种信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsqxDm" type="nsqxDm">
				<xs:annotation>
					<xs:documentation>纳税期限代码'06':月,'08':季,'09':半年</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="yxqq">
				<xs:annotation>
					<xs:documentation>有效期起 格式yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqz" type="yxqz">
				<xs:annotation>
					<xs:documentation>有效期止格式yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwmsxx" type="cwmsxx">
				<xs:annotation>
					<xs:documentation>错误描述信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tzfxxList">
		<xs:annotation>
			<xs:documentation>投资方信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tzfxx" type="tzfxx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>投资方信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tzfxx">
		<xs:annotation>
			<xs:documentation>投资方信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>投资人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型代码（投资人证照类型）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码（投资人证照号码）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqfpbl" type="fpbl">
				<xs:annotation>
					<xs:documentation>当期分配比例，返回小数位分配比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snmfpbl" type="fpbl">
				<xs:annotation>
					<xs:documentation>上年末分配比例，返回小数位分配比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgrq" type="skssqq">
				<xs:annotation>
					<xs:documentation>变更日期，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdqszDm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国籍地区代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdqywmc" type="gjhdqywmc">
				<xs:annotation>
					<xs:documentation>国籍地区名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="yxqq">
				<xs:annotation>
					<xs:documentation>有效期起 格式yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqz" type="yxqz">
				<xs:annotation>
					<xs:documentation>有效期止格式yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="khdScjyDlhd">
		<xs:annotation>
			<xs:documentation>税费种信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="khdScjyDlhdMx" type="khdScjyDlhdMx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>客户端生产经营定律核定明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="khdScjyDlhdMx">
		<xs:annotation>
			<xs:documentation>客户端生产经营定律核定明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zsfsDm" type="zsfsDm">
				<xs:annotation>
					<xs:documentation>征收方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsbz" type="jsbz">
				<xs:annotation>
					<xs:documentation>计税标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdqxq" type="skssqq">
				<xs:annotation>
					<xs:documentation>定核定期限起，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdqxz" type="skssqz">
				<xs:annotation>
					<xs:documentation>定核定期限止，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属时期起，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属时期止，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssdl" type="sl">
				<xs:annotation>
					<xs:documentation>核定税率,返回小数位定率信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdynse" type="ynse">
				<xs:annotation>
					<xs:documentation>定额金额,返回小数位定率信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>核定日期,返回小数位定率信息，格式为yyyy-MM-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额,返回小数位定率信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwmsxx" type="cwmsxx">
				<xs:annotation>
					<xs:documentation>错误描述信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdsSlxx">
		<xs:annotation>
			<xs:documentation>生产经营税率信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="slxx" type="slxx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>税率信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxx">
		<xs:annotation>
			<xs:documentation>税率信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="slxxMx" type="slxxMx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>税率信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="qsrq" type="skssqq" use="required">
			<xs:annotation>
				<xs:documentation>终止日期，格式为YYYY-MM-DD</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zzrq" type="skssqz" use="required">
			<xs:annotation>
				<xs:documentation>起始日期，格式为YYYY-MM-DD</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="slxxMx">
		<xs:annotation>
			<xs:documentation>税率信息 design_formulas元素后面会存在qsrq和zzrq两个属性</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="low" type="se">
				<xs:annotation>
					<xs:documentation>下限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="max" type="se">
				<xs:annotation>
					<xs:documentation>上限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="sskcs">
				<xs:annotation>
					<xs:documentation>速算扣除数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
