标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00354代扣代缴客户端核定查询/scjycshRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="scjycshRequest">
		<xs:annotation>
			<xs:documentation>客户端生产经营初始化请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="scjycsh" type="scjycsh"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="scjycsh">
		<xs:annotation>
			<xs:documentation>报文内容</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tzdwdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>企业登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ndq" type="nd">
				<xs:annotation>
					<xs:documentation>开始 yyyy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ndz" type="nd">
				<xs:annotation>
					<xs:documentation>结束年 yyyy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>有效期起（可以为空，格式：yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>有效期止（可以为空，格式：yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
