标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01787/TaxMLBw_HXZG_SB_01787_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB01787Request">
		<xs:annotation>
			<xs:documentation>通过交易采集信息UUID查询交易方信息请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zrfcsfbz" type="zrfcsfbz">
						<xs:annotation>
							<xs:documentation>转让方承受方标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fcjycjxxuuidGrid">
						<xs:annotation>
							<xs:documentation>房产交易采集信息UUIDGrid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="fcjycjxxuuidGridlb" type="fcjycjxxuuid">
									<xs:annotation>
										<xs:documentation>房产交易采集信息UUIDGridlb</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
