标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00816/TaxMLBw_HXZG_SB_00816_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00816Request">
		<xs:annotation>
			<xs:documentation>点击按钮查询备案信息加载到页面,kjywlx：1查询源泉备案，2：查询境内机构备案"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjywlx" type="kjywlx">
						<xs:annotation>
							<xs:documentation>扣缴义务类型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" minOccurs="0" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" minOccurs="0" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
