标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00100/TaxMLBw_HXZG_SB_00100_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_wtdz_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00100Response">
		<xs:annotation>
			<xs:documentation>委托代征申报事前监控及查询返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="saveRetVo" type="SBSaveReturnVO">
						<xs:annotation>
							<xs:documentation>保存返回信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="drRetVo" type="WtdzSBDrReturnVO">
						<xs:annotation>
							<xs:documentation>导入返回信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wtdzywbw" type="wtdzywbw">
						<xs:annotation>
							<xs:documentation>委托代征业务报文</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WtdzSBDrReturnVO">
		<xs:annotation>
			<xs:documentation>申报导入返回数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="drycxx" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>导入异常提示信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xznsrbz" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>选择纳税人标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mxbgbCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>明细报告表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mxbgbSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>明细报告表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skbgbCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款报告表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skbgbSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款报告表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SwsxCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务收现表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SwsxSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务收现表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YhjsCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>银行经收表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YhjsSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>银行经收表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrqq" type="kjrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>开具日期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrqz" type="kjrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>开具日期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzbj" type="hzbj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>汇总标记</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
