标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00959/TaxMLBw_HXZG_FXCL_00959_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL00959Request">
		<xs:annotation>
			<xs:documentation>违法违章信息查询信息业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dqrq" type="cjdqrq">
						<xs:annotation>
							<xs:documentation> 当前日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsrsbh" type="nsrsbh">
						<xs:annotation>
							<xs:documentation>纳税人识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djrqq" type="jcrqq">
						<xs:annotation>
							<xs:documentation>登记日期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djrqz" type="jcrqz">
						<xs:annotation>
							<xs:documentation>登记日期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
