标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_SB_00004_标准版核定申报保存应征信息/TaxMLBw_GSSB_SB_00004_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfStandardHdsbRequest">
		<xs:annotation>
			<xs:documentation>社会保险费申报保存业务报文（标准版核定申报）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ShbxfStandardHdsbHead" type="ShbxfStandardHdsbHead">
						<xs:annotation>
							<xs:documentation>社会保险费缴费申报表表头</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShbxfStandardHdsbDetailList" type="ShbxfStandardHdsbDetailList">
						<xs:annotation>
							<xs:documentation>社会保险费申报明细信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShbxfStandardHdsbDetailList">
		<xs:annotation>
			<xs:documentation>社会保险费缴费申报明细列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ShbxfStandardHdsbDetail" type="ShbxfStandardHdsbDetail">
				<xs:annotation>
					<xs:documentation>社会保险费缴费申报表明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfStandardHdsbHead">
		<xs:annotation>
			<xs:documentation>社会保险费缴费申报表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>缴费人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>缴费人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>社保主管税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswksfjDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>主管税务科所分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsrq" type="gs3Sjgsrq">
				<xs:annotation>
					<xs:documentation>数据归属日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwlsgxDm" type="dwlsgxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位隶属关系代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfs" type="sbfs">
				<xs:annotation>
					<xs:documentation>申报方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfs" type="zsfsDm">
				<xs:annotation>
					<xs:documentation>征收方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm" type="sbsxDm">
				<xs:annotation>
					<xs:documentation>社保属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxsr" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzdz" type="hjdz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>居住地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbxxly" type="sbxxly">
				<xs:annotation>
					<xs:documentation>
					社保信息来源：
					0：缴费人自行填报 
					1：税务机关缴费基数确定 可修改
					2：社保经办机构导入 不可修改
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfStandardHdsbDetail">
		<xs:annotation>
			<xs:documentation>社会保险费缴费明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbm" type="sbbm">
				<xs:annotation>
					<xs:documentation>社保编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblsh" type="sblsh">
				<xs:annotation>
					<xs:documentation>社保流水号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxh" type="xxh">
				<xs:annotation>
					<xs:documentation>小序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
					<xs:documentation>社保经办机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjzspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>上级征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>费款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>费款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfjs" type="jfjs">
				<xs:annotation>
					<xs:documentation>缴费基数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrs" type="jfrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>缴费人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jffl" type="jffl">
				<xs:annotation>
					<xs:documentation>缴费费率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjfe" type="yjfe">
				<xs:annotation>
					<xs:documentation>应缴费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sblsh">
		<xs:annotation>
			<xs:documentation>社保流水号</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sbxxly">
		<xs:annotation>
			<xs:documentation>社保信息来源</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
