标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_SB_00004_标准版核定申报保存应征信息/TaxMLBw_GSSB_SB_00004_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfStandardHdsbResponse">
		<xs:annotation>
			<xs:documentation>社会保险费申报返回报文（标准版核定申报）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ShbxfStandardHdsbResultList" type="ShbxfStandardHdsbResultList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShbxfStandardHdsbResultList">
		<xs:annotation>
			<xs:documentation>社会保险费申报结果列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ShbxfStandardHdsbResult" type="ShbxfStandardHdsbResult">
				<xs:annotation>
					<xs:documentation>社会保险费日常申报结果列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfStandardHdsbResult">
		<xs:annotation>
			<xs:documentation>社会保险费申报结果</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yzpzxh" type="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardHdsbRespList" type="StandardHdsbRespList">
				<xs:annotation>
					<xs:documentation>社会流水号列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandardHdsbRespList">
		<xs:annotation>
			<xs:documentation>社会流水号列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="StandardHdsbResp" type="StandardHdsbResp">
				<xs:annotation>
					<xs:documentation>社会保险费核定申报结果对象</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandardHdsbResp">
		<xs:annotation>
			<xs:documentation>社会保险费核定申报结果对象</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sblsh" type="sblsh">
				<xs:annotation>
						<xs:documentation>社会流水号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxh" type="xxh">
				<xs:annotation>
						<xs:documentation>小序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
						<xs:documentation>社保经办机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sblsh">
		<xs:annotation>
			<xs:documentation>社保流水号</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>