标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00109/TaxMLBw_HXZG_DJ_00109_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00109Request">
		<xs:annotation>
			<xs:documentation>保存注销扣缴税款登记申请表信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务所科分局代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zxkjskdjsqxx" type="zxkjskdjsqxxVO">
						<xs:annotation>
							<xs:documentation>注销扣缴税款登记申请信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zxkjskdjsqxxVO">
		<xs:annotation>
			<xs:documentation>注销扣缴税款登记申请信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zxkjskdjsqbxx" type="DJZxswdjsqVO">
				<xs:annotation>
					<xs:documentation>注销扣缴税款登记申请表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjswzjqkxxGrid">
				<xs:annotation>
					<xs:documentation>注销扣缴税款登记_收缴税务证件情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="sjswzjqkxxGridlb" type="DJZxswdjsqSjswzjqkVO">
							<xs:annotation>
								<xs:documentation>注销扣缴税款登记_收缴税务证件情况列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sjqtswzlqkxxGrid">
				<xs:annotation>
					<xs:documentation>注销扣缴税款登记_收缴其他税务资料情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="sjqtswzlqkxxGridlb" type="DJZxswdjsqSjqtswzlqkVO">
							<xs:annotation>
								<xs:documentation>注销扣缴税款登记_收缴其他税务资料情况</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="zxkjskdjslxx" type="DJYsqywslxxbVO">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
