标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00960/TaxMLBw_HXZG_FXCL_00960_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL00960Response">
		<xs:annotation>
			<xs:documentation>查询涉税事项的附列资料清单业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="flzlbslxdm" type="flzlbslxDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附列资料报送类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flzlfs" type="flzlfs" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附列资料分数</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flzlcllxdm" type="flzlcllxDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附列资料处理类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flzldm" type="flzlDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附列资料代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flzlmc" type="flzlmc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附列资料名称</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
