标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00002/TaxMLBd_00003_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="zxslswdjslb">
		<xs:annotation>
			<xs:documentation>注销税务登记</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zxswdjsqForm" type="DJZxswdjsqVO">
				<xs:annotation>
					<xs:documentation>注销税务登记_注销税务登记申请表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zxbsrxxForm" type="DJYsqywslxxbVO">
				<xs:annotation>
					<xs:documentation>依申请业务受理信息表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zxslsqswzjqkGrid">
				<xs:annotation>
					<xs:documentation>收缴税务证件情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="slsqswzjqklb" type="DJZxswdjsqSjswzjqkVO">
							<xs:annotation>
								<xs:documentation>收缴税务证件情况列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="zxslsjqtswzlqkGrid">
				<xs:annotation>
					<xs:documentation>收缴其他税务资料情况</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="slsjqtswzlqkGridlb" type="DJZxswdjsqSjqtswzlqkVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="wtxybz" type="bz1">
				<xs:annotation>
					<xs:documentation>委托协议标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbwsxnsrxx" type="HbwsxnsrxxVO">
				<xs:annotation>
					<xs:documentation>合并外省新纳税人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
