标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_ZS_00011查询限售股转让所得扣缴个人所得税报告信息/TaxMLBw_GSGL_ZS_011_Response_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="cxxsgzrsdkjgrsdsbgxxresponse">
		<xs:annotation>
			<xs:documentation>查询限售股转让所得扣缴个人所得税报告信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="xsgzrsdkjgrsdsbgb" type="xsgzrsdkjgrsdsbgb">
						<xs:annotation>
							<xs:documentation>限售股转让所得扣缴个人所得税报告信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgb">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsgzrsdkjgrsdsbgbMx" type="xsgzrsdkjgrsdsbgbMx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgbMx">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbxh" type="sbxh">
				<xs:annotation>
					<xs:documentation>申报序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrmc" type="kjywrmc">
				<xs:annotation>
					<xs:documentation>扣缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrdz" type="kjywrdz">
				<xs:annotation>
					<xs:documentation>扣缴义务人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdkdjdsdjse" type="sjje">
				<xs:annotation>
					<xs:documentation>实代扣代缴代收代缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rs" type="kjrs">
				<xs:annotation>
					<xs:documentation>人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
