标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/预审核/HXZG_YSH_00012/TaxMLBw_HXZG_YSH_00012_Request_V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYSHType.xsd"/>
	<xs:complexType name="HXZGYSH00012Request">
		<xs:annotation>
			<xs:documentation>查询事项办理状态</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cxwsspjgReqVO" type="YSHCxwsspjgReqVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>预审核查询文书审批结果请求信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qdywshlshGrid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>渠道业务审核流水号列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="qdywshlshGridlb" type="YSHCxysxxReqVO">
									<xs:annotation>
										<xs:documentation>渠道业务审核流水号列表信息</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
