标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00686/TaxMLBw_HXZG_DJ_00686_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TdzzsxmVOType.xsd"/>
	<xs:complexType name="HXZGDJ00686Response">
		<xs:annotation>
			<xs:documentation>根据登记序号或土地增值税项目编号查询土地增值税项目信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tdzzsxmAllxxGrid" type="DJTdzzsxmAllxxGrid">
						<xs:annotation>
							<xs:documentation>委托协议书信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DJTdzzsxmAllxxGrid">
		<xs:annotation>
			<xs:documentation>土地增值税项目全部信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="DJTdzzsxmAllxxGridlb" type="DJTdzzsxmAllxxVO"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
