标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00351查询被统发单位个人所得税代扣代缴信息/TaxMLBw_GSGL_SB_00351_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="cxbtfdwgrsdsdkdjxxrequest">
		<xs:annotation>
			<xs:documentation>查询被统发单位个人所得税代扣代缴信息请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="btfdwdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>被统发单位登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起，不可为空,格式yyyy-MM-dd</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止，不可为空,格式yyyy-MM-dd</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zrrlb" type="zrrlb">
						<xs:annotation>
							<xs:documentation>自然人列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zrrlb">
		<xs:annotation>
			<xs:documentation>自然人列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zrrmx" type="zrrmx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>自然人明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zrrmx">
		<xs:annotation>
			<xs:documentation>自然人明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zrrxm" type="xm">
				<xs:annotation>
					<xs:documentation>自然人姓名，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="grsdssdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码，允许为空（为空则默认查询所有所得项目）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
