标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00026/TaxMLBw_yytrqzzs_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610081_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_yytrqfjs_V1.0.xsd"/>
	<xs:complexType name="yytrqzzsywbw">
		<xs:annotation>
			<xs:documentation>《原油天然气增值税纳税申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yytrqzzssb" type="yytrqzzssb">
						<xs:annotation>
							<xs:documentation>《原油天然气增值税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yysfjssb" type="yytrqfjssb">
						<xs:annotation>
							<xs:documentation>原油天然气附加税申报表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
