标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10253/TaxMLBw_HXZG_ZS_10253_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS10253Response">
		<xs:annotation>
			<xs:documentation>查询未转开完税证明的社保费缴款信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbfjksGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbfjksGridlb" type="sbfjksVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbfjksVO">
		<xs:annotation>
			<xs:documentation>社保费缴款书明细VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsphm" type="thrq1">
				<xs:annotation>
					<xs:documentation>电子税票号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjje" type="sjje">
				<xs:annotation>
					<xs:documentation>实缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spuuid" type="spuuid">
				<xs:annotation>
					<xs:documentation>税票uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsjgDm" type="zgswjgDm">
				<xs:annotation>
					<xs:documentation>征收税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq" type="rkrq">
				<xs:annotation>
					<xs:documentation>入库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
