标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01803/TaxMLBw_HXZG_SB_01803_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_072035001_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01803Response">
		<xs:annotation>
			<xs:documentation>土地增值税核定征收获取其他数据信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cfsbBz" type="bz1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>重复申报标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hdswsxtzszzbz" type="bz1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>核定税务事项通知书制作标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tdzzsqshd" type="tdzzsqshd" minOccurs="0">
						<xs:annotation>
							<xs:documentation>清算核定信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjseptzz" type="je" minOccurs="0">
						<xs:annotation>
							<xs:documentation>已缴税额普通住宅</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjsefptzz" type="je" minOccurs="0">
						<xs:annotation>
							<xs:documentation>已缴税额非普通住宅</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjseqtlxfc" type="je" minOccurs="0">
						<xs:annotation>
							<xs:documentation>已缴税额其他类型房产</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrdxxGrid">
						<xs:annotation>
							<xs:documentation>申报信息Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbrdxxGridlb" type="SBSbxxJhVO">
									<xs:annotation>
										<xs:documentation>申报Gridlb</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
