标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_DJ_00002自然人信息批量查询/TaxMLBw_GSGL_DJ_00002_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="zrrxxBatchQueryResponse">
		<xs:annotation>
			<xs:documentation>自然人信息查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zrrxxBatchResponses" type="zrrxxBatchResponses">
						<xs:annotation>
							<xs:documentation>自然人信息列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zrrxxBatchResponses">
		<xs:annotation>
			<xs:documentation>自然人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="zrrxxBatchResponse" type="zrrxxResponse">
				<xs:annotation>
					<xs:documentation>自然人信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zrrxxResponse">
		<xs:annotation>
			<xs:documentation>自然人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		    <xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxdm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>证件种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="zjhm">
				<xs:annotation>
					<xs:documentation>证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>姓名（中英文)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjDm" type="gjhdqszDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国籍代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
