标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00106/TaxMLBw_HXZG_ZM_00106_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ZMFwmydxmdwzfswbahtxxVO">
		<xs:annotation>
			<xs:documentation>服务贸易等项目对外支付税务备案合同信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="uuid">
				<xs:annotation>
					<xs:documentation>UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bh" type="bh">
				<xs:annotation>
					<xs:documentation>编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwskfmc" type="jwskfmc">
				<xs:annotation>
					<xs:documentation>境外收款方名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwskfdz" type="jwskfdz">
				<xs:annotation>
					<xs:documentation>境外收款方地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwskfssgjhdqszDm" type="jwskfssgjhdqszDm">
				<xs:annotation>
					<xs:documentation>境外收款方所属国家或地区数字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hthxymc" type="hthxymc">
				<xs:annotation>
					<xs:documentation>合同或协议名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htzxqxq" type="htzxqxq">
				<xs:annotation>
					<xs:documentation>合同执行期限起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htzxqxz" type="htzxqxz">
				<xs:annotation>
					<xs:documentation>合同执行期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htxyhzfzbzDm" type="htxyhzfzbzDm">
				<xs:annotation>
					<xs:documentation>合同（协议或支付凭证）币种</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htxyhzfpzzje" type="djxh">
				<xs:annotation>
					<xs:documentation>合同（协议或支付凭证）总金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htxyhzfpzzfbz" type="htxyhzfpzzfbz">
				<xs:annotation>
					<xs:documentation>合同（协议或支付凭证）支付标准</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blbz3" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>补录标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwskfywmc" type="jwskfywmc">
				<xs:annotation>
					<xs:documentation>境外收款方英文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hthm" type="hthm">
				<xs:annotation>
					<xs:documentation>合同号码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGZM00106Request">
		<xs:annotation>
			<xs:documentation>保存服务贸易合同信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ZMFwmydxmdwzfswbahtxxVO" type="ZMFwmydxmdwzfswbahtxxVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
