标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00099/TaxMLBw_HXZG_YH_00099_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGYH00099Request">
		<xs:annotation>
			<xs:documentation>产生车船税减免税务证明编号请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="swjgDm" type="swjgDm">
						<xs:annotation>
							<xs:documentation>税务机关代码</xs:documentation>
						</xs:annotation>
					</xs:element>
						<xs:element name="nd" type="nd">
						<xs:annotation>
							<xs:documentation>年度</xs:documentation>
						</xs:annotation>
					</xs:element>
						<xs:element name="sl" type="cyrs">
						<xs:annotation>
							<xs:documentation>数量</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
