标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00017/TaxMLBd_031010001_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="nsrfqmsqbaywbw">
		<xs:annotation>
			<xs:documentation>纳税人放弃免税权备案业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="nsrfqmsqbab" type="nsrfqmsqbab">
						<xs:annotation>
							<xs:documentation>纳税人放弃免税权备案表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="nsrfqmsqbab">
		<xs:annotation>
			<xs:documentation>纳税人放弃免税权备案表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrfqmsqbajbxx" type="nsrfqmsqbajbxxVO">
				<xs:annotation>
					<xs:documentation>纳税人放弃免税权备案-基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsrfqmsqbajbxxVO">
		<xs:annotation>
			<xs:documentation>纳税人放弃免税权备案-基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fqmsqqxq" type="fqmsqqxq">
				<xs:annotation>
					<xs:documentation>放弃免税权期限起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfbz1" type="zfbz1">
				<xs:annotation>
					<xs:documentation>作废标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq1" type="zfrq1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>作废日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ywpzuuid" type="ywpzuuid">
				<xs:annotation>
					<xs:documentation>业务凭证uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fqmsqqxz" type="fqmsqqxz">
				<xs:annotation>
					<xs:documentation>放弃免税权期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fqmsquuid" type="fqmsquuid">
				<xs:annotation>
					<xs:documentation>放弃免税权UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrDm" type="zfrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>作废人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="barq" type="barq">
				<xs:annotation>
					<xs:documentation>备案日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="jbr">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgrq1" type="bgrq1">
				<xs:annotation>
					<xs:documentation>报告日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wszg" type="wszg">
				<xs:annotation>
					<xs:documentation>文书字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
