标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00195/TaxMLBw_HXZG_DJ_00195_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00195Response">
		<xs:annotation>
			<xs:documentation>根据登记序号查询待解除非正常户的纳税人信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="recode" type="bz">
						<xs:annotation>
							<xs:documentation>服务返回标志（0成功、1存在欠缴税款）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DJFzchrdxxVO" type="DJFzchrdxxVO">
						<xs:annotation>
							<xs:documentation>非正常户认定信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NsrfpjcGrid" type="NsrfpjcGrid">
						<xs:annotation>
							<xs:documentation>纳税人发票结存集合</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NsrZjjcxxGrid" type="NsrZjjcxxGrid">
						<xs:annotation>
							<xs:documentation>纳税人证件结存信息集合</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NsrfpjcGrid">
		<xs:annotation>
			<xs:documentation>纳税人发票结存集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="NsrfpjcGridlb" type="FPNsrfpjcVO">
				<xs:annotation>
					<xs:documentation>纳税人发票结存列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NsrZjjcxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人证件结存信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="NsrZjjcxxGridlb" type="DJNsrzjjcxxVO">
				<xs:annotation>
					<xs:documentation>纳税人证件结存信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FPNsrfpjcVO">
		<xs:annotation>
			<xs:documentation>纳税人发票结存</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrjcuuid" type="nsrjcuuid">
				<xs:annotation>
					<xs:documentation>纳税人结存UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpzlDm" type="fpzlDm">
				<xs:annotation>
					<xs:documentation>发票种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpDm" type="fpDm">
				<xs:annotation>
					<xs:documentation>发票代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fs" type="fs">
				<xs:annotation>
					<xs:documentation>份数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpqshm" type="fpqshm">
				<xs:annotation>
					<xs:documentation>发票起始号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpzzhm" type="fpzzhm">
				<xs:annotation>
					<xs:documentation>发票终止号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpztDm" type="fpztDm">
				<xs:annotation>
					<xs:documentation>发票状态代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
