标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00484/TaxMLBw_HXZG_DJ_00484_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00484Request">
		<xs:annotation>
			<xs:documentation>查询批准机构表信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fddbrsfzjlxDm" type="fddbrsfzjlxDm">
						<xs:annotation>
							<xs:documentation>法定代表人（负责人、业主）身份证件种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fddbrsfzjhm" type="fddbrsfzjhm">
						<xs:annotation>
							<xs:documentation>法定代表人（负责人、业主）身份证件号码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
