标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10058/TaxMLBw_HXZG_SB_10058_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="responseVO">
		<xs:annotation>
			<xs:documentation>环保税受理信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yzpzxh" type="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cxsj1" type="cxsj1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>撤销时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfbz1" type="zfbz1">
				<xs:annotation>
					<xs:documentation>作废标志1:已作废
2:未作废
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfcgbz" type="sfcgbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否成功标志:0：成功，1：未查询到应征信息，2：应征信息已开票，请先到金三系统作废税票信息，3：应征信息已入库，不允许撤销，4：该笔应征已在金三系统作废。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fkxx" type="fkxx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>返回信息0：成功，1：未查询到应征信息，2：应征信息已开票，请先到金三系统作废税票信息，3：应征信息已入库，不允许撤销，4：该笔应征已在金三系统作废。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGSB10058Response">
		<xs:annotation>
			<xs:documentation>房产税税源信息导入返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="responseVO" type="responseVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
