标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00041/TaxMLBd_0610113_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zzssyyybnsr_cpygxcqkmxbywbw">
		<xs:annotation>
			<xs:documentation>《成品油购销存情况明细表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zzssyyybnsr_cpygxcqkmxb" type="zzssyyybnsr_cpygxcqkmxb">
						<xs:annotation>
							<xs:documentation>《成品油购销存情况明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zzssyyybnsr_cpygxcqkmxb">
		<xs:annotation>
			<xs:documentation>《成品油购销存情况明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbheadVO" type="sbbheadVO">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpygxcqkmxbGrid">
				<xs:annotation>
					<xs:documentation>成品油购销存情况明细表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="cpygxcqkmxbGridlbVO" type="cpygxcqkmxbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cpygxcqkmxbGrid">
		<xs:annotation>
			<xs:documentation>成品油购销存情况明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="cpygxcqkmxbGridlbVO" type="cpygxcqkmxbGridlbVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cpygxcqkmxbGridlbVO">
		<xs:annotation>
			<xs:documentation>成品油购销存情况明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcDcje" type="qmkcDcje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末库存金额代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcZgje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末库存金额自购</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcDcsl" type="qmkcDcsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末库存数量代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcZgsl" type="qmkcZgsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末库存数量自购</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqckFysbfDcje" type="bqckFysbfDcje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期出库非应税部分金额代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqckFysbfZyje" type="bqckFysbfZyje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期出库非应税部分金额自用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqckFysbfDcsl" type="bqckFysbfDcsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期出库非应税部分数量代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqckFysbfZysl" type="bqckFysbfZysl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期出库非应税部分数量自用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqckYsbfje" type="bqckYsbfje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期出库应税部分金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqckYsbfsl" type="bqckYsbfsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期出库应税部分数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqrkDcje" type="bqrkDcje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期入库金额代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqrkZgje" type="bqrkZgje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期入库金额自购</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqrkDcsl" type="bqrkDcsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期入库数量代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqrkZgsl" type="bqrkZgsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期入库数量自购</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcDcje" type="qckcDcje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初库存金额代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcZgje" type="qckcZgje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初库存金额自购</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcDcsl" type="qckcDcsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初库存数量代储</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcZgsl" type="qckcZgsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初库存数量自购</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ypxh" type="ypxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>油品型号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
