标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00041/TaxMLBd_bdcfqdkjsb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zzssyyybnsr05_bdcfqdkjsbywbw">
		<xs:annotation>
			<xs:documentation>增值税纳税申报表附列资料五（不动产分期抵扣计算表）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zzssyyybnsr05_bdcfqdkjsb" type="zzssyyybnsr05_bdcfqdkjsb">
						<xs:annotation>
							<xs:documentation>增值税纳税申报表附列资料五（不动产分期抵扣计算表）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zzssyyybnsr05_bdcfqdkjsb">
		<xs:annotation>
			<xs:documentation>《增值税纳税申报表附列资料五（不动产分期抵扣计算表）》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="sbbheadVO"/>
			<xs:element name="bdcfqdkjsbGrid">
				<xs:annotation>
					<xs:documentation>增值税纳税申报表附列资料五（不动产分期抵扣计算表）</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="bdcfqdkjsbGridlbVO" type="bdcfqdkjsbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bdcfqdkjsbGrid">
		<xs:annotation>
			<xs:documentation>增值税纳税申报表附列资料（附表五）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fs" type="fs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>份数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="je" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="se" type="se" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hmc" type="hmc">
				<xs:annotation>
					<xs:documentation>行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bdcfqdkjsbGridlbVO">
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hmc" type="hmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qcye" type="qcye" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初余额(期初待抵扣不动产进项税额)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqydjse" type="bqydjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应抵减税额(本期可抵扣不动产进项税额)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqsjdjse" type="bqsjdjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期实际抵减税额(本期转入的待抵扣不动产进项税额)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqsjdjse1" type="bqsjdjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期实际抵减税额1(本期转出的待抵扣不动产进项税额)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqfse" type="bqfse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期发生额(本期不动产进项税额增加额)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmye" type="qmye" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末余额(期末待抵扣不动产进项税额)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
