标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_RD_00001_查询个人所得税核定信息/TaxMLBw_GSGL_RD_00001_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="hdxxcxresponse">
		<xs:annotation>
			<xs:documentation>个人所得税核定信息查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="hdxxgrid" type="hdxxgrid">
						<xs:annotation>
							<xs:documentation>核定信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="hdxxgrid">
		<xs:annotation>
			<xs:documentation>核定信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="hdxxlb" type="hdxxlb">
				<xs:annotation>
					<xs:documentation>核定信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hdxxlb">
		<xs:annotation>
			<xs:documentation>核定信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zsfsDm" type="zsfsDm">
				<xs:annotation>
					<xs:documentation>征收方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdqxq" type="hdqxq">
				<xs:annotation>
					<xs:documentation>核定期限起（yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdqxz" type="hdqxz">
				<xs:annotation>
					<xs:documentation>核定期限止（yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjzxqz" type="hdqxz">
				<xs:annotation>
					<xs:documentation>实际执行期止（yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yssdl" type="yssdl">
				<xs:annotation>
					<xs:documentation>应税所得率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>月应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
