标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01812/TaxMLBd_fcjysbzf_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="zlfjysbbdywbw">
		<xs:annotation>
			<xs:documentation>房产交易申报作废表单业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fcjysbzfbd" type="fcjysbzfbd">
						<xs:annotation>
							<xs:documentation>房产交易申报作废表单</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fcjysbzfbd">
		<xs:annotation>
			<xs:documentation>房产交易申报作废表单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cxtjForm" type="FcjysbcxtjVO">
				<xs:annotation>
					<xs:documentation>房产交易申报查询条件Form</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsjxxGrid">
				<xs:annotation>
					<xs:documentation>申报数据信息Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="sbsjxxGridlb" type="FcjysbsjxxGridlbVO">
							<xs:annotation>
								<xs:documentation>申报数据信息Grid列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="zfxxForm" type="FcjyzfxxFormVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FcjysbcxtjVO">
		<xs:annotation>
			<xs:documentation>房产交易申报查询条件Form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fybh" type="fybh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htbh" type="htbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报日期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq2" type="sbrq1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报日期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FcjysbsjxxGridlbVO">
		<xs:annotation>
			<xs:documentation>房产交易申报查询条件Form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htbh" type="htbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq1">
				<xs:annotation>
					<xs:documentation>原申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补(退)税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbuuid" type="sbuuid">
				<xs:annotation>
					<xs:documentation>申报UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzxh" type="pzxh">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqx" type="sbqx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zrfcsfbz" type="zrfcsfbz">
				<xs:annotation>
					<xs:documentation>转让方承受方标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbbwz" type="bz1">
				<xs:annotation>
					<xs:documentation>转让方承受方标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq1" type="zfrq1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>作废日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="sbsxDm1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfsDm" type="sbfsDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报方式</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FcjyzfxxFormVO">
		<xs:annotation>
			<xs:documentation>作废信息Form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sqzfly" type="sqzfly">
				<xs:annotation>
					<xs:documentation>申请作废理由</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrmc" type="mc">
				<xs:annotation>
					<xs:documentation>申请人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrq" type="rq">
				<xs:annotation>
					<xs:documentation>申请日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbr" type="fddbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>法定代表人（负责人）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrxm" type="nsrmc">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="skssqq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
