标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00266/TaxMLBw_HXZG_SB_00266_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00266Response">
		<xs:annotation>
			<xs:documentation>申报事前监控及获取参数表配置，期初数据返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zrryhjmsbabgbGrid">
						<xs:annotation>
							<xs:documentation>自然人减免税Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zrryhjmsbabgblb" type="zrryhjmsbabgblbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="mfcshxx">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="yjxxGrid">
									<xs:annotation>
										<xs:documentation>预缴税款数据信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="jmxxGrid">
									<xs:annotation>
										<xs:documentation>减免数据信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="fwjysbxxGrid">
									<xs:annotation>
										<xs:documentation>房屋交易申报信息Grid</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="fwjysbxxGridlb" type="fdcjysbxxGridlbVO">
												<xs:annotation>
													<xs:documentation>房屋交易申报信息Gridlb</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="gmfcshxx">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="yjxxGrid">
									<xs:annotation>
										<xs:documentation>预缴税款数据信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="jmxxGrid">
									<xs:annotation>
										<xs:documentation>减免数据信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="fwjysbxxGrid">
									<xs:annotation>
										<xs:documentation>房屋交易申报信息Grid</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="fwjysbxxGridlb" type="fdcjysbxxGridlbVO">
												<xs:annotation>
													<xs:documentation>房屋交易申报信息Gridlb</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zrryhjmsbabgblbVO">
		<xs:annotation>
			<xs:documentation>自然人优惠信息列表VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yhpzuuid" type="yhpzuuid">
				<xs:annotation>
					<xs:documentation>优惠凭证uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsswsxDm" type="swsxDm">
				<xs:annotation>
					<xs:documentation>减免税税务事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmlxDm" type="jmlxDm">
				<xs:annotation>
					<xs:documentation>减免类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmslxDm" type="jmslxDm">
				<xs:annotation>
					<xs:documentation>减免税类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxq" type="jmqxq">
				<xs:annotation>
					<xs:documentation>减免期限起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxz" type="jmqxz">
				<xs:annotation>
					<xs:documentation>减免期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzfd" type="jzfd">
				<xs:annotation>
					<xs:documentation>减征幅度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzsl" type="jzsl">
				<xs:annotation>
					<xs:documentation>减征税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzed" type="jzed">
				<xs:annotation>
					<xs:documentation>减征额度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzDm" type="jmxzDm">
				<xs:annotation>
					<xs:documentation>减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzdlDm" type="jmxmdlDm">
				<xs:annotation>
					<xs:documentation>减免性质大类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzxlDm" type="jmxmxlDm">
				<xs:annotation>
					<xs:documentation>减免性质小类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzxh" type="pzxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfsybz" type="bz1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否使用标志</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
