标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_ZS_00016获取个税定率核定信息/TaxMLBw_GSGL_ZS_016_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="hqgsdlhdxxrequest">
		<xs:annotation>
			<xs:documentation>获取个税定率核定信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmDm" type="zsxmDm">
						<xs:annotation>
							<xs:documentation>征收项目代码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zspmDmLb" type="zspmDmLb">
						<xs:annotation>
							<xs:documentation>征收品目代码列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zspmDmLb">
		<xs:annotation>
			<xs:documentation>征收品目代码列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zspmDm" type="zspmDm" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
