标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00326/TaxMLBw_HXZG_ZS_00326_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS00326Request">
		<xs:annotation>
			<xs:documentation>符合会统规则的预算科目预算分配比例可选范围列表获取</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kmblbz" type="bz1">
						<xs:annotation>
							<xs:documentation>科目比例标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hyDm" type="hyDm">
						<xs:annotation>
							<xs:documentation>行业代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>管理机关代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmDm" type="zsxmDm">
						<xs:annotation>
							<xs:documentation>征收项目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zspmDm" type="zspmDm">
						<xs:annotation>
							<xs:documentation>征收品目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djzclxDm" type="djzclxDm">
						<xs:annotation>
							<xs:documentation>登记注册类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dwlsgxDm" type="dwlsgxDm">
						<xs:annotation>
							<xs:documentation>单位隶属关系代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yskmDm" type="yskmDm">
						<xs:annotation>
							<xs:documentation>预算科目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ysfpblDm" type="ysfpblDm">
						<xs:annotation>
							<xs:documentation>预算分配比例代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jdxzDm" type="jdxzDm">
						<xs:annotation>
							<xs:documentation>街道乡镇代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sksxDm" type="sksxDm">
						<xs:annotation>
							<xs:documentation>税款属性</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skzlDm" type="skzlDm">
						<xs:annotation>
							<xs:documentation>税款种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zfjglxDm" type="zfjglxDm">
						<xs:annotation>
							<xs:documentation>总分机构类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kdqsszyqylxDm" type="kdqsszyqylxDm">
						<xs:annotation>
							<xs:documentation>跨地区税收转移企业类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
