标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10271/TaxMLBw_HXZG_ZS_10271_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="HXZGZS10271Request">
		<xs:annotation>
			<xs:documentation>社保费写未确认多缴请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SbfSbxxVO" type="SbfSbxxVO" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--社保费申报信息VO-->
	<xs:complexType name="SbfSbxxVO">
		<xs:annotation>
			<xs:documentation>社保费申报信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所科分局</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" >
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm" nillable="true">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm" nillable="true">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
					<xs:annotation>
						<xs:documentation>征收子目代码</xs:documentation>
					</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq" nillable="true">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz" nillable="true">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse" nillable="true">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yskmDm" type="yskmDm">
				<xs:annotation>
					<xs:documentation>预算科目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysfpblDm" type="ysfpblDm">
				<xs:annotation>
					<xs:documentation>预算分配比例代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skgkDm" type="skgkDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skzlDm" type="skzlDm">
				<xs:annotation>
					<xs:documentation>税款种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sksxDm" type="sksxDm">
				<xs:annotation>
					<xs:documentation>税款属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssswjgDm" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsswjgDm" type="zsswjgDm">
				<xs:annotation>
					<xs:documentation>征收税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

