标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00070/TaxMLBd_0610065_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xuxin (csstj) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="dwzfkxqksbbywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业年度关联业务往来报告表表九对外支付款项情况表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dwzfkxqksbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业年度关联业务往来报告表表九对外支付款项情况表》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="dwzfkxqksbbGrid">
									<xs:annotation>
										<xs:documentation>对外支付款项情况表信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:element name="dwzfkxqksbbGridlb" type="dwzfkxqksbbGridlbVO">
												<xs:annotation>
													<xs:documentation>对外支付款项情况表数据对应列表</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dwzfkxqksbb">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业年度关联业务往来报告表表九对外支付款项情况表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dwzfkxqksbbGrid">
				<xs:annotation>
					<xs:documentation>对外支付款项情况表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="dwzfkxqksbbGridlb" type="dwzfkxqksbbGridlbVO">
							<xs:annotation>
								<xs:documentation>对外支付款项情况表数据对应列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dwzfkxqksbbGrid">
		<xs:annotation>
			<xs:documentation>对外支付款项情况表数据对应Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="dwzfkxqksbbGridlb" type="dwzfkxqksbbGridlbVO">
				<xs:annotation>
					<xs:documentation>对外支付款项情况表数据对应列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dwzfkxqksbbGridlbVO">
		<xs:annotation>
			<xs:documentation>对外支付款项情况表数据对应明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hmc" type="hmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jezfkxje" type="jezfkxje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>境外支付款项金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwglqyzfkxje" type="jwglqyzfkxje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>境外关联企业支付款项金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykjqysdsje" type="ykjqysdsje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已扣缴企业所得税金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfxsssxdyhBz" type="sfxsssxdyhBz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否享受税收协定优惠标志</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
