标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00070/TaxMLBd_0610059_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="glgxsbbywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业年度关联业务往来报告表表一关联关系表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="glgxsbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业年度关联业务往来报告表表一关联关系表》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="glgxsbbGrid">
									<xs:annotation>
										<xs:documentation>关联关系表申报信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:element name="glgxsbbGridlb" type="glgxsbbGridlbVO">
												<xs:annotation>
													<xs:documentation>关联关系表列表</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="glgxsbb">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业年度关联业务往来报告表表一关联关系表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="glgxsbbGrid">
				<xs:annotation>
					<xs:documentation>关联关系表申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="glgxsbbGridlb" type="glgxsbbGridlbVO">
							<xs:annotation>
								<xs:documentation>关联关系表列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="glgxsbbGrid">
		<xs:annotation>
			<xs:documentation>关联关系表数据对应Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="glgxsbbGridlb" type="glgxsbbGridlbVO">
				<xs:annotation>
					<xs:documentation>关联关系表列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="glgxsbbGridlbVO">
		<xs:annotation>
			<xs:documentation>关联关系表数据对应明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="glgxlx" type="glgxlx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>关联关系类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbr" type="fddbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>法定代表人（负责人）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dz" type="dz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdq" type="gjhdq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国家或地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="glfmc" type="glfmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>关联方名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
