标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00842/TaxMLBd_dksktz_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="dksktzywbw">
		<xs:annotation>
			<xs:documentation>抵扣税款台账业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dksktz" type="dksktz">
						<xs:annotation>
							<xs:documentation>抵扣税款台账</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dksktz">
		<xs:annotation>
			<xs:documentation>抵扣税款台账</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dksktzGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="dksktzGridlb" type="dksktzGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dksktzGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpygjfs" type="cpygjfs">
				<xs:annotation>
					<xs:documentation>成品油购进方式 1外购、2委托加工收回、3进口</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ywfsrq" type="ywfsrq">
				<xs:annotation>
					<xs:documentation>业务发生日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hmc" type="hmc">
				<xs:annotation>
					<xs:documentation>行名称（摘要）,期初要作为第一行传入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpzlmc" type="fpzlmc">
				<xs:annotation>
					<xs:documentation>发票种类名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fphm" type="fphm">
				<xs:annotation>
					<xs:documentation>发票号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjsl" type="gjsl">
				<xs:annotation>
					<xs:documentation>购进数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxsclysl" type="lxsclysl">
				<xs:annotation>
					<xs:documentation>连续生产领用数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtlysl" type="qtlysl">
				<xs:annotation>
					<xs:documentation>其他领用数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slye" type="slye">
				<xs:annotation>
					<xs:documentation>数量余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjynse" type="gjynse">
				<xs:annotation>
					<xs:documentation>购进已纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxsclyynse" type="lxsclyynse">
				<xs:annotation>
					<xs:documentation>连续生产领用已纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtlyynse" type="qtlyynse">
				<xs:annotation>
					<xs:documentation>其他领用已纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynseye" type="ynseye">
				<xs:annotation>
					<xs:documentation>已纳税额余额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
