标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00842/TaxMLBd_0610124_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="bqdsdjsejsbjjjjywbw">
		<xs:annotation>
			<xs:documentation>《本期代收代缴税额计算表》（酒及酒精）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bqdsdjsejsbjjjj" type="bqdsdjsejsbjjjj">
						<xs:annotation>
							<xs:documentation>《本期代收代缴税额计算表》（酒及酒精）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bqdsdjsejsbjjjj">
		<xs:annotation>
			<xs:documentation>《本期代收代缴税额计算表》（酒及酒精）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bqdsdjsejsbjjjjGrid">
				<xs:annotation>
					<xs:documentation>申报数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="bqdsdjsejsbjjjjGridlb" type="SBXfsbqdsdjsejsbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
