标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/决策二包业务/JC2B_NSXY_00007/TaxMLBw_R_S_J2_XY_901_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="TaxML.xsd"/>
    <xs:complexType name="RSJ2XY901Response">
        <xs:annotation>
            <xs:documentation>年度评价结果查询返回报文</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxDoc">
                <xs:sequence>
                    <xs:element name="pjnd" type="nd" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>评价年度</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="nsrsbh" type="nsrsbh" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>纳税人识别号</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="nsrmc" type="nsrmc" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>纳税人名称</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="djxh" type="djxh" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>登记序号</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pjjg" type="pjjg" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>评价结果</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pjfs" type="pjfs" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>评价得分</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="pjjb" type="pjjb" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>评价级别</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
