标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.33_fix06/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10284/TaxMLBw_HXZG_ZS_10284_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS10284Request">
		<xs:annotation>
			<xs:documentation>保存转开税收完税证明信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wszmjbxxvo" type="WszmjbxxVO">
						<xs:annotation>
							<xs:documentation>完税证明基本信息VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jksGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="wzkjksGridlb" type="JkswzkxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sfdzsrths" type="isshow">
						<xs:annotation>
							<xs:documentation>是否电子收入退还书</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfjxhz" type="isshow">
						<xs:annotation>
							<xs:documentation>是否汇总打印</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WszmjbxxVO">
		<xs:annotation>
			<xs:documentation>完税证明基本信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzlDm" type="pzzlDm">
				<xs:annotation>
					<xs:documentation>票证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcswsxDm" type="lcswsxDm">
				<xs:annotation>
					<xs:documentation>流程税务事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JkswzkxxVO">
		<xs:annotation>
			<xs:documentation>缴款书明细VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sksxDm" type="sksxDm">
				<xs:annotation>
					<xs:documentation>税款属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsuuid" type="zsuuid">
				<xs:annotation>
					<xs:documentation>征收UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skzlDm" type="skzlDm">
				<xs:annotation>
					<xs:documentation>税款种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq" type="rkrq">
				<xs:annotation>
					<xs:documentation>入库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjrq1" type="rkrq">
				<xs:annotation>
					<xs:documentation>上解日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhhbDm" type="yhhbDm">
				<xs:annotation>
					<xs:documentation>银行行别代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhyywdDm" type="yhyywdDm">
				<xs:annotation>
					<xs:documentation>银行营业网点代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjje" type="sjje">
				<xs:annotation>
					<xs:documentation>实缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsjgDm" type="zgswjgDm">
				<xs:annotation>
					<xs:documentation>征收税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsphm" type="dzsphm">
				<xs:annotation>
					<xs:documentation>征收税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spuuid" type="spuuid">
				<xs:annotation>
					<xs:documentation>税票UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skjnfsDm" type="skjnfsDm">
				<xs:annotation>
					<xs:documentation>税款缴纳方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skgkDm" type="skgkDm">
				<xs:annotation>
					<xs:documentation>收款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzxh" type="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjje" type="kjje">
				<xs:annotation>
					<xs:documentation>开具金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzlDm" type="pzzlDm">
				<xs:annotation>
					<xs:documentation>票证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzgDm" type="pzzgDm">
				<xs:annotation>
					<xs:documentation>票证字轨代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzhm" type="pzhm">
				<xs:annotation>
					<xs:documentation>票证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czlxDm" type="czlxDm">
				<xs:annotation>
					<xs:documentation>操作类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssswjgDm" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
