标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00824/TaxMLBw_HXZG_DJ_00824_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00824Request">
		<xs:annotation>
			<xs:documentation>根据指定条件查询纳税人在本地拥有的跨区域经营h合同信息接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kzztdjlxDm" type="kzztdjlxDm">
						<xs:annotation>
							<xs:documentation>课征主体登记类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wcjyzmuuid" type="wcjyzmuuid">
						<xs:annotation>
							<xs:documentation>外出经营证明uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
