标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10070/TaxMLBd_061015039_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
		被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的
		(http://www.altova.com) by
	-->
<!--
		edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE
		(MSM)
	-->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="A107040Ywbd">
		<xs:annotation>
			<xs:documentation>减免所得税优惠明细表(A107040)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jmsdsyhmxbForm" type="jmsdsyhmxbForm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>减免所得税优惠明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jmsdsyhmxbForm">
		<xs:annotation>
			<xs:documentation>《减免所得税优惠明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fhtjxxwlqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>一、符合条件的小型微利企业减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjzdfcgxjsqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二、国家需要重点扶持的高新技术企业减按15%的税率征收企业所得税（填写A107041）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tqxqgxjsqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>三、经济特区和上海浦东新区新设立的高新技术企业在区内取得的所得定期减免企业所得税（填写A107041）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="szncxys" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>四、受灾地区农村信用社免征企业所得税（4.1+4.2）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncxylsdqmzsds" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>芦山受灾地区农村信用社免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncxylddqmzsds" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>鲁甸受灾地区农村信用社免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>五、动漫企业自主开发、生产动漫产品定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xkxyldbwmdjcdlqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>六、集成电路线宽小于0.8微米（含）的集成电路生产企业减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcdljaslzsqysds" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>七、线宽小于0.25微米的集成电路生产企业减按15%税率征收企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzejcdljaslzsqysds" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>八、投资额超过80亿元的集成电路生产企业减按15%税率征收企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcdldqjmqysds" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>九、线宽小于0.25微米的集成电路生产企业减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzejcdldqjmqysds" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十、投资额超过80亿元的集成电路生产企业减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xbjcdlsjqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十一、新办集成电路设计企业减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjghzdjcdlsjqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十二、国家规划布局内集成电路设计企业可减按10%的税率征收企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhtjrjqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十三、符合条件的软件企业减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjghzdrjqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十四、国家规划布局内重点软件企业可减按10%的税率征收企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcdlfzcsqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十五、符合条件的集成电路封装、测试企业定期减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcdlgjzyclscsbqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十六、符合条件的集成电路关键专用材料生产企业、集成电路专用设备生产企业定期减免企业所得税（填写A107042）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="whsydwzzqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十七、经营性文化事业单位转制为企业的免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sczbscryzmypqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十八、符合条件的生产和装配伤残人员专门用品企业免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsxjfwqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>十九、技术先进型服务企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cxfzsdjasl" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十、服务贸易创新发展试点地区符合条件的技术先进型服务企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xbdqglcyqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十一、设在西部地区的鼓励类产业企业减按15%的税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xjxbqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十二、新疆困难地区新办企业定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xjkfqxbqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十三、新疆喀什、霍尔果斯特殊经济开发区新办企业定期免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xdfwhzqqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十四、广东横琴、福建平潭、深圳前海等地区的鼓励类产业企业减按15%税率征收企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dazwhmz" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十五、北京冬奥组委、北京冬奥会测试赛赛事组委会免征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsgdqyhqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十六、享受过渡期税收优惠定期减免企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qt1" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十七、其他(减免性质代码)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qt" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十七、其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdsljbqysdsdjjmsyh" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十八、减：项目所得额按法定税率减半征收企业所得税叠加享受减免税优惠</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjzdqtcyjy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二十九、支持和促进重点群体创业就业企业限额减征企业所得税(29.1+29.2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjzdqtcyjyxg" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>（一）下岗失业人员再就业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjzdqtcyjygx" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>（二）高校毕业生就业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjzdqtcytysb" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>三十、扶持自主就业退役士兵创业就业企业限额减征企业所得税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzmzlx" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>三十一、民族自治地方的自治机关对本民族自治地方的企业应缴纳的企业所得税中属于地方分享的部分减征或免征，减征免征类型||1减征2免征</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzfd" type="jzfd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>三十一、民族自治地方的自治机关对本民族自治地方的企业应缴纳的企业所得税中属于地方分享的部分减征或免征，减征幅度||传入格式为小数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmdfmzzzdfqy" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>三十一、民族自治地方的自治机关对本民族自治地方的企业应缴纳的企业所得税中属于地方分享的部分减征或免征</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hj" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合计（1+2+…+26+27-28+29+30+31）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>