标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10070/TaxMLBd_061015028_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="A105100Ywbd">
		<xs:annotation>
			<xs:documentation>企业重组纳税调整明细表(A105100)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qyzcnstzMxbGrid">
						<xs:annotation>
							<xs:documentation>企业重组纳税调整明细表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="qyzcnstzMxbGridlb" type="qyzcnstzmxbGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qyzcnstzmxbGridlbVO">
		<xs:annotation>
			<xs:documentation>《企业重组纳税调整明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="1">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhmc" type="nsrmc" minOccurs="1">
				<xs:annotation>
					<xs:documentation>二维表行名称||二维表行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhgjz" type="ewbhgjz" minOccurs="1">
				<xs:annotation>
					<xs:documentation>二维表行关键字，1行:zwcz|2行:qczw|3行:zzg|4行:gqsg|5行:kjczgqsg|6行:zcsg|7行:kjczzcsg|8行:qyhb|9行:tykzqyhb|10行:ftykzqyhb|11行:qyfl|12行:dwtz|13行:jsrg|14行:gqhzzchz|15行:qt|16行:hj</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybzzje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>一般性税务处理账载金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybssje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>一般性税务处理税收金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybnstzje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>一般性税务处理纳税调整金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tszzje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>特殊性税务处理（递延纳税）账载金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tsssje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>特殊性税务处理（递延纳税）税收金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tsnstzje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>特殊性税务处理（递延纳税）纳税调整金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nstzje" type="je" minOccurs="1">
				<xs:annotation>
					<xs:documentation>纳税调整金额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
