标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00268/TaxMLBd_fjmqysdshdysqsq_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by LIXINYAO (LIXINYAO) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="ZSfjmqysdshdsqYsqBdxxVO">
		<xs:annotation>
			<xs:documentation>《其他纳税核定（依申请）》 企业所得税核定申请（非居民）(依申请)）表单信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jbxxFormVo" type="ZSfjmqysdshdsqYsqJbxxVo">
				<xs:annotation>
					<xs:documentation>非居民企业所得税核定申请(依申请)基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsFormVo" type="ZSfjmqysdshdsqYsqZsfsVo">
				<xs:annotation>
					<xs:documentation>非居民企业所得税核定申请(依申请)征收方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqnrFormVo" type="ZSfjmqysdshdsqYsqSqnrVo">
				<xs:annotation>
					<xs:documentation>非居民企业所得税核定申请(依申请)申请内容</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
