标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.31_fix01/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00088/TaxMLBw_HXZG_SB_00088_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLCGSSBType.xsd"/>
	<xs:complexType name="HXZGSB00088Request">
		<xs:annotation>
			<xs:documentation>保存并打印车辆购置税完税证明发放接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbcgswszmvo" type="SBCgsWszmJHVO">
						<xs:annotation>
							<xs:documentation>车辆购置税车辆识别号监控返回值对象</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="flag" type="bz">
						<xs:annotation>
							<xs:documentation>车辆购置税车辆识别号监控返回值对象</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbcgswszmpzxxvo" type="SBCgsWszmPzxxVO">
						<xs:annotation>
							<xs:documentation>车辆购置税车辆识别号监控返回值对象</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
