标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00714/TaxMLBw_HXZG_RD_00714_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGRD00714Request">
		<xs:annotation>
			<xs:documentation>保存接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmDm" type="zsxmDm">
						<xs:annotation>
							<xs:documentation>征收项目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zspmDm" type="zspmDm">
						<xs:annotation>
							<xs:documentation>征收品目</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zszmDm" type="zszmDm">
						<xs:annotation>
							<xs:documentation>征收子目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsdlfsDm" type="zsdlfsDm">
						<xs:annotation>
							<xs:documentation>征收代理方式代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rdyxqq" type="rdyxqq">
						<xs:annotation>
							<xs:documentation>认定有效期起</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
