标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00408/TaxMLBw_HXZG_DJ_00408_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00408Response">
		<xs:annotation>
			<xs:documentation>根据登记序号查询纳税人变更信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
			<xs:element name="nsrbgdjxxGrid" type="NsrbgdjxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人变更登记信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NsrbgdjxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人变更登记信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="nsrbgdjxxGridlb" type="NsrbgdjxxVO">
				<xs:annotation>
					<xs:documentation>纳税人变更登记信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NsrbgdjxxVO">
		<xs:annotation>
			<xs:documentation>纳税人变更登记信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
				<xs:annotation>
					<xs:documentation>纳税人变更登记信息</xs:documentation>
				</xs:annotation>
                         <xs:element name="bgxmDm" type="bgxmDm">
				<xs:annotation>
					<xs:documentation>变更项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgqnr" type="bgqnr">
				<xs:annotation>
					<xs:documentation>变更前内容</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bghnr" type="bghnr">
				<xs:annotation>
					<xs:documentation>变更后内容</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sprq" type="sprq">
				<xs:annotation>
					<xs:documentation>审批日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
