标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10002/TaxMLBd_0610133_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="dkdjdsdjccsmxbgbywbw">
		<xs:annotation>
			<xs:documentation>代扣代缴、代收代缴车船税明细报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkdjdsdjccsmxb" type="dkdjdsdjccsmxb">
						<xs:annotation>
							<xs:documentation>代扣代缴、代收代缴车船税明细报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dkdjdsdjccsmxb">
		<xs:annotation>
			<xs:documentation>代扣代缴、代收代缴车船税明细报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ccsnsrxxForm" type="ccsnsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdjdsdjccsmxbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="dkdjdsdjccsmxbGridlbVO" type="dkdjdsdjccsmxbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxxForm" type="ccsslxxFormVO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>其他信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ccsnsrxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dkdjywrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>代扣代缴义务人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrwrmc" type="dkdjywrmc">
				<xs:annotation>
					<xs:documentation>代扣代缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrsmrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ccsslxxFormVO">
		<xs:annotation>
			<xs:documentation>其他信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrxm" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dkdjdsdjccsmxbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdsskpzh" type="zhrmghgdkdsskpzh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>中华人民共和国代扣代收税款凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bkjNsrsbh" type="bkjNsrsbh">
				<xs:annotation>
					<xs:documentation>被扣缴、纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdkdjdsdjnsrmc" type="bdkdjdsdjnsrmc">
				<xs:annotation>
					<xs:documentation>被代扣代缴代收代缴纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcxm" type="kcxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcxmbz" type="kcxmbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除项目标准</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syslhdwse" type="syslhdwse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>适用税率或单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjmsxm" type="yjmsxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应减免税项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjmse" type="yjmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdsbs" type="dkdsbs">
				<xs:annotation>
					<xs:documentation>代扣代收名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydkdjdsdjxm" type="ydkdjdsdjxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应代扣代缴代收代缴项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdkdjdsdjse" type="sdkdjdsdjse">
				<xs:annotation>
					<xs:documentation>实代扣代缴代收代缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydkdjdsdjse" type="ydkdjdsdjse">
				<xs:annotation>
					<xs:documentation>应代扣代缴代收代缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqxDm" type="sbqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bkjdjxh" type="djxh" nillable="false">
				<xs:annotation>
					<xs:documentation>被扣缴登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjzlDm" type="sfzjzlDm">
				<xs:annotation>
					<xs:documentation>身份证件种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjhm" type="zjhm">
				<xs:annotation>
					<xs:documentation>被扣缴登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydkdjdsdjznj" type="ydkdjdsdjznj">
				<xs:annotation>
					<xs:documentation>应代扣代缴代收代缴滞纳金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdkdjdsdjznj" type="ydkdjdsdjznj">
				<xs:annotation>
					<xs:documentation>实代扣代缴代收代缴滞纳金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clsbdm" type="clsbdm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>车辆识别代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbpzhm" type="clsbdm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶拍照号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbsbh" type="cbsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djrq" type="djrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clpzhm" type="clpzhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>车辆牌照号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmszmbh" type="jmszmbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免证明编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjjmszmswjgDm" type="kjjmszmswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gmrq" type="gmrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>购买日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrq" type="nsrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zbzl" type="zbzl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>整备质量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pql" type="pql" minOccurs="0">
				<xs:annotation>
					<xs:documentation>排气量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcdzxzqhszDm" type="zcdzxzqhszDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行政区划代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
