标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10002/TaxMLBw_HXZG_SB_10002_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_HXZG_SB_00106_Response_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBw_dkdjcklxsdGrsdssb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB10002Response">
		<xs:annotation>
			<xs:documentation>获取扣缴储蓄存款利息所得申报错误更正的期初数据返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zspmGrid">
						<xs:annotation>
							<xs:documentation>征收子目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zspmGridlb" type="zspmdkGridlbVO">
									<xs:annotation>
										<xs:documentation>征收品目列表</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="zszmGrid">
						<xs:annotation>
							<xs:documentation>征收子目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zszmGridlb" type="zszmdkGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="zsxmGrid">
						<xs:annotation>
							<xs:documentation>征收项目目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zsxmGridlb" type="zsxmGridlbVO">
									<xs:annotation>
										<xs:documentation>征收项目目列表</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="hyGrid">
						<xs:annotation>
							<xs:documentation>行业列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="hyGridlb" type="hyGridlbVO">
									<xs:annotation>
										<xs:documentation>征收项目目列表</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>扣缴储蓄存款个人利息所得申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ywztbw" type="DkdcklxsdfrsdsSBVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
