标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10042/TaxMLBw_HXZG_ZS_10042_request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS10042Request">
		<xs:annotation>
			<xs:documentation>查询缴款书完税证明细信息响应报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbrqGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbrqGridlb" type="sbrqa"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="skssrqGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="skssrqGridlb" type="skssqa"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbrqa">
		<xs:annotation>
			<xs:documentation>申报日期</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbrqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>申报日期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>申报日期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="skssqa">
		<xs:annotation>
			<xs:documentation>税款所属日期</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属日期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属日期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
