标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_ZM_00002_社保费完费证明打印结果保存/TaxMLBw_GSSB_ZM_00002_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfWfzmkjRequest">
		<xs:annotation>
			<xs:documentation>自助终端完费证明开具打印信息保存</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ShbxfWfzmkjHead" type="ShbxfWfzmkjHead">
						<xs:annotation>
							<xs:documentation>自助终端完费证明开具表表头</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShbxfWfzmkjDetailList" type="ShbxfWfzmkjDetailList">
						<xs:annotation>
							<xs:documentation>自助终端完费证明开具表明细信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShbxfWfzmkjDetailList">
		<xs:annotation>
			<xs:documentation>自助终端完费证明开具表明细列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ShbxfWfzmkjDetail" type="ShbxfWfzmkjDetail">
				<xs:annotation>
					<xs:documentation>助终端完费证明开具表明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfWfzmkjHead">
		<xs:annotation>
			<xs:documentation>自助终端完费证明开具表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>缴费人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>缴费人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件类型代码，灵活就业人员,员工填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码，灵活就业人员,员工填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrlxDm" type="jfrlx">
				<xs:annotation>
					<xs:documentation>缴费人类型代码 0：城乡居民1：灵活就业人员 2：员工 3：单位 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjswjgDm" type="kjswjgDm">
				<xs:annotation>
					<xs:documentation>开具税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqswryDm" type="sqswryDm">
				<xs:annotation>
					<xs:documentation>操作人员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqr" type="sqr">
				<xs:annotation>
					<xs:documentation>申请人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrq" type="sqrq">
				<xs:annotation>
					<xs:documentation>申请日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkjsjq" type="sqkjsjq">
				<xs:annotation>
					<xs:documentation>申请开具时间起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkjsjz" type="sqkjsjz">
				<xs:annotation>
					<xs:documentation>申请开具时间止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzhm" type="pzhm">
				<xs:annotation>
					<xs:documentation>票证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzgDm" type="pzzgDm">
				<xs:annotation>
					<xs:documentation>票证字轨代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzlDm" type="pzzlDm">
				<xs:annotation>
					<xs:documentation>票证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjlxDm" type="kjlx">
				<xs:annotation>
					<xs:documentation>开具类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzje" type="kjje">
				<xs:annotation>
					<xs:documentation>开具金额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfWfzmkjDetail">
		<xs:annotation>
			<xs:documentation>助终端完费证明开具表明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ypzh" type="ypzh">
				<xs:annotation>
					<xs:documentation>原凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsswjgDm" type="zsswjgDm">
				<xs:annotation>
					<xs:documentation>征收税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
					<xs:documentation>社保经办机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbbm" type="sbbm">
				<xs:annotation>
					<xs:documentation>社保编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfbl" type="fl">
				<xs:annotation>
					<xs:documentation>缴费比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>费款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>费款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq" type="rkrq">
				<xs:annotation>
					<xs:documentation>入（退）库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkse" type="rkse">
				<xs:annotation>
					<xs:documentation>实缴（退）费额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
