标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_ZM_00002_社保费完费证明打印结果保存/TaxMLBw_GSSB_ZM_00002_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfrcsbResponse">
		<xs:annotation>
			<xs:documentation>自助终端完费证明开具打印信息保存结果返回</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cljg" type="cljg">
				<xs:annotation>
					<xs:documentation>处理结果 0成功;1失败</xs:documentation>
				</xs:annotation>
			    </xs:element>
			        <xs:element name="sbyy" type="sbyy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>失败原因</xs:documentation>
				</xs:annotation>
			</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>