标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00426/TaxMLBw_HXZG_ZS_00426_request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="ZSHXZG00426RequestVO">
		<xs:annotation>
			<xs:documentation>核定应纳税额查询核定应纳税额信息初始化</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" >
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcwybs" >
				<xs:annotation>
					<xs:documentation>流程唯一识别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjwybs" >
				<xs:annotation>
					<xs:documentation>环节唯一识别</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
