标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00426/TaxMLBw_HXZG_ZS_00426_response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="ZSHXZG00426ResponseVO">
		<xs:annotation>
			<xs:documentation>核定应纳税额查询核定应纳税额信息初始化</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jbxxFormVo" type="ZShdhdynseJbxxVO">
						<xs:annotation>
							<xs:documentation>基本信息区</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hdnrFormVo" type="ZShdhdynseHdnrVO">
						<xs:annotation>
							<xs:documentation>核定内容</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="zsxxGrid">
						<xs:annotation>
							<xs:documentation>征收数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zsxxGridlb" type="ZShdhdynseHdxmVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
