标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00043/TaxMLBw_HXZG_ZM_00043_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZM00043Request">
		<xs:annotation>
			<xs:documentation>根据登记序号、票证种类、票证字轨、票证号码获取税收完税证明开具记录信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzlDm" type="pzzlDm">
						<xs:annotation>
							<xs:documentation>票证种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzgDm" type="pzzgDm">
						<xs:annotation>
							<xs:documentation>票证字轨代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzhm" type="pzhm">
						<xs:annotation>
							<xs:documentation>票证号码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
