标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00370合伙创投企业个人所得税投资抵扣备案信息查询/TaxML_GSGL_SB_00370_Response_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (bailei) 使用XMLSpy vservyou编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbHhctGrsdsTzdkbaxxCxResponse">
		<xs:annotation>
			<xs:documentation>合伙创投企业个人所得税投资抵扣备案信息查询-反馈报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbHhctGrsdsTzdkbaxxGrid" type="sbHhctGrsdsTzdkbaxxGrid">
						<xs:annotation>
							<xs:documentation>合伙创投备案信息列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbHhctGrsdsTzdkbaxxGrid">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="sbHhctGrsdsTzdkbaxx" type="sbHhctGrsdsTzdkbaxx">
				<xs:annotation>
					<xs:documentation>合伙创投备案信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbHhctGrsdsTzdkbaxx">
		<xs:sequence>
			<xs:element name="hhctqyjbqk" type="hhctqyjbqk">
				<xs:annotation>
					<xs:documentation>合伙创投企业基本情况</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dcckjxqytzqkGrid" type="dcckjxqytzqkGrid">
				<xs:annotation>
					<xs:documentation>对初创科技型企业投资情况列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hhctqyjbqk">
		<xs:annotation>
			<xs:documentation>合伙创投企业基本情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kjywrdjxh" type="kjywrdjxh">
				<xs:annotation>
					<xs:documentation>合伙创投企业登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrnsrsbh" type="hhctqynsrsbh">
				<xs:annotation>
					<xs:documentation>合伙创投企业纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrmc" type="hhctqymc">
				<xs:annotation>
					<xs:documentation>合伙创投企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bslxr" type="qylxr">
				<xs:annotation>
					<xs:documentation>企业联系人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrlxdh" type="dwlxdh">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="baglbm" type="baglbm">
				<xs:annotation>
					<xs:documentation>备案管理部门</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="basj" type="rq">
				<xs:annotation>
					<xs:documentation>备案时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd" type="nd">
				<xs:annotation>
					<xs:documentation>年度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="babh" type="babh">
				<xs:annotation>
					<xs:documentation>备案编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jywysbh" type="jywysbh">
						<xs:annotation>
							<xs:documentation>交易唯一识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dcckjxqytzqkGrid">
		<xs:annotation>
			<xs:documentation>对初创科技型企业投资情况列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="dcckjxqytzqk" type="dcckjxqytzqk">
				<xs:annotation>
					<xs:documentation>对初创科技型企业投资情况</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dcckjxqytzqk">
		<xs:annotation>
			<xs:documentation>对初创科技型企业投资情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cckjxqynsrsbh" type="djxh">
				<xs:annotation>
					<xs:documentation>初创科技型企业纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cckjxqynsrmc" type="cckjxqynsrmc">
				<xs:annotation>
					<xs:documentation>初创科技型企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cckjxqydjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>初创科技型企业登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcd" type="qyzcdjd">
				<xs:annotation>
					<xs:documentation>注册地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slsj" type="rq">
				<xs:annotation>
					<xs:documentation>设立时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzrq" type="rq">
				<xs:annotation>
					<xs:documentation>投资日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cyrs" type="hhctcyrs">
				<xs:annotation>
					<xs:documentation>从业人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bkysxlrszb" type="bkysxlrszb">
				<xs:annotation>
					<xs:documentation>本科以上学历人数占比</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcze" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>资产总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nxssr" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>年销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yffyzezcbfyzcbl" type="yffyzezcbfyzcbl">
				<xs:annotation>
					<xs:documentation>研发费用总额占成本费用支出的比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cgblsfcsx" type="cgblsfcsx">
				<xs:annotation>
					<xs:documentation>投资2年内与其亲属合计持股比例是否超过50%</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tze" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
