标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00008/TaxMLBd_061001049_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="jrbxyyyssb05_zymmzqjcsrmxbywbw">
		<xs:annotation>
			<xs:documentation>《自营买卖债券价差收入明细表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jrbxyyyssb05_zymmzqjcsrmxb" type="jrbxyyyssb05_zymmzqjcsrmxb">
						<xs:annotation>
							<xs:documentation>《自营买卖债券价差收入明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jrbxyyyssb05_zymmzqjcsrmxb">
		<xs:annotation>
			<xs:documentation>《自营买卖债券价差收入明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zymmzqjcsrmxbGrid" type="zymmzqjcsrmxbGrid">
				<xs:annotation>
					<xs:documentation>自营买卖债券价差收入明细表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zymmzqjcsrmxbGrid">
		<xs:annotation>
			<xs:documentation>《自营买卖债券价差收入明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="zymmzqjcsrmxbGridlb" type="zymmzqjcsrmxbGridlb">
				<xs:annotation>
					<xs:documentation>自营买卖债券价差收入明细表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zymmzqjcsrmxbForm">
		<xs:annotation>
			<xs:documentation>自营买卖债券价差收入明细表总体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sqzrfc" type="je">
				<xs:annotation>
					<xs:documentation>上期转入负差合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcye" type="je">
				<xs:annotation>
					<xs:documentation>价差余额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zymmzqjcsrmxbGridlb">
		<xs:annotation>
			<xs:documentation>自营买卖债券价差收入明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zqDm" type="zqDm">
				<xs:annotation>
					<xs:documentation>债券代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzDm" type="hbmc">
				<xs:annotation>
					<xs:documentation>货币名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zhl" type="zhl">
				<xs:annotation>
					<xs:documentation>折合率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmcj" type="je">
				<xs:annotation>
					<xs:documentation>总卖出价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmrj" type="je">
				<xs:annotation>
					<xs:documentation>总买入价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcje" type="je">
				<xs:annotation>
					<xs:documentation>价差</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zrmbjc" type="je">
				<xs:annotation>
					<xs:documentation>折人民币价差</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
