标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00006/TaxMLBd_0610039_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qysdsyddhndnssbbblywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税月（季）度和年度纳税申报表（B类）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdshdzsyjdndsbbdxx" type="qysdshdzsyjdndsbbdxx">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税月（季）度和年度纳税申报表（B类）》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdshdzsyjdndsbbdxx">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税月（季）度和年度纳税申报表（B类）》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxFrom" type="nsrxxFrom">
				<xs:annotation>
					<xs:documentation>表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qysdsyddhndnssbbblFrom" type="qysdsyddhndnssbbblFrom">
				<xs:annotation>
					<xs:documentation>企业所得税月（季）度和年度纳税申报表（B类）申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsyddhndnssbbblFrom">
		<xs:annotation>
			<xs:documentation>企业所得税月（季）度和年度纳税申报表（B类）申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="asrzeSrze" type="asrzeSrze">
				<xs:annotation>
					<xs:documentation>按收入总额收入总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asrzeBzssr" type="asrzeBzssr">
				<xs:annotation>
					<xs:documentation>按收入总额不征税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asrzeMssr" type="asrzeMssr">
				<xs:annotation>
					<xs:documentation>按收入总额免税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asrzeYssre" type="asrzeYssre">
				<xs:annotation>
					<xs:documentation>按收入总额应税收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asrzeYssdl" type="asrzeYssdl">
				<xs:annotation>
					<xs:documentation>按收入总额税务机关核定的应税所得率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asrzeYnssde" type="asrzeYnssde">
				<xs:annotation>
					<xs:documentation>按收入总额应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acbfyCbfyze" type="acbfyCbfyze">
				<xs:annotation>
					<xs:documentation>按成本费用成本费用总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acbfyYssdl" type="acbfyYssdl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按成本费用税务机关核定的应税所得率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="acbfyYnssde" type="acbfyYnssde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>按成本费用应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsdse" type="ynsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhtjdxxwlqyjmsdse" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>符合条件的小型微利企业减免所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yyjsdse" type="yyjsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已预缴所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtsdse" type="ybtsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应补（退）所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjghdynsdse" type="swjghdynsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务机关核定应纳所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsrxxFrom">
		<xs:annotation>
			<xs:documentation>表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm1" type="sbsxDm1">
				<xs:annotation>
					<xs:documentation>申报属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfyjdndsbDm" type="bz">
				<xs:annotation>
					<xs:documentation>是否年度申报代码（0月季度申报1年度申报）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
