标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00401/TaxMLBw_HXZG_ZS_00401_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS00401Response">
		<xs:annotation>
			<xs:documentation>根据抵缴凭证序号查询抵缴和欠税明细信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ZSDjskxxGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="DJSKXXGridlb" type="ZSDjskxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZSDjskxxVO">
		<xs:annotation>
			<xs:documentation>抵缴税款信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djskuuid" type="djskuuid">
				<xs:annotation>
					<xs:documentation>抵缴税款UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djpzxh" type="djpzxh">
				<xs:annotation>
					<xs:documentation>抵缴凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydtuuid" type="ydtuuid">
				<xs:annotation>
					<xs:documentation>应抵退UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsuuid" type="zsuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djqsrq" type="djqsrq">
				<xs:annotation>
					<xs:documentation>抵缴日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjjzrq" type="kjjzrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>会计记账日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skcllxDm" type="skcllxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款处理类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="se" type="se">
				<xs:annotation>
					<xs:documentation>税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjzsuuid" type="bdjzsuuid">
				<xs:annotation>
					<xs:documentation>被抵缴征收UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjyzpzxh" type="bdjyzpzxh">
				<xs:annotation>
					<xs:documentation>被抵缴应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjyzpzmxxh" type="bdjyzpzmxxh">
				<xs:annotation>
					<xs:documentation>被抵缴应征凭证明细序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjzsxmDm" type="bdjzsxmDm">
				<xs:annotation>
					<xs:documentation>被抵缴税款的征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjzspmDm" type="bdjzspmDm">
				<xs:annotation>
					<xs:documentation>被抵缴税款的征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjskssqq" type="bdjskssqq">
				<xs:annotation>
					<xs:documentation>被抵缴税款所属时期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjskssqz" type="bdjskssqz">
				<xs:annotation>
					<xs:documentation>被抵缴税款所属时期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjskzlDm" type="bdjskzlDm">
				<xs:annotation>
					<xs:documentation>被抵缴税款种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjskssswjgDm" type="bdjskssswjgDm">
				<xs:annotation>
					<xs:documentation>被抵缴税款所属税务机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjysfpblDm" type="bdjysfpblDm">
				<xs:annotation>
					<xs:documentation>被抵缴预算分配比例代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjyskmDm" type="bdjyskmDm">
				<xs:annotation>
					<xs:documentation>被抵缴预算科目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdjskgkDm" type="bdjskgkDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被抵缴收款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssswjgDm" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属税务机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yskmDm" type="yskmDm">
				<xs:annotation>
					<xs:documentation>预算科目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysfpblDm" type="ysfpblDm">
				<xs:annotation>
					<xs:documentation>预算分配比例代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skgkDm" type="skgkDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skzlDm" type="skzlDm">
				<xs:annotation>
					<xs:documentation>税款种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tkbz" type="tkbz">
				<xs:annotation>
					<xs:documentation>调库标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tkfsrq" type="tkfsrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>调库发生日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrDm" type="zfrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>作废人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq1" type="zfrq1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>作废日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
