标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_00057/TaxMLBw_HXZG_FP_00057_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP00057Request">
		<xs:annotation>
			<xs:documentation>保存发票验交旧信息请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fpYjjcyqkVO" type="FPYjjcyqkVO">
						<xs:annotation>
							<xs:documentation>发票验交旧主表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fpyjjcyqkMxVOList">
						<xs:annotation>
							<xs:documentation>发票验交旧明细</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="fpyjjcyqkMxVOListlb" type="FPYjjcyqkMxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="saveType" type="xs:string">
						<xs:annotation>
							<xs:documentation>保存类型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wfwzdj" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>是否发起违法违章登记</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
