标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00473/TaxMLBw_HXZG_SB_00473_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_dkdjcklxsdGrsdssb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00473Request">
		<xs:annotation>
			<xs:documentation>扣缴储蓄存款利息所得个人所得税申报申报保存前监控及保存</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkdcklxsdfrsdsSBVO" type="DkdcklxsdfrsdsSBVO">
						<xs:annotation>
							<xs:documentation>业务主体</xs:documentation>
						</xs:annotation>

					</xs:element>
					<xs:element name="sbSBbcTjqtxxVO" type="SBSBbcTjqtxxVO">
						<xs:annotation>
							<xs:documentation>其他信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="drBz" type="nsrsbh">
						<xs:annotation>
							<xs:documentation>导入标志</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
