标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00290/TaxMLBd_tydkdj_0610572_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="dkdjdsdjyhjszyywbw">
		<xs:annotation>
			<xs:documentation>中华人民共和国税收缴款书（银行经收专用）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkdjdsdjyhjszy" type="dkdjdsdjyhjszy">
						<xs:annotation>
							<xs:documentation>代扣代缴、代收代缴车船税明细报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dkdjdsdjyhjszy">
		<xs:annotation>
			<xs:documentation>中华人民共和国税收缴款书（银行经收专用）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="nsrxxForm1VO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdjdsdjyhjszyGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="dkdjdsdjyhjszyGridlb" type="dkdjdsdjyhjszyGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxx1Form" type="slxx1FormVO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>其他信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsrxxForm1VO">
		<xs:annotation>
			<xs:documentation>纳税人基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jkdwrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>缴款单位人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkdwRMc" type="dkdjywrmc">
				<xs:annotation>
					<xs:documentation>缴款单位人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="skssqq">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="khyh" type="skssqz">
				<xs:annotation>
					<xs:documentation>开户银行</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zh" type="zh">
				<xs:annotation>
					<xs:documentation>账号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skgkDm" type="skgkDm">
				<xs:annotation>
					<xs:documentation>收款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhhbDm" type="yhhbDm">
				<xs:annotation>
					<xs:documentation>银行行别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ckzhzhuuid" type="ckzhzhuuid">
				<xs:annotation>
					<xs:documentation>存款账户uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxx1FormVO">
		<xs:annotation>
			<xs:documentation>受理信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="slswjg" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tpr" type="jbr">
				<xs:annotation>
					<xs:documentation>填票人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkdwr" type="jbr">
				<xs:annotation>
					<xs:documentation>缴款单位人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="jbr">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dkdjdsdjyhjszyGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yskmmc" type="yskmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>预算科目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysfpblDm" type="ysjcDm">
				<xs:annotation>
					<xs:documentation>预算级次代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="szDm">
				<xs:annotation>
					<xs:documentation>税种代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kssl" type="kssl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>课税数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsje" type="jsje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xssr" type="xssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwse" type="dwse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yje" type="yje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已缴额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kce" type="kce" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjje" type="sjje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzg" type="pzzg">
				<xs:annotation>
					<xs:documentation>票证字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzhm" type="pzhm">
				<xs:annotation>
					<xs:documentation>票证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsphm" type="dzsphm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>电子税票号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skxjrq" type="skxjrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款限缴日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tfrq" type="tfrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>填发日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sksjrq" type="sksjrq">
				<xs:annotation>
					<xs:documentation>税款上解日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjxhrq" type="sjxhrq">
				<xs:annotation>
					<xs:documentation>上解销号日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbr" type="tbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>填表人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkdwRMc" type="jkdwRMc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>缴款单位人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzlDm" type="pzzlDm">
				<xs:annotation>
					<xs:documentation>票证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skgkDm" type="skgkDm">
				<xs:annotation>
					<xs:documentation>收款国库代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yskmDm" type="yskmDm">
				<xs:annotation>
					<xs:documentation>预算科目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
