标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00082/TaxMLBw_HXZG_SB_00082_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLCGSSBType.xsd"/>
	<xs:complexType name="HXZGSB00082Response">
		<xs:annotation>
			<xs:documentation>车价信息查询返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBCgsCljgxxResVO" type="SBCgsCljgxxResVO">
						<xs:annotation>
							<xs:documentation>返回码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBCgsCljgxxResVO">
		<xs:sequence>
			<xs:element name="reCode" type="bz">
				<xs:annotation>
					<xs:documentation>返回码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cljgxxGrid" type="cljgxxGrid">
				<xs:annotation>
					<xs:documentation>车辆价格信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cljgxxGrid">
		<xs:annotation>
			<xs:documentation>车辆价格信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="cljgxxGridlb" type="SBCgsCljgxxVO">
				<xs:annotation>
					<xs:documentation>车辆价格信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
