标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00289/TaxMLBw_HXZG_SB_00289_SBdkdjwhsyjsfInit_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00289SBdkdjwhsyjsfInit">
		<xs:annotation>
			<xs:documentation>代扣代缴文化事业建设费期初数据的校验和查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbdkdjwhsyjsfInit" type="SBdkdjwhsyjsfInit">
						<xs:annotation>
							<xs:documentation>代扣代缴文化事业建设费期初数据的校验和查询</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBdkdjwhsyjsfInit">
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>djxh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="retFlag" type="flag">
				<xs:annotation>
					<xs:documentation>返回状态</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fejsjnjfyj_bnyj" type="sbuuid">
				<xs:annotation>
					<xs:documentation>费额计算缴纳计费依据本年累计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fejsjnbqyjfe_bnyj" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>费额计算缴纳本期应交费额本年累计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
