标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00088生产经营A表申报初始化/TaxMLBw_R_S_ZRRWT_SB_005_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbcshxxrequest">
		<xs:annotation>
			<xs:documentation>申报初始化信息请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tzrdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>投资人登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="btzdwdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>被投资单位登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swjgdm" type="swjgDm">
						<xs:annotation>
							<xs:documentation>主管科所机关，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sdxm" type="sdxmDm">
						<xs:annotation>
							<xs:documentation>所得项目，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sblxDm" type="sblx">
						<xs:annotation>
							<xs:documentation>申报类型代码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lrrDm" type="lrrDm">
						<xs:annotation>
							<xs:documentation>录入人代码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
