标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10210/TaxMLBw_HXZG_ZS_10210_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="HXZGZS10210Request">
		<xs:annotation>
			<xs:documentation>计算社保费滞纳金</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qrmxuuid" type="qrmxuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>确认明细UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jkrq" type="jkrq">
						<xs:annotation>
							<xs:documentation>缴款日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jkqx" type="jkqx">
						<xs:annotation>
							<xs:documentation>缴款期限</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmDm" type="zsxmDm">
						<xs:annotation>
							<xs:documentation>征收项目</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sksxDm" type="sksxDm">
						<xs:annotation>
							<xs:documentation>税款属性代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skzlDm" type="skzlDm">
						<xs:annotation>
							<xs:documentation>税款种类</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ybtse" type="ybtse">
						<xs:annotation>
							<xs:documentation>应补退税额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zspmDm" type="zspmDm">
						<xs:annotation>
							<xs:documentation>征收品目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssswjgDm" type="skssswjgDm">
						<xs:annotation>
							<xs:documentation>税款所属税务机关</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
