标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00097/TaxMLBd_011028003_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="SwzjysqtjVO">
		<xs:annotation>
			<xs:documentation>税务证件遗失申请报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zjysglsqxxvo" type="DJZjysglsqxxVO">
						<xs:annotation>
							<xs:documentation>证件遗失管理申请信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swzjgsyszjGrid" type="SwzjgsyszjGrid">
						<xs:annotation>
							<xs:documentation>税务证件挂失遗失税务证件信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swzjgscfxxGrid" type="SwzjgscfxxGrid">
						<xs:annotation>
							<xs:documentation>税务证件挂失重发税务证件信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SwzjgsyszjGrid">
		<xs:annotation>
			<xs:documentation>税务证件挂失遗失税务证件信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="swzjgsyszjGridlb" type="DJZjysglYszjxxVO">
				<xs:annotation>
					<xs:documentation>税务证件挂失遗失税务证件信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwzjgscfxxGrid">
		<xs:annotation>
			<xs:documentation>税务证件挂失重发税务证件信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="swzjgscfxxGridlb" type="DJZjysglCfxxVO">
				<xs:annotation>
					<xs:documentation>税务证件挂失重发税务证件信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
