标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01614/TaxMLBd_0610005_V2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by pl (css) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="ccssbbbd">
		<xs:annotation>
			<xs:documentation>车船税申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ccssbb" type="ccssbbVO">
						<xs:annotation>
							<xs:documentation>车船税申报</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ccssbbVO">
		<xs:annotation>
			<xs:documentation>车船税申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="SBCcsNsrjbxxVO">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsjxxGrid">
				<xs:annotation>
					<xs:documentation>车船税申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="sbsjxxGridlb" type="sbsjxxGridlbVo">
							<xs:annotation>
								<xs:documentation>申报数据信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxxForm" type="SBCcsSlxxVO">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbsjxxGridlbVo">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clpzhm" type="clpzhm">
				<xs:annotation>
					<xs:documentation>车辆牌照号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clsbdm" type="clsbdm">
				<xs:annotation>
					<xs:documentation>车辆识别代码（车架号）||车辆识别代码（车架号）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwse" type="dwse">
				<xs:annotation>
					<xs:documentation>单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnynse" type="bnynse">
				<xs:annotation>
					<xs:documentation>本年应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse2" type="jmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjse" type="bqyjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtse" type="bqybtse">
				<xs:annotation>
					<xs:documentation>本期应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssq">
				<xs:annotation>
					<xs:documentation>税源所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqxDm" type="sbqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqxDm" type="jkqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>缴款期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务所科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccuuid" type="uuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>车船税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyfs" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期数：用于前台税款计算</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybzdm" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源标志代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源项目有效期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqwsbbz" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上期未申报标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jldwDm" type="jldwDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税单位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsdwsl" type="sl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税单位数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm2" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmszmbh" type="jmszmbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税证明号1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmszmbh2" type="jmszmbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税证明号2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnyjse" type="se" minOccurs="0">
				<xs:annotation>
					<xs:documentation>当年应缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbmc" type="cbmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>船舶名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhpzuuid" type="yhpzuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>优惠凭证UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfysb" type="sbbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否已申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjsfpzhm" type="sbuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已缴税费凭证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
