标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00006/TaxMLBw_HXZG_YH_00006_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_031003001_V1.0.xsd"/>
	<xs:complexType name="HXZGYH00006Request">
		<xs:annotation>
			<xs:documentation>保存纳税人减免税申请表信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jmsqxx" type="jmsqxx">
						<xs:annotation>
							<xs:documentation>纳税人减免税申请表信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcswsxDm" type="lcswsxDm">
						<xs:annotation>
							<xs:documentation>流程税务事项代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="slswsxDm" type="slswsxDm">
						<xs:annotation>
							<xs:documentation>受理税务事项代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
