标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_RD_00006_获取城乡居民缴费信息/TaxMLBw_GSSB_RD_00006_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="GSSBRD00006Request">
		<xs:annotation>
			<xs:documentation>获取城乡居民缴费信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jfdxlx" type="jfdxlx" >
						<xs:annotation>
							<xs:documentation>缴费对象类型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xm" type="xm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>姓名</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zjlx" type="sfzjlx" minOccurs="0">
						<xs:annotation>
							<xs:documentation>身份证件类型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zjhm" type="sfzjhm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>身份证件号码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbwylsh" type="sblsh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>社保唯一流水号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbnd" type="sbnd" >
						<xs:annotation>
							<xs:documentation>申报年度</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmdm" type="zsxmDm">
						<xs:annotation>
							<xs:documentation>征收项目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jfdc" type="jfdc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>缴费档次</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
