标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00727/TaxMLBw_HXZG_RD_00727_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGRD00727Request">
		<xs:annotation>
			<xs:documentation>纳税人资格信息查询接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsrzglxDm" type="nsrzglxDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>纳税人资格类型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yxqq" type="yxqq" minOccurs="0">
						<xs:annotation>
							<xs:documentation>有效期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yxqz" type="yxqz" minOccurs="0">
						<xs:annotation>
							<xs:documentation>有效期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
