标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00016/TaxMLBd_0610114_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="cztdsyssbywbw">
		<xs:annotation>
			<xs:documentation>《城镇土地使用税纳税申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cztdsyssb" type="cztdsyssb">
						<xs:annotation>
							<xs:documentation>《城镇土地使用税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cztdsyssb">
		<xs:annotation>
			<xs:documentation>《城镇土地使用税纳税申报表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="sbbheadkz1VO">
				<xs:annotation>
					<xs:documentation>申报表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cztdsysGrid">
				<xs:annotation>
					<xs:documentation>城镇土地使用税申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="cztdsysGridlb" type="cztdsysGridlbVo">
							<xs:annotation>
								<xs:documentation>城镇土地使用税申报表信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxxForm" type="slxxForm">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cztdsysGrid">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="cztdsysGridlb" type="cztdsysGridlbVo">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cztdsysGridlbVo">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ystdmj" type="ystdmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税土地面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mstdmj" type="mstdmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税土地面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jstdmj" type="jstdmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税土地面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwse" type="dwse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnynse" type="bnynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqjmse" type="bqjmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjse" type="bqyjse">
				<xs:annotation>
					<xs:documentation>本期预缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtse" type="bqybtse">
				<xs:annotation>
					<xs:documentation>本期应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fybh" type="fybh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsybh" type="tdsybh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rdpzuuid" type="rdpzuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>认定凭证uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" nillable="true">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxxForm">
		<xs:annotation>
			<xs:documentation>受理信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsr" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjg" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrmc" type="bsrxm">
				<xs:annotation>
					<xs:documentation>税务代理人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrdz" type="slrDm">
				<xs:annotation>
					<xs:documentation>税务代理人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrjbr" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>税务代理人经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shrq" type="bsrxm">
				<xs:annotation>
					<xs:documentation>审核日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shr" type="slrDm">
				<xs:annotation>
					<xs:documentation>审核人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shjl" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>审核记录</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
