标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/一般申报/TaxMLBd_BDA0610753_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="scjysdgrsdsnssbbaljbYwbw">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="scjysdgrsdsnssbbaljb" type="scjysdgrsdsnssbbaljb">
						<xs:annotation>
							<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="scjysdgrsdsnssbbaljb">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="scjysdgrsdsnssbbaljbHead" type="scjysdgrsdsnssbbaljbHead">
				<xs:annotation>
					<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scjysdgrsdsnssbbaljbBody" type="scjysdgrsdsnssbbaljbBody">
				<xs:annotation>
					<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）表体</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scjysdgrsdsnssbbaljbHead">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>
					税款所属期起，不能为空，格式为yyyy-MM-dd；必须为某个月的第一天；不能大于当前月；不能大于税款属期止；
					与投资单位开业设立日期的关系：
					1）、税款所属期起不能小于开业设立日期年月；
					2）、往年开业的企业，税款所属期起必须为当前年1月、或往年1月、或开业设立日期年月；
					3）、税款属期所在年份年中开业的企业，税款所属期起必须与开业设立日期年月一致；
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>
					税款所属期止，不能为空，格式为yyyy-MM-dd；必须为某个月的第最后天；不能大于当前月；不能小于税款属期止；
					税款所属期起和税款所属期止不能跨年；
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="tbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljg" type="dljgmc">
				<xs:annotation>
					<xs:documentation>代理机构（人）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="dljbrxm">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljbrzyzjhm" type="dljbrzyzjhm">
				<xs:annotation>
					<xs:documentation>经办人执业证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbrq" type="dlsbrq">
				<xs:annotation>
					<xs:documentation>代理申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="zgswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgmc" type="zgswjgmc">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="swryDm">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="bgbz">
				<xs:annotation>
					<xs:documentation>申报方式代码，0：正常申报，1：更正申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="ssglyDm">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yijseNull" type="bz3">
				<xs:annotation>
					<xs:documentation>
					已缴税额是否为空，0-无，1-有，辅助字段，针对大厅申报增加（更正申报用到），外围系统无需传入
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scjysdgrsdsnssbbaljbBody">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（A累计表）表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tzzxx" type="tzzxx">
				<xs:annotation>
					<xs:documentation>投资者信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="btzdwxx" type="btzdwxx">
				<xs:annotation>
					<xs:documentation>被投资单位信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsryujsyqk" type="nsryujsyqk">
				<xs:annotation>
					<xs:documentation>
					纳税人预缴使用情况，如果使用了预缴，必须传递该节点；如果没使用预缴，不要传递该节点
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="je">
				<xs:annotation>
					<xs:documentation>收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbfyze" type="je">
				<xs:annotation>
					<xs:documentation>成本费用总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrze" type="je">
				<xs:annotation>
					<xs:documentation>利润总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbksje" type="je">
				<xs:annotation>
					<xs:documentation>弥补亏损金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpbl" type="bl">
				<xs:annotation>
					<xs:documentation>分配比例%,传值0到100（分配比例乘以100之后的值在[0,100]之间）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzzbzfykce" type="je">
				<xs:annotation>
					<xs:documentation>投资者标准费用扣除额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syjkx" type="je">
				<xs:annotation>
					<xs:documentation>商业健康险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdk" type="je">
				<xs:annotation>
					<xs:documentation>投资抵扣</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syylbx" type="je">
				<xs:annotation>
					<xs:documentation>税延养老保险，没有时传0；大于0时,附表【TaxMLBd_A061001051_v1.1.xsd《税延型商业养老保险税前扣除表》】必录</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtkc" type="je">
				<xs:annotation>
					<xs:documentation>其他扣除</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="je">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yssdl" type="sl1">
				<xs:annotation>
					<xs:documentation>应税所得率%</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="je">
				<xs:annotation>
					<xs:documentation>速算扣除数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="se">
				<xs:annotation>
					<xs:documentation>应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="se">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yijse" type="se">
				<xs:annotation>
					<xs:documentation>
					已预缴税额，yijse=上一期的yijse + 本期的预缴税额 + 上一期的ybtse（ybtse如果是负数取0）
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="se">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="sdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grsdssdxmMc" type="grsdssdxmmc">
				<xs:annotation>
					<xs:documentation>所得项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmMc" type="zspmmc">
				<xs:annotation>
					<xs:documentation>征收品目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="btzdwxx">
		<xs:annotation>
			<xs:documentation>被投资单位信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="nsrzgswjgDm">
				<xs:annotation>
					<xs:documentation>主管税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswksDm" type="zgswksDm">
				<xs:annotation>
					<xs:documentation>主管税务科所代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mc" type="mc">
				<xs:annotation>
					<xs:documentation>名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsdldm" type="zsfsdldm">
				<xs:annotation>
					<xs:documentation>征收方式大类:0：查账征收、1：核定征收</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsxldm" type="zsfsxldm">
				<xs:annotation>
					<xs:documentation>征收方式小类:01：据实预缴、02：按上年度应纳税所得额预缴、03：核定应税所得率征收（能准确核算收入总额的）、04：核定应税所得率征收（能准确核算成本费用的）、05：税务机关认可的其他方式、06：核定应纳税所得额征收</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lx" type="bz3">
				<xs:annotation>
					<xs:documentation>类型:0,个体工商户，1承包承租，2个人独资，3合伙企业</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tzzxx">
		<xs:annotation>
			<xs:documentation>投资者信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxmc" type="sfzjlxmc">
				<xs:annotation>
					<xs:documentation>身份证件类型名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjdqdm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国籍（地区）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjdqmc" type="gjhdqzwqc">
				<xs:annotation>
					<xs:documentation>国籍（地区）名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsryujsyqk">
		<xs:sequence>
			<xs:element name="nsryujsyqkMx" type="nsryujsyqkMx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					纳税人预缴使用情况，如果使用了预缴，必须传递该节点；如果没使用预缴，不要传递该节点
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsryujsyqkMx">
		<xs:annotation>
			<xs:documentation>
					纳税人预缴使用情况明细，如果使用了预缴，必须传递该节点；如果没使用预缴，不要传递该节点
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yujkuuid" type="yjskuuid">
				<xs:annotation>
					<xs:documentation>预缴款uuid，从核心征管得到的预缴信息的uuid，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjsyYujse" type="yjse">
				<xs:annotation>
					<xs:documentation>
					实际使用的预缴税额，如果是更正申报，需要传递全量的预缴款（即：上次申报使用的预缴+ 本次申报使用的预缴），如果是合伙企业，需要乘以分配比例，不能为空
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号，为所使用预缴的被投资单位的登记序号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yujkSkssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>
					预缴款所属时期起，传递从核心征管得到的预缴信息的skssqq（非申报的skssqq），格式必须为yyyy-MM-dd
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yujkSkssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>
					预缴款所属时期起，传递从核心征管得到的预缴信息的skssqz（非申报的skssqz），格式必须为yyyy-MM-dd
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="mc">
		<xs:annotation>
			<xs:documentation>名称</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="zsfsdldm">
		<xs:annotation>
			<xs:documentation>征收方式大类</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsfsxldm">
		<xs:annotation>
			<xs:documentation>征收方式小类</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
