标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/一般申报/TaxMLBd_BDA0610351_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="grsdszxsbBYwbw">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报B表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="grsdszxsbBb" type="grsdszxsbBb"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBb">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报A表业务报文</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="head" type="grsdszxsbBbHead" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>个人所得税自行申报申报表头，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="grsdszxsbBbBody" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>个人所得税自行申报申报表表体，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bodyAffix" type="xs:anySimpleType">
				<xs:annotation>
					<xs:documentation>预留：附属表体，可以为空</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbHead">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报B表申报表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起，不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止，不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq">
				<xs:annotation>
					<xs:documentation>填表日期，不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrxm" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人姓名，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务科所分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjDm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国籍代码，可以为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjMc" type="gjhdqzwqc">
				<xs:annotation>
					<xs:documentation>国籍名称，可以为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>证照类型代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxMc" type="sfzjlxmc">
				<xs:annotation>
					<xs:documentation>证照类型名称，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>证照号码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrxm" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人姓名，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="xs:string">
				<xs:annotation>
					<xs:documentation>受理人代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期，不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgMc" type="slswjgmc">
				<xs:annotation>
					<xs:documentation>受理税务机关名称，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="bgbz">
				<xs:annotation>
					<xs:documentation>申报方式代码，0：正常申报，1：更正申报，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljg" type="nsrmc">
				<xs:annotation>
					<xs:documentation>代理机构，可以为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>经办人，当录入“代理机构”时该字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrzjhm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>经办人执业证件号码，当录入“代理机构”时该字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbrq" type="dlsbrq">
				<xs:annotation>
					<xs:documentation>代理申报日期，当录入“代理机构”时该字段不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lygnsndycy" type="sfbzDm">
				<xs:annotation>
					<xs:documentation>来源国纳税年度有差异，Y-是，N-否，可以为空，如果为空按N处理</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbBody">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报申报B表表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grsdszxsbBbSbLb" type="grsdszxsbBbSbLb" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>个人所得税自行申报B表列表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grsdszxsbBbSbHj" type="grsdszxsbBbSbHj" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>个人所得税自行申报B表合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grsdszxsbBbNsJs" type="grsdszxsbBbNsJs" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>本期应缴税额计算列，按照grsdszxsbBbSbMx中的sdlygdqDm汇总得到，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbSbLb">
		<xs:sequence>
			<xs:element name="grsdszxsbBbSbMx" type="grsdszxsbBbSbMx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbNsJs">
		<xs:annotation>
			<xs:documentation>按照grsdszxsbBbSbMx中的sdlygdqDm汇总得到，不能为空</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="grsdszxsbBbJsMx" type="grsdszxsbBbJsMx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbSbMx">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报B表单列名</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="sdlygdqMc" type="gjhdqzwqc">
				<xs:annotation>
					<xs:documentation>所得来源国（地区）名称，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdlygdqDm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>所得来源国（地区）代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>所得期起，不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>所得期止，不能为空，格式为yyyy-mm-dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grsdssdxmMc" type="grsdssdxmmc">
				<xs:annotation>
					<xs:documentation>个人所得税所得项目名称，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="grsdssdxmDm">
				<xs:annotation>
					<xs:documentation>个人所得税所得项目代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="sre">
				<xs:annotation>
					<xs:documentation>收入额，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylbxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>基本养老保险费，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yilbxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>基本医疗保险费，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybx" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>失业保险费，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfgjj" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>住房公积金，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccyz" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>财产原值，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkcse" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>允许扣除的税费，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtkce" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>其他扣除，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>年金，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syjkx" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>商业健康险，可以为空，为空时传0,大于0时,附表【TaxMLBd_BDA0610855_v1.1.xsd《商业健康保险税前扣除》】不能为空。 	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdk" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>投资抵扣，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syylbx" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>税延养老保险，可以为空，为空时传0；当申报工资薪金所得、劳务报酬所得时该字段才可录入，大于0时,附表【TaxMLBd_BDA0610855_v1.1.xsd《商业健康保险税前扣除》】不能为空。 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkcxmHj" type="kcxmjehj">
				<xs:annotation>
					<xs:documentation>税前扣除项目合计，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcfy" type="fykcbz">
				<xs:annotation>
					<xs:documentation>减除费用，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zykcjze" type="zykcdjze">
				<xs:annotation>
					<xs:documentation>准予扣除的捐赠额，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzxjyynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>
					工资薪金所得项目月应纳税所得额；当为工资薪金所得时不能为空，其他所得传0；
					等于【应纳税所得额/所得期间月份数】，所得期间月份数=所得期间止-所得期间起+1
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmMc" type="zspmmc">
				<xs:annotation>
					<xs:documentation>征收品目名称，不能为空，需要符合dm_gs_zspm表中的标准</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码，不能为空，需要符合dm_gs_zspm表中的标准</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收子目代码，目前传值等于zspmDm，可以为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="sskcs">
				<xs:annotation>
					<xs:documentation>速算扣除数，可以为空，为空时传0，需要符合dm_gs_zspm表中的标准</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="ynse">
				<xs:annotation>
					<xs:documentation>应纳税额，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补(退)税额，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbSbHj">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报表合计列</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="sreHj" type="sre">
				<xs:annotation>
					<xs:documentation>收入额，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbyobxHj" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>基本养老保险费合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbyhbxHj" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>基本医疗保险费合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybxHj" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>失业保险费合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfgjjHj" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>住房公积金合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccyzHj" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>财产原值合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkcseHj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>允许扣除的税费合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtHj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>其他扣除合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="njHj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>年金合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syjkxHj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>商业健康险合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdkHj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>投资抵扣合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syylbxHj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>税延养老保险合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkcxmHj" type="kcxmjehj">
				<xs:annotation>
					<xs:documentation>税前扣除项目合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcfyHj" type="fykcbz">
				<xs:annotation>
					<xs:documentation>减除费用合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zykcjzeHj" type="zykcdjze">
				<xs:annotation>
					<xs:documentation>准予扣除的捐赠额合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzxjyynssdeHj" type="ynssde">
				<xs:annotation>
					<xs:documentation>工作薪金月度应纳所得额合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssdeHj" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcsHj" type="sskcs">
				<xs:annotation>
					<xs:documentation>速算扣除数合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynseHj" type="ynse">
				<xs:annotation>
					<xs:documentation>应纳税额合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtseHj" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补(退)税额合计，上面明细数据的合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="grsdszxsbBbJsMx">
		<xs:annotation>
			<xs:documentation>本期应缴税额计算明细</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="gbdqMc" type="gjhdqzwqc">
				<xs:annotation>
					<xs:documentation>国别（地区）名称，可以为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gbdqDm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国别（地区）代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcxe" type="jwsdkcxe">
				<xs:annotation>
					<xs:documentation>扣除限额，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwynse" type="ynse1">
				<xs:annotation>
					<xs:documentation>境外已纳税额，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wnbkye" type="se">
				<xs:annotation>
					<xs:documentation>五年内超过扣除限额未补扣余额，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybjse" type="ybjse">
				<xs:annotation>
					<xs:documentation>本期应补缴税额，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wkcye" type="ye">
				<xs:annotation>
					<xs:documentation>未扣除余额，可以为空，为空时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
