标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/一般申报/TaxMLBd_BDA0610754_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="scjysdgrsdsnssbbbbYwbw">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="scjysdgrsdsnssbbbb" type="scjysdgrsdsnssbbbb">
						<xs:annotation>
							<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="scjysdgrsdsnssbbbb">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="scjysdgrsdsnssbbbbHead" type="scjysdgrsdsnssbbbbHead">
				<xs:annotation>
					<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scjysdgrsdsnssbbbbBody" type="scjysdgrsdsnssbbbbBody">
				<xs:annotation>
					<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）表体</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scjysdgrsdsnssbbbbHead">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起，格式为：yyyy-MM-dd、yyyyMMdd或yyyy/MM/dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止，格式为：yyyy-MM-dd、yyyyMMdd或yyyy/MM/dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq1">
				<xs:annotation>
					<xs:documentation>填表日期，为空时默认当前系统日期，格式为：yyyy-MM-dd、yyyyMMdd或yyyy/MM/dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljg" type="dljgmc">
				<xs:annotation>
					<xs:documentation>代理机构（人）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="dljbrxm">
				<xs:annotation>
					<xs:documentation>经办人，代理机构（人）不为空时，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrzyzjhm" type="dljbrzyzjhm">
				<xs:annotation>
					<xs:documentation>经办人执业证件号码，代理机构（人）不为空时，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbrq" type="dlsbrq">
				<xs:annotation>
					<xs:documentation>代理申报日期，代理机构（人）不为空时，不能为空；代理申报日期为空时默认当前系统日期，格式为：yyyy-MM-dd、yyyyMMdd或yyyy/MM/dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="zgswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgmc" type="zgswjgmc">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="swryDm">
				<xs:annotation>
					<xs:documentation>受理人代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期，为空时默认当前系统日期，格式为：yyyy-MM-dd、yyyyMMdd或yyyy/MM/dd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="bgbz">
				<xs:annotation>
					<xs:documentation>申报方式代码，0：正常申报，1：更正申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrxm" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="ssglyDm">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="scjysdgrsdsnssbbbbBody">
		<xs:annotation>
			<xs:documentation>生产、经营所得个人所得税纳税申报表（B表）表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tzzxx" type="tzzxx">
				<xs:annotation>
					<xs:documentation>投资者信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="btzdwxx" type="btzdwxx">
				<xs:annotation>
					<xs:documentation>被投资单位信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srzeml">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="srze" type="je">
							<xs:annotation>
								<xs:documentation>收入总额</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gzlxsr" type="je">
							<xs:annotation>
								<xs:documentation>国债利息收入</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cbzeml">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cb" type="je">
							<xs:annotation>
								<xs:documentation>成本</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="yycb" type="je">
							<xs:annotation>
								<xs:documentation>营业成本</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="yyfy" type="je">
							<xs:annotation>
								<xs:documentation>营业费用</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="glfy" type="je">
							<xs:annotation>
								<xs:documentation>管理费用</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cwfy" type="je">
							<xs:annotation>
								<xs:documentation>财务费用</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="yysjjfj" type="je">
							<xs:annotation>
								<xs:documentation>营业税金及附加</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cbss" type="je">
							<xs:annotation>
								<xs:documentation>损失</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="yywzc" type="je">
							<xs:annotation>
								<xs:documentation>营业外支出</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="lrze" type="je">
				<xs:annotation>
					<xs:documentation>利润总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nstzzjeml">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nstzzje" type="je">
							<xs:annotation>
								<xs:documentation>纳税调整增加额</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cggdbzkcdxmml">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="cggdbzkcdxm" type="je">
										<xs:annotation>
											<xs:documentation>超过规定标准扣除的项目</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="zgflf" type="je">
										<xs:annotation>
											<xs:documentation>职工福利费</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="zgjyjf" type="je">
										<xs:annotation>
											<xs:documentation>职工教育经费</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ghjf" type="je">
										<xs:annotation>
											<xs:documentation>工会经费</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="lxzc" type="je">
										<xs:annotation>
											<xs:documentation>利息支出</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ywzdf" type="je">
										<xs:annotation>
											<xs:documentation>业务招待费</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ggfhywxqf" type="je">
										<xs:annotation>
											<xs:documentation>广告费和业务宣传费</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="jyhgysyjz" type="je">
										<xs:annotation>
											<xs:documentation>教育和公益事业捐赠</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="zfgjj" type="je">
										<xs:annotation>
											<xs:documentation>住房公积金</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="shbxf" type="je">
										<xs:annotation>
											<xs:documentation>社会保险费</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="zjfy" type="je">
										<xs:annotation>
											<xs:documentation>折旧费用</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="wxzctx" type="je">
										<xs:annotation>
											<xs:documentation>无形资产摊销</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="zcss" type="je">
										<xs:annotation>
											<xs:documentation>资产损失</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="qt" type="je">
										<xs:annotation>
											<xs:documentation>其他</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="byxkcdxmml">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="byxkcdxm" type="je">
										<xs:annotation>
											<xs:documentation>不允许扣除的项目</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="grsdssk" type="je">
										<xs:annotation>
											<xs:documentation>个人所得税税款</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ssznj" type="je">
										<xs:annotation>
											<xs:documentation>税收滞纳金</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ssfk" type="je">
										<xs:annotation>
											<xs:documentation>税收罚金、罚款</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="zzzc" type="je">
										<xs:annotation>
											<xs:documentation>赞助支出</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="jzzc" type="je">
										<xs:annotation>
											<xs:documentation>不符合扣除规定的捐赠支出</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tzzgzxj" type="je">
										<xs:annotation>
											<xs:documentation>投资者工资薪金支出</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="srwgzc" type="je">
										<xs:annotation>
											<xs:documentation>与取得生产经营收入无关的其他支出</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tzzjtfy" type="je">
										<xs:annotation>
											<xs:documentation>用于个人和家庭的支出</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="bzkczc" type="je">
										<xs:annotation>
											<xs:documentation>国家税务总局规定不准扣除的支出</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nstzjse" type="je">
				<xs:annotation>
					<xs:documentation>纳税调整减少额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jnstzhdscjysd" type="je">
				<xs:annotation>
					<xs:documentation>经纳税调整后的生产经营所得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmbyqndks" type="je">
				<xs:annotation>
					<xs:documentation>减：弥补以前年度亏损</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cfpbl" type="bl">
				<xs:annotation>
					<xs:documentation>分配比例,传值0到100（分配比例乘以100之后的值在[0,100]之间）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkcdqtfy" type="je">
				<xs:annotation>
					<xs:documentation>允许扣除的其他费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syjkx" type="je">
				<xs:annotation>
					<xs:documentation>商业健康险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdk" type="je">
				<xs:annotation>
					<xs:documentation>投资抵扣</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syylbx" type="je">
				<xs:annotation>
					<xs:documentation>税延养老保险，没有时传0；大于0时,附表【TaxMLBd_A061001051_v1.1.xsd《税延型商业养老保险税前扣除表》】必录</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtkc" type="je">
				<xs:annotation>
					<xs:documentation>其他扣除</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzzjcfy" type="je">
				<xs:annotation>
					<xs:documentation>投资者减除费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="je">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="je">
				<xs:annotation>
					<xs:documentation>速算扣除数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="se">
				<xs:annotation>
					<xs:documentation>应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jjmse" type="se">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjynse" type="se">
				<xs:annotation>
					<xs:documentation>实际应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjse" type="se">
				<xs:annotation>
					<xs:documentation>已预缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="se">
				<xs:annotation>
					<xs:documentation>应补(退)税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="sdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grsdssdxmMc" type="grsdssdxmmc">
				<xs:annotation>
					<xs:documentation>所得项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmMc" type="zspmmc">
				<xs:annotation>
					<xs:documentation>征收品目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="npjzgrs" type="rs">
				<xs:annotation>
					<xs:documentation>年平均职工人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzze" type="je">
				<xs:annotation>
					<xs:documentation>工资总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzzrs" type="rs">
				<xs:annotation>
					<xs:documentation>投资者人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataState" type="mc">
				<xs:annotation>
					<xs:documentation>数据状态</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="btzdwxx">
		<xs:annotation>
			<xs:documentation>被投资单位信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdwlx" type="bz3">
				<xs:annotation>
					<xs:documentation>类型:0,个体工商户，1承包承租，2个人独资，3合伙企业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdwlxmc" type="mc">
				<xs:annotation>
					<xs:documentation>投资单位类型名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdwDjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>投资单位登记序号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>投资单位主管税务机关代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswksfjDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>投资单位主管税务科所分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tzzxx">
		<xs:annotation>
			<xs:documentation>投资者信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>姓名，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型代码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxmc" type="sfzjlxmc">
				<xs:annotation>
					<xs:documentation>身份证件类型名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjdqdm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国籍（地区）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjdqmc" type="gjhdqzwqc">
				<xs:annotation>
					<xs:documentation>国籍（地区）名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号，不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="mc">
		<xs:annotation>
			<xs:documentation>名称</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="rs">
		<xs:annotation>
			<xs:documentation>人数</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
</xs:schema>
