标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/一般申报/TaxMLBd_BDA0619907_xpzd_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="grsdsZxsbOneHeadXpzd">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报A表表头选配字段</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wjrzwmc" type="zwmc">
				<xs:annotation>
					<xs:documentation>外籍人中文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wjrwwmc" type="zwmc">
				<xs:annotation>
					<xs:documentation>外籍人外文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwfwdw" type="fwdwmc">
				<xs:annotation>
					<xs:documentation>境外服务单位 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hgdqssjm" type="hgdqssjm">
				<xs:annotation>
					<xs:documentation>何国地区税收居民 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfssxdg" type="sfbz">
				<xs:annotation>
					<xs:documentation>是否税收协定国 Y,是,N否 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jnsfygdjzcs" type="sfbz">
				<xs:annotation>
					<xs:documentation>境内是否有固定居住场所 Y,是 ，N否 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwzz" type="jwzz">
				<xs:annotation>
					<xs:documentation>境外住址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnycljzcts" type="bnycljzcts">
				<xs:annotation>
					<xs:documentation>本年一次离境最长天数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfsDm" type="sbfsDm">
				<xs:annotation>
					<xs:documentation>申报方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfsmc" type="sbfsmc">
				<xs:annotation>
					<xs:documentation>申报方式名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzbm" type="yzbm">
				<xs:annotation>
					<xs:documentation>邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dhhm" type="czdh">
				<xs:annotation>
					<xs:documentation>电话号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzgjntxdz" type="jntxdz">
				<xs:annotation>
					<xs:documentation>在中国境内通讯地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zhjzqkDm" type="zhjzqkDm">
				<xs:annotation>
					<xs:documentation>在华居住情况代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zhjzqkMc" type="zhjzqkMc">
				<xs:annotation>
					<xs:documentation>在华居住情况名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdsZxsbOneMxXpzd">
		<xs:annotation>
			<xs:documentation> 个人所得税自行申报A表明细选配字段</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="srssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>收入所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>收入所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdzmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>所得子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdzmMc" type="zszmmc">
				<xs:annotation>
					<xs:documentation>所得子目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zwDm" type="zwjbDm">
				<xs:annotation>
					<xs:documentation>职务代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zwMc" type="zwjbmc">
				<xs:annotation>
					<xs:documentation>职务名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skfdfsDm" type="skfdfsDm">
				<xs:annotation>
					<xs:documentation>税款负担方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skfdfsMc" type="skfdfsmc">
				<xs:annotation>
					<xs:documentation>税款负担方式名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzfdbl" type="bl">
				<xs:annotation>
					<xs:documentation>雇主负担比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzfdsk" type="skje">
				<xs:annotation>
					<xs:documentation>雇主负担税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsjg" type="jgfx">
				<xs:annotation>
					<xs:documentation>计税结果</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byzhgzts" type="byzhgzts">
				<xs:annotation>
					<xs:documentation>本月在华工作天数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssre" type="sre">
				<xs:annotation>
					<xs:documentation>含税收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssrejnqyzf" type="sre">
				<xs:annotation>
					<xs:documentation>含税收入额境内企业支付</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssrejwqyzf" type="sre">
				<xs:annotation>
					<xs:documentation>含税收入额境外企业支付</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="sre">
				<xs:annotation>
					<xs:documentation>收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srejnqyzf" type="sre">
				<xs:annotation>
					<xs:documentation>收入额境内企业支付</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srejwqyzf" type="sre">
				<xs:annotation>
					<xs:documentation>收入额境外企业支付  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ygynse" type="ynse">
				<xs:annotation>
					<xs:documentation>原国应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="njkce" type="skje">
				<xs:annotation>
					<xs:documentation>年金（暂不使用）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtkce" type="skje">
				<xs:annotation>
					<xs:documentation>其他（暂不使用）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljxqsr" type="skje">
				<xs:annotation>
					<xs:documentation>本年累计行权收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljynse" type="skje">
				<xs:annotation>
					<xs:documentation>本年累计行权收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="byjwgzts" type="zhjzts">
				<xs:annotation>
					<xs:documentation>本月境外工作天数(仅外籍人员表填写)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="grsdsZxsbOneHjXpzd">
		<xs:annotation>
			<xs:documentation>个人所得税自行申报A表合计数据(预留)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sreHj" type="sre">
				<xs:annotation>
					<xs:documentation>收入额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srejnqyzfHj" type="sre">
				<xs:annotation>
					<xs:documentation>收入额境内企业支付合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="srejwqyzfHj" type="sre">
				<xs:annotation>
					<xs:documentation>收入额境外企业支付合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssreHj" type="sre">
				<xs:annotation>
					<xs:documentation>含税收入额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssrejnqyzfHj" type="sre">
				<xs:annotation>
					<xs:documentation>含税收入额境内企业支付合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssrejwqyzfHj" type="sre">
				<xs:annotation>
					<xs:documentation>含税收入额境外企业支付合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gzfdskHj" type="sre">
				<xs:annotation>
					<xs:documentation>雇主负担税款合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ygynseHj" type="sre">
				<xs:annotation>
					<xs:documentation>原国应纳税额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="njkceHj" type="skje">
				<xs:annotation>
					<xs:documentation>年金合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtkceHj" type="skje">
				<xs:annotation>
					<xs:documentation>其他合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="hgdqssjm">
		<xs:annotation>
			<xs:documentation>何国地区税收居民</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zhjzts">
		<xs:annotation>
			<xs:documentation>在华居住天数</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="bnycljzcts">
		<xs:annotation>
			<xs:documentation>本年一次离境最长天数</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="byzhgzts">
		<xs:annotation>
			<xs:documentation>本月在华工作天数  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="zhjzqkDm">
		<xs:annotation>
			<xs:documentation>在华居住情况代码 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zhjzqkMc">
		<xs:annotation>
			<xs:documentation>在华居住情况 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
