标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01823/TaxMLBw_HXZG_SB_01823_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_zlfjysb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01823Response">
		<xs:annotation>
			<xs:documentation>房屋交易采集查询已申报税款明细信息业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBZlfsbFormVO" type="SBZlfsbFormVO"/>
					<xs:element name="SBZlfxsFyhJycjGrid">
						<xs:annotation>
							<xs:documentation>增量房销售信息采集Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="SBZlfxsFyhJycjGridlb" type="SBZlfxsFyhJycjxxVO">
									<xs:annotation>
										<xs:documentation>增量房销售信息采集Grid</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FcjysbxxGrid">
						<xs:annotation>
							<xs:documentation>房产交易申报信息Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="FcjysbxxGridlb" type="FcjysbxxGridlbVO">
									<xs:annotation>
										<xs:documentation>房产交易申报信息Grid</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBZlfxsFyhJycjxxVO">
		<xs:annotation>
			<xs:documentation>增量房销售信息采集信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fwzh" type="fwzh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房屋幢号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
