标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00120/TaxMLBw_HXZG_SB_00120_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_dkdjwggscbsrsb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00120Request">
		<xs:annotation>
			<xs:documentation>代扣代缴外国船舶公司运输收入申报表</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kjqysdssbSbbdxxVO" type="dkdjwggssrsbbw">
						<xs:annotation>
							<xs:documentation>代扣代缴外国公司船舶运输收入申博啊</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbbcTjqtxxVO" type="SBSBbcTjqtxxVO">
						<xs:annotation>
							<xs:documentation>代扣代缴外国公司船舶运输收入申报申报保存提交其他信息对象</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
