标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00120/TaxMLBd_chuanbo_0610095_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="dkdjwhsyjsfsbbw">
		<xs:annotation>
			<xs:documentation>代扣代缴外国公司船舶运输收入申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkdjwggscbyssb" type="dkdjwggscbyssb">
						<xs:annotation>
							<xs:documentation>代扣代缴外国公司船舶运输收入申报业务报文</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dkdjwggscbyssb">
		<xs:annotation>
			<xs:documentation>代扣代缴外国公司船舶运输收入申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sdsnsrxxFormVO" type="sdsnsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdssbbxxFormVO" type="sdssbbxxFormVO">
				<xs:annotation>
					<xs:documentation>申报表信息-纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdjwggscbyssrsdsGrid">
				<xs:annotation>
					<xs:documentation>申报信息-明细信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="dkdjwggscbyssrsdsGridlb" type="dkdjwggscbyssrsdsGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sdsfjxxFormVO" type="sdsfjxxFormVO">
				<xs:annotation>
					<xs:documentation>其他信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sdsnsrxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dkdjywrsbh" type="kjywrsbh">
				<xs:annotation>
					<xs:documentation>扣缴义务人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrmc" type="kjywrmc">
				<xs:annotation>
					<xs:documentation>扣缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>费款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>费款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrywmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>扣缴义务人英文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrywdz" type="nsrdz">
				<xs:annotation>
					<xs:documentation>扣缴义务人英文地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djywrdh" type="lxdh">
				<xs:annotation>
					<xs:documentation>扣缴义务人电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="khyh" type="khyh">
				<xs:annotation>
					<xs:documentation>开户银行</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhzh" type="yhzh">
				<xs:annotation>
					<xs:documentation>银行账号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sdssbbxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrywmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>扣缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjghsjgljgszd" type="dz">
				<xs:annotation>
					<xs:documentation>总机构或实际管理机构所在地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcszd" type="zcszd">
				<xs:annotation>
					<xs:documentation>注册所在地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zggysjyfs" type="jyfs">
				<xs:annotation>
					<xs:documentation>在中国运输经营方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbly" type="cbly">
				<xs:annotation>
					<xs:documentation>船舶来源</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dkdjwggscbyssrsdsGridlb">
		<xs:annotation>
			<xs:documentation>所得税申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="dkdjwggscbysGridlb" type="dkdjwggscbyssrsdsGridlbVO">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dkdjwggscbyssrsdsGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yssrze" type="yssrze">
				<xs:annotation>
					<xs:documentation>运输收入总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wbmc" type="wbmc">
				<xs:annotation>
					<xs:documentation>外币名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="whpj" type="whpj">
				<xs:annotation>
					<xs:documentation>外汇牌价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zhrmbje" type="zhrmbje">
				<xs:annotation>
					<xs:documentation>折合人民币金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzl" type="jzl">
				<xs:annotation>
					<xs:documentation>计征率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykjse" type="ykjse">
				<xs:annotation>
					<xs:documentation>应扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sdsfjxxFormVO">
		<xs:annotation>
			<xs:documentation>受理信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hjzg" type="hjzg">
				<xs:annotation>
					<xs:documentation>会计总管</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shrq" type="shrq">
				<xs:annotation>
					<xs:documentation>审核日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shjl" type="shjl">
				<xs:annotation>
					<xs:documentation>审核记录</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
