标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00388/TaxMLBw_HXZG_DJ_00388_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="HXZGDJ00388Response">
		<xs:annotation>
			<xs:documentation>保存注销税务登记核准表并校验未办尽事宜（适用于注销迁移户信息）返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zxkjswdjbz" type="bz">
						<xs:annotation>
							<xs:documentation>注销扣缴税款登记标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfdbcgbz" type="bz">
						<xs:annotation>
							<xs:documentation>发送待办成功标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="massage" type="bz">
						<xs:annotation>
							<xs:documentation>消息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
