标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01825/TaxMLBw_HXZG_SB_01825_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by pl (css) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB01825Response">
		<xs:annotation>
			<xs:documentation>特殊申报保存</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="saveReturn" type="saveReturn"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="saveReturn">
		<xs:annotation>
			<xs:documentation>申报保存返回数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pzxh" type="pzxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="returnBz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>保存是否成功返回标志（Y保存成功N保存失败）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>原因</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
