标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00341/TaxMLBw_HXZG_SB_00341_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_zlfxsxxcj_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00341Response">
		<xs:annotation>
			<xs:documentation>增量房资料报送保存</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zlbscjuuid" type="zlbscjuuid">
						<xs:annotation>
							<xs:documentation>生成资料报送采集UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zlfxsxxcjb" type="zlfxsxxcjywbw">
						<xs:annotation>
							<xs:documentation>增量房销售信息采集表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
