标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00011/TaxMLBw_HXZG_ZM_00011_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicRDType.xsd"/>
	<xs:complexType name="HXZGZM00011Response">
		<xs:annotation>
			<xs:documentation>根据登记序号查询汇总纳税审批文号与被汇总纳税人清单</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="spwh" type="hznsspwh">
						<xs:annotation>
							<xs:documentation>汇总纳税审批文号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrq" type="sbrq1">
						<xs:annotation>
							<xs:documentation>申报日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lrksze" type="lrkse">
						<xs:annotation>
					<xs:documentation>利润（亏损）总额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hznsqyrdsqmxbGrid" type="HznsqyrdsqmxbGrid">
						<xs:annotation>
							<xs:documentation>汇总纳税企业认定申请明细信息表-被汇总纳税人信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HznsqyrdsqmxbGrid">
		<xs:annotation>
			<xs:documentation>汇总纳税企业认定申请明细信息表-被汇总纳税人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hznsqyrdsqmxbGridlb" type="RDHznsqyrdsqMxbVO">
				<xs:annotation>
					<xs:documentation>汇总纳税企业认定申请明细信息表-被汇总纳税人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
