标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01622/TaxMLBw_cztdsys_V2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_cztdsys_zb_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_cztdsys_fb_V1.0.xsd"/>
	<xs:complexType name="cztdsysywbw">
		<xs:annotation>
			<xs:documentation>《城镇土地使用税纳税申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cztdsyssb" type="cztdsyssb">
						<xs:annotation>
							<xs:documentation>《城镇土地使用税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cztdsyssymx" type="cztdsyssbsymxb">
						<xs:annotation>
							<xs:documentation>《城镇土地使用税纳税申报表》税源明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
