标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01622/TaxMLBd_cztdsys_zb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="cztdsyssbywbw">
		<xs:annotation>
			<xs:documentation>《城镇土地使用税纳税申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cztdsyssbzb" type="cztdsyssb">
						<xs:annotation>
							<xs:documentation>《城镇土地使用税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="cztdsyssb">
		<xs:annotation>
			<xs:documentation>《城镇土地使用税纳税申报表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="SBCcsNsrjbxxVO">
				<xs:annotation>
					<xs:documentation>申报表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cztdsysGrid" type="cztdsysGrid">
				<xs:annotation>
					<xs:documentation>城镇土地使用税申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slxxForm" type="SBCcsSlxxVO">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cztdsysGrid">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="cztdsysGridlb" type="cztdsysGridlbVo">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="cztdsysGridlbVo">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tddjDm" type="tddjDm">
				<xs:annotation>
					<xs:documentation>土地等级代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwse" type="dwse">
				<xs:annotation>
					<xs:documentation>单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzmj" type="tdzmj">
				<xs:annotation>
					<xs:documentation>土地总面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyfs" type="xs:long">
				<xs:annotation>
					<xs:documentation>计税月份数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmzmj" type="mj">
				<xs:annotation>
					<xs:documentation>减免总面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqmse" type="bqmse">
				<xs:annotation>
					<xs:documentation>本期免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjse" type="bqyjse">
				<xs:annotation>
					<xs:documentation>本期预缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtse" type="bqybtse">
				<xs:annotation>
					<xs:documentation>本期应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqxDm" type="sbqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqxDm" type="jkqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>缴款期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxxForm">
		<xs:annotation>
			<xs:documentation>受理信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsr" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjg" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrmc" type="bsrxm">
				<xs:annotation>
					<xs:documentation>税务代理人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrdz" type="slrDm">
				<xs:annotation>
					<xs:documentation>税务代理人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrjbr" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>税务代理人经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shrq" type="bsrxm">
				<xs:annotation>
					<xs:documentation>审核日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shr" type="slrDm">
				<xs:annotation>
					<xs:documentation>审核人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shjl" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>审核记录</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
