标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10063/TaxMLBw_HXZG_SB_10063_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_szyssb_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_szysjm_V1.0.xsd"/>
	
	<xs:complexType name="HXZGSB10063Request">
		<xs:annotation>
			<xs:documentation>水资源税申报错误更正保存请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="szyssbywbw" type="szyssbywbw">
						<xs:annotation>
							<xs:documentation>水资源税申报业务报文</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbNsrxxVO" type="SbCwgzNsrxxVo">
						<xs:annotation>
							<xs:documentation>申报纳税人信息VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zxbztzsuuid" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>自行补正uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="szyssbywbw">
		<xs:annotation>
			<xs:documentation>《水资源税申报》业务报文</xs:documentation>
		</xs:annotation>
		
		
		
				<xs:sequence>
					<xs:element name="szysSbb" type="szyssb">
						<xs:annotation>
							<xs:documentation>《水资源税税款申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="szysJmb" type="szysjm">
						<xs:annotation>
							<xs:documentation>《水资源税附表减免表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
	</xs:complexType>
</xs:schema>
