标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00860/TaxMLBd_0610807_V2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610807_V1.0.xsd"/>
	<xs:complexType name="jmqyzcgqhztsxswclsbb20Form">
		<xs:annotation>
			<xs:documentation>居民企业资产（股权）划转特殊性税务处理申报表业务报文（多表单）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jmqyzcgqhztsxswclsbbGrid">
				<xs:annotation>
					<xs:documentation>居民企业资产（股权）划转特殊性税务处理申报表_主表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jmqyzcgqhztsxswclsbbGridlbVO" type="jmqyzcgqhztsxswclsbbForm">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
