标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00860/TaxMLBd_0610692_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="jrqyzcmxbForm">
		<xs:annotation>
			<xs:documentation>金融企业支出明细表(A102020)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jrqyzcMxbVO" type="jrqyzcmxbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>金融企业支出明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jrqyzcmxbVO">
		<xs:annotation>
			<xs:documentation>《金融企业支出明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yyzc" type="je">
				<xs:annotation>
					<xs:documentation>营业支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhywzc" type="je">
				<xs:annotation>
					<xs:documentation>银行业务支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhlxzc" type="je">
				<xs:annotation>
					<xs:documentation>银行利息支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tycf" type="je">
				<xs:annotation>
					<xs:documentation>同业存放</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xzyyhjk" type="je">
				<xs:annotation>
					<xs:documentation>向中央银行借款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crzj" type="je">
				<xs:annotation>
					<xs:documentation>拆入资金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsck" type="je">
				<xs:annotation>
					<xs:documentation>吸收存款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mchgjrzc" type="je">
				<xs:annotation>
					<xs:documentation>卖出回购金融资产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fxzq" type="je">
				<xs:annotation>
					<xs:documentation>发行债券</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhlxzcqt" type="je">
				<xs:annotation>
					<xs:documentation>银行利息支出其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhsxfjyjzc" type="je">
				<xs:annotation>
					<xs:documentation>银行手续费及佣金支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sxfzc" type="je">
				<xs:annotation>
					<xs:documentation>手续费支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjzc" type="je">
				<xs:annotation>
					<xs:documentation>佣金支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhsxfjyjzcqt" type="je">
				<xs:annotation>
					<xs:documentation>银行手续费其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bxywzc" type="je">
				<xs:annotation>
					<xs:documentation>保险业务支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbj" type="je">
				<xs:annotation>
					<xs:documentation>退保金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pfzc" type="je">
				<xs:annotation>
					<xs:documentation>赔付支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thpfzc" type="je">
				<xs:annotation>
					<xs:documentation>摊回赔付支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tqbxzrzbj" type="je">
				<xs:annotation>
					<xs:documentation>提取保险责任准备金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thbxzrzbj" type="je">
				<xs:annotation>
					<xs:documentation>摊回保险责任准备金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdhlzc" type="je">
				<xs:annotation>
					<xs:documentation>保单红利支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fbfy" type="je">
				<xs:annotation>
					<xs:documentation>分保费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thfbfy" type="je">
				<xs:annotation>
					<xs:documentation>摊回分保费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bxywsxfjyjzc" type="je">
				<xs:annotation>
					<xs:documentation>保险业务手续费及佣金支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zqywzc" type="je">
				<xs:annotation>
					<xs:documentation>证券业务支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zqywsxfjyjzc" type="je">
				<xs:annotation>
					<xs:documentation>证券业务手续费及佣金支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zqjjywsxfzc" type="je">
				<xs:annotation>
					<xs:documentation>证券经纪业务手续费支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjywyjzc" type="je">
				<xs:annotation>
					<xs:documentation>证券佣金支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zqywsxfjyjzcqt" type="je">
				<xs:annotation>
					<xs:documentation>证券业务其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtzjywzc" type="je">
				<xs:annotation>
					<xs:documentation>其他证券业务支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtjrywzc" type="je">
				<xs:annotation>
					<xs:documentation>其他金融业务支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtywcb" type="je">
				<xs:annotation>
					<xs:documentation>其他业务成本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yywzc" type="je">
				<xs:annotation>
					<xs:documentation>营业外支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fldzcczss" type="je">
				<xs:annotation>
					<xs:documentation>非流动资产处置损失</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhbxzcjhss" type="je">
				<xs:annotation>
					<xs:documentation>非货币性资产交换损失</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zwzcss" type="je">
				<xs:annotation>
					<xs:documentation>债务重组损失</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzzc" type="je">
				<xs:annotation>
					<xs:documentation>捐赠支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fcss" type="je">
				<xs:annotation>
					<xs:documentation>非常损失</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yywzcqt" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
