标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00860/TaxMLBd_0610854_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qysdsFzjgYhbaqdForm">
		<xs:annotation>
			<xs:documentation>汇总纳税企业分支机构已备案优惠事项清单</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fzjgyhbaqd">
						<xs:annotation>
							<xs:documentation>汇总纳税企业分支机构已备案优惠事项清单</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="fzjgyhbaqdZb">
									<xs:annotation>
										<xs:documentation>汇总纳税企业分支机构已备案优惠事项清单主表</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0">
											<xs:element name="yhbaZbxx" type="fzjgyhbaqdZbxx"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="fzjgyhbaqdMxb">
									<xs:annotation>
										<xs:documentation>汇总纳税企业分支机构已备案优惠事项清单明细表</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence minOccurs="0" maxOccurs="unbounded">
											<xs:element name="fzjgyhbamxbGridVO" type="fzjgyhbamxbGrid">
												<xs:annotation>
													<xs:documentation>企业所得税汇总纳税分支机构所得税分配表-分支机构列表</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fzjgyhbaqdZbxx">
		<xs:annotation>
			<xs:documentation>分支机构优惠备案主表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="1">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh" minOccurs="1">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fzjgyhbamxbGrid">
		<xs:annotation>
			<xs:documentation>明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh" minOccurs="1">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="1">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swsxDm" type="swsxDm" minOccurs="1">
				<xs:annotation>
					<xs:documentation>税务事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgmc" type="swjgmc" minOccurs="1">
				<xs:annotation>
					<xs:documentation>税务机关名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
