标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00860/TaxMLBw_HXZG_SB_00860_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_qysdsndnssb2014_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00860Response">
		<xs:annotation>
			<xs:documentation>居民企业企业所得税查账征收年度申报（2014）获取纳税人基本数据信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbQysdszjgxxVO" type="SBQysdszjgxxVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>企业所得税汇总纳税分支机构分配表总机构情况信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fzjgxxGrid">
						<xs:annotation>
							<xs:documentation>企业所得税汇总纳税分支机构分配表分支机构情况信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="fzjgxxGridlb" type="SBQysdsfzjgxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbQysdsczzsndsbKstlfpGrid">
						<xs:annotation>
							<xs:documentation>企业所得税查账征收年度申报跨省铁路分配数据信息列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbQysdsczzsndsbKstlfpGridlb" type="SbQysdsczzsndsbKstlfpxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbQysdsczzsndsbmbkstzxxVO" type="SBQysdsczzsndsbmbkstzxxVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>企业所得税查账征收年度申报弥补亏损台账数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbQysdsczzsndsbsedmyhmxxxVO" type="SedmyhmxbForm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>企业所得税查账征收年度申报税额抵免优惠明细数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbQysdsczzsndsb2014NsrqtxxVO" type="SBQysdsczzsndsb2014NsrqtxxVO">
						<xs:annotation>
							<xs:documentation>企业所得税查账征收年度申报2014版纳税人其他申报信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbKssssrfpblGrid">
						<xs:annotation>
							<xs:documentation>跨省税收收入分配比例信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbKssssrfpblGridlb" type="SBKdqsssrfpblqkbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="djrq" type="skssqq">
						<xs:annotation>
							<xs:documentation>登记日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zxrq" type="skssqq">
						<xs:annotation>
							<xs:documentation>注销日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zhrmghgjmqycczzndnssbYwbw" type="qysdsCzzsNdnssbVO">
						<xs:annotation>
							<xs:documentation>申报纳税人主体数据查询信息对象</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBQysdsczzsndsb2014NsrqtxxVO">
		<xs:annotation>
			<xs:documentation>企业所得税查账征收年度申报2014版纳税人其他申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zfjglb" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总分机构类别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kdsAndkxqFlag" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>跨地区、跨县区标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdftfzjgFlag" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>就地分摊分支机构标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdyjbl" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>就地预缴比例（zfjglb为1时使用）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyjje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上期已缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyyjye" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>可用预缴余额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yyyjje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已用预缴金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cyrs" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>从业人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcze" type="zcze" minOccurs="0">
				<xs:annotation>
					<xs:documentation>资产总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sshyDm" type="sshyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>所属行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfkstlbz" type="sfzcdbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否跨省铁路标志（Y为跨省铁路、N为非跨省铁路）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kdqsssrfpBz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>跨地区税收收入分配标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgFtbl" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构分摊比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgCzjzFtbl" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构财政集中分摊比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgFtbl" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分之机构分摊比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjddfjmje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月季度地方减免金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgglwdjase" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月季度:总机构向其直接管理的建筑项目部所在地预分的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgftse" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月季度:总机构已分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgczjzftse" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月季度:财政集中已分配所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgftse" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月季度:总机构所属分支机构已分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scjydlbmse" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>月季度:其中：总机构主体生产经营部门已分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SbQysdsczzsndsbKstlfpxxVO">
		<xs:annotation>
			<xs:documentation>企业所得税查账征收年度申报跨省铁路分配数据信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xzqhszDm" type="xzqhszDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行政区划数字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzcdbz" type="sfzcdbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>是否注册地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpbl" type="fpbl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分配比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsswjgDm" type="zsswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
