标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00067/TaxMLBd_sbzfvo_forsbzf_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="sbSbzfxxVO">
		<xs:annotation>
			<xs:documentation>申报作废-保存申报作废参数VO</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="pzxh" type="pzxh">
						<xs:annotation>
							<xs:documentation>凭证序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yzpzzlDm" type="yzpzzlDm">
						<xs:annotation>
							<xs:documentation>应征凭证种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmDm" type="zsxmDm">
						<xs:annotation>
							<xs:documentation>征收项目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sjgsdq" type="sjgsdq">
						<xs:annotation>
							<xs:documentation>数据归属地区</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbuuid" type="sbuuid">
						<xs:annotation>
							<xs:documentation>申报uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrq1" type="sbrq1">
						<xs:annotation>
							<xs:documentation>申报日期</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ybtse" type="ybtse">
						<xs:annotation>
							<xs:documentation>应不退税额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbfsDm" type="sbfsDm">
						<xs:annotation>
							<xs:documentation>申报方式代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
