标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01808/TaxMLBw_HXZG_SB_01808_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB01808Response">
		<xs:annotation>
			<xs:documentation>根据房产交易采集UUID列表，从外部交换表批量查询拆迁补偿抵免总额返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="cqbcdmzeGrid">
						<xs:annotation>
							<xs:documentation>拆迁补偿抵免总额Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="cqbcdmzeGridlb" type="FcjycqbcdmzeVO">
									<xs:annotation>
										<xs:documentation>拆迁补偿抵免总额Gridlb</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FcjycqbcdmzeVO">
		<xs:annotation>
			<xs:documentation>拆迁补偿抵免总额信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fcjycjxxuuid" type="fcjycjxxuuid">
				<xs:annotation>
					<xs:documentation>拆迁补偿抵免总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cqbcdmze" type="cqbcdmze">
				<xs:annotation>
					<xs:documentation>拆迁补偿抵免总额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
