标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01615/TaxMLBw_HXZG_SB_01615_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by pl (css) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_ccssb_V2.0.xsd"/>
	<xs:complexType name="HXZGSB01615ResponseVO">
		<xs:annotation>
			<xs:documentation>车船税申报事前监控及获取期初数据</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ccssbywbw" type="ccssbywbw"/>
					<xs:element name="yjxxGrid" type="yjxxGrid"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="yjxxGrid1">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
