标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_01068/TaxMLBw_HXZG_FXCL_01068_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLPublicFZType.xsd"/>
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL01068Request">
		<xs:annotation>
			<xs:documentation>根据条件查询不予税务行政处罚决定书信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="byswxzcfjdsuuid" type="byswxzcfjdsuuid">
						<xs:annotation>
							<xs:documentation>不予税务行政处罚决定书UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sswfxwdjuuid" type="sswfxwdjuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>税收违法行为登记UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
