标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00010/TaxMLBd_031005013_V1.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYHType.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="ccsjmsbaywbw">
		<xs:annotation>
			<xs:documentation>车船税减免税备案报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ccsjmsbaVO" type="ccsjmsbaVO">
						<xs:annotation>
							<xs:documentation>车船税减免税备案表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ccsjmsbaVO">
		<xs:annotation>
			<xs:documentation>车船税减免税备案报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="YHJmsspjgVO" type="YHJmsspjgVO">
				<xs:annotation>
					<xs:documentation>减免结果表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clcbjmsbaGrid">
				<xs:annotation>
					<xs:documentation>车船减免备案列表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="clcbjmsbaGridlb" type="YHClcbjmbaxxVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DJYsqywslxxbVO" type="DJYsqywslxxbVO">
				<xs:annotation>
					<xs:documentation>申请受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
