标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00050/TaxMLBw_SSFWGL_SF_00050_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSFType.xsd"/>
	<xs:complexType name="SSFWGLSSFW00050Response">
		<xs:annotation>
			<xs:documentation>查询本省跨省写入的机构信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sszyfwxyxxbVO" type="sszyfwxyxxbVO">
						<xs:annotation>
							<xs:documentation>涉税专业服务协议信息表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sszyfwxyxmVOGrid">
						<xs:annotation>
							<xs:documentation>涉税专业服务协议项目VOGrid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="sszyfwxyxmVOGridlb" type="sszyfwxyxmVO">
									<xs:annotation>
										<xs:documentation>涉税专业服务协议项目VO</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
