标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00057/TaxMLBw_fjmqysdsndnssbbjssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610071_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610073_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610072_V1.0.xsd"/>
	<xs:complexType name="fjmqysdsndnssbbjssbywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国非居民企业所得税年度纳税申报表（适用于据实申报企业）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fjmqysdsndnssbbsyyjssbqy" type="fjmqysdsndnssbbsyyjssbqy">
						<xs:annotation>
							<xs:documentation>《中华人民共和国非居民企业所得税年度纳税申报表（适用于据实申报企业）》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yysrjcbfymxsbb" type="yysrjcbfymxsbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国非居民企业所得税年度纳税申报表（适用于据实申报企业）附表1营业收入及成本费用明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mbksmxsbb" type="mbksmxsbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国非居民企业所得税年度纳税申报表（适用于据实申报企业）附表2弥补亏损明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
