标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00252/TaxMLBw_HXZG_DJ_00252_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00252Request">
		<xs:annotation>
			<xs:documentation>投资方信息查询登记请求接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tzfhhhrzjzlDm" type="tzfhhhrzjzlDm">
						<xs:annotation>
							<xs:documentation>投资方（合伙人）证件种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tzfhhhrzjhm" type="tzfhhhrzjhm">
						<xs:annotation>
							<xs:documentation>投资方（合伙人）证件号码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tzfmc" type="tzfmc">
						<xs:annotation>
							<xs:documentation>投资方名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yxqq" type="yxqq">
						<xs:annotation>
							<xs:documentation>有效期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yxqz" type="yxqz">
						<xs:annotation>
							<xs:documentation>有效期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
