标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00252/TaxMLBw_HXZG_DJ_00252_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00252Response">
		<xs:annotation>
			<xs:documentation>投资方信息查询登记返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
                    <xs:extension base="taxDoc">
			<xs:sequence>
			<xs:element name="tzfxxGrid" type="TzfxxGrid"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TzfxxGrid">
		<xs:annotation>
			<xs:documentation>投资方信息（合伙人投资情况）</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tzfxxGridlb" type="DJTzfxxVO"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
