标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01887/TaxMLBw_HXZG_SB_01887_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_fcjysbsh_V1.0.xsd"/>
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:complexType name="HXZGSB01887Request">
		<xs:annotation>
			<xs:documentation>保存房产交易预审核申报信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fcjysbshbdywbw" type="fcjysbshbdywbw">
						<xs:annotation>
							<xs:documentation>房产税申报审核表单业务报文</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fcjycjxxuuid" type="fcjycjxxuuid">
						<xs:annotation>
							<xs:documentation>房产交易采集信息uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cwgzbz" type="cwgzbz" minOccurs="0">
						<xs:annotation>
							<xs:documentation>错误更正标志：传入N或者为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zxbztzsuuid" type="zxbztzsuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>自行补正uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fyjbxxuuid" type="fyjbxxuuid">
						<xs:annotation>
							<xs:documentation>房源基本信息uuid,房源主键</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
