标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00298/TaxMLBd_lrtdsfxx_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="lrtdsfxxVO">
		<xs:annotation>
			<xs:documentation>退（抵）税款及利息申请表业务表单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jbxxqForm" type="jbxxqFormVO"/>
			<xs:element name="tdsfmxGrid">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tdsfmxGridlb" type="tdsfmxGridVO" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="nsrjmxxGrid">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nsrjmxxGridlb" type="nsrjmxxGridVO" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
