标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00661/TaxMLBw_HXZG_SB_00661_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="HXZGSB00661Response">
		<xs:annotation>
			<xs:documentation>查询弥补以前年度亏损和计税依据申报数返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="mbyqndksje" type="je">
						<xs:annotation>
							<xs:documentation>弥补以前年度亏损金额</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jsyj" type="jsyj">
						<xs:annotation>
							<xs:documentation>计税依据</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
