标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00082生产经营所得申报基础数据查询请求/TaxDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="taxDoc" abstract="true">
		<xs:attribute name="bbh" type="xs:string" use="required"/>
		<xs:attribute name="xmlbh" type="xs:string" use="required"/>
		<xs:attribute name="xmlmc" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
