标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00082生产经营所得申报基础数据查询请求/TaxMLBw_GSGL_SB_082_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="scjysdsbjcsjcxRequest">
		<xs:annotation>
			<xs:documentation>生产经营所得申报基础数据查询请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dwdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>所投资或经营单位的登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起，不可为空，格式为yyyy-mm-dd</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止，不可为空，格式为yyyy-mm-dd</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zspmDm" type="zspmDm">
						<xs:annotation>
							<xs:documentation>征收品目代码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yzpzzlDm" type="yzpzzlDm">
						<xs:annotation>
							<xs:documentation>应征凭证种类代码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrq" type="sbrq">
						<xs:annotation>
							<xs:documentation>申报日期，不可为空，格式为yyyy-mm-dd</xs:documentation>
						</xs:annotation>
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
