标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00036/TaxMLBd_011001014_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="gtnsrswdjxxcjb">
		<xs:annotation>
			<xs:documentation>单位纳税人税务登记信息采集表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djSwdjbxxvo" type="DJSwdjbxxVO">
				<xs:annotation>
					<xs:documentation>税务登记表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djpzjgxxvo" type="DJPzjgxxVO">
				<xs:annotation>
					<xs:documentation>批准机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletegtnsrfyhyxxGrid" type="GtNsrfyhyxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人附营行业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updategtnsrfyhyxxGrid" type="GtNsrfyhyxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人附营行业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insertgtnsrfyhyxxGrid" type="GtNsrfyhyxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人附营行业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletegtfzjgxxGrid" type="GtFzjgxxGrid">
				<xs:annotation>
					<xs:documentation>分支机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updategtfzjgxxGrid" type="GtFzjgxxGrid">
				<xs:annotation>
					<xs:documentation>分支机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insertgtfzjgxxGrid" type="GtFzjgxxGrid">
				<xs:annotation>
					<xs:documentation>分支机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updategttzfxxGrid" type="GtTzfxxGrid">
				<xs:annotation>
					<xs:documentation>投资方信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletegttzfxxGrid" type="GtTzfxxGrid">
				<xs:annotation>
					<xs:documentation>投资方信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insertgttzfxxGrid" type="GtTzfxxGrid">
				<xs:annotation>
					<xs:documentation>投资方信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GtdkdjdsdjskxxGrid" type="GtDkdjdsdjskxxGrid">
				<xs:annotation>
					<xs:documentation>代扣代缴、代收代缴税款信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GtNsrfyhyxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人附营行业信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="nsrfyhyxxGridlb" type="DJNsrfyhyxxVO">
				<xs:annotation>
					<xs:documentation>纳税人附营行业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GtFzjgxxGrid">
		<xs:annotation>
			<xs:documentation>分支机构信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="fzjgxxGridlb" type="DJFzjgxxVO">
				<xs:annotation>
					<xs:documentation>分支机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GtTzfxxGrid">
		<xs:annotation>
			<xs:documentation>投资方信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tzfxxGridlb" type="DJTzfxxVO">
				<xs:annotation>
					<xs:documentation>投资方信息信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GtDkdjdsdjskxxGrid">
		<xs:annotation>
			<xs:documentation>代扣代缴、代收代缴税款信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dkdjdsdjskxxGridlb" type="DJDkdjdsdjskywqkVO">
				<xs:annotation>
					<xs:documentation>主管税务机关信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
