标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01904/TaxMLBw_fjmqysdsjdnssbbjssb2015_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610777_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610765_V1.0.xsd"/>
	<xs:complexType name="fjmqysdsjdnssbbjssb2015ywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国非居民企业所得税季度纳税申报表（适用于据实申报企业）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fjmqysdsjdnssbbsyyjssbqy2015" type="fjmqysdsjdnssbbsyyjssbqy2015">
						<xs:annotation>
							<xs:documentation>《中华人民共和国非居民企业所得税季度纳税申报表（适用于据实申报企业）》2015版本</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fjmqysdsjdnssbbsyyjssbqyssyhmxb2015" type="fjmqysdsjdnssbbsyyjssbqyssyhmxb2015">
						<xs:annotation>
							<xs:documentation>《中华人民共和国非居民企业所得税季度纳税申报表（适用于据实申报企业）》税收优惠明细表2015版本</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
