标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_SB_00007_全责模式结算申报保存应征/TaxMLBw_GSSB_SB_00007_Request_V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by adwadwa (TeaM DJiNN) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="GSSBFJSSBBCRequest">
		<xs:annotation>
			<xs:documentation>社会保险费结算申报保存业务请求报文(全责模式)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ShbxfNdjssbHead" type="ShbxfNdjssbHead">
						<xs:annotation>
							<xs:documentation>社会保险费年度结算申报表表头</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShbxfNdjssbDetailList" type="ShbxfNdjssbDetailList">
						<xs:annotation>
							<xs:documentation>社会保险费年度结算申报明细信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShbxfNdjssbHead">
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>缴费人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>社保主管税务机关代码,传入缴费人主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsrq" type="sjgsrq">
				<xs:annotation>
					<xs:documentation>数据归属日期,申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwlsgxDm" type="dwlsgxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位隶属关系代码,纳税人为单位时填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfsDm" type="sbfsDm">
				<xs:annotation>
					<xs:documentation>申报方式，直接传32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsDm" type="zsfsDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收方式，461: 查账征收  462:按上月缴费基数核定  463:按行业单户平均核定  464:按行业平均核定  465:按平均工资核定   466:灵活就业人员核定  469:其他征收方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm" >
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" >
				<xs:annotation>
					<xs:documentation>注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件类型代码，灵活就业人员填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码，灵活就业人员填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhzh" type="yhzh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>银行帐号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhmc" type="yhmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>银行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm" type="sbsxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>社保属性代码，默认0101(一般申报)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码，结算申报的凭证种类代码BDA0610143</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbxxly" type="sbxxly">
				<xs:annotation>
					<xs:documentation>
					社保信息来源：
					0：缴费人自行填报 
					1：税务机关缴费基数确定 可修改
					2：社保经办机构导入 不可修改
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jssqxssrze" type="xssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>结算申报属期收入总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ndxssrze" type="xssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年度销售收入总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qnpjzgrs" type="npjzgrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>全年平均职工人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nmzgrs" type="zgrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation> 年末职工人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nmcbrsYlbx" type="cbrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation> 年末参保人数 养老保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nmcbrsYiliaobx" type="cbrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年末参保人数 医疗保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nmcbrsSybx" type="cbrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年末参保人数 失业保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nmcbrsGsbx" type="cbrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年末参保人数 工伤保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nmcbrsShengyubx" type="cbrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年末参保人数 生育保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzr" type="cwfzr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财务负责人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>录入人代码，网报系统命名操作员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfNdjssbDetailList">
		<xs:annotation>
			<xs:documentation>社会保险费年度结算申报明细列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ShbxfNdjssbDetail" type="ShbxfNdjssbDetail">
				<xs:annotation>
					<xs:documentation>社会保险费年度结算申报表明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfNdjssbDetail">
		<xs:annotation>
			<xs:documentation>社保核定信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
					<xs:documentation>社保经办机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbbm" type="sbbm">
				<xs:annotation>
					<xs:documentation>社保编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjzspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>上级征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kkjxmje" type="kkjxmje">
				<xs:annotation>
					<xs:documentation>可扣减项目金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsssqgzze" type="gzze">
				<xs:annotation>
					<xs:documentation>结算属期工资总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsssqjfjs" type="jfjs">
				<xs:annotation>
					<xs:documentation>结算所属期缴费基数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsssqysbjfjs" type="jfjs">
				<xs:annotation>
					<xs:documentation>结算所属期已申报缴费基数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsssqybbjfjs" type="jfjs">
				<xs:annotation>
					<xs:documentation>结算所属期应补报缴费基数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfbl" type="jfbl">
				<xs:annotation>
					<xs:documentation>缴费比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tztjxmList">
				<xs:annotation>
					<xs:documentation>调增调减项目</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="CsSbfTztjxmDetail" type="CsSbfTztjxmDetail"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CsSbfTztjxmDetail">
		<xs:annotation>
			<xs:documentation>调增调减项目</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tztjxmxh" type="jzxhuuid">
				<xs:annotation>
					<xs:documentation>调增调减项目xh,该字段为调增调减项目主键</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tztjlx" type="bz1">
				<xs:annotation>
					<xs:documentation>调增调减项目类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tztjJe" type="kclxmtztjje">
				<xs:annotation>
					<xs:documentation>调增调减项目金额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="jfbl">
		<xs:annotation>
			<xs:documentation>缴费比例</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="tztjxmmc">
		<xs:annotation>
			<xs:documentation>调增调减项目名称</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sbxxly">
		<xs:annotation>
			<xs:documentation>社保信息来源</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
