标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00079/TaxMLBw_HXZG_DJ_00079_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00079Response">
		<xs:annotation>
			<xs:documentation>根据登记序号查询纳税人停业申请信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
		<xs:sequence>
			<xs:element name="tfyuuid" type="uuid">
				<xs:annotation>
					<xs:documentation>停复业uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hztyqxq" type="hztyqxq">
				<xs:annotation>
					<xs:documentation>核准停业期限起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hztyqxz" type="hztyqxz">
				<xs:annotation>
					<xs:documentation>核准停业期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lhswzjGrid" type="LhswzjGrid">
				<xs:annotation>
					<xs:documentation>领回税务证件信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lhfpxxGrid" type="LhfpxxGrid">
				<xs:annotation>
					<xs:documentation>领回发票信息</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="lhqtswzlGrid" type="LhqtswzlGrid">
				<xs:annotation>
					<xs:documentation>领回其他税务资料信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
			</xs:extension>
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LhswzjGrid">
		<xs:annotation>
			<xs:documentation>领回税务证件信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lhswzjGridlb" type="DJNsrzjjcxxVO">
				<xs:annotation>
					<xs:documentation>领回税务证件信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LhfpxxGrid">
		<xs:annotation>
			<xs:documentation>领回发票信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lhfpxxGridlb" type="DJTysqxxJcfpqkVO">
				<xs:annotation>
					<xs:documentation>领回发票信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
		<xs:complexType name="LhqtswzlGrid">
		<xs:annotation>
			<xs:documentation>货物信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lhqtswzlGridlb" type="DJTysqxxJcqtswzlqkVO">
				<xs:annotation>
					<xs:documentation>领回其他税务资料信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
