标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00020/TaxMLBw_SSFWGL_SF_00020_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSFType.xsd"/>
	<xs:complexType name="SSFWGLSSFW00020Request">
		<xs:annotation>
			<xs:documentation>保存税务师事务所行政登记信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="swsswsxzdjVO" type="ssjgxzdjbVO">
						<xs:annotation>
							<xs:documentation>涉税机构基本信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hhrhgdryList" type="hhrhgdryGrid">
						<xs:annotation>
							<xs:documentation>合伙人或股东人员信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtqdzyzgryList" type="qtqdzyzgryGrid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>其他取得职业资格人员信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SwsjggdhhrxxGrid" type="SwsjggdhhrxxGrid">
						<xs:annotation>
							<xs:documentation>机构合伙人或股东信息备案</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SwsjggdhhrzsxxGrid" type="SwsjggdhhrzsxxGrid">
						<xs:annotation>
							<xs:documentation>法人的职业资格证书信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
