标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_ZS_00015查询个人可退抵税（费）信息/TaxMLBw_GSGL_ZS_015_Request_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="cxgrktdsfxxrequest">
		<xs:annotation>
			<xs:documentation>查询个人可退抵税（费）信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yzpzxh" type="yzpzxh">
						<xs:annotation>
							<xs:documentation>应征凭证序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ttsjlxDm" type="ttsjlxDm">
						<xs:annotation>
							<xs:documentation>提退税金类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zjzlDm" type="sfzjlxDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>证件种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zjhm" type="sfzjhm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>证件号码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xm" type="xm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>姓名</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起，(格式:yyyy-MM-dd,可为空)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止，(格式:yyyy-MM-dd,可为空)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
