标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00368/TaxMLBw_HXZG_FXCL_00368_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLPublicFZType.xsd"/>
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL00368Request">
		<xs:annotation>
			<xs:documentation>根据条件（商品、货物或者其他财产UUID、案件信息UUID、决定书UUID、电子表证单书种类代码）查询返还商品、货物或者其他财产清单信息接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sphwhzqtccuuid" type="sphwhzqtccuuid">
						<xs:annotation>
							<xs:documentation>商品、货物或者其他财产UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ajxxuuid" type="ajxxuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>案件信息UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jdsuuid" type="jdsuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>决定书UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dzbzdszlDm" type="dzbzdszlDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>电子表证单书种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
