标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00050/TaxMLBd_031005016_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by pl (css) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYHType.xsd"/>
	<xs:complexType name="snyrlysyqytmxfszgbabywbw">
		<xs:annotation>
			<xs:documentation>石脑油燃料油使用企业退（免）消费税资格备案业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="snyrlysyqytmxfszgbab" type="snyrlysyqytmxfszgbab">
						<xs:annotation>
							<xs:documentation>石脑油燃料油使用企业退（免）消费税资格备案表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="snyrlysyqytmxfszgbab">
		<xs:annotation>
			<xs:documentation>石脑油燃料油使用企业退（免）消费税资格备案表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="YHSnyrlysyqytmxfszgbabVO" type="YHSnyrlysyqytmxfszgbabVO"/>
			<xs:element name="jmsspjgGrid">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="jmsspjgGridlb" type="YHJmsspjgVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DJYsqywslxxbVO" type="DJYsqywslxxbVO"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
