标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00159/TaxMLBw_HXZG_ZS_00159_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="HXZGZS00159Request">
		<xs:annotation>
			<xs:documentation>保存其他税种核定信息（依申请）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jbxxFormVo" type="ZSqtnshdsqYsqJbxxVo">
						<xs:annotation>
							<xs:documentation>基本信息区</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hdqxFormVo" type="ZSqtnshdsqYsqSqqxVo">
						<xs:annotation>
							<xs:documentation>核定期限信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YsxmGridVo">
						<xs:annotation>
							<xs:documentation>核定信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="ysxmVo" type="ZSqtnshdsqYsqYsxmVo"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
