标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00122/TaxMLBw_HXZG_YH_00122_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGYH00122Request">
		<xs:annotation>
			<xs:documentation>查询非居民享受税收协定待遇优惠信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjdjxh" type="kjdjxh">
						<xs:annotation>
							<xs:documentation>扣缴登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="htbh" type="htbh">
						<xs:annotation>
							<xs:documentation>合同编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yxqq" type="yxqq">
						<xs:annotation>
							<xs:documentation>有效期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yxqz" type="yxqz">
						<xs:annotation>
							<xs:documentation>有效期止</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uuid" type="uuid">
						<xs:annotation>
							<xs:documentation>UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
