标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00326/TaxMLBd_122035003_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_122034002_V1.0.xsd"/>
	<xs:complexType name="sbfxzcfsxgzsywbw">
		<xs:annotation>
			<xs:documentation>《社会保险费行政处罚事项告知书》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbfxzcfsxgzs" type="sbfxzcfsxgzsVO">
						<xs:annotation>
							<xs:documentation>《社会保险费行政处罚事项告知书》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sbfxzcfsxgzsVO">
		<xs:annotation>
			<xs:documentation>《社会保险费行政处罚事项告知书》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbfxzcfsxgzsForm" type="sbfxzcfsxgzsForm">
				<xs:annotation>
					<xs:documentation>社会保险费行政处罚事项告知书Form</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fxzcfqkGrid" type="fxzcfqkGrid">
				<xs:annotation>
					<xs:documentation>分险种处罚情况</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbfxzcfsxgzsForm">
		<xs:annotation>
			<xs:documentation>社会保险费行政处罚事项告知书Form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbfxzcfsxgzsuuid" type="sbfxzcfsxgzsuuid">
				<xs:annotation>
					<xs:documentation>社会保险费行政处罚事项告知书UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sswfxwdjuuid" type="sswfxwdjuuid">
				<xs:annotation>
					<xs:documentation>税收违法行为登记UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xqjnshbxftzuuid" type="xqjnshbxftzuuid">
				<xs:annotation>
					<xs:documentation>限期缴纳社会保险费通知UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgjg" type="swjgjg">
				<xs:annotation>
					<xs:documentation>税务机构局轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zg" type="zg">
				<xs:annotation>
					<xs:documentation>字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nh" type="nh">
				<xs:annotation>
					<xs:documentation>年号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wh" type="wh">
				<xs:annotation>
					<xs:documentation>文号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ajbh" type="ajbh">
				<xs:annotation>
					<xs:documentation>案件编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ajmc" type="ajmc">
				<xs:annotation>
					<xs:documentation>案件名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrsbh" type="jfrsbh">
				<xs:annotation>
					<xs:documentation>缴费人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrmc" type="jfrmc">
				<xs:annotation>
					<xs:documentation>缴费人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncfjdrq1" type="ncfjdrq1">
				<xs:annotation>
					<xs:documentation>拟处罚决定日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qjsbfje" type="qjsbfje">
				<xs:annotation>
					<xs:documentation>欠缴社会保险费金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cfje" type="cfje">
				<xs:annotation>
					<xs:documentation>处罚金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wszzrq" type="wszzrq">
				<xs:annotation>
					<xs:documentation>文书制作日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdslid" type="hdslid">
				<xs:annotation>
					<xs:documentation>活动实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjslid" type="sjslid">
				<xs:annotation>
					<xs:documentation>事件实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfbz1" type="zfbz1">
				<xs:annotation>
					<xs:documentation>作废标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrDm" type="zfrDm">
				<xs:annotation>
					<xs:documentation>作废人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq1" type="zfrq1">
				<xs:annotation>
					<xs:documentation>作废日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzbzdszlDm" type="dzbzdszlDm">
				<xs:annotation>
					<xs:documentation>电子表证单书种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlxqjntzwszg" type="zlxqjntzwszg">
				<xs:annotation>
					<xs:documentation>责令限期缴纳通知文书子轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlxqjnrq" type="zlxqjnrq">
				<xs:annotation>
					<xs:documentation>责令限期缴纳日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlxqjndd" type="zlxqjndd">
				<xs:annotation>
					<xs:documentation>责令限期缴纳地点</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wszg" type="wszg">
				<xs:annotation>
					<xs:documentation>文书字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
