标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/77 企业会计准则（担保企业会计核算办法）财务报表报送与信息采集/TaxMLbw_dbqykjhsbfcwbb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_dbqykjhsbfcwbb_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="Dbqykjhsbfcwbbywbw">
		<xs:annotation>
			<xs:documentation>总业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zcfzbVO" type="DbqykjhsbfZcfzbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>资产负债表（适用执行企业会计准则的担保类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lrjlrfpbVO" type="DbqykjhsbfLrjlrfpbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>利润及利润分配表（适用执行企业会计准则的担保类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syzqybdbVO" type="DbqykjhsbfSyzqybdbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>所有者权益（或股东权益）增减变动表（适用执行企业会计准则的担保类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zcfzbbwxmVO" type="DbqykjhsbfZcfzbbwxmVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>资产负债表表外项目（适用执行企业会计准则的担保类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fyazxzfldbcclVO" type="FyazxzfldbcclVO">
						<xs:annotation>
							<xs:documentation>费用按照性质分类的补充资料</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qykjzzfzVO" type="QykjzzfzVO">
						<xs:annotation>
							<xs:documentation>财务报表企业会计准则附注VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtsygxmjsdshzrsyqkVO" type="QtsygxmjsdshzrsyqkVO">
						<xs:annotation>
							<xs:documentation>其他综合收益各项目及其所得税影响和转入损益情况VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtzhsygxmdtjqkVO" type="QtzhsygxmdtjqkVO">
						<xs:annotation>
							<xs:documentation>其他综合收益各项目的调节情况VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xjllbVO" type="DbqykjhsbfxjllbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>现金流量表（适用执行企业会计准则的担保类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
