标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10000/TaxMLBd_0610027_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zzssyyybnsr_jdclscqyxsqktjbywbw">
		<xs:annotation>
			<xs:documentation>《机动车辆生产企业销售情况统计表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zzssyyybnsr_jdclscqyxsqktjb" type="zzssyyybnsr_jdclscqyxsqktjb">
						<xs:annotation>
							<xs:documentation>《机动车辆生产企业销售情况统计表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zzssyyybnsr_jdclscqyxsqktjb">
		<xs:annotation>
			<xs:documentation>《机动车辆生产企业销售情况统计表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbheadVO" type="sbbheadVO">
				<xs:annotation>
					<xs:documentation>申报表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdclscqyxsqktjbGrid">
				<xs:annotation>
					<xs:documentation>机动车辆生产企业销售情况统计表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="jdclscqyxsqktjbGridlbVO" type="jdclscqyxsqktjbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jdclscqyxsqktjbGrid">
		<xs:annotation>
			<xs:documentation>《机动车辆生产企业销售情况统计表》</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="jdclscqyxsqktjbGridlb" type="jdclscqyxsqktjbGridlbVO">
				<xs:annotation>
					<xs:documentation>机动车辆生产企业销售情况统计表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jdclscqyxsqktjbGridlbVO">
		<xs:annotation>
			<xs:documentation>机动车辆生产企业销售情况统计表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pjxsjg" type="pjxsjg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>平均销售价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xssl" type="xssl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpxh1" type="cpxh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>厂牌型号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xssr" type="xssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
