标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10000/TaxMLBd_0610534_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zzssyyybnsr_hqysqyfzjgcddywbw">
		<xs:annotation>
			<xs:documentation>《航空运输企业分支机构传递单》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zzssyyybnsr_hqysqyfzjgcdd">
						<xs:annotation>
							<xs:documentation>航空运输企业分支机构传递单</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="zzssyyybnsr_hqysqyfzjgcdd"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="trccfhdncpzzsjxseGrid">
		<xs:annotation>
			<xs:documentation>投入产出法核定农产品增值税进项税额Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="trccfhdncpzzsjxseGridlbVO" type="trccfhdncpzzsjxseGridlbVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trccfhdncpzzsjxseGridlbVO">
		<xs:annotation>
			<xs:documentation>投入产出法核定农产品增值税进项税额Grid列表VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cpmc1" type="cpmc1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>产品名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyncpmc" type="hyncpmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>耗用农产品名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdddhsl" type="hdddhsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>核定的单耗数量吨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcncpsl" type="qckcncpsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初库存农产品数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qcpjmj" type="qcpjmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初平均买价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqgjncpsl" type="dqgjncpsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>当期购进农产品数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqmj" type="dqmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>当期买价元/吨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pjgmdj" type="pjgmdj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>平均购买单价元/吨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqxshwsl" type="dqxshwsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>当期销售货物数量吨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcl" type="kcl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqyxdkncpjxse" type="dqyxdkncpjxse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>当期允许抵扣农产品进项税额元</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zzssyyybnsr_hqysqyfzjgcdd">
		<xs:annotation>
			<xs:documentation>《航空运输企业分支机构传递单》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="sbbheadVO">
				<xs:annotation>
					<xs:documentation>申报表表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trccfhdncpzzsjxseGrid">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="trccfhdncpzzsjxseGridlbVO" type="trccfhdncpzzsjxseGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
