标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00340个税税收管理申报表作废提交/TaxMLBw_GSGL_SB_340_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:element name="sbbzftjresponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="taxDoc">
					<xs:sequence>
						<xs:element name="yzpzxh" type="yzpzxh">
							<xs:annotation>
								<xs:documentation>应征凭证序号</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cljgDm" type="cljgDm">
							<xs:annotation>
								<xs:documentation>处理结果代码</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cljg" type="cljg">
							<xs:annotation>
								<xs:documentation>处理结果</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
