标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00340个税税收管理申报表作废提交/TaxMLBw_GSGL_SB_340_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbbzftjrequest">
		<xs:annotation>
			<xs:documentation>申报表作废提交请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yzpzxh" type="yzpzxh">
						<xs:annotation>
							<xs:documentation>应征凭证序号，用来进行作废的关键字，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
                    <xs:element name="lrrDm" type="lrrDm">
						<xs:annotation>
							<xs:documentation>录入人代码，不可为空，如果取不到的话，请提供一个全省统一的录入人代码（11位）</xs:documentation>
						</xs:annotation>
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
