标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00555/TaxMLBw_HXZG_ZS_00555_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS00555RequestVO">
		<xs:annotation>
			<xs:documentation>社保费票证使用情况回写待结报状态</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zSpzxxGrid">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="zSpzxxGridlb" type="HXZGZS00555pzxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		<xs:complexType name="HXZGZS00555pzxxVO">
		<xs:annotation>
			<xs:documentation>社保费票证使用情况回写待结报状态税票信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
					<xs:element name="swryDm" type="swryDm">
						<xs:annotation>
							<xs:documentation>操作人员ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzlDm" type="pzzlDm">
						<xs:annotation>
							<xs:documentation>票证种类</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzgDm" type="pzzgDm">
						<xs:annotation>
							<xs:documentation>票证字规</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzhm" type="pzhm">
						<xs:annotation>
							<xs:documentation>票证号码</xs:documentation>
						</xs:annotation>
					</xs:element>
				
				
		</xs:sequence>
	</xs:complexType>
</xs:schema>
