标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_00106/TaxMLBw_HXZG_FP_00106_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP00106Request">
		<xs:annotation>
			<xs:documentation>根据纳税人识别号校验发票担保申请资格</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fpDbsqVO" type="FPDbsqVO">
						<xs:annotation>
							<xs:documentation>发票担保申请表数据</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfxzdbsq" type="xs:string">
						<xs:annotation>
							<xs:documentation>是否新增担保申请数据</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scVOList">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="scVOListlb" type="FPDbccqdVO">
									<xs:annotation>
										<xs:documentation>删除发票担保VO</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="xzVOList">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="xzVOListlb" type="FPDbccqdVO">
									<xs:annotation>
										<xs:documentation>新增发票担保VO</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="xgVOList">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="xgVOListlb" type="FPDbccqdVO">
									<xs:annotation>
										<xs:documentation>修改发票担保VO</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
