标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/23 事业单位会计制度财务报表报送与信息采集/TaxMLbw_sydwzlbsyxxcj_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xiang (hbnu) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610329_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610330_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610346_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610325_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="sydwzlbsyxxcjywbw">
		<xs:annotation>
			<xs:documentation>总业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sysydwzcfzb" type="sysydwzcfzb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>资产负债表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sysydwczbzsrzc" type="sysydwczbzsrzcVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>财政补助收入支出</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sysydwsrzcbyb" type="sysydwsrzcbybVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>收入支出表月报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sysydwsrzcbnb" type="sysydwsrzcbnbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>收入支出表年报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sydwkjzdfzForm" type="SydwkjzdfzForm">
						<xs:annotation>
							<xs:documentation>事业单位会计制度附注</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
