标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00837/TaxMLBw_HXZG_DJ_00837_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00837Request">
		<xs:annotation>
			<xs:documentation>保存环保税噪声污染采集信息请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="Hbszswrcjxx" type="Hbszswrcjxx">
						<xs:annotation>
							<xs:documentation>噪声污染采集信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Hbszswrcjxx">
		<xs:annotation>
			<xs:documentation>噪声污染采集信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="insertZsjcxxcjGrid" type="insertZsjcxxcjGrid">
				<xs:annotation>
					<xs:documentation>新增噪声基础信息采集信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateZsjcxxcjGrid" type="updateZsjcxxcjGrid">
				<xs:annotation>
					<xs:documentation>修改噪声基础信息采集信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deleteZsjcxxcjGrid" type="deleteZsjcxxcjGrid">
				<xs:annotation>
					<xs:documentation>删除噪声基础信息采集表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="insertZsjcxxcjGrid">
		<xs:annotation>
			<xs:documentation>新增噪声基础信息采集信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="insertZsjcxxcjGridlb" type="DJZsjcxxcjVO">
				<xs:annotation>
					<xs:documentation>新增噪声基础信息采集信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="updateZsjcxxcjGrid">
		<xs:annotation>
			<xs:documentation>修改噪声基础信息采集信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="updateZsjcxxcjGridlb" type="DJZsjcxxcjVO">
				<xs:annotation>
					<xs:documentation>修改噪声基础信息采集信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deleteZsjcxxcjGrid">
		<xs:annotation>
			<xs:documentation>删除噪声基础信息采集信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="deleteZsjcxxcjGridlb" type="DJZsjcxxcjVO">
				<xs:annotation>
					<xs:documentation>删除噪声基础信息采集信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
