标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00837/TaxMLBw_HXZG_DJ_00837_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00837Response">
		<xs:annotation>
			<xs:documentation>保存环保税噪声污染采集信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bccgbz" type="yxbz">
						<xs:annotation>
							<xs:documentation>保存成功标志</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DjHjbhsdjfhxx">
		<xs:annotation>
			<xs:documentation>环保税税源返回信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HjbhsSyxxGrid" type="HjbhsSyxxGrid"/>
			<xs:element name="DJHbsjcxxcjbVO" type="DJHbsjcxxcjbVO"/>
			<xs:element name="PwxsjcxxcjGrid" type="PwxsjcxxcjGrid"/>
			<xs:element name="ZsjcxxcjGrid" type="ZsjcxxcjGrid"/>
			<xs:element name="DqswrwjcxxcjGrid" type="DqswrwjcxxcjGrid"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
