标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00259/TaxMLBw_HXZG_FXCL_00259_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFZType.xsd"/>
	<xs:complexType name="HXZGFXCL00259Response">
		<xs:annotation>
			<xs:documentation>根据岗位序号查询管辖范围已登记待处理（规费）违法行为返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ydjdclGrid" type="ydjdclGrid">
						<xs:annotation>
							<xs:documentation>已登记待处理违法案件</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ydjdclGrid">
		<xs:annotation>
			<xs:documentation>已登记待处理违法案件</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ydjdclGridlb" type="FZSswfxwdjVO" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>已登记待处理违法案件</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
