标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00051/TaxMLBw_SSFWGL_SF_00051_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSFType.xsd"/>
	<xs:complexType name="SSFWGLSSFW00051Request">
		<xs:annotation>
			<xs:documentation>根据协议采集编号和委托项目查询专项报告信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wtxycjbh" type="wtxyxxcjbh">
						<xs:annotation>
							<xs:documentation>委托协议信息采集编号</xs:documentation>
						</xs:annotation>
					</xs:element>
						<xs:element name="wtxmDmGrid">
						<xs:annotation>
							<xs:documentation>委托项目代码Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="wtxmDmGridlb" type="sszyfwwtxmDm">
									<xs:annotation>
										<xs:documentation>委托项目代码</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
