标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00486/TaxMLBw_HXZG_FXCL_00486_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL00486Response">
		<xs:annotation>
			<xs:documentation>文书送达保存返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sdxxuuidGrid">
						<xs:annotation>
							<xs:documentation>送达信息主键</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="sdxxuuidGridlb" type="ZHSdxxuuidGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZHSdxxuuidGridlbVO">
		<xs:annotation>
			<xs:documentation>送达信息主键列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sdxxuuid" type="sdxxuuid">
				<xs:annotation>
					<xs:documentation>送达信息主键</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdwsuuid" type="sdwsuuid">
				<xs:annotation>
					<xs:documentation>送达文书主键</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
