标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00864/TaxMLBd_0610762_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xuxin (csstj) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="jmsdsemxbbw">
		<xs:annotation>
			<xs:documentation>《减免所得税额明细表（附表3)》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence minOccurs="0">
					<xs:element name="jmsdsemxbFbThree">
						<xs:annotation>
							<xs:documentation>《减免所得税额明细表（附表3)》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="hjBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>合计本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="hjLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>合计累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="fhtjdxxwlqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>符合条件的小型微利企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="fhtjdxxwlqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>符合条件的小型微利企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jbzsBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>减半征税</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jbzsLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>减半征税累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="gjxyzdfcdgxjsqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>国家需要重点扶持的高新技术企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="gjxyzdfcdgxjsqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>国家需要重点扶持的高新技术企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jmdffxsdsdmzzzdfqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>减免地方分享所得税的民族自治地方企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jmdffxsdsdmzzzdfqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>减免地方分享所得税的民族自治地方企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jjtqhshpdxqxsldgxjsqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>经济特区和上海浦东新区新设立的高新技术企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jjtqhshpdxqxsldgxjsqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>经济特区和上海浦东新区新设立的高新技术企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="yjxwhsydwzzqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>经营性文化事业单位转制企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="yjxwhsydwzzqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>经营性文化事业单位转制企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dmqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>动漫企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dmqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>动漫企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szdqssyzdqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>受灾地区损失严重的企业</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szdqssyzdqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>受灾地区损失严重的企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szdqlcxysBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>受灾地区农村信用社本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szdqlcxysLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>受灾地区农村信用社累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szdqdcjjyqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>受灾地区的促进就业企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szdqdcjjyqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>受灾地区的促进就业企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jsxjxfwqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>技术先进型服务企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jsxjxfwqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>技术先进型服务企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xjkndqxbqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>新疆困难地区新办企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xjkndqxbqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>新疆困难地区新办企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xjkshegstsjjkfqxbqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>新疆喀什、霍尔果斯特殊经济开发区新办企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xjkshegstsjjkfqxbqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>新疆喀什、霍尔果斯特殊经济开发区新办企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zchcjzdqtcyjyqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>支持和促进重点群体创业就业企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zchcjzdqtcyjyqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>支持和促进重点群体创业就业企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jcdlxkxyldbjcdlqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>集成电路线宽小于0.8微米（含）的集成电路生产企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jcdlxkxyldbjcdlqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>集成电路线宽小于0.8微米（含）的集成电路生产企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jcdlxkxyldewjcdlqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>集成电路线宽小于0.25微米的集成电路生产企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jcdlxkxyldewjcdlqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>集成电路线宽小于0.25微米的集成电路生产企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="tzcgbsyrmbjcdlqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>投资额超过80亿元人民币的集成电路生产企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="tzcgbsyrmbjcdlqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>投资额超过80亿元人民币的集成电路生产企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xbjcdlsjqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>新办集成电路设计企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xbjcdlsjqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>新办集成电路设计企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="gjghbjnzdjcdlsjqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>国家规划布局内重点集成电路设计企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="gjghbjnzdjcdlsjqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>国家规划布局内重点集成电路设计企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="fhtjdrjqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>符合条件的软件企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="fhtjdrjqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>符合条件的软件企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="gjghbjnzdrjqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>国家规划布局内重点软件企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="gjghbjnzdrjqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>国家规划布局内重点软件企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szxbdqdgllcyqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>设在西部地区的鼓励类产业企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="szxbdqdgllcyqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>设在西部地区的鼓励类产业企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="fhtjdschzpscryzmypqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>符合条件的生产和装配伤残人员专门用品企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="fhtjdschzpscryzmypqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>符合条件的生产和装配伤残人员专门用品企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zgcgjgxjsqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>中关村国家高新技术企业本期</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zgcgjgxjsqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>中关村国家高新技术企业累计</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xsgdqssyhqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>享受过渡期税收优惠企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xsgdqssyhqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>享受过渡期税收优惠企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xdhfwyhzqqyBq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>现代化服务业合作区企业本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xdhfwyhzqqyLj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>现代化服务业合作区企业累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhqt1" type="jmxzDm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠其他1(减免性质代码)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhqt1Bq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠其他1本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhqt1Lj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠其他1累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhqt2" type="jmxzDm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠其他2(减免性质代码)</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhqt2Bq" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠其他2本期金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qtzxyhqt2Lj" type="je" minOccurs="0">
									<xs:annotation>
										<xs:documentation>其他专项优惠其他2累计金额</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jzmzlx" type="nsrsbh" minOccurs="0">
									<xs:annotation>
										<xs:documentation>减征免征类型 1减征2免征</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
