标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00864/TaxMLBw_qysdsczzsyjdsbnew_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610040_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610057_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610757_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610763_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610762_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610674_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610913_V1.0.xsd"/>
	<xs:complexType name="qysdsczzsyjdsbywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdsyjdyjnssbbal" type="qysdsyjdyjnssbbal">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bzssrhsjljmbw" type="bzssrhsjljmbw">
						<xs:annotation>
							<xs:documentation>《不征税收入和税基类减免应纳税所得额明细表（附表1）》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gdzcjszjbYjdbw" type="gdzcjszjbYjdbw">
						<xs:annotation>
							<xs:documentation>《固定资产加速折旧（扣除）明细表（_附表2）》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jmsdsemxbbw" type="jmsdsemxbbw">
						<xs:annotation>
							<xs:documentation>《减免所得税额明细表（附表3）》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qysdsyjdsbczzs_qysdshznsfzjgsdsfpsbb" type="qysdsyjdsbczzs_qysdshznsfzjgsdsfpsbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税汇总纳税分支机构所得税分配表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jscgtzrgqysdsdynsba" type="jscgtzrgqysdsdynsba">
						<xs:annotation>
							<xs:documentation>《技术成果投资入股企业所得税递延纳税备案表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cgwgqyxxbgbYw" type="cgwgqyxxbgbYw">
						<xs:annotation>
							<xs:documentation>《居民企业参股外国企业信息报告表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jzmzlx" type="nsrsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>减征免征类型 1减征2免征</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
