标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00043/TaxMLBd_031003006_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="jmsqspxxywbw">
		<xs:annotation>
			<xs:documentation>纳税人减免税申请审批信息采集业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jmsqspxx" type="jmsqspxx">
						<xs:annotation>
							<xs:documentation>减免税申请信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jmsqspxx">
		<xs:annotation>
			<xs:documentation>纳税人减免税申请审批信息表单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jmsqjbxxForm" type="jmsqjbxxForm"/>
			<xs:element name="jmssqbmxGrid" type="jmssqbmxGrid"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmsqjbxxForm">
		<xs:annotation>
			<xs:documentation>纳税人基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qddybscjysrrq" type="qddybscjysrrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>取得第一笔生产经营收入时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="squuid" type="squuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmssqbmxGrid">
		<xs:annotation>
			<xs:documentation>减免税优惠Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="jmssqbmxGridlb" type="jmssqbmxVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmssqbmxVO">
		<xs:annotation>
			<xs:documentation>纳税人减免税申请明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jmsspsxDm" type="jmsspsxDm">
				<xs:annotation>
					<xs:documentation>减免税审批事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmzlxDm" type="jmzlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmlxDm" type="jmlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmfsDm" type="jmfsDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxmdlDm" type="jmxmdlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免项目大类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxmxlDm" type="jmxmxlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免项目小类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzhzDm" type="ssjmxzhzDm">
				<xs:annotation>
					<xs:documentation>减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzdlDm" type="ssjmxzdlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质大类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzxlDm" type="ssjmxzxlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质小类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lmdybz" type="lmdybz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>栏目对应标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmsblmDm" type="ssjmsblmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报栏目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxq" type="jmqxq">
				<xs:annotation>
					<xs:documentation>减免期限起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxz" type="jmqxz">
				<xs:annotation>
					<xs:documentation>减免期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzsl" type="jzsl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减征税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzed" type="jzed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减征额度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzfd" type="jzfd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减征幅度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="squuid" type="squuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqmxuuid" type="sqmxuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请明细UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
