标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10229/TaxMLBw_HXZG_ZS_10229_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ZSHqkkhzxxVO">
		<xs:sequence>
			<xs:element name="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmmc">
				<xs:annotation>
					<xs:documentation>征收项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmmc">
				<xs:annotation>
					<xs:documentation>征收品目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqx">
				<xs:annotation>
					<xs:documentation>缴款期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjkse">
				<xs:annotation>
					<xs:documentation>已缴款税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wjkse">
				<xs:annotation>
					<xs:documentation>未缴款税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfyq">
				<xs:annotation>
					<xs:documentation>是否逾期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGZS10229ResponseVO">
		<xs:annotation>
			<xs:documentation>获取扣款回执信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zshqkkhzxxGrid">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="zshqkkhzxxGridlb" type="ZSHqkkhzxxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
