标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/决策二包业务/JC2B_NSXY_00011/TaxMLBw_R_S_J2_XY_802_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="TaxML.xsd"/>
    <xs:complexType name="RSJ2XY802Response">
        <xs:annotation>
            <xs:documentation>A级纳税人名单发布返回报文</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxDoc">
                <xs:sequence>
                    <xs:element name="cljg" type="cljg">
                        <xs:annotation>
                            <xs:documentation>处理结果</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="nsrList">
                        <xs:annotation>
                            <xs:documentation>A级纳税人数组</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="nsr" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="djxh" type="djxh">
                                                <xs:annotation>
                                                    <xs:documentation>登记序号</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="nsrsbh" type="nsrsbh">
                                                <xs:annotation>
                                                    <xs:documentation>纳税人识别号</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="pjnd" type="pjnd">
                                                <xs:annotation>
                                                    <xs:documentation>评价年度</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="nsrmc" type="nsrmc">
                                                <xs:annotation>
                                                    <xs:documentation>纳税人名称</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="zgswjgmc" type="zgswjgmc">
                                                <xs:annotation>
                                                    <xs:documentation>主管税务机关名称</xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
