标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10066/TaxMLBw_HXZG_SB_10066_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061015008_V1.0.xsd"/>
	<xs:complexType name="HXZGSB10066Response">
		<xs:annotation>
			<xs:documentation>所得税年报表载入基本信息表单的基础数据返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yqsbbz" type="bz1">
						<xs:annotation>
							<xs:documentation>逾期申报申报标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjzdzzDm" type="kjzdzzDm">
						<xs:annotation>
							<xs:documentation>会计制度准则代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="A000000" type="A000000Ywbd">
						<xs:annotation>
							<xs:documentation>基本信息表表单信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
