标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01785/TaxMLBw_HXZG_SB_01785_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (monitor20) 使用XMLSpy vCSS编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB01785Request">
		<xs:annotation>
			<xs:documentation>增值税预缴纳税申报信息请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zzsyjnssbQueryVO">
						<xs:annotation>
							<xs:documentation>查询条件VO</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="djxh" type="djxh">
									<xs:annotation>
										<xs:documentation>登记序号</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="skssqq" type="skssqq">
									<xs:annotation>
										<xs:documentation>税款所属期起</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="skssqz" type="skssqq">
									<xs:annotation>
										<xs:documentation>税款所属期止</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="syybjsff" type="bz">
									<xs:annotation>
										<xs:documentation>是否适用一般计税方法</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="nsqxDm" type="nsqxDm">
									<xs:annotation>
										<xs:documentation>纳税期限代码</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
