标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00728/TaxMLBw_HXZG_SB_00728_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="HXZGSB00728Request">
		<xs:annotation>
			<xs:documentation>企业会计制度财务报表报送与采集查询上年年末数据业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SB100BdVO" type="SB100BdxxVO">
						<xs:annotation>
							<xs:documentation>资料报送信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SB100BdxxVO">
		<xs:sequence>
			<xs:element name="zlbsuuid" type="zlbsuuid">
				<xs:annotation>
					<xs:documentation>资料报送UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlbsdlDm" type="zlbsdlDm">
				<xs:annotation>
					<xs:documentation>资料报送大类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlbsxlDm" type="zlbsxlDm">
				<xs:annotation>
					<xs:documentation>资料报送小类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zllx" type="zllx">
				<xs:annotation>
					<xs:documentation>资料类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlsl" type="zlsl">
				<xs:annotation>
					<xs:documentation>资料数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cfdz" type="cfdz">
				<xs:annotation>
					<xs:documentation>存放地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjbdxml" type="yspzXmlsj">
				<xs:annotation>
					<xs:documentation>采集表单XML</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzbzdszlDm" type="dzbzdszlDm">
				<xs:annotation>
					<xs:documentation>电子表证单书种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="SBCjbmxGrid">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="SBCjbmxGridlb" type="SBCjbmxVO"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SBCjbmxVO">
		<xs:sequence>
			<xs:element name="zlbsuuid" type="zlbsuuid">
				<xs:annotation>
					<xs:documentation>资料报送UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssqq" type="ssqq">
				<xs:annotation>
					<xs:documentation>所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssqz" type="ssqz">
				<xs:annotation>
					<xs:documentation>所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bszlDm" type="bszlDm">
				<xs:annotation>
					<xs:documentation>报送资料代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlbscjuuid" type="zlbscjuuid">
				<xs:annotation>
					<xs:documentation>资料报送采集UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
