标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10190/TaxDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="taxList">
		<xs:sequence>
			<xs:element name="nsrsbh"/>
			<xs:element name="nsrmc" type="taxDoc"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="taxDoc" abstract="true">
		<xs:attribute name="bbh" type="xs:string" use="required"/>
		<xs:attribute name="xmlbh" type="xs:string" use="required"/>
		<xs:attribute name="xmlmc" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
