标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00242/TaxMLBd_121011008_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="swsxtzstzzztzywbw">
		<xs:annotation>
			<xs:documentation>《税务事项通知书（听证中止通知、听证终止通知）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="swsxtzstzzztz" type="FZSwsxtzstzzztzVO">
						<xs:annotation>
							<xs:documentation>《税务事项通知书（听证中止通知、听证终止通知）》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FZSwsxtzstzzztzVO">
		<xs:annotation>
			<xs:documentation>《税务事项通知书（听证中止通知、听证终止通知）》VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tzzztzsuuid" type="tzzztzsuuid">
				<xs:annotation>
					<xs:documentation>听证中止通知书UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sswfxwdjuuid" type="sswfxwdjuuid">
				<xs:annotation>
					<xs:documentation>税收违法行为登记UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgjg" type="swjgjg">
				<xs:annotation>
					<xs:documentation>税务机构局轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zg" type="zg">
				<xs:annotation>
					<xs:documentation>字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nh" type="nh">
				<xs:annotation>
					<xs:documentation>年号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wh" type="wh">
				<xs:annotation>
					<xs:documentation>文号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wszg" type="wszg">
				<xs:annotation>
					<xs:documentation>文书字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wszzrq" type="wszzrq">
				<xs:annotation>
					<xs:documentation>文书制作日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sy" type="sy">
				<xs:annotation>
					<xs:documentation>事由</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yj1" type="yj1">
				<xs:annotation>
					<xs:documentation>依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzly1" type="zzly1">
				<xs:annotation>
					<xs:documentation>中止理由（终止理由）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjslid" type="sjslid">
				<xs:annotation>
					<xs:documentation>事件实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdslid" type="hdslid">
				<xs:annotation>
					<xs:documentation>活动实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ajbh" type="ajbh">
				<xs:annotation>
					<xs:documentation>案件编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ajmc" type="ajmc">
				<xs:annotation>
					<xs:documentation>案件名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqsx" type="sqsx">
				<xs:annotation>
					<xs:documentation>申请事项</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrq" type="sqrq">
				<xs:annotation>
					<xs:documentation>申请日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
