标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00009/TaxMLBw_HXZG_YH_00009_Request_V1.0 .xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.chinatax.gov.cn/dataspec/">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGYH00009Request">
		<xs:annotation>
			<xs:documentation>车船税减免备案重复校验</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element minOccurs="0" name="clsbdh" type="clsbdh">
						<xs:annotation>
							<xs:documentation>车辆识别代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="cbsbh" type="cbsbh">
						<xs:annotation>
							<xs:documentation>船舶识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jmqxq" type="jmqxq">
						<xs:annotation>
							<xs:documentation>查询日期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jmqxz" type="jmqxz">
						<xs:annotation>
							<xs:documentation>有效期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
