标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00035/TaxMLBw_SSFWGL_SF_00035_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSFType_00035.xsd"/>
	<xs:complexType name="SSFWGLSSFW00035Response">
		<xs:annotation>
			<xs:documentation>查询上级行政登记序号（从总分所维护表中）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ssjgryxxVOGrid">
						<xs:annotation>
							<xs:documentation>涉税机构人员Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="ssjgryxxVOGridlb" type="ssjgryxxVO">
									<xs:annotation>
										<xs:documentation>涉税机构人员Gridlb</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
