标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00099/TaxMLBd_0610131_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="wtdzskmxbgbywbw">
		<xs:annotation>
			<xs:documentation>委托代征税款明细报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wtdzskmxbbgb" type="wtdzskmxbbgb">
						<xs:annotation>
							<xs:documentation>委托代征税款明细表报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="wtdzskmxbbgb">
		<xs:annotation>
			<xs:documentation>委托代征税款明细表报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="wtnsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wtdzskmxbgbGrid">
				<xs:annotation>
					<xs:documentation>委托代征税款明细报告表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="wtdzskmxbgbGridlb" type="wtdzskmxbgbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="wtdzskbgbGrid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>委托代征税款报告表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="wtdzskbgbGridlb" type="wtdzskbgbGridlbVO">
							<xs:annotation>
								<xs:documentation>委托代征税款报告表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxxform" type="slxxFormVO">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wtnsrxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrq" type="bsrq">
				<xs:annotation>
					<xs:documentation>报送日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswksfjDm" type="dszgswskfjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务所科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csforqzd" type="qzd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>起征点</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saveHz" type="hzbj">
				<xs:annotation>
					<xs:documentation>汇总标记(Y代表汇总申报,N代表明细申报)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gsdz" type="flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国税代征标记（Y代表国税代征标志,不填或N代表委托代征申报）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wtdzskmxbgbGridlbVO">
		<xs:annotation>
			<xs:documentation>委托代征税款明细报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdznsrsbh" type="bdznsrsbh">
				<xs:annotation>
					<xs:documentation>被代征纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdzcbsbh" type="bdzcbsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被代征船舶识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdznsrmc" type="bdznsrmc">
				<xs:annotation>
					<xs:documentation>被代征纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdzcbmc" type="bdzcbmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被代征船舶名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjzl" type="sfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>证件类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjhm" type="zjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydzse" type="ynse">
				<xs:annotation>
					<xs:documentation>应代征税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydzse1" type="yjse">
				<xs:annotation>
					<xs:documentation>已代征税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzhcs" type="dzhcs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代征户次数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybz" type="sybzDm1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源标志代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh" type="sybh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syzl" type="syzl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源坐落</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="symc" type="symc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdzdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>被代征登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qzdbz" type="wdqzdbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>起征点标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsdbnsqxdm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税期限代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxxbz" type="jmsbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwse" type="dwse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="ynse">
				<xs:annotation>
					<xs:documentation>应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="zgswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssdabh" type="ssdabh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收档案编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjdqDm" type="gjdqDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国籍地区代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswksfjDm" type="dszgswskfjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务所科分局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjse" type="yjse">
				<xs:annotation>
					<xs:documentation>已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swsxDm" type="swsxDm">
				<xs:annotation>
					<xs:documentation>税务事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wtdzskbgbGridlbVO">
		<xs:annotation>
			<xs:documentation>委托代征税款报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hyDm" type="hyDm">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydzse" type="ynse">
				<xs:annotation>
					<xs:documentation>应代征税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydzse1" type="yjse">
				<xs:annotation>
					<xs:documentation>已代征税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzhcs" type="dzhcs">
				<xs:annotation>
					<xs:documentation>代征户次数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjse" type="yjse">
				<xs:annotation>
					<xs:documentation>已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slxxFormVO">
		<xs:annotation>
			<xs:documentation>委托代征受理信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sfdlsb" type="sfdlsb">
				<xs:annotation>
					<xs:documentation>是否代理申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrmc" type="swdlrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税务代理机构名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlr" type="dlr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlrlxdh" type="dlrlxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xzqhsf" type="xzqhsf" minOccurs="0">
				<xs:annotation>
					<xs:documentation>省份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xzqhds" type="xzqhds" minOccurs="0">
				<xs:annotation>
					<xs:documentation>地市</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xzqhqx" type="xzqhqx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>区县</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>街道乡镇</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrdz" type="swdlrdz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqr" type="sqr">
				<xs:annotation>
					<xs:documentation>申请人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdlrjbr" type="swdlrjbrxm">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzg" type="kjzgmc">
				<xs:annotation>
					<xs:documentation>会计主管</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slr">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blrysfzjlxDm" type="blrysfzjlxDm">
				<xs:annotation>
					<xs:documentation>办理人员身份证件类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blrysfzjhm" type="blrysfzjhm">
				<xs:annotation>
					<xs:documentation>办理人员身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
