标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00366查询天使投资个人所得税投资抵扣备案信息/TaxML_GSGL_SB_00366_Response_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbTstzGrsdsTzdkBaxxCxResponse">
		<xs:annotation>
			<xs:documentation>天使投资个人所得税投资抵扣备案信息查询-返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tstzgrjbqk" type="tstzgrjbqk">
						<xs:annotation>
							<xs:documentation>天使投资个人基本情况</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tstztzdkbaxxGrid" type="tstztzdkbaxxGrid">
						<xs:annotation>
							<xs:documentation>天使投资个人所得税投资抵扣备案信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tstzgrjbqk">
		<xs:annotation>
			<xs:documentation>天使投资个人基本情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlx_dm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdqsz_dm" type="gjhdqsz_dm">
				<xs:annotation>
					<xs:documentation>国籍（地区）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdhhm" type="grlxdh">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdz" type="lxdz">
				<xs:annotation>
					<xs:documentation>联系地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tstztzdkbaxxGrid">
		<xs:annotation>
			<xs:documentation>天使投资个人所得税投资抵扣备案信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="tstztzdkbaxx" type="tstztzdkbaxx">
				<xs:annotation>
					<xs:documentation>天使投资个人所得税投资抵扣备案信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tstztzdkbaxx">
		<xs:annotation>
			<xs:documentation>初创科技型企业及天使投资个人投资情况</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="babh" type="babh">
				<xs:annotation>
					<xs:documentation>备案编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jywysbh" type="jywysbh">
						<xs:annotation>
							<xs:documentation>交易唯一识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
			<xs:element name="kjywrdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>初创科技型企业登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cckjxqynsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>初创科技型企业纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cckjxqymc" type="cckjxqymc">
				<xs:annotation>
					<xs:documentation>初创科技型企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cckjxqyslsj" type="rq">
				<xs:annotation>
					<xs:documentation>设立时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cckjxqyzcdz" type="zcdz">
				<xs:annotation>
					<xs:documentation>注册地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zxqssj" type="rq">
				<xs:annotation>
					<xs:documentation>注销清算时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qsqydktze" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>清算前已抵扣投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljg" type="dljg">
				<xs:annotation>
					<xs:documentation>代理机构</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxr" type="xm">
				<xs:annotation>
					<xs:documentation>联系人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tstztzdkbaxxMx" type="tstztzdkbaxxMx">
				<xs:annotation>
					<xs:documentation>天使投资个人所得税投资抵扣备案明细信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tstztzdkbaxxMxGrid">
		<xs:annotation>
			<xs:documentation>天使投资个人所得税投资抵扣备案明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="tstztzdkbaxxMx" type="tstztzdkbaxxMx">
				<xs:annotation>
					<xs:documentation>天使投资个人所得税投资抵扣备案明细信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tstztzdkbaxxMx">
		<xs:annotation>
			<xs:documentation>天使投资个人所得税投资抵扣备案明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tzrq" type="rq">
				<xs:annotation>
					<xs:documentation>投资日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cyrs" type="cyrs">
				<xs:annotation>
					<xs:documentation>从业人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bkysxlrszb" type="bkysxlrszb">
				<xs:annotation>
					<xs:documentation>本科以上学历人数占比,（返回的为百分数，如占比12.5%返回为12.5）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcze" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>资产总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nxssr" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>年销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yffyzezcbfyzcbl" type="yffyzezcbfyzcbl">
				<xs:annotation>
					<xs:documentation>研发费用总额占成本费用支出的比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cgblsfcgx" type="cgblsfcsx">
				<xs:annotation>
					<xs:documentation>投资2年内与其亲属合计持股比例是否超过50%（0：否；1：是）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tze" type="tstzjelx">
				<xs:annotation>
					<xs:documentation>投资额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
