标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00132/TaxMLBw_HXZG_YH_00132_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYHType.xsd"/>
	<xs:complexType name="HXZGYH00132Request">
		<xs:annotation>
			<xs:documentation>税收减免备案申请采集</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务科所分局代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ＩＤ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qysdsjmbaVO" type="qysdsjmbaVO">
						<xs:annotation>
							<xs:documentation>企业所得税备案信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdsjmbaVO">
		<xs:annotation>
			<xs:documentation>企业所得税减免备案ＶＯ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jbr" type="jbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrq" type="sqrq">
				<xs:annotation>
					<xs:documentation>申请日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YHJmssqspbVO" type="YHJmssqspbVO">
				<xs:annotation>
					<xs:documentation>减免备案申请信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YHJmsspjgGrid">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="YHJmsspjgGridlb" type="YHJmsspjgVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slswsxDm" type="slswsxDm">
				<xs:annotation>
					<xs:documentation>受理税务事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjghzyj" type="swjghzyj">
				<xs:annotation>
					<xs:documentation>税务机关回执意见</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
