标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00067/TaxMLBw_HXZG_RD_00067_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicRDType.xsd"/>
	<xs:complexType name="HXZGRD00067Request">
		<xs:annotation>
			<xs:documentation>保存非居民享受税收协定待遇身份信息报告表（适用于企业）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务所科分局代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xduuid" type="xduuid">
						<xs:annotation>
							<xs:documentation>协定uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fjmxsssxddysfqyxxbgb" type="fjmxsssxddysfqyxxbgbVO">
						<xs:annotation>
							<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fjmxsssxddysfqyxxbgbVO">
		<xs:annotation>
			<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rdSsxddyspqysfbgb" type="RDSsxddyspQysfbgbVO">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qyzdfnsqkGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）_在对方纳税情况新增</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="qyzdfnsqkGridlb" type="RDSsxddyspZdfnsqkVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）_在对方纳税情况新增列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="qydsfgdqkGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）_第三方股东情况新增</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="qydsfgdqkGridlb" type="RDSsxddyspGdqkVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）_第三方股东情况新增列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="qyjyzfqkGrid">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）_关联方交易支付情况新增</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="qyjyzfqkGridlb" type="RDSsxddyspQyjyzfqkVO">
							<xs:annotation>
								<xs:documentation>非居民享受税收协定待遇身份信息报告表（适用于企业）_关联方交易支付情况新增列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
