标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01677/TaxMLBd_0610768_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by HBNU (HBNU) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="fjmqysdsJrqysrmxb">
		<xs:annotation>
			<xs:documentation>《中华人民共和国非居民企业所得税金融企业收入明细表（适用于据实申报企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fjmqysdsJrqysrmxbForm" type="fjmqysdsJrqysrmxbForm">
				<xs:annotation>
					<xs:documentation>非居民企业所得税金融企业收入明细表（适用于据实申报企业）信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fjmqysdsJrqysrmxbForm">
		<xs:annotation>
			<xs:documentation>非居民企业所得税金融企业收入明细表（适用于据实申报企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yysr" type="yysr">
				<xs:annotation>
					<xs:documentation>营业收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhywsr" type="yhywsrje">
				<xs:annotation>
					<xs:documentation>银行业务收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxsr" type="lxsrje">
				<xs:annotation>
					<xs:documentation>利息收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cfty" type="je">
				<xs:annotation>
					<xs:documentation>存放同业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cfzyyh" type="cfzyyhlxsrje">
				<xs:annotation>
					<xs:documentation>存放中央银行</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cczj" type="cczjlxsr">
				<xs:annotation>
					<xs:documentation>拆出资金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ffdkjdz" type="je">
				<xs:annotation>
					<xs:documentation>发放贷款及垫资</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mrfsjrzc" type="mrfsjrzcLxsr">
				<xs:annotation>
					<xs:documentation>买入返售金融资产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxsrqt" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sxfjyjsr" type="sxfjyjsr">
				<xs:annotation>
					<xs:documentation>手续费及佣金收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyqssxf" type="jsyqssxfsr">
				<xs:annotation>
					<xs:documentation>结算与清算手续费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlywsxf" type="dlywsxfsr">
				<xs:annotation>
					<xs:documentation>代理业务手续费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xycnsxfjyj" type="xycnsxfjyjsrje">
				<xs:annotation>
					<xs:documentation>信用承诺手续费及佣金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhksxf" type="yhksxfsrje">
				<xs:annotation>
					<xs:documentation>银行卡手续费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gwhzxf" type="gwhzxfsr">
				<xs:annotation>
					<xs:documentation>顾问和咨询费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tgjqtstywyj" type="tgjqtstywyjsrje">
				<xs:annotation>
					<xs:documentation>托管及其他受托业务佣金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sxfjyjsrqt" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzbf" type="yzbf">
				<xs:annotation>
					<xs:documentation>已赚保费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bxywsr" type="bxywsr">
				<xs:annotation>
					<xs:documentation>保险业务收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qzfbfsr" type="je">
				<xs:annotation>
					<xs:documentation>其中：分保费收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fcbf" type="fcbf">
				<xs:annotation>
					<xs:documentation>分出保费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tqwdqzrzbj" type="tqwdqzrzbjje">
				<xs:annotation>
					<xs:documentation>提取未到期责任准备金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtjrywsr" type="qtjrywsr">
				<xs:annotation>
					<xs:documentation>其他金融业务收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdsy" type="hdsyje">
				<xs:annotation>
					<xs:documentation>汇兑收益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtywsr" type="qtywsr">
				<xs:annotation>
					<xs:documentation>其他业务收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yywsr" type="yywsr">
				<xs:annotation>
					<xs:documentation>营业外收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fldzcczld" type="je">
				<xs:annotation>
					<xs:documentation>非流动资产处置利得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fhbxzcjhld" type="je">
				<xs:annotation>
					<xs:documentation>非货币性资产交换利得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zwczld" type="je">
				<xs:annotation>
					<xs:documentation>债务重组利得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfbzld" type="je">
				<xs:annotation>
					<xs:documentation>政府补助利得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pyld" type="je">
				<xs:annotation>
					<xs:documentation>盘盈利得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzld" type="je">
				<xs:annotation>
					<xs:documentation>捐赠利得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yywsrqt" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
