标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01677/TaxMLBd_0610775_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by HBNU (HBNU) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="fjmqysdsDwhzkcsyqyktkffyndmxb">
		<xs:annotation>
			<xs:documentation>《中华人民共和国非居民企业所得税对外合作开采石油企业勘探开发费用年度明细表（适用于据实申报企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fjmqysdsDwhzkcsyqyktkffyndmxbForm" type="fjmqysdsDwhzkcsyqyktkffyndmxbForm">
				<xs:annotation>
					<xs:documentation>非居民企业所得税对外合作开采石油企业勘探开发费用年度明细表（适用于据实申报企业）信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fjmqysdsDwhzkcsyqyktkffyndmxbForm">
		<xs:annotation>
			<xs:documentation>非居民企业所得税对外合作开采石油企业勘探开发费用年度明细表（适用于据实申报企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="htqh1" type="hth">
				<xs:annotation>
					<xs:documentation>合同区号1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htqh2" type="hth">
				<xs:annotation>
					<xs:documentation>合同区号2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htqh3" type="hth">
				<xs:annotation>
					<xs:documentation>合同区号3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfahtblftktzyf1" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfahtblftktzyf2" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfahtblftktzyf3" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyflhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyflhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费集团公司分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfddfs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfbqhj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktzyfljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探作业费累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxahtblftfy1" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxahtblftfy2" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxahtblftfy3" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxddfs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxbqhj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcktjklxljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额勘探借款利息累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglflhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglflhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfddfs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfbqhj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcjyglfljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额经营管理费累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglflhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglflhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfddfs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfbqhj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzcsjglfljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额上级管理费累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjddfs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjbqhj" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ktfyzchjljzs" type="je">
				<xs:annotation>
					<xs:documentation>勘探费用支出额合计累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyflhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyflhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfddfs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfbqhj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfzyfljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发作业费累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxddfs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息公司单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxbqhj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzckfjklxljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额开发借款利息累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglflhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglflhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfddfs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfbqhj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcjyglfljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额经营管理费累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglflhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglflhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfddfs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfbqhj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzcsjglfljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额上级管理费累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjddfs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjbqhj" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kffyzchjljzs" type="je">
				<xs:annotation>
					<xs:documentation>开发费用支出额合计累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>总计按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>总计按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>总计按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>总计联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>总计联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>总计公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjddfs" type="je">
				<xs:annotation>
					<xs:documentation>总计单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjbqhj" type="je">
				<xs:annotation>
					<xs:documentation>总计本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjljzs" type="je">
				<xs:annotation>
					<xs:documentation>总计累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxddfs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxbqhj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfyytxljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，折旧额勘探费用已摊销额累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjddfs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjbqhj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffyyzjljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用已折旧额累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxddfs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额公司单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxbqhj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdktfydtxljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，勘探费用待摊销额累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjahtftfy1" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额按合同分摊费用1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjahtftfy2" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额按合同分摊费用2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjahtftfy3" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额按合同分摊费用3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjlhzbbqshj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额联合账本本期数合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjlhzbljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额联合账本累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjgsjtft" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额公司集团分摊</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjddfs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额单独发生</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjbqhj" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额本期合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="asfgdkffydzjljzs" type="je">
				<xs:annotation>
					<xs:documentation>按税法规定的摊销，开发费用待折旧额累计总数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
