标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00495/TaxMLBw_HXZG_SB_00495_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB00495Request">
		<xs:annotation>
			<xs:documentation>申报情况明细查询请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SbqkmxQueryVO" type="SbqkmxQueryVO">
						<xs:annotation>
							<xs:documentation>申报情况明细查询条件VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SbqkmxQueryVO">
		<xs:sequence>
			<xs:element name="pzxh" type="pzxh"/>
			<xs:element name="djxh" type="djxh"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
