标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00495/TaxMLBw_HXZG_SB_00495_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB00495Response">
		<xs:annotation>
			<xs:documentation>申报情况明细返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SbqkmxGrid">
						<xs:annotation>
							<xs:documentation>逾期未申报信息请求报文</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="SbqkmxGridlb" type="SbqkmxGridlbVO">
									<xs:annotation>
										<xs:documentation>逾期未申报信息请求报文</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SbqkmxGridlbVO">
		<xs:sequence>
			<xs:element name="pzxh" type="pzxh"/>
			<xs:element name="pzmxxh" type="pzmxxh"/>
			<xs:element name="zsxmDm" type="zsxmDm"/>
			<xs:element name="zspmDm" type="zspmDm"/>
			<xs:element name="skssqq" type="skssqq"/>
			<xs:element name="skssqz" type="skssqz"/>
			<xs:element name="sbje" type="jsyj"/>
			<xs:element name="sl1" type="sl1"/>
			<xs:element name="ynse" type="ynse"/>
			<xs:element name="ybtse" type="ybtse"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
