标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00352查询申报期限/TaxML_GSGL_SB_00352_Response_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="cxSbqxResponse">
		<xs:annotation>
			<xs:documentation>查询申报期限反馈报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbqx" type="sbqx">
						<xs:annotation>
							<xs:documentation>申报期限,(格式:yyyy-MM-dd,不能为空)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jkqx" type="jkqx">
						<xs:annotation>
							<xs:documentation>缴款期限,(格式:yyyy-MM-dd,不能为空)</xs:documentation>
						</xs:annotation>
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
