标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00837/TaxMLBw_HXZG_SB_00200_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="BSSB00200Response">
		<xs:annotation>
			<xs:documentation>定期定额自行申报载入基础信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报税款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免税款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jbzqForm">
						<xs:annotation>
							<xs:documentation>简并征期信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="jbzqbj">
									<xs:annotation>
										<xs:documentation>简并征期标记</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jbzqskssqq">
									<xs:annotation>
										<xs:documentation>简并征期税款所属期起</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jbzqskssqz">
									<xs:annotation>
										<xs:documentation>简并征期税款所属期止</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="qzdGrid">
						<xs:annotation>
							<xs:documentation>预缴税款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="qzdGridlb" type="qzdlistVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="fpkjGrid">
						<xs:annotation>
							<xs:documentation>发票开具信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="fpkjGridlb" type="fpkjlistVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sqwsbbzDm" type="bz">
						<xs:annotation>
							<xs:documentation>上期未申报标志:Y 未申报</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qzdlistVO">
		<xs:annotation>
			<xs:documentation>起征点对象</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qzdje" type="ynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>起征点金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysbje" type="ynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已经申报金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fpkjlistVO">
		<xs:annotation>
			<xs:documentation>发票开具列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cdegpje" type="ynse">
				<xs:annotation>
					<xs:documentation>超定额购票金额,前台提示</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpyjjje" type="ynse">
				<xs:annotation>
					<xs:documentation>发票验旧金额，用于票表比对，提示性监控</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
