标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00108/TaxMLBw_HXZG_SB_00108_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_tydkdjdsdj_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBw_HXZG_SB_00109_Response_V1.0.xsd"/>
	<xs:complexType name="TydkdjSBDrReturnVO">
		<xs:annotation>
			<xs:documentation>申报导入返回数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="drycxx" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>导入异常提示信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xznsrbz" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>选择纳税人标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mxbgbCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>明细报告表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mxbgbSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>明细报告表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccsmxbgbCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>车船税明细报告表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccsmxbgbSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>车船税明细报告表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SwsxCgts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代扣代收专用明细报告表成功条数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SwsxSbts" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代扣代收专用明细表失败条数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGSB00108Response">
		<xs:annotation>
			<xs:documentation>通用代扣代缴申报导入返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbSaveReturnVO" type="SBSaveReturnVO">
						<xs:annotation>
							<xs:documentation>申报保存响应交互</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tydkdjSBSaveReturnVO" type="TydkdjSBDrReturnVO">
						<xs:annotation>
							<xs:documentation>申报保存响应交互</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tydkdjdsdjywbwxxVo" type="tydkdjdsdjsbywbw">
						<xs:annotation>
							<xs:documentation>t通用代扣代缴、代收代缴申报业务报文信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmGrid">
						<xs:annotation>
							<xs:documentation>征收项目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zsxmGridlb" type="zsxmGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="zspmGrid">
						<xs:annotation>
							<xs:documentation>征收品目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zspmGridlb" type="zspmdkGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="zszmGrid">
						<xs:annotation>
							<xs:documentation>征收子目列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="zszmGridlb" type="zszmdkGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="hyGrid">
						<xs:annotation>
							<xs:documentation>行业列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="hyGridlb" type="hyGridlbVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报信息列表</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
