标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00108/TaxMLBd_0610140_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610133_V1.0.xsd"/>
	<xs:complexType name="dkdjdsdjskmxbgbbw">
		<xs:annotation>
			<xs:documentation>代扣代缴、代收代缴税款明细报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dkdjdsdjskbg" type="dkdjdsdjskmxbg">
						<xs:annotation>
							<xs:documentation>代扣代缴、代收代缴税款报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dkdjdsdjskmxbg">
		<xs:annotation>
			<xs:documentation>代扣代缴附表税款明细报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="mxnsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DkdjFbSkmxbgGrid" type="DkdjFbSkmxbgGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slxxForm" type="mxslxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mxslxxFormVO">
		<xs:annotation>
			<xs:documentation>其他信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrxm" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mxnsrxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人基本信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dkdjywrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>代扣代缴义务人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrwrmc" type="dkdjywrmc">
				<xs:annotation>
					<xs:documentation>代扣代缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrsmrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="sblx">
				<xs:annotation>
					<xs:documentation>申报类型</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DkdjFbSkmxbgGrid">
		<xs:annotation>
			<xs:documentation>代扣代缴附表税款明细报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="dkdjdsdjskbgbGridlb" type="DkdjFbSkmxbgVO">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DkdjFbSkmxbgVO">
		<xs:annotation>
			<xs:documentation>代扣代缴、代收代缴税款明细报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="uuid">
				<xs:annotation>
					<xs:documentation>UUID||uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zhrmghgdkdsskpzh" type="zhrmghgdkdsskpzh">
				<xs:annotation>
					<xs:documentation>中华人民共和国代扣代收税款凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bkjNsrsbh" type="bkjNsrsbh" nillable="false">
				<xs:annotation>
					<xs:documentation>被扣缴、纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdkdjdsdjnsrmc" type="bdkdjdsdjnsrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>被代扣代缴代收代缴纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydkdjdsdjxm" type="ydkdjdsdjxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应代扣代缴代收代缴项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcxm" type="kcxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcxmbz" type="kcxmbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除项目标准</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syslhdwse" type="syslhdwse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>适用税率或单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjmsxm" type="yjmsxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应减免税项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjmse" type="yjmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydkdjdsdjse" type="ydkdjdsdjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应代扣代缴代收代缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdkdjdsdjse" type="sdkdjdsdjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实代扣代缴代收代缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkdsbs" type="dkdsbs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代扣代收名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qzdbz" type="dkdsbs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>起征点标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbqxDm" type="sbqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bkjdjxh" type="djxh" nillable="false">
				<xs:annotation>
					<xs:documentation>被扣缴登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjzlDm" type="sfzjzlDm">
				<xs:annotation>
					<xs:documentation>身份证件种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjhm" type="zjhm">
				<xs:annotation>
					<xs:documentation>证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzxh" type="pzxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbuuid" type="sbuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fjmqybz" type="fjmqybz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>非居民企业标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htbh" type="htbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydkdjdsdjxmjh" type="ydkdjdsdjxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应代扣代缴项目合集,取值为DM_SB_QYSDSSDLX中的qysdssdlx_dm,可多选,格式为dm,dm
						同时ydkdjdsdjxm不再使用,请不要再填写ydkdjdsdjxm字段
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hssrtjlx" type="hssrtjlx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>核算收入统计类型</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
