标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_YH_00200增量房申报共有人个税减免备案/TaxML_GSGL_YH_00200_Response_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="zlfsbgyrgsjmbaResponse">
		<xs:annotation>
			<xs:documentation>增量房申报共有人个税减免备案响应</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zrryhjmsbabgblb" type="zrryhjmsbabgblb">
						<xs:annotation>
							<xs:documentation>自然人优惠减免税备案信息列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zrryhjmsbabgblb">
		<xs:annotation>
			<xs:documentation>自然人优惠减免税备案信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zrryhjmsbabgb" type="zrryhjmsbabgb" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>自然人优惠减免税备案信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zrryhjmsbabgb">
		<xs:annotation>
			<xs:documentation>自然人优惠减免税备案信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yhpzuuid" type="yhpzuuid">
				<xs:annotation>
					<xs:documentation>优惠凭证uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyruuid" type="gyruuid">
				<xs:annotation>
					<xs:documentation>共有人uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsswsxDm" type="swsxDm">
				<xs:annotation>
					<xs:documentation>减免税税务事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmlxDm" type="jmlxDm">
				<xs:annotation>
					<xs:documentation>减免类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmslxDm" type="jmslxDm">
				<xs:annotation>
					<xs:documentation>减免税类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxq" type="jmqxq">
				<xs:annotation>
					<xs:documentation>减免期限起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxz" type="jmqxz">
				<xs:annotation>
					<xs:documentation>减免期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzfd" type="jzfd">
				<xs:annotation>
					<xs:documentation>减征幅度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzsl" type="jzsl">
				<xs:annotation>
					<xs:documentation>减征税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzed" type="jzed">
				<xs:annotation>
					<xs:documentation>减征额度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzDm" type="jmxzDm">
				<xs:annotation>
					<xs:documentation>减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzdlDm" type="jmxzdlDm">
				<xs:annotation>
					<xs:documentation>减免性质大类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzxlDm" type="jmxzxlDm">
				<xs:annotation>
					<xs:documentation>减免性质小类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="jmxzdlDm">
		<xs:annotation>
			<xs:documentation>减免性质大类代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmxzxlDm">
		<xs:annotation>
			<xs:documentation>减免性质小类代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmxzDm">
		<xs:annotation>
			<xs:documentation>减免性质代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gyruuid">
		<xs:annotation>
			<xs:documentation>共有人uuid</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
