标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/64 个体工商户财务报表报送与信息采集/TaxMLbw_sygtgshcwbs_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xiang (hbnu) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610661_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610662_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610663_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="sygtgshcwbszywbw">
		<xs:annotation>
			<xs:documentation>适用个体工商户财务报送总业务报文 </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sygtgshzcfzb" type="sygtgshzcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表（适用执行个体工商户会计制度的单位）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sygtgshyssdb" type="sygtgshyssdbxxFormVO">
						<xs:annotation>
							<xs:documentation>应税所得表（适用执行个体工商户会计制度的单位）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sygtgshlclrb" type="sygtgshlclrbxxFormVO">
						<xs:annotation>
							<xs:documentation>留存利润表（适用执行个体工商户会计制度的单位）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
