标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00162/TaxMLBw_HXZG_DJ_00162_Request_V1.0 .xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="bdcxmdjTdxxVO">
		<xs:annotation>
			<xs:documentation>不动产项目登记土地信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sytdxxuuid" type="sytdxxuuid">
				<xs:annotation>
					<xs:documentation>税源土地信息UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsybh" type="tdsybh">
				<xs:annotation>
					<xs:documentation>土地税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmbh" type="xmbh">
				<xs:annotation>
					<xs:documentation>项目编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxbz" type="yxbz">
				<xs:annotation>
					<xs:documentation>有效标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzldz" type="tdzldz">
				<xs:annotation>
					<xs:documentation>土地坐落地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qh" type="qh">
				<xs:annotation>
					<xs:documentation>丘号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsyzfzjgmc" type="tdsyzfzjgmc">
				<xs:annotation>
					<xs:documentation>土地使用证发证机关名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdsyzbh" type="tdsyzbh">
				<xs:annotation>
					<xs:documentation>土地使用证编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzmj" type="tdzmj">
				<xs:annotation>
					<xs:documentation>土地总面积</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bdcxmdjbgxxVO">
		<xs:annotation>
			<xs:documentation>不动产项目登记变更信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bdcxmdjBgdjmxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目登记变更明细信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="bdcxmdjBgdjmxGridlb" type="DJBgdjmxVO">
							<xs:annotation>
								<xs:documentation>不动产项目登记变更明细信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertJsqxmxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增建设期项目信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertJsqxmxxGridlb" type="DJBdcxmdjJsqxmxxVO">
							<xs:annotation>
								<xs:documentation>新增建设期项目信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertTdxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增土地信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertTdxxGridlb" type="bdcxmdjTdxxVO">
							<xs:annotation>
								<xs:documentation>新增土地信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertYdghxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增用地规划信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertYdghxxGridlb" type="DJBdcxmdjYdghxxVO">
							<xs:annotation>
								<xs:documentation>新增用地规划信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertJzghxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增建筑规划许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertJzghxkzGridlb" type="DJBdcxmdjJzghxkzxxVO">
							<xs:annotation>
								<xs:documentation>新增建筑规划许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertYsxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增预售许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertYsxkzGridlb" type="DJBdcxmdjYsxkzxxVO">
							<xs:annotation>
								<xs:documentation>新增预售许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertDwjzxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增对外捐赠信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertDwjzxxGridlb" type="DJBdcxmdjDwjzxxVO">
							<xs:annotation>
								<xs:documentation>新增对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertDczwxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-新增低偿债务信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="insertDczwxxGridlb" type="DJBdcxmdjDczwxxVO">
							<xs:annotation>
								<xs:documentation>新增对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteJsqxmxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除建设期项目信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteJsqxmxxGridlb" type="DJBdcxmdjJsqxmxxVO">
							<xs:annotation>
								<xs:documentation>删除建设期项目信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteTdxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除土地信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteTdxxGridlb" type="bdcxmdjTdxxVO">
							<xs:annotation>
								<xs:documentation>删除土地信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteYdghxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除用地规划信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteYdghxxGridlb" type="DJBdcxmdjYdghxxVO">
							<xs:annotation>
								<xs:documentation>删除用地规划信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteJzghxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除规划许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteJzghxkzGridlb" type="DJBdcxmdjJzghxkzxxVO">
							<xs:annotation>
								<xs:documentation>删除规划许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteYsxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除销售许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteYsxkzGridlb" type="DJBdcxmdjYsxkzxxVO">
							<xs:annotation>
								<xs:documentation>删除销售许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteDwjzxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除对外捐赠信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteDwjzxxGridlb" type="DJBdcxmdjDwjzxxVO">
							<xs:annotation>
								<xs:documentation>删除对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteDczwxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-删除低偿债务信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="deleteDczwxxGridlb" type="DJBdcxmdjDczwxxVO">
							<xs:annotation>
								<xs:documentation>删除对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateJsqxmxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改建设期项目信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateJsqxmxxGridlb" type="DJBdcxmdjJsqxmxxVO">
							<xs:annotation>
								<xs:documentation>修改建设期项目信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateTdxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改土地信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateTdxxGridlb" type="bdcxmdjTdxxVO">
							<xs:annotation>
								<xs:documentation>修改土地信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateYdghxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改用地规划信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateYdghxxGridlb" type="DJBdcxmdjYdghxxVO">
							<xs:annotation>
								<xs:documentation>修改用地规划信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateJzghxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改规划许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateJzghxkzGridlb" type="DJBdcxmdjJzghxkzxxVO">
							<xs:annotation>
								<xs:documentation>修改规划许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateYsxkzGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改销售许可证信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateYsxkzGridlb" type="DJBdcxmdjYsxkzxxVO">
							<xs:annotation>
								<xs:documentation>修改销售许可证信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateDwjzxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改对外捐赠信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateDwjzxxGridlb" type="DJBdcxmdjDwjzxxVO">
							<xs:annotation>
								<xs:documentation>修改对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updateDczwxxGrid">
				<xs:annotation>
					<xs:documentation>不动产项目变更-修改低偿债务修改信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="updateDczwxxGridlb" type="DJBdcxmdjDczwxxVO">
							<xs:annotation>
								<xs:documentation>修改对外捐赠信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bdcxmdjslxxForm" type="DJYsqywslxxbVO">
				<xs:annotation>
					<xs:documentation>不动产项目变更-税务机关填写信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGDJ00162Request">
		<xs:annotation>
			<xs:documentation>不动产项目登记变更保存接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主观税务所科分局代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bdcxmuuid" type="bdcxmuuid">
						<xs:annotation>
							<xs:documentation>不动产项目UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bdcxmbh" type="bdcxmbh">
						<xs:annotation>
							<xs:documentation>不动产项目编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bdcxmdjbgxx" type="bdcxmdjbgxxVO">
						<xs:annotation>
							<xs:documentation>不动产项目变更信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
