标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00096/TaxMLBw_HXZG_DJ_00096_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00096Response">
		<xs:annotation>
			<xs:documentation>根据登记序号查询可进行证件挂失操作的证件信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
		<xs:sequence>
			<xs:element name="nsrzjjcxxGrid" type="NsrzjjcxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人税务证件信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
			</xs:extension>
			</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="NsrzjjcxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人税务证件信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="nsrzjjcxxGridlb" type="DJNsrzjjcxxVO">
				<xs:annotation>
					<xs:documentation>纳税人税务证件信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
