标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_ZM_00001_查询社保费缴费证明信息/TaxMLBw_GSSB_ZM_00001_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbfJfzmxxResponse">
		<xs:annotation>
			<xs:documentation>查询社保费缴费证明信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jfzmxxGrid" type="jfzmxxGrid">
						<xs:annotation>
							<xs:documentation>缴费证明信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jfzmxxGrid">
		<xs:annotation>
			<xs:documentation>缴费证明信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="jfzmxxGridlb" type="jfzmxxGridlb">
				<xs:annotation>
					<xs:documentation>缴费证明信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jfzmxxGridlb">
		<xs:annotation>
			<xs:documentation>缴费证明信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ypzh" type="ypzh">
				<xs:annotation>
					<xs:documentation>原凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsswjgDm" type="zsswjgDm">
				<xs:annotation>
					<xs:documentation>征收税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
					<xs:documentation>社保经办机构</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbbm" type="sbbm">
				<xs:annotation>
					<xs:documentation>社保编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>费款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>费款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq" type="rkrq">
				<xs:annotation>
					<xs:documentation>入（退）库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkse" type="rkse">
				<xs:annotation>
					<xs:documentation>实缴（退）费额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ypzh">
		<xs:annotation>
			<xs:documentation>原凭证号</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
</xs:schema>
