标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00042/TaxMLBw_HXZG_ZM_00042_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZMType.xsd"/>
	<xs:complexType name="HXZGZM00042Request">
		<xs:annotation>
			<xs:documentation>保存税收完税证明信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zmSswszmjbxxVO" type="ZMSswszmjbxxVO">
						<xs:annotation>
							<xs:documentation>税收完税证明基本信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djYsqywslxxbVO" type="DJYsqywslxxbVO">
						<xs:annotation>
							<xs:documentation>依申请业务受理信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZmSswszmkjxxVOList" type="ZmSswszmkjxxVOList">
						<xs:annotation>
							<xs:documentation>ZmSswszmkjxxVO</xs:documentation>
						</xs:annotation>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZmSswszmkjxxVOList">
		<xs:annotation>
			<xs:documentation>保存税收完税证明开具信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ZmSswszmkjxxVOListlb" type="ZmSswszmkjxxVO">
				<xs:annotation>
					<xs:documentation>税收完税证明开具信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
