标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXGL_01912/TaxMLBw_FXGL_01912_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="FxglRwfk01912Response">
		<xs:annotation>
			<xs:documentation>任务反馈应答（核心征管进行风险应对结果反馈GT3-JC2-决策二包管理系统与核心征管集成接口定义）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="resultCode" type="bz">
						<xs:annotation>
							<xs:documentation>返回码（Y:成功  N：识别）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="errorMsg" type="bz" minOccurs="0">
						<xs:annotation>
							<xs:documentation>错误信息（只有失败的时候才有内容）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
