标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00841/TaxMLBd_0610006_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="bqzykcsejsbyywbw">
		<xs:annotation>
			<xs:documentation>《本期准予扣除税额计算表》（烟）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bqzykcsejsby" type="bqzykcsejsby">
						<xs:annotation>
							<xs:documentation>《本期准予扣除税额计算表》（烟）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bqzykcsejsby">
		<xs:annotation>
			<xs:documentation>《本期准予扣除税额计算表》（烟）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bqzykcsejsbyForm" type="bqzykcsejsbyForm">
				<xs:annotation>
					<xs:documentation>申报数据信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bqzykcsejsbyForm">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qckcwtjgynse" type="qckcwtjgynse">
				<xs:annotation>
					<xs:documentation>期初库存委托加工应税消费品已纳税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqshwtjgynse" type="dqshwtjgynse">
				<xs:annotation>
					<xs:documentation>当期收回委托加工应税消费品已纳税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcwtjgynse" type="qmkcwtjgynse">
				<xs:annotation>
					<xs:documentation>期末库存委托加工应税消费品已纳税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqzykcwtjgynse" type="dqzykcwtjgynse">
				<xs:annotation>
					<xs:documentation>当期准予扣除委托加工应税消费品已纳税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcwgmj" type="qckcwgmj">
				<xs:annotation>
					<xs:documentation>期初库存外购应税消费品买价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqgjmj" type="dqgjmj">
				<xs:annotation>
					<xs:documentation>当期购进应税消费品买价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcwgmj" type="qmkcwgmj">
				<xs:annotation>
					<xs:documentation>期末库存外购应税消费品买价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dqzykcwgynse" type="dqzykcwgynse">
				<xs:annotation>
					<xs:documentation>当期准予扣除的外购应税消费品已纳税款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqzykcsehj" type="bqzykcsehj">
				<xs:annotation>
					<xs:documentation>本期准予扣除税款合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
