标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00841/TaxMLBw_xfssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610002_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610003_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610004_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610006_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610008_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610017_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610018_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610019_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610038_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610087_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610090_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610091_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610093_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610103_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610104_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610105_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610109_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610110_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610111_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610116_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610116_201801_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610117_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610121_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610122_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610123_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610124_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610498_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610510_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610523_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610524_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610548_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610562_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_dksktz_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_cpykcbg_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610732_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610733_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610734_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610735_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610736_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610737_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610760_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_xfsfjs_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_dctldksktz_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_hznsqyxfsfpb_V1.0.xsd"/>
	<xs:complexType name="xfssbywbw">
		<xs:annotation>
			<xs:documentation>《消费税申报》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="xfssbblxDm" type="xfssbblxDm">
						<xs:annotation>
							<xs:documentation>消费税申报表类型</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsYlsb" type="xfsYlsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》烟类申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsYlpfsb" type="xfsYlpfsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》烟类(批发)申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsJlsb" type="xfsJlsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》酒类申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsCpylsb" type="xfsCpylsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》成品油类申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsClsb" type="xfsClsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》车类申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsQtsb" type="xfsQtsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》其它申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsDcsb" type="xfsDcsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》电池申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsTlsb" type="xfsTlsb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》涂料申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xfsFjs" type="xfsfjssb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《消费税》附加税申报</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="xfsYlsb">
		<xs:annotation>
			<xs:documentation>《消费税》烟类申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb1" type="xfssb_yl">
				<xs:annotation>
					<xs:documentation>《烟类应税消费品消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb1_fb1" type="bqzykcsejsby" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期准予扣除税额计算表》（烟）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb1_fb2" type="bqdsdjsejsby" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期代收代缴税额计算表》（烟）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb1_fb3" type="jyscqyndxsmxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《卷烟生产企业年度销售明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb1_fb4" type="gphggjyxfsjsjg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《各牌号规格卷烟消费税计税价格》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb1_fb5" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb1_fb6" type="hznsqyxfsfpb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsYlpfsb">
		<xs:annotation>
			<xs:documentation>《消费税》烟类(批发)申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb2" type="xfssb_ylpf">
				<xs:annotation>
					<xs:documentation>《卷烟消费税纳税申报表》（批发）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb2_fb1" type="jypfqyyfxsmxqd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《卷烟批发企业月份销售明细清单》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb2_fb2" type="hznsqyxfsfpb" minOccurs="0">
<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsJlsb">
		<xs:annotation>
			<xs:documentation>《消费税》酒类申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb3" type="xfssb_jjjj">
				<xs:annotation>
					<xs:documentation>《酒及酒精消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb3_fb1" type="bqzydjsejsbjjjj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期准予抵减税额计算表》（酒及酒精）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb3_fb2" type="bqdsdjsejsbjjjj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期代收代缴税额计算表》(酒及酒精)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb3_fb3" type="scjyqkbjjjj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《生产经营情况表》（酒及酒精）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb3_fb4" type="yhdzdjsjgbjqd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《已核定最低计税价格白酒清单》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb3_fb5" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb3_fb6" type="hznsqyxfsfpb" minOccurs="0">
                <xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsCpylsb">
		<xs:annotation>
			<xs:documentation>《消费税》成品油类申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb4" type="xfssb_cpy">
				<xs:annotation>
					<xs:documentation>《成品油消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb1" type="bqzykcsejsbcpy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期准予扣除税额计算表》（成品油）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb1_201801" type="Cpyxfskcjsb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《成品油消费税扣除计算表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb2" type="bqjmsejsbcpy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额计算表》（成品油）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb3" type="cpyxsmxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《成品油销售明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb4" type="xfskspzmxbcpy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《消费税扣税凭证明细表》（成品油）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb5" type="dsdjskbgbcpy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《代收代缴税款报告表》（成品油）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb6" type="snyrlyscwghykcydtjb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《石脑油、燃料油生产、外购、耗用、库存月度统计表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb7" type="yxfjsczztrcclljtjb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《乙烯、芳烃生产装置投入产出流量计统计表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb8" type="syqywgsnyrlypzmxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《使用企业外购石脑油、燃料油凭证明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb9" type="scqyddzgsnyrlykjptbzzszyfpmxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《生产企业定点直供石脑油、燃料油开具普通版增值税专用发票明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb10" type="scqyxshssnyrlywsqkmxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《生产企业销售含税石脑油、燃料油完税情况明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb11" type="dksktz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《抵扣税款台账》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb12" type="cpykcbg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《成品油库存报告表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb13" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb4_fb14" type="hznsqyxfsfpb" minOccurs="0">
<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsClsb">
		<xs:annotation>
			<xs:documentation>《消费税》车类申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb5" type="xfssb_xqc">
				<xs:annotation>
					<xs:documentation>《小汽车消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb5_fb1" type="bqdsdjsejsbxqc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期代收代缴税额计算表》（小汽车）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb5_fb2" type="scjyqkbxqc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《生产经营情况表》（小汽车）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb5_fb3" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb5_fb4" type="hznsqyxfsfpb" minOccurs="0">
<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsQtsb">
		<xs:annotation>
			<xs:documentation>《消费税》其它申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb6" type="xfssb_qt">
				<xs:annotation>
					<xs:documentation>《其他应税消费品消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb6_fb1" type="bqzykcsejsbqt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期准予扣除税额计算表》（其他）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb6_fb2" type="zykcxfspzmxbqt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《准予扣除消费税凭证明细表》（其他）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb6_fb3" type="bqdsdjsejsbqt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期代收代缴税额计算表》（其他）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb6_fb4" type="scjyqkbqt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《生产经营情况表》（其他）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb6_fb5" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb6_fb6" type="hznsqyxfsfpb" minOccurs="0">
<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsDcsb">
		<xs:annotation>
			<xs:documentation>《消费税》电池申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb7" type="xfssb_dc">
				<xs:annotation>
					<xs:documentation>《电池消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb7_fb1" type="bqjmsejsbdc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额计算表》（电池）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb7_fb2" type="bqdsdjsejsbdc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期代收代缴税额计算表》（电池）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb7_fb3" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb7_fb4" type="dctlskdktz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《电池、涂料税款抵扣台账》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb7_fb5" type="hznsqyxfsfpb" minOccurs="0">
<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xfsTlsb">
		<xs:annotation>
			<xs:documentation>《消费税》涂料申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xfssb8" type="xfssb_qt">
				<xs:annotation>
					<xs:documentation>《其他应税消费品消费税纳税申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb8_fb1" type="bqjmsejsbtl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额计算表》（适用于涂料消费税纳税人）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb8_fb2" type="bqdsdjsejsbtl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期代收代缴税额计算表》（适用于涂料消费税纳税人）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb8_fb3" type="bqjmsemxb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《本期减（免）税额明细表》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb8_fb4" type="dctlskdktz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>《电池、涂料税款抵扣台账》</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xfssb8_fb5" type="hznsqyxfsfpb" minOccurs="0">
<xs:annotation>
					<xs:documentation>《汇总纳税企业消费税分配表》</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
