标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00841/TaxMLBd_dctldksktz_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="dctlskdktzywbw">
		<xs:annotation>
			<xs:documentation>电池、涂料税款抵扣台账业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dctlskdktz" type="dctlskdktz">
						<xs:annotation>
							<xs:documentation>电池、涂料税款抵扣台账</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dctlskdktz">
		<xs:annotation>
			<xs:documentation>电池、涂料抵扣税款台账</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dctlskdktzGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="dctlskdktzGridlb" type="dctlskdktzGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dctlskdktzGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ywfsrq" type="ywfsrq">
				<xs:annotation>
					<xs:documentation>业务发生日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zy1" type="zy1">
				<xs:annotation>
					<xs:documentation>摘要</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpzlmc" type="fpzlmc">
				<xs:annotation>
					<xs:documentation>抵扣凭证种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fphm" type="fphm">
				<xs:annotation>
					<xs:documentation>抵扣凭证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrq" type="kjrq">
				<xs:annotation>
					<xs:documentation>抵扣凭证开具日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wtjgshje" type="je">
				<xs:annotation>
					<xs:documentation>委托加工收回金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dklyje" type="je">
				<xs:annotation>
					<xs:documentation>抵扣领用金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtlyje" type="je">
				<xs:annotation>
					<xs:documentation>其他领用金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcje" type="je">
				<xs:annotation>
					<xs:documentation>库存金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wtjgshynse" type="je">
				<xs:annotation>
					<xs:documentation>委托加工收回已纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dklyynse" type="je">
				<xs:annotation>
					<xs:documentation>抵扣领用已纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qckcynse" type="je">
				<xs:annotation>
					<xs:documentation>库存已纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcje" type="je">
				<xs:annotation>
					<xs:documentation>期末库存金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcynse" type="je">
				<xs:annotation>
					<xs:documentation>期末库存应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmkcsl1" type="sl1">
				<xs:annotation>
					<xs:documentation>期末库存税率</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
