标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00841/TaxMLBd_0610736_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="bqjmsejsbtlywbw">
		<xs:annotation>
			<xs:documentation>《本期减（免）税额计算表》（适用于涂料消费税纳税人）业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="bqjmsejsbtl" type="bqjmsejsbtl">
						<xs:annotation>
							<xs:documentation>《本期减（免）税额计算表》（适用于涂料消费税纳税人）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bqjmsejsbtl">
		<xs:annotation>
			<xs:documentation>《本期减（免）税额计算表》（适用于涂料消费税纳税人）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bqjmsejsbtlGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="bqjmsejsbtlGridlb" type="bqjmsejsbtlGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bqjmsejsbtlGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysl" type="sysl">
				<xs:annotation>
					<xs:documentation>适用税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqjmsl" type="bqjmsl">
				<xs:annotation>
					<xs:documentation>本期减（免）数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqjmxse" type="bqjmxse">
				<xs:annotation>
					<xs:documentation>本期减免销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqjmse" type="bqjmse">
				<xs:annotation>
					<xs:documentation>本期减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
