标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00841/TaxMLBd_0610498_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="jypfqyyfxsmxqdywbw">
		<xs:annotation>
			<xs:documentation>卷烟批发企业月份销售明细清单业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jypfqyyfxsmxqd" type="jypfqyyfxsmxqd">
						<xs:annotation>
							<xs:documentation>卷烟批发企业月份销售明细清单</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jypfqyyfxsmxqd">
		<xs:annotation>
			<xs:documentation>卷烟批发企业月份销售明细清单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jypfqyyfxsmxqdGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jypfqyyfxsmxqdGridlb" type="jypfqyyfxsmxqdGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jypfqyyfxsmxqdGrid">
		<xs:annotation>
			<xs:documentation>《卷烟销售明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="jypfqyyfxsmxqdGridlb" type="jypfqyyfxsmxqdGridlbVO">
				<xs:annotation>
					<xs:documentation>申报数据信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jypfqyyfxsmxqdGridlbVO">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzsptm" type="bzsptm">
				<xs:annotation>
					<xs:documentation>卷烟条包装商品条码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phgg" type="phgg">
				<xs:annotation>
					<xs:documentation>卷烟牌号规格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jylbDm1" type="jylbDm1">
				<xs:annotation>
					<xs:documentation>卷烟类别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jylxDm1" type="jylxDm1">
				<xs:annotation>
					<xs:documentation>卷烟类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsjg" type="xsjg">
				<xs:annotation>
					<xs:documentation>销售价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xssl" type="xssl">
				<xs:annotation>
					<xs:documentation>销售数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xse" type="xse">
				<xs:annotation>
					<xs:documentation>销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
