标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00004/TaxMLBw_HXZG_ZM_00004_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZM00004Response">
		<xs:annotation>
			<xs:documentation>外出经营证明申请表提交反馈报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wcjyhdssglzmbh" type="wcjyhdssglzmbh">
						<xs:annotation>
							<xs:documentation>外出经营活动税收管理证明编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dsYgxMsg" type="bz">
						<xs:annotation>
							<xs:documentation>地税已共享提示信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
