标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10032/TaxMLBd_061027007_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by pl (css) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="tdzzsbzjgcztzrsybd">
		<xs:annotation>
			<xs:documentation>土地增值税纳税申报表（六）（纳税人整体转让在建工程适用）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="nsrxxForm">
				<xs:annotation>
					<xs:documentation>纳税人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrztzrsbxxForm" type="nsrztzrsbxxForm">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrxxForm" type="slrxxForm">
				<xs:annotation>
					<xs:documentation>受理人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsrxxForm">
		<xs:annotation>
			<xs:documentation>纳税人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm1" type="sbsxDm1">
				<xs:annotation>
					<xs:documentation>申报事项代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdcxmbh" type="bdcxmbh">
				<xs:annotation>
					<xs:documentation>不动产项目编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmdz" type="xmdz">
				<xs:annotation>
					<xs:documentation>项目地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hylb" type="hylb">
				<xs:annotation>
					<xs:documentation>所属行业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrdz" type="nsrdz">
				<xs:annotation>
					<xs:documentation>纳税人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jjxz" type="jjxz">
				<xs:annotation>
					<xs:documentation>登记注册类型名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzbm" type="yzbm">
				<xs:annotation>
					<xs:documentation>邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgbm" type="swjgmc">
				<xs:annotation>
					<xs:documentation>主管部门</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="khyh" type="khyh">
				<xs:annotation>
					<xs:documentation>开户银行</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhzh" type="yhzh">
				<xs:annotation>
					<xs:documentation>银行账号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgcztzrbz" type="hsbz">
				<xs:annotation>
					<xs:documentation>在建工程整体转让标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syZgswskfjDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>税源主管税务所科分局</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syJdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq">
				<xs:annotation>
					<xs:documentation>填表日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsrztzrsbxxForm">
		<xs:annotation>
			<xs:documentation>申报表信息
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zrfdcsrzeQtlxfc" type="zrfdcsrze">
				<xs:annotation>
					<xs:documentation>转让房地产收入总额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbsrQtlxfc" type="hbsr">
				<xs:annotation>
					<xs:documentation>转让房地产收入总额中货币收入其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swsrjqtsrQtlxfc" type="swsrjqtsr">
				<xs:annotation>
					<xs:documentation> 涉及实物收入及其他收入其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stxssrQtlxfc" type="swsrjqtsr">
				<xs:annotation>
					<xs:documentation>视同销售收入其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcxmjehjQtlxfc" type="kcxmjehj">
				<xs:annotation>
					<xs:documentation>扣除项目金额合计其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qdtdsyqszfdjeQtlxfc" type="qdtdsyqszfdje">
				<xs:annotation>
					<xs:documentation>取得土地使用权所支付的金额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdckfcbQtlxfc" type="fdckfcbje">
				<xs:annotation>
					<xs:documentation>房地产开发成本其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdzyjcqbcfQtlxfc" type="tdzyjcqbcfje">
				<xs:annotation>
					<xs:documentation>土地征用及拆迁补偿费其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qqgcfQtlxfc" type="qqgcf">
				<xs:annotation>
					<xs:documentation>前期工程费其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzazgcfQtlxfc" type="jzazgcf">
				<xs:annotation>
					<xs:documentation>建筑安装工程费其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcssfQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>基础设施费其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ggptssfQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>公共配套设施费其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kfjjfyQtlxfc" type="kfjjfy">
				<xs:annotation>
					<xs:documentation>开发间接费用其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdckffyQtlxfc" type="fdckffyje">
				<xs:annotation>
					<xs:documentation>房地产开发费用其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxzcQtlxfc" type="lxzcdzxmDzje">
				<xs:annotation>
					<xs:documentation>房地产开发费用中利息支出其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtfdckffyQtlxfc" type="qtfdckffy">
				<xs:annotation>
					<xs:documentation>房地产开发费用中其他房地产开发费用其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzrfdcygdsjdQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>与转让房地产有关的税金其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yysQtlxfc" type="yys">
				<xs:annotation>
					<xs:documentation>与转让房地产有关的营业税其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cswhjsfQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>与转让房地产有关的城市维护建设税其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyffjQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>与转让房地产有关的教育费附加其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czbgddqtkcxmQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>财政部规定的其他扣除项目其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzeQtlxfc" type="zze">
				<xs:annotation>
					<xs:documentation>增值额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzeykcxmjezbQtlxfc" type="zzeykcxmjezb">
				<xs:annotation>
					<xs:documentation>增值额与扣除项目金额之比（%）其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syslQtlxfc" type="sysl">
				<xs:annotation>
					<xs:documentation>适用税率其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcxsQtlxfc" type="sskcxs">
				<xs:annotation>
					<xs:documentation>速算扣除系数（%）其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjtdzzsseQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>应缴土地增值税税额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm">
				<xs:annotation>
					<xs:documentation>减免税性质</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmseQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>减免税额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yijtdzzsseQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>已缴土地增值税税额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtdzzsseQtlxfc" type="je">
				<xs:annotation>
					<xs:documentation>应补（退）土地增值税税额其他类型房产</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slrxxForm">
		<xs:annotation>
			<xs:documentation>受理人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="swdlrmc" type="swdlrmc">
				<xs:annotation>
					<xs:documentation>税务代理人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdljbr" type="swdljbr">
				<xs:annotation>
					<xs:documentation>税务代理经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			      <xs:element name="ywptxzqhsfselect" type="xzqhszDm">
        <xs:annotation>
          <xs:documentation>省份（代码）</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ywptxzqhdsselect" type="xzqhszDm">
        <xs:annotation>
          <xs:documentation>地市（代码）</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ywptxzqhqxselect" type="xzqhszDm">
        <xs:annotation>
          <xs:documentation>区县（代码）</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ywptxzqhjdxzselect" type="jdxzDm">
        <xs:annotation>
          <xs:documentation>街道乡镇（代码）</xs:documentation>
        </xs:annotation>
      </xs:element>
			<xs:element name="swdlrdz" type="swdlrdz">
				<xs:annotation>
					<xs:documentation>税务代理人地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slr">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjg" type="swjgmc">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syzgswjg" type="swjgmc">
				<xs:annotation>
					<xs:documentation>主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
