标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00007_查询个人所得税申报信息/TaxMLBw_GSGL_SB_00007_Request_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (servyou) 使用XMLSpy vservyou编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="sbxxcxrequest">
		<xs:annotation>
			<xs:documentation>个人所得税申报信息查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起（yyyy-MM-dd）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止（yyyy-MM-dd）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
