标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00360/TaxMLBw_HXZG_DJ_00360_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00360Response">
		<xs:annotation>
			<xs:documentation>根据登记序号和所属期起、所属期止查询纳税人企业会计制度备案信息反馈报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
		<xs:sequence>
			<xs:element name="cwkjzdxxvo" type="DJCwkjzdjhsrjbabgsVO">
				<xs:annotation>
					<xs:documentation>财务会计制度及核算软件备案报告书</xs:documentation>
				</xs:annotation>
			</xs:element>
			
				<xs:element name="cwkjzdbaKjbbmcGrid" type="CwkjzdbaKjbbmcGrid">
				<xs:annotation>
					<xs:documentation>财务会计制度备案会计报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
			</xs:extension>
			</xs:complexContent>
	</xs:complexType>

			
	<xs:complexType name="CwkjzdbaKjbbmcGrid">
		<xs:annotation>
			<xs:documentation>财务会计制度备案会计报表列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="cwkjzdbaKjbbmcGridlb" type="DJCwkjzdbaKjbbmcVO">
				<xs:annotation>
					<xs:documentation>财务会计制度备案会计报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
