标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00355代扣代缴客户端已（预）缴查询/khdYkjxxResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="khdYkjxxResponse">
		<xs:annotation>
			<xs:documentation>客户端已缴查询反馈报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="khdYkjxx" type="khdYkjxx"/>
					<xs:element name="khdYujkxx" type="khdYujkxx"/>
					<xs:element name="qyjmyhxx" type="qyjmyhxx"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="khdYkjxx">
		<xs:annotation>
			<xs:documentation>客户端已缴查询反馈信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ykjList" type="ykjList">
				<xs:annotation>
					<xs:documentation>已扣缴信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ykjList">
		<xs:annotation>
			<xs:documentation>已扣缴信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ykjxx" type="ykjxx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>已扣缴信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ykjxx">
		<xs:annotation>
			<xs:documentation>已扣缴信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>纳税人登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykjse" type="ykjse">
				<xs:annotation>
					<xs:documentation>已扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="khdYujkxx">
		<xs:annotation>
			<xs:documentation>客户端预缴查询反馈信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yujkList" type="yujkList">
				<xs:annotation>
					<xs:documentation>预缴信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yujkList">
		<xs:annotation>
			<xs:documentation>预缴信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yujkxx" type="yujkxx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>预缴信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yujkxx">
		<xs:annotation>
			<xs:documentation>预缴信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yujkuuid" type="uuid">
				<xs:annotation>
					<xs:documentation>预缴款uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yujkSkssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>预缴款税款所属时期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yujkSkssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>预缴款税款所属时期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yujse" type="yjse">
				<xs:annotation>
					<xs:documentation>预缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qyjmyhxx">
		<xs:annotation>
			<xs:documentation>企业优惠信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jmyhList" type="jmyhList">
				<xs:annotation>
					<xs:documentation>企业优惠信息的列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmyhList">
		<xs:annotation>
			<xs:documentation>企业优惠信息的列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jmyhxx" type="jmyhxx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>减免优惠信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmyhxx">
		<xs:annotation>
			<xs:documentation>减免优惠信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uuid" type="yhpzuuid">
				<xs:annotation>
					<xs:documentation>
					优惠uuid，传递纳税人所使用的优惠信息的uuid；
				    如果优惠取自征管系统，对应yhpzuuid；
					如果减免优惠已备案或已审批不能为空
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="btzdwdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>
					被投资单位登记序号，如果使用被投资单位的减免文书，必须传递该字段
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhjmly" type="bz3">
				<xs:annotation>
					<xs:documentation>
					优惠减免来源，1：来自个税系统，2：来自征管系统，如果为空，表示减免税未备案或未审批
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码，生产经营类申报如果减免优惠已备案或已审批则此字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmzlxDm" type="jmzlxDm">
				<xs:annotation>
					<xs:documentation>减免征类型代码，生产经营类申报如果减免优惠已备案或已审批则此字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmfsDm" type="jmfsDm">
				<xs:annotation>
					<xs:documentation>减免方式代码，生产经营类申报如果减免优惠已备案或已审批则此字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmlxDm" type="jmlxDm">
				<xs:annotation>
					<xs:documentation>减免类型代码，生产经营类申报如果减免优惠已备案或已审批则此字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxq" type="jmqxq">
				<xs:annotation>
					<xs:documentation>减免期限起，生产经营类申报如果减免优惠已备案或已审批则此字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxz" type="jmqxz">
				<xs:annotation>
					<xs:documentation>减免期限止，生产经营类申报如果减免优惠已备案或已审批则此字段不能为空</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzfd" type="jzfd">
				<xs:annotation>
					<xs:documentation>
					减征幅度，如果是免征，jzsl、jzed、jzfd都为空，如果是减征，jzsl、jzed、jzfd必传其中之一
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzsl" type="jzsl">
				<xs:annotation>
					<xs:documentation>					   
					减征税率，如果是免征，jzsl、jzed、jzfd都为空，如果是减征，jzsl、jzed、jzfd必传其中之一
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzed" type="jzed">
				<xs:annotation>
					<xs:documentation>
					减征额度，如果是免征，jzsl、jzed、jzfd都为空，如果是减征，jzsl、jzed、jzfd必传其中之一
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsxDm" type="jmsxDm">
				<xs:annotation>
					<xs:documentation>
					减免事项代码；
					减免事项代码和下面的减免性质代码有级联关系，选择了减免事项代码，要根据减免事项遍历局端返回的List得到对应的一个或多个减免性质
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsxmc" type="jmsxmc">
				<xs:annotation>
					<xs:documentation>减免事项名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzDm" type="jmxzDm">
				<xs:annotation>
					<xs:documentation>减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzmc" type="jmxzmc">
				<xs:annotation>
					<xs:documentation>减免性质名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="jmxzDm">
		<xs:annotation>
			<xs:documentation>减免性质代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmxzmc">
		<xs:annotation>
			<xs:documentation>减免性质代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="450"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmsxDm">
		<xs:annotation>
			<xs:documentation>减免事项代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmsxmc">
		<xs:annotation>
			<xs:documentation>减免事项名称</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1500"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
