标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_15073/TaxMLBw_HXZG_FP_15073_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP15073Request">
		<xs:annotation>
			<xs:documentation>通过登记序号查询税务行政许可信息请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="xs:string">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swxzxkxmDm" type="xs:string">
						<xs:annotation>
							<xs:documentation>税务行政许可项目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xkyxqq" type="xs:string">
						<xs:annotation>
							<xs:documentation>许可有效期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xkyxqz" type="xs:string">
						<xs:annotation>
							<xs:documentation>许可有效期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
