标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00021/TaxMLBw_HXZG_SB_00021_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_ccssb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00021RequestVO">
		<xs:annotation>
			<xs:documentation>车船税申报事前监控及获取期初数据</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBNsrxxJhVO" type="SBNsrxxJhVO">
						<xs:annotation>
							<xs:documentation>车船税申报数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mhcxbz" minOccurs="0">
						<xs:annotation>
							<xs:documentation>模糊查询标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ccsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>车船识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
