标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_05201/TaxMLBw_HXZG_FP_05201_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by yxzhizhi (yxzhizhi) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP05201Response">
		<xs:annotation>
			<xs:documentation>真伪鉴定查询发票领用、发票验交旧查验情况信息返回</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fplyMxVOList" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="fplyMxVOListlb" type="FPLyMxJcVO">
									<xs:annotation>
										<xs:documentation>发票领用明细</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjjcyqkMxJcVOList" minOccurs="0">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="yjjcyqkMxJcVOListlb" type="FPYjjcyqkMxJcVO">
									<xs:annotation>
										<xs:documentation>验交旧查验情况</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
