标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_05201/TaxMLBw_HXZG_FP_05201_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by yxzhizhi (yxzhizhi) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP05201Request">
		<xs:annotation>
			<xs:documentation>真伪鉴定查询发票领用、发票验交旧查验情况信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>等级序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fpzlDm" type="fpzlDm">
						<xs:annotation>
							<xs:documentation>发票种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fpDm" type="fpDm">
						<xs:annotation>
							<xs:documentation>发票代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fpqshm" type="fpqshm">
						<xs:annotation>
							<xs:documentation>发票起始号码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fpzzhm" type="fpzzhm">
						<xs:annotation>
							<xs:documentation>发票终止号码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
