标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/87免征证券（股票）交易印花税股权过户信息采集/TaxMLbw_mzzqjyyhsywbw_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLBd_0310142_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0310143_V1.0.xsd"/>
	<xs:complexType name="mzzqjyyhsywbw">
		<xs:annotation>
			<xs:documentation>免征证券（股票）交易印花税股权过户信息采集业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="gygqwczrghdjbVO" type="gygqwczrghdjbVO">
						<xs:annotation>
							<xs:documentation>过户登记表（适用上市公司国有股权无偿转让）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sjjrcrgqghdjbVO" type="sjjrcrgqghdjbVO">
						<xs:annotation>
							<xs:documentation>过户登记表（适用四家金融资产管理公司出让上市公司股权）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
