标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/87免征证券（股票）交易印花税股权过户信息采集/TaxMLBd_0310143_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="sjjrcrgqghdjbVO">
		<xs:annotation>
			<xs:documentation>过户登记表（适用四家金融资产管理公司出让上市公司股权）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm1" type="nsrxxForm1VO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ghdjbxxGrid1">
				<xs:annotation>
					<xs:documentation>过户登记表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="ghdjbxxGridlb1" type="ghdjbxxGridlb1VO">
							<xs:annotation>
								<xs:documentation>过户登记表信息列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsrxxForm1VO">
		<xs:annotation>
			<xs:documentation>纳税人基本信息（过户登记表头四家金融）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrq" type="bsrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>报送日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ghdjbxxGridlb1VO">
		<xs:annotation>
			<xs:documentation>过户登记表信息（适用四家金融资产管理公司出让上市公司股权）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sqrmc" type="sqrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swdjh" type="swdjh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请人税务登记号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrszd" type="sqrszd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请人所在地</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzwh" type="pzwh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>批准文号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gpmc" type="gpmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>划转股票名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzgs" type="hzgs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>划转股数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hcfqymc" type="hcfqymc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>划出方企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hrfqymc" type="hrfqymc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>划入方企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrqz" type="jbrqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人签字</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申办日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ghrq" type="ghrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>过户日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djjsgsjbrqz" type="djjsgsjbrqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记结算公司经办人签字</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
