标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00007/TaxMLBw_HXZG_FXCL_00007_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLBd_112004002_V1.0.xsd"/>
	<xs:complexType name="HXZGFXCL00007Request">
		<xs:annotation>
			<xs:documentation>根据唯一标识根据查询《税务检查通知书（一）》</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sjslid" type="sjslid">
						<xs:annotation>
							<xs:documentation>事件实例id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jcajxxuuid" type="jcajxxuuid">
						<xs:annotation>
							<xs:documentation>稽查案件信息UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
