标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/55 银行类金融企业财务报表报送与信息采集/TaxMLbw_yhljrqycwbb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xiang (hbnu) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610359_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610360_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610361_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610362_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610363_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610364_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610367_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610365_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610366_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610368_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610369_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610370_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="yhljrqycwbbzywbw">
		<xs:annotation>
			<xs:documentation>银行类金融企业财务报表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="syyhljbqkbVO" type="syyhljbqkbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>基本情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlgdzcqkbVO" type="syyhlgdzcqkbVO">
						<xs:annotation>
							<xs:documentation>固定资产情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhllrbVO" type="syyhllrbVO">
						<xs:annotation>
							<xs:documentation>利润表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlsjjsbfjnqkbVO" type="syyhlsjjsbfjnqkbVO" nillable="true">
						<xs:annotation>
							<xs:documentation>税金及社会保险费用缴纳情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlqybVO" type="syyhlqybVO">
						<xs:annotation>
							<xs:documentation>所有者权益变动表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlxjllbVO" type="syyhlxjllbVO">
						<xs:annotation>
							<xs:documentation>现金流量表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlywjglfyyywszmxbVO" type="syyhlywjglfyyywszmxbVO">
						<xs:annotation>
							<xs:documentation>业务及管理费与营业外收支明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlzcfzbVO" type="syyhlzcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlzcjzzbmxbVO" type="syyhlzcjzzbmxbVO">
						<xs:annotation>
							<xs:documentation>资产减值准备明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlzczlqkbVO" type="syyhlzczlqkbVO">
						<xs:annotation>
							<xs:documentation>资产质量情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlxtywzcfzbVO" type="syyhlxtywzcfzbVO">
						<xs:annotation>
							<xs:documentation>信托业务资产负债表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syyhlxtywlrbVO" type="syyhlxtywlrbVO">
						<xs:annotation>
							<xs:documentation>信托业务利润表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
