标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10135/TaxMLBd_htbaxx_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="kjqysdsbgbhtbaxxywbw">
		<xs:annotation>
			<xs:documentation>中华人民共和国扣缴企业所得税报告表合同备案信息业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kjqysdsbgbhtbaxx" type="kjqysdsbgbhtbaxx">
						<xs:annotation>
							<xs:documentation>中华人民共和国扣缴企业所得税报告表合同备案信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="kjqysdsbgbhtbaxx">
		<xs:annotation>
			<xs:documentation>中华人民共和国扣缴企业所得税报告表合同备案信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbxxGrid">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="htbasbbxxGridlb" type="htbasbbxxGridlbVo">
							<xs:annotation>
								<xs:documentation>申报表信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="htbasbbxxGrid">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="htbasbbxxGridlb" type="htbasbbxxGridlbVo">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="htbasbbxxGridlbVo">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xz" type="xz">
				<xs:annotation>
					<xs:documentation>选择</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywlx" type="kjywlx">
				<xs:annotation>
					<xs:documentation>扣缴义务类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fjmzznssbh" type="fjmzznssbh">
				<xs:annotation>
					<xs:documentation>非居民组织纳税识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrzqjmgDqMcjdm" type="nsrzqjmgDqMcjdm">
				<xs:annotation>
					<xs:documentation>纳税人在其居民国地区名称及代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrywmc" type="nsrywmc">
				<xs:annotation>
					<xs:documentation>纳税人英文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmgnsrZwmc" type="jmgnsrZwmc">
				<xs:annotation>
					<xs:documentation>纳税人在其居民国中文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmgnsrYwmc" type="jmgnsrYwmc">
				<xs:annotation>
					<xs:documentation>纳税人在其居民国英文名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htmc" type="htmc">
				<xs:annotation>
					<xs:documentation>合同名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htbh" type="htbh">
				<xs:annotation>
					<xs:documentation>合同编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htzxqssj" type="htzxqssj">
				<xs:annotation>
					<xs:documentation>合同执行起始时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htzxzzsj" type="htzxzzsj">
				<xs:annotation>
					<xs:documentation>合同执行终止时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htzje" type="htzje">
				<xs:annotation>
					<xs:documentation>合同总金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrzqjmgzwdz" type="nsrzqjmgzwdz">
				<xs:annotation>
					<xs:documentation>纳税人在其居民国中文地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrzqjmgywdz" type="nsrzqjmgywdz">
				<xs:annotation>
					<xs:documentation>纳税人在其居民国英文地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
