标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/60 金融资产管理公司类金融企业财务报表报送与信息采集/TaxMLbw_jrzcgslcwbb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610406_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610407_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610408_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610409_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610410_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610411_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610412_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610413_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610414_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="jrzcglgslcwbbywbw">
		<xs:annotation>
			<xs:documentation>金融资产管理公司类财务报表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jrzcgljbqkbVO" type="jrzcgljbqkbVO">
						<xs:annotation>
							<xs:documentation>基本情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglgdzcqkbVO" type="jrzcglgdzcqkbVO">
						<xs:annotation>
							<xs:documentation>固定资产情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcgllrbVO" type="jrzcgllrbVO">
						<xs:annotation>
							<xs:documentation>利润表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglsjjsbfjnqkbVO" type="jrzcglsjjsbfjnqkbVO">
						<xs:annotation>
							<xs:documentation>税金及社会保险费用缴纳情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglqybVO" type="jrzcglqybVO">
						<xs:annotation>
							<xs:documentation>所有者权益变动表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglxjllbVO" type="jrzcglxjllbVO">
						<xs:annotation>
							<xs:documentation>现金流量表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglywjglfyyywszmxbVO" type="jrzcglywjglfyyywszmxbVO">
						<xs:annotation>
							<xs:documentation>业务及管理费与营业外收支明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglzcfzbVO" type="jrzcglzcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrzcglzcjzzbmxbVO" type="jrzcglzcjzzbmxbVO">
						<xs:annotation>
							<xs:documentation>资产减值准备明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
