标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00090纳税信息查询/TaxMLBw_R_S_ZRRWT_YHGL_003_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="cxnsxxresponse">
		<xs:annotation>
			<xs:documentation>纳税信息查询反馈</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="nsxx" type="nsxx"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="nsxx">
		<xs:annotation>
			<xs:documentation>纳税信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rtncode" type="ffflxbz">
				<xs:annotation>
					<xs:documentation>结果标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rtnmesg" type="tj">
				<xs:annotation>
					<xs:documentation>结果说明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkxxlb" type="rkxxlb"/>
			<xs:element name="tkxxlb" type="tkxxlb"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rkxxlb">
		<xs:annotation>
			<xs:documentation>入库信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rkxx" type="rkxx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rkxx">
		<xs:annotation>
			<xs:documentation>入库信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="sdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkse" type="rkse">
				<xs:annotation>
					<xs:documentation>入库税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="sre">
				<xs:annotation>
					<xs:documentation>收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq" type="rkrq">
				<xs:annotation>
					<xs:documentation>入库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>单位登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwnsrsbh" type="codetypeDm">
				<xs:annotation>
					<xs:documentation>单位纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwnsrmc" type="dcbmmc">
				<xs:annotation>
					<xs:documentation>单位纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssjg" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgfjksjg" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>主管分局科所机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsjg" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>征收机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzlbzdsdm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>电子类表征单书代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsph" type="dzsphm">
				<xs:annotation>
					<xs:documentation>电子税票号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tkxxlb">
		<xs:annotation>
			<xs:documentation>退库信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tkxx" type="tkxx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tkxx">
		<xs:annotation>
			<xs:documentation>退库信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="sdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tkse" type="rkse">
				<xs:annotation>
					<xs:documentation>退库税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="sre">
				<xs:annotation>
					<xs:documentation>收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ckrq" type="rkrq">
				<xs:annotation>
					<xs:documentation>退库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>单位登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwnsrsbh" type="codetypeDm">
				<xs:annotation>
					<xs:documentation>单位纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwnsrmc" type="dcbmmc">
				<xs:annotation>
					<xs:documentation>单位纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssjg" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgfjksjg" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>主管分局科所机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsjg" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>征收机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzlbzdsdm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>电子类表征单书代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dzsph" type="dzsphm">
				<xs:annotation>
					<xs:documentation>电子税票号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
