标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00090纳税信息查询/TaxMLBw_R_S_ZRRWT_YHGL_003_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="cxnsxxrequest">
		<xs:annotation>
			<xs:documentation>纳税信息查询请求</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfzjlxDm" type="sfzjlxDm">
						<xs:annotation>
							<xs:documentation>身份证件类型代码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfzjhm" type="sfzhm">
						<xs:annotation>
							<xs:documentation>身份证件号码，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xm" type="sqdwnsrmc">
						<xs:annotation>
							<xs:documentation>姓名，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjfwjg" type="dzswjgDm">
						<xs:annotation>
							<xs:documentation>开具范围机关，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq">
						<xs:annotation>
							<xs:documentation>税款所属期起，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz">
						<xs:annotation>
							<xs:documentation>税款所属期止，不可为空</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
