标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10086/TaxMLBd_061015048_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="A109010Ywbd">
		<xs:annotation>
			<xs:documentation>企业所得税汇总纳税分支机构所得税分配表(A109010)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdshznsfzjgfzjgGrid">
						<xs:annotation>
							<xs:documentation>中华人民共和国企业所得税汇总纳税分支机构所得税分配表分支机构信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="qysdshznsfzjgfzjgGridlb" type="qysdshznsfzjgfzjgGridlbVO">
									<xs:annotation>
										<xs:documentation>企业所得税汇总纳税分支机构所得税分配表-分支机构列表</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="qysdshznsfzjgzjgFrom" type="qysdshznsfzjgzjgFromVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdshznsfzjgfzjgGridlbVO">
		<xs:annotation>
			<xs:documentation>企业所得税汇总纳税分支机构所得税分配表分支机构对应明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fzjgdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>分支机构登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgnsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgmc" type="fzjgmc">
				<xs:annotation>
					<xs:documentation>分支机构名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgsrze" type="srze">
				<xs:annotation>
					<xs:documentation>营业收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjggzze" type="gzze">
				<xs:annotation>
					<xs:documentation>职工薪酬</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgzcze" type="zcze">
				<xs:annotation>
					<xs:documentation>资产总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpbl" type="fpbl">
				<xs:annotation>
					<xs:documentation>分配比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fpse" type="fzjgfpse">
				<xs:annotation>
					<xs:documentation>分支机构分配税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsdfjmfd" type="xsdfjmfd">
				<xs:annotation>
					<xs:documentation>享受地方减免幅度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsdfjmje" type="xsdfjmje">
				<xs:annotation>
					<xs:documentation>享受地方减免金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfxsdfjm" type="sfxsdfjm">
				<xs:annotation>
					<xs:documentation>是否享受地方减免</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjglxlb" type="fzjglxlb">
				<xs:annotation>
					<xs:documentation>企业类型标志（总机构zjg、分支机构fzjg、独立部门dlbm）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdshznsfzjgzjgFromVO">
		<xs:annotation>
			<xs:documentation>企业所得税汇总纳税分支机构所得税分配表总机构信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zjgmc" type="zjgmc">
				<xs:annotation>
					<xs:documentation>总机构名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgnsrsbh" type="zjgnsrsbh">
				<xs:annotation>
					<xs:documentation>总机构纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsdse" type="ynsdse">
				<xs:annotation>
					<xs:documentation>应纳所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgftsdse" type="zjgftsdse">
				<xs:annotation>
					<xs:documentation>总机构分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgczjzfpsdse" type="zjgczjzfpsdse">
				<xs:annotation>
					<xs:documentation>总机构财政集中分配所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgftdsdse" type="fzjgftdsdse">
				<xs:annotation>
					<xs:documentation>分支机构分摊的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
