标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00099/TaxMLBw_HXZG_DJ_00099_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00099Response">
		<xs:annotation>
			<xs:documentation>保存特定征收部门信息与银行账户信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="nsrsbh" type="nsrsbh">
						<xs:annotation>
							<xs:documentation>纳税人识别号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bcdfsjcgbz" type="bz">
						<xs:annotation>
							<xs:documentation>保存地税的标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
