标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/40 税源申报明细报告/TaxMLBd_sysbmxbgcj_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="sybgmxbcjbdywbw">
		<xs:annotation>
			<xs:documentation>税源报告明细表采集表单业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sybgmxbcj" type="sybgmxbcj">
						<xs:annotation>
							<xs:documentation>税源报告明细表采集</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sybgxxGridlbVO">
		<xs:annotation>
			<xs:documentation>税源报告信息GridlbVO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="se" type="se" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kcse" type="kcse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣除税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sybgmxbcj">
		<xs:annotation>
			<xs:documentation>税源报告明细表采集</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sybgxxForm" type="sybgxxForm">
				<xs:annotation>
					<xs:documentation>税源报告信息Form</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybgxxGrid">
				<xs:annotation>
					<xs:documentation>税源报告明细表采集Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="sybgxxGridlb" type="sybgxxGridlbVO">
							<xs:annotation>
								<xs:documentation>税源报告明细表采集Gridlb</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sybgxxForm">
		<xs:annotation>
			<xs:documentation>税源报告信息Form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrqq" type="sbrqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报日期起||不带小时分秒</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrqz" type="sbrqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申报日期止||不带小时分秒</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzlDm" type="pzzlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>票证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzhm" type="pzhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>票证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzg" type="pzzg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>票证字轨</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybzDm1" type="sybzDm1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源标志代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syzl" type="syzl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源坐落</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fyszBdcxmbh" type="fyszBdcxmbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房源所在不动产项目编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fyszBdcxmdz" type="fyszBdcxmdz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房源所在不动产项目地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
