标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_00099/TaxMLBw_HXZG_FP_00099_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP00099Request">
		<xs:annotation>
			<xs:documentation>根据录入信息效检发票挂失毁损信息业务监控</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="gsshsqbgVO" type="FPGsshsqbgVO">
						<xs:annotation>
							<xs:documentation>发票挂失损毁报告VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gsshsqbgmxVO" type="FPGsshsqbgMxVO">
						<xs:annotation>
							<xs:documentation>发票挂失损毁报告明细VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="xs:string">
						<xs:annotation>
							<xs:documentation>1校验发票代码信息，2、校验发票号码信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
