标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00816/TaxMLBw_HXZG_DJ_00816_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00816Request">
		<xs:annotation>
			<xs:documentation>查询外埠纳税人经营地报验登记接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wcjyzmuuid" type="wcjyzmuuid">
						<xs:annotation>
							<xs:documentation>外出经营uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uuid" type="uuid">
						<xs:annotation>
							<xs:documentation>uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="datasource" type="datasource">
						<xs:annotation>
							<xs:documentation>数据源</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gdslxDm" type="gdslxDm">
						<xs:annotation>
							<xs:documentation>国地税类型代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
