标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_01022/TaxMLBw_HXZG_FXCL_01022_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLPublicFZType.xsd"/>
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL01022Request">
		<xs:annotation>
			<xs:documentation>税收违法行为处理启动流程处理后，将采取的处理措施信息保存在跟踪表中接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sswfxwdjuuid" type="sswfxwdjuuid">
						<xs:annotation>
							<xs:documentation>税收违法行为登记UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sjslid" type="sjslid">
						<xs:annotation>
							<xs:documentation>事件实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcswsxDm" type="lcswsxDm">
						<xs:annotation>
							<xs:documentation>流程税务事项代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
