标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/预审核/HXZG_YSH_00006/TaxMLBw_HXZG_YSH_00006_Request_V1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYSHType.xsd"/>
	<xs:complexType name="HXZGYSH00006Request">
		<xs:annotation>
			<xs:documentation>渠道业务审核接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>					
					<xs:element name="fileInfor" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附件信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="fileGrid">
									<xs:annotation>
										<xs:documentation>附件列表</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:element name="fileGridlb" type="YSHFileJhVO"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="fileInforVO" type="YSHFileInforVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="qdywshRequestVO" type="YSHQdywshRequestVO">
						<xs:annotation>
							<xs:documentation>预审核渠道业务审核请求基本信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
