标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01310/TaxMLBd_fxmtysb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="fxmtysbywbwzb">
		<xs:annotation>
			<xs:documentation>分项目通用申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fxmtysb" type="fxmtysb">
						<xs:annotation>
							<xs:documentation>分项目通用申报</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fxmtysb">
		<xs:annotation>
			<xs:documentation>分项目通用申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead">
				<xs:annotation>
					<xs:documentation>申报表头信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="sbbheadkz1VO">
							<xs:sequence>
								<xs:element name="bsr" type="bsy">
									<xs:annotation>
										<xs:documentation>办税人</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="hyDm" type="hyDm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>行业代码，自然人时必须传入</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="xzqhszDm" type="xzqhszDm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>行政区划数字代码，自然人时传入，用于过滤街道乡镇</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jdxzDm" type="hyDm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>街道乡镇代码，自然人时传入</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zgswskfjDm" type="zgswskfjDm" minOccurs="0">
									<xs:annotation>
										<xs:documentation>主管税务科所分局代码</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="sbxxGrid">
				<xs:annotation>
					<xs:documentation>申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="sbxxGridlb" type="sbxxGridlbVo">
							<xs:annotation>
								<xs:documentation>申报表信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbxxGrid">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="sbxxGridlb" type="sbxxGridlbVo">
				<xs:annotation>
					<xs:documentation>申报数据信息-行</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sbxxGridlbVo">
		<xs:annotation>
			<xs:documentation>申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yssdl" type="yssdl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税所得率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xh" type="xh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybzDm1" type="sybzDm1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源标志代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syzldz" type="syzldz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源坐落地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfkssqq" type="sfkssqq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税费款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfkssqz" type="sfkssqz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税费款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysx" type="ysx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税项总数量或收入总额、应缴费人数、原值、面积、缴费基数等</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcx" type="jcx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减除项允许减除数量、金额、面积、已安排残疾人数等</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsfyj" type="jsfyj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税费依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sflhdwse" type="sflhdwse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税费率或单位税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="sskcs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>速算扣除数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynsfe" type="bqynsfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应纳税费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqjmsfe" type="bqjmsfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期减免税费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjsfe" type="bqyjsfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已缴税费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtsfe" type="bqybtsfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应补退税费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wdqzdbz" type="bz1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>未达起征点标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rdpzuuid" type="rdpzuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>认定凭证UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rdzsuuid" type="rdzsuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>认定主税UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysbse" type="ysbse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已申报税额,对于个体工商户按累计计税，取值为上期已申报税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
