标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01413/TaxMLBw_HXZG_SB_01413_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_qysdsczzsyjdsb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01413Request">
		<xs:annotation>
			<xs:documentation>跨地区经营汇总纳税企业的分支机构年度纳税申报错误更正保存接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxTjVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBSbjmTjVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBSbyjTjVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="qysdsczzsyjdSbbdxxVO" type="qysdsczzsyjdsbywbw">
						<xs:annotation>
							<xs:documentation>跨地区经营汇总纳税企业的分支机构年度纳税申报申报表单数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbSBbcTjqtxxVO" type="SBSBbcTjqtxxVO">
						<xs:annotation>
							<xs:documentation>申报纳税人申报保存提交其他信息对象</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbNsrxxJhVO" type="SBNsrxxJhVO">
						<xs:annotation>
							<xs:documentation>申报纳税人主体数据查询信息对象</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
