标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01413/TaxMLBw_qysdsczzsyjdsb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610040_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610057_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610673_V1.0.xsd"/>	
	<xs:complexType name="qysdsczzsyjdsbywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdsyjdyjnssbbal" type="qysdsyjdyjnssbbal">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税月（季）度预缴纳税申报表（A类）》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qysdsyjdsbczzs_qysdshznsfzjgsdsfpsbb" type="qysdsyjdsbczzs_qysdshznsfzjgsdsfpsbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税汇总纳税分支机构所得税分配表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qysdsyjdsbczzs_jmqycgwgqyxxbgb" type="qysdsyjdsbczzs_jmqycgwgqyxxbgb">
						<xs:annotation>
							<xs:documentation>居民企业参股外国企业信息报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
