标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00645/TaxMLBd_0610095_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xuxin (csstj) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="whsyjsfsbbywbw">
		<xs:annotation>
			<xs:documentation>《文化事业建设费申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="whsyjsfsbb">
						<xs:annotation>
							<xs:documentation>《文化事业建设费申报表》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="sbbhead" type="sbbheadkz1VO">
									<xs:annotation>
										<xs:documentation>文化事业建设费申报表头信息</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="whsyjsfsbbGrid">
									<xs:annotation>
										<xs:documentation>文化事业建设费申报信息</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:element name="whsyjsfsbbGridlb" type="whsyjsfsbbGridlbVO">
												<xs:annotation>
													<xs:documentation>文化事业建设费申报列表</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="slxx" type="sbbslxxkz2VO">
									<xs:annotation>
										<xs:documentation>文化事业建设费申报受理信息</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="whsyjsfsbb">
		<xs:annotation>
			<xs:documentation>《文化事业建设费申报表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="sbbheadkz1VO">
				<xs:annotation>
					<xs:documentation>文化事业建设费申报表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="whsyjsfsbbGrid">
				<xs:annotation>
					<xs:documentation>文化事业建设费申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="whsyjsfsbbGridlb" type="whsyjsfsbbGridlbVO">
							<xs:annotation>
								<xs:documentation>文化事业建设费申报列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slxx" type="sbbslxxkz2VO">
				<xs:annotation>
					<xs:documentation>文化事业建设费申报受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="whsyjsfsbbGrid">
		<xs:annotation>
			<xs:documentation>文化事业建设费申报数据对应Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="whsyjsfsbbGridlb" type="whsyjsfsbbGridlbVO">
				<xs:annotation>
					<xs:documentation>文化事业建设费申报列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="whsyjsfsbbGridlbVO">
		<xs:annotation>
			<xs:documentation>文化事业建设费申报数据对应明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fl" type="fl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>费额计算费率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynfe" type="bqynfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应纳费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmfe" type="jmfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjfe1" type="yjfe1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已缴费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtfe" type="bqybtfe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应补退费额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
