标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10233/TaxMLBw_HXZG_ZS_10233_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS10233ResponseVO">
		<xs:annotation>
			<xs:documentation>查询通过批扣扣款的有效信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="pkkkxxGrid">
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="pkkkxxGridlb">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="djxh" type="djxh">
												<xs:annotation>
													<xs:documentation>登记序号</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="zspmDm" type="zspmDm">
												<xs:annotation>
													<xs:documentation>征收品目代码</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="skssqq" type="skssqq">
												<xs:annotation>
													<xs:documentation>税款所属期起</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="skssqz" type="skssqz">
												<xs:annotation>
													<xs:documentation>税款所属期止</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="se" type="se">
												<xs:annotation>
													<xs:documentation>已扣税额</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
