标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_SB_00008_全责模式日常申报保存应征信息/TaxMLBw_GSSB_SB_00008_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfrcsbRequest">
		<xs:annotation>
			<xs:documentation>社会保险费日常申报保存业务请求报文(全责模式)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ShbxfrcsbHead" type="ShbxfrcsbHead">
						<xs:annotation>
							<xs:documentation>社会保险费缴费申报表表头</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShbxfrcsbDetailList" type="ShbxfrcsbDetailList">
						<xs:annotation>
							<xs:documentation>社会保险费申报明细信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShbxfrcsbDetailList">
		<xs:annotation>
			<xs:documentation>社会保险费缴费申报明细列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ShbxfrcsbDetail" type="ShbxfrcsbDetail">
				<xs:annotation>
					<xs:documentation>社会保险费缴费申报表明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfrcsbHead">
		<xs:annotation>
			<xs:documentation>社会保险费缴费申报表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>缴费人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>缴费人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>社保主管税务机关代码,传入缴费人主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswksfjDm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>主管税务科所分局代码,传入缴费人主管税务所（科、分局）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrlxDm" type="jfrlxDm">
				<xs:annotation>
					<xs:documentation>缴费人类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsrq" type="sjgsrq">
				<xs:annotation>
					<xs:documentation>数据归属日期,申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记注册类型代码,纳税人为单位时填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwlsgxDm" type="dwlsgxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位隶属关系代码,纳税人为单位时填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfsDm" type="sbfsDm">
				<xs:annotation>
					<xs:documentation>申报方式，直接传32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsDm" type="zsfsDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收方式，461: 查账征收  462:按上月缴费基数核定  463:按行业单户平均核定  464:按行业平均核定  465:按平均工资核定   466:灵活就业人员核定  469:其他征收方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm" type="sbsxDm">
				<xs:annotation>
					<xs:documentation>社保属性代码，默认0101(一般申报)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件类型代码，灵活就业人员填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码，灵活就业人员填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话，灵活就业人员填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzdz" type="hjdz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>居住地址，灵活就业人员填写</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收管理员代码，传入税管员信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>录入人代码，网报系统命名操作员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码，如果是单位申报就传BDA0610222；如果是灵活就业人员申报就传BDA0610223</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbxxly" type="sbxxly">
				<xs:annotation>
					<xs:documentation>
					社保信息来源：
					0：缴费人自行填报 
					1：税务机关缴费基数确定 可修改
					2：社保经办机构导入 不可修改
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xssr" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfgzze" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实发工资总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgrs" type="zgrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>职工人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhzh" type="yhzh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>银行账户</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhmc" type="yhmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>银行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfrcsbDetail">
		<xs:annotation>
			<xs:documentation>社会保险费缴费明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbm" type="sbbm">
				<xs:annotation>
					<xs:documentation>社保编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblsh" type="sblsh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>社保流水号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xxh" type="xxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>小序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbjbjgDm" type="sbjbjgDm">
				<xs:annotation>
					<xs:documentation>社保经办机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbshrq" type="shrq">
				<xs:annotation>
					<xs:documentation>社保审核日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjzspmDm" type="zspmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上级征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>费款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>费款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfjs" type="jfjs">
				<xs:annotation>
					<xs:documentation>缴费基数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jfrs" type="jfrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>缴费人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jffl" type="jffl">
				<xs:annotation>
					<xs:documentation>缴费费率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjfe" type="yjfe">
				<xs:annotation>
					<xs:documentation>应缴费额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjse1" type="yjse1">
				<xs:annotation>
					<xs:documentation>预缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="sblsh">
		<xs:annotation>
			<xs:documentation>社保流水号</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sbxxly">
		<xs:annotation>
			<xs:documentation>社保信息来源</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
