标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_SB_00008_全责模式日常申报保存应征信息/TaxMLBw_GSSB_SB_00008_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfrcsbResponse">
		<xs:annotation>
			<xs:documentation>社会保险费日常申报保存应征信息返回报文(全责模式)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ShbxfrcsbResultList" type="ShbxfrcsbResultList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShbxfrcsbResultList">
		<xs:annotation>
			<xs:documentation>社会保险费申报结果列表</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="ShbxfrcsbResult" type="ShbxfrcsbResult">
				<xs:annotation>
					<xs:documentation>社会保险费日常申报结果列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShbxfrcsbResult">
		<xs:annotation>
			<xs:documentation>社会保险费申报结果</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yzpzxh" type="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>