标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00822/TaxMLBw_yyssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001037_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001038_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001039_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001040_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001041_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001042_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001043_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001044_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001045_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001046_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001047_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001048_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001049_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001050_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001051_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001052_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001053_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_061001054_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_062100_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_062101_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_062102_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_062103_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_062104_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_062105_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_yysjmsmxsbb_V1.0.xsd"/>
	<xs:complexType name="yyssbywbw">
		<xs:annotation>
			<xs:documentation>《营业税申报》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:annotation>
					<xs:documentation>《营业税申报》业务报文</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="yyssb00_yysnssbb" type="yysnssbb">
						<xs:annotation>
							<xs:documentation>《营业税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb01_yysnssbb" type="yyssb01_jtysyyysnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《交通运输业营业税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb02_yysnssbb" type="yyssb02_ylyyysnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《娱乐业营业税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb03_yysnssbb" type="yyssb03_fwyyysnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《服务业营业税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb04_yysnssbb" type="yyssb04_fwyjcxmjemxsbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《服务业减除项目金额明细申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb05_yysnssbb" type="yyssb05_jzyyysnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《建筑业营业税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb06_yysnssbb" type="yyssb06_ydtgjzylwskjnqksbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《异地提供建筑业劳务税款缴纳情况申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb07_yysnssbb" type="yyssb07_ydtxysbnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《邮电通信业申报申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb08_yysnssbb" type="yyssb08_whtyysbnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《文化体育业申报申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb09_yysnssbb" type="yyssb09_xsbdcsbnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《销售不动产申报申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb10_yysnssbb" type="yyssb10_zrwxzcsbnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《转让无形资产申报申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb11_jrbxysbnssbb" type="jrbxyyysnssbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>营业税申报(金融保险业) </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb12_jrbxysbnssbb" type="jrbxyyyssb01_dklxsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>贷款（含贴现、押汇、透支等）利息收入明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb13_jrbxysbnssbb" type="jrbxyyyssb02_wtdklxsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>委托贷款利息收入明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb14_jrbxysbnssbb" type="jrbxyyyssb03_rzzlsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>融资租赁收入明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb15_jrbxysbnssbb" type="jrbxyyyssb04_zymmgpjcsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>自营买卖股票价差收入明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb16_jrbxysbnssbb" type="jrbxyyyssb05_zymmzqjcsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《自营买卖债券价差收入明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb17_jrbxysbnssbb" type="jrbxyyyssb06_zymmwhjcsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《自营买卖外汇价差收入明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb18_jrbxysbnssbb" type="jrbxyyyssb07_zymmqtjrspjcsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《自营买卖其他金融商品价差收入明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb19_jrbxysbnssbb" type="jrbxyyyssb08_jrjjywjqtjrywsryhzmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《金融经纪业务及其他金融业务收入月汇总明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb20_jrbxysbnssbb" type="jrbxyyyssb09_bfsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《保费收入明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb21_jrbxysbnssbb" type="jrbxyyyssb10_cjywsrmxb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>《储金业务收入明细表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yyssb24_fjssbnssbb" type="yysfjssb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>附加税申报纳税人申报表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yysjmsmxsbb_yysjmsmxsbb" type="yysjmsmxsbb_yysjmsmxsbb" minOccurs="0">
						<xs:annotation>
							<xs:documentation>营业税减免税明细申报表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
