标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00022/TaxMLBw_SSFWGL_SF_00022_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSSFWType.xsd"/>
	<xs:complexType name="SSFWGLSSFW00022Request">
		<xs:annotation>
			<xs:documentation>保存涉税专业服务年度报告</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jgjbxxForm" type="jgjbxxForm">
						<xs:annotation>
							<xs:documentation>机构基本信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sszyfwndbgVO" type="SFSszyfwndbgVO">
						<xs:annotation>
							<xs:documentation>涉税专业服务年度报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ywxxGrid" type="ywxxGrid">
						<xs:annotation>
							<xs:documentation>业务信息表格</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ywxxForm" type="ywxxForm">
						<xs:annotation>
							<xs:documentation>业务信息表单</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jyxxGrid">
		<xs:annotation>
			<xs:documentation>经营信息表格</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="jyxxGridlb" type="SFNdbgjyxxVO">
				<xs:annotation>
					<xs:documentation>经营信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ywxxGrid">
		<xs:annotation>
			<xs:documentation>业务信息表格</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ywxxGridlb" type="SFNdbgywxxVO">
				<xs:annotation>
					<xs:documentation>业务信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
