标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/19 企业会计准则（保险公司）财务报表报送与信息采集/TaxMLBd_0610179_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qykjzzbxgssyzqybdVO">
		<xs:annotation>
			<xs:documentation> 企业会计准则（保险公司）财务报表报送所有者权益变动表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="NsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syzqybdbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="srzcbybGridlb" type="qykjzzbxgssyzqybdbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qykjzzbxgssyzqybdbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnsszbhgb" type="bnsszbhgb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年实收资本(或股本)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnzbgj" type="bnzbgj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年资本公积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnjkcg" type="bnjkcg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年减库存股</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnyygj" type="bnyygj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年盈余公积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnybfxzb" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年一般风险准备</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnwfplr" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年未分配利润</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnqt" type="bnqt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnssgdqy" type="bnssgdqy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年少数股东权益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnsyzqyhj" type="bnsyzqyhj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年所有者权益合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snsszbhgb" type="snsszbhgb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年实收资本(或股本)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snzbgj" type="snzbgj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年资本公积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snjkcg" type="snjkcg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年减库存股</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snyygj" type="snyygj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年盈余公积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snybfxzb" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年一般风险准备</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snwfplr" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年未分配利润</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snqt" type="snqt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snssgdqy" type="snssgdqy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年少数股东权益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snsyzqyhj" type="snsyzqyhj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>上年所有者权益合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
