标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01706/TaxMLBw_HXZG_SB_01706_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB01706Request">
		<xs:annotation>
			<xs:documentation>查询税源申报信息请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="syuuid" type="syuuid">
						<xs:annotation>
							<xs:documentation>税源uuid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssqq" type="ssqq">
						<xs:annotation>
							<xs:documentation>所属期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssqz" type="ssqz">
						<xs:annotation>
							<xs:documentation>所属期止</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
