标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00020/TaxMLBw_HXZG_DJ_00020_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00020Request">
		<xs:annotation>
			<xs:documentation>扣缴义务人信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="DJKjywrxxVO" type="DJKjywrxxVO">
						<xs:annotation>
							<xs:documentation>扣缴义务人信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DJKjywrxxVO">
		<xs:annotation>
			<xs:documentation>扣缴义务人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzjgDm" type="zzjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>组织机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>登记注册类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzsljglxDm" type="pzsljglxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>批准设立机关类别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzsljgDm" type="pzsljgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>批准设立机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzzmhwjh" type="pzzmhwjh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>批准设立证明或文件号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzlxDm" type="zzlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>证照名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzhm" type="zzhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>证照号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwlsgxDm" type="dwlsgxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>隶属关系</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国标行业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcdzxzqhszDm" type="zcdzxzqhszDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>注册地址所在行政区划</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcdz" type="zcdz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>注册地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcdlxdh" type="zcdlxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>注册地联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcdyzbm" type="zcdyzbm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>注册地邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>所处乡街</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cyrs" type="cyrs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>职工人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrDm" type="jbrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyslrq" type="kyslrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>申请日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjDm" type="zgswjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrxm" type="fddbrxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>法定代表人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrsfzjlxDm" type="fddbrsfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrsfzjhm" type="fddbrsfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrgddh" type="fddbrgddh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>固定电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbryddh" type="fddbryddh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>移动电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzrxm" type="cwfzrxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财务负责人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzrsfzjzlDm" type="cwfzrsfzjzlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzrsfzjhm" type="cwfzrsfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzrgddh" type="cwfzrgddh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>固定电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfzryddh" type="cwfzryddh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>移动电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrxm" type="bsrxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>办税人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrsfzjzlDm" type="bsrsfzjzlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrsfzjhm" type="bsrsfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrgddh" type="bsrgddh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>固定电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsryddh" type="bsryddh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>移动电话</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
