标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00165/TaxMLBw_HXZG_DJ_00165_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00165Response">
		<xs:annotation>
			<xs:documentation>根据指定条件查询本税务机关管辖内的己登记的房源信息返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="FwztxxGrid" type="FwztxxGrid">
						<xs:annotation>
							<xs:documentation>房屋总体信息集合</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FwsyqkdjxxGrid" type="FwsyqkdjxxGrid">
						<xs:annotation>
							<xs:documentation>房屋使用情况登记信息集合</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FwztxxGrid">
		<xs:annotation>
			<xs:documentation>房屋总体信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="FwztxxGridlb" type="FwztxxVO">
				<xs:annotation>
					<xs:documentation>房屋总体信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FwsyqkdjxxGrid">
		<xs:annotation>
			<xs:documentation>房屋使用情况登记信息集合</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="FwsyqkdjxxGridlb" type="FwsyqkdjxxVO">
				<xs:annotation>
					<xs:documentation>房屋使用情况登记信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
