标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00075/TaxMLBw_HXZG_SB_00075_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_dqdehfyhzsb_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00075Request">
		<xs:annotation>
			<xs:documentation>定期定额户分月汇总申报申报保存接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="nsrxxForm" type="sbbheadkz1VO">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dqdehfyhzsbxxGridlbVO">
						<xs:annotation>
							<xs:documentation>预缴税款数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="dqdehfyhzsbGridlb" type="dqdehfyhzsbGridlbVo"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Sbbslxxkz1VO" type="Sbbslxxkz1VO"/>
					<xs:element name="sbsbbcTjqtxxVO" type="SBSBbcTjqtxxVO">
						<xs:annotation>
							<xs:documentation>定期定额自行申报数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
