标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00242/TaxMLBw_HXZG_DJ_00242_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_011016003_V1.0.xsd"/>
	<xs:complexType name="HXZGDJ00242Request">
		<xs:annotation>
			<xs:documentation>建筑业工程项目情况登记信息采集表提交接入报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="lcslid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Jzygcxmdjcjb" type="Jzygcxmdjcjb">
						<xs:annotation>
							<xs:documentation>建筑业工程项目情况登记信息采集表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
