标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/代扣代缴申报/TaxMLBd_BDA0610137_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (ywi) 使用XMLSpy vywiofjdls编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="xsgzrsdkjgrsdsbgbYwbw">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="xsgzrsdkjgrsdsbgbBzds" type="xsgzrsdkjgrsdsbgbBzds"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgbBzds">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsgzrsdkjgrsdsbgbHead" type="xsgzrsdkjgrsdsbgbHead">
				<xs:annotation>
					<xs:documentation>限售股转让所得扣缴个人所得税报告表表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsgzrsdkjgrsdsbgbBody" type="xsgzrsdkjgrsdsbgbBody">
				<xs:annotation>
					<xs:documentation>限售股转让所得扣缴个人所得税报告表表体</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bodyAffix" type="xs:anySimpleType">
				<xs:annotation>
					<xs:documentation>预留：附属表体</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgbHead">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kjywrbm" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>扣缴义务人编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm">
				<xs:annotation>
					<xs:documentation>登记注册类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>扣缴义务人登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq">
				<xs:annotation>
					<xs:documentation>填表日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrs" type="kjrs">
				<xs:annotation>
					<xs:documentation>扣缴人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>扣缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dz" type="zz">
				<xs:annotation>
					<xs:documentation>地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dh" type="lxdh">
				<xs:annotation>
					<xs:documentation>电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrxm" type="swjgjbrxm">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrxm" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjg" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="bgbz">
				<xs:annotation>
					<xs:documentation>申报方式代码，0：正常申报，1：更正申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="ssglyDm">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgbBody">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsgzrsdkjgrsdsbgb" type="xsgzrsdkjgrsdsbgb">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇执行情况报告表明细</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsgzrsdkjgrsdsbgbHj" type="xsgzrsdkjgrsdsbgbHj" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>非居民享受税收协定待遇执行情况报告表合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgb">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsgzrsdkjgrsdsbgbMx" type="xsgzrsdkjgrsdsbgbMx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgbMx">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xh" type="xh">
				<xs:annotation>
					<xs:documentation>序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrxm" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>纳税人有效身份证照证照类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxMc" type="zzlxmc">
				<xs:annotation>
					<xs:documentation>纳税人有效身份证照证照类型名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>纳税人有效身份证照证照号码，当纳税人有效身份证照证照类型代码为201【居民身份证】时，纳税人有效身份证照证照号码长度只能为18位
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>自然人登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zqzhh" type="szzqsczqzhhmgddmDm">
				<xs:annotation>
					<xs:documentation>证券账户号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gpDm" type="gpDm">
				<xs:annotation>
					<xs:documentation>股票代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gpmc" type="gpmc">
				<xs:annotation>
					<xs:documentation>股票名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mgjsjg" type="sre">
				<xs:annotation>
					<xs:documentation>每股计税价格(精确到小数点后面6位)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zrgs" type="sre">
				<xs:annotation>
					<xs:documentation>转让股数(股)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zrsre" type="sre">
				<xs:annotation>
					<xs:documentation>转让收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xj" type="sre">
				<xs:annotation>
					<xs:documentation>小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsgyz" type="sre">
				<xs:annotation>
					<xs:documentation>原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hlsf" type="ybsfe">
				<xs:annotation>
					<xs:documentation>合理税费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjse" type="kjse">
				<xs:annotation>
					<xs:documentation>扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsgzrsdkjgrsdsbgbHj">
		<xs:annotation>
			<xs:documentation>限售股转让所得扣缴个人所得税报告表合计</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xjhj" type="sre">
				<xs:annotation>
					<xs:documentation>小计合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssdehj" type="ynse">
				<xs:annotation>
					<xs:documentation>应纳税所得额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjsehj" type="ykse">
				<xs:annotation>
					<xs:documentation>扣缴税额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
