标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/代扣代缴申报/TaxMLBd_BDA0619908_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_BDA0619908_xpzd_v1.0.xsd"/>
	<xs:complexType name="kjgrsdsbgbYwbw">
		<xs:annotation>
			<xs:documentation>扣缴个人所得税报告表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kjgrsdsbgbBzds" type="kjgrsdsbgbBzds"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="kjgrsdsbgbBzds">
		<xs:annotation>
			<xs:documentation>扣缴个人所得税报告表表证单书</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="head" type="kjgrsdsbgbHead">
				<xs:annotation>
					<xs:documentation>扣缴个人所得税报告表表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="kjgrsdsbgbBody">
				<xs:annotation>
					<xs:documentation>扣缴个人所得税报告表表体</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bodyAffix" type="xs:anySimpleType">
				<xs:annotation>
					<xs:documentation>预留：附属表体</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjgrsdsbgbHead">
		<xs:annotation>
			<xs:documentation>扣缴个人所得税报告表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kjywrsbh" type="kjywrsbh">
				<xs:annotation>
					<xs:documentation>扣缴义务人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrmc" type="kjywrmc">
				<xs:annotation>
					<xs:documentation>扣缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm">
				<xs:annotation>
					<xs:documentation>行业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm">
				<xs:annotation>
					<xs:documentation>登记注册类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>扣缴义务人登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属时期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属时期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq1" type="tbrq">
				<xs:annotation>
					<xs:documentation>填表日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbrq" type="sbrq">
				<xs:annotation>
					<xs:documentation>代理申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjrs" type="kjrs">
				<xs:annotation>
					<xs:documentation>扣缴人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fddbrfzrxm" type="fddbrfzrxm">
				<xs:annotation>
					<xs:documentation>法定代表人（负责人）姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbrxm" type="swjgjbrxm">
				<xs:annotation>
					<xs:documentation>经办人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrxm" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljgbsrxm" type="dljgbsrxm">
				<xs:annotation>
					<xs:documentation>代理机构经办人姓名，代理机构填写时，该项必须录入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljbrzyzjhm" type="dljbrzyzjhm">
				<xs:annotation>
					<xs:documentation>代理经办人执业证件号码，代理机构填写时，该项必须录入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgMc" type="slswjgmc">
				<xs:annotation>
					<xs:documentation>受理税务机关名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblxDm" type="bgbz">
				<xs:annotation>
					<xs:documentation>申报方式代码，0：正常申报，1：更正申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrsshybz" type="bz3">
				<xs:annotation>
					<xs:documentation>扣缴义务人所属行业标志， 0：一般行业， 1：特定行业月份申报</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljg" type="kjywrmc">
				<xs:annotation>
					<xs:documentation>代理机构</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="ssglyDm">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykwk" type="sfbz">
				<xs:annotation>
					<xs:documentation>应扣未扣，可以为空（Y:是，N:否--不支持网报数据进行应扣未扣申报，系统按N处理）</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjgrsdsbgbBody">
		<xs:annotation>
			<xs:documentation>扣缴个人所得税报告表表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kjgrsdsbgbs" type="kjgrsdsbgbs" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>扣缴个人所得税报告表列表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjgrsdsbgbHj" type="kjgrsdsbgbHj" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>扣缴个人所得税报告表合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjgrsdsbgbs">
		<xs:sequence>
			<xs:element name="kjgrsdsbgbMx" type="kjgrsdsbgbMx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjgrsdsbgbMx">
		<xs:annotation>
			<xs:documentation>扣缴个人所得税报告表明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xh" type="xh">
				<xs:annotation>
					<xs:documentation>序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfmxsb" type="bz3">
				<xs:annotation>
					<xs:documentation>是否明细申报，1：是， 0：否</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrxm" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdqszdm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国籍</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdqmc" type="gjhdqmc">
				<xs:annotation>
					<xs:documentation>国籍名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzlxdm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>证照类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzlxmc" type="zzlxmc">
				<xs:annotation>
					<xs:documentation>证照类型名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzhm" type="zzhm">
				<xs:annotation>
					<xs:documentation>证照号码当证照类型代码为201【居民身份证】时，证照号码长度只能为18位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmdm" type="grsdssdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmmc" type="sdxmmc">
				<xs:annotation>
					<xs:documentation>所得项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdqjq" type="sdqjq">
				<xs:annotation>
					<xs:documentation>所得期间起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdqjz" type="sdqjz">
				<xs:annotation>
					<xs:documentation>所得期间止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="sre">
				<xs:annotation>
					<xs:documentation>收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssdje" type="mssdje">
				<xs:annotation>
					<xs:documentation>（免税所得）其他免税所得金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjryxjjlmsbf" type="mssdje">
				<xs:annotation>
					<xs:documentation>
					（免税所得）科技人员现金奖励免税部分，没有时传0；仅当申报工资薪金所得时该字段才可录入；
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylbxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>养老保险金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yilbxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>医疗保险金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>失业保险金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfgjjje" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>住房公积金金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccyzje" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>财产原值金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkcdfye" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>允许扣除的费用额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkcxmqtje" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>（税前扣除项目）其他金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nj" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>
					（税前扣除项目）年金，没有时传0；					 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syjkx" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>
					（税前扣除项目）商业健康险，没有时传0,大于0时,附表【TaxMLBd_BDA0610855_v1.1.xsd《商业健康保险税前扣除》】必录，并且明细中的自然人一定要在《商业健康保险税前扣除》明细中存在。				
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdk" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>
					（税前扣除项目）投资抵扣，没有时传0；					 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkcxmjehj" type="kcxmjehj">
				<xs:annotation>
					<xs:documentation>税前扣除项目金额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcfye" type="fykcbz">
				<xs:annotation>
					<xs:documentation>减除费用额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zykcdjze" type="zykcdjze">
				<xs:annotation>
					<xs:documentation>准予扣除的捐赠额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="sskcs">
				<xs:annotation>
					<xs:documentation>速算扣除数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="ynse">
				<xs:annotation>
					<xs:documentation>应纳（扣缴）税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yingkjse" type="ykse">
				<xs:annotation>
					<xs:documentation>应扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ykjse" type="ykse">
				<xs:annotation>
					<xs:documentation>已扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="sjybtse">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjgrsdsbgbMxXpzd" type="kjgrsdsbgbMxXpzd">
				<xs:annotation>
					<xs:documentation>广东扣缴个人所得税报告明细选配字段</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjgrsdsbgbHj">
		<xs:annotation>
			<xs:documentation>扣缴个人所得税报告表合计</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hjSre" type="sre">
				<xs:annotation>
					<xs:documentation>合计收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjMssdje" type="mssdje">
				<xs:annotation>
					<xs:documentation>（免税所得）合计其他所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjKjryxjjlmsbf" type="mssdje">
				<xs:annotation>
					<xs:documentation>(免税所得）科技人员现金奖励免税部分</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYlbxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>合计养老保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYilbxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>合计医疗保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjSybxje" type="ylbxjjje">
				<xs:annotation>
					<xs:documentation>合计失业保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjZfgjjje" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>合计住房公积金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjCcyzje" type="zfgjjje">
				<xs:annotation>
					<xs:documentation>合计财产原值金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYxkcdfye" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>合计允许扣除的费用额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjSqkcxmqtje" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>合计税前扣除项目其他金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjSqkcxmnjje" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>合计税前扣除项目年金，上面明细项对应的合计，没有时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjSqkcxmsyjkx" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>合计税前扣除项目商业健康险，上面明细项对应的合计，没有时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjSqkcxmtzdk" type="zykcdsf">
				<xs:annotation>
					<xs:documentation>合计税前扣除项目投资抵扣，上面明细项对应的合计，没有时传0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjSqkcxmjehj" type="kcxmjehj">
				<xs:annotation>
					<xs:documentation>合计税前扣除项目金额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjJcfye" type="sre">
				<xs:annotation>
					<xs:documentation>合计减除费用额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjZykcdjze" type="zykcdjze">
				<xs:annotation>
					<xs:documentation>合计准予扣除的捐赠额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYnssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>合计应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYnse" type="ynse">
				<xs:annotation>
					<xs:documentation>合计应纳（扣缴）税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjJmse" type="jmse">
				<xs:annotation>
					<xs:documentation>合计减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYingkjse" type="ykjse">
				<xs:annotation>
					<xs:documentation>合计应扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYkjse" type="ykjse">
				<xs:annotation>
					<xs:documentation>合计已扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hjYbtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>合计应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjgrsdsbgbHjXpzd" type="kjgrsdsbgbHjXpzd">
				<xs:annotation>
					<xs:documentation>广东扣缴个人所得税报告明细选配字段</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
