标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00079网上申报提交/代扣代缴申报/TaxMLBd_WJRYCJXX_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="wjrycjRequest">
		<xs:annotation>
			<xs:documentation>外籍人员采集请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wjrycjxx" type="wjrycjxx"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="wjrycjxx">
		<xs:annotation>
			<xs:documentation>外籍人信息采集信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="head" type="wjrycjxxHead">
				<xs:annotation>
					<xs:documentation>外籍人信息采集信息表头</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="wjrycjxxBody">
				<xs:annotation>
					<xs:documentation>外籍人信息采集信息表体</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wjrycjxxHead">
		<xs:annotation>
			<xs:documentation>外籍人信息采集信息表头，目前没有，预留</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="wjrycjxxBody">
		<xs:annotation>
			<xs:documentation>外籍人员采集请求报文</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wjrycjxxMx" type="wjrycjxxMx" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>外籍人员关键信息明细</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wjrycjxxMx">
		<xs:annotation>
			<xs:documentation>外籍人信息采集信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="wjrygjxx" type="wjrygjxx">
				<xs:annotation>
					<xs:documentation>外籍人员关键信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jnrzsgxx" type="jnrzsgxx">
				<xs:annotation>
					<xs:documentation>境内任职受雇信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jnsgqyxx" type="jnsgqyxx">
				<xs:annotation>
					<xs:documentation>境内受雇签约信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwpqdwxx" type="jwpqdwxx">
				<xs:annotation>
					<xs:documentation>境外派遣单位信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwxx" type="jwxx">
				<xs:annotation>
					<xs:documentation>境外信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="wjrygjxx">
		<xs:annotation>
			<xs:documentation>外籍人员关键信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjhdqszDm" type="gjhdqszDm">
				<xs:annotation>
					<xs:documentation>国家或地区三字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jnrzsgxx">
		<xs:annotation>
			<xs:documentation>境内任职受雇信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dwmc" type="dwmc">
				<xs:annotation>
					<xs:documentation>单位名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrbm" type="kjywrsbh">
				<xs:annotation>
					<xs:documentation>扣缴义务人编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwdz" type="dwdz">
				<xs:annotation>
					<xs:documentation>单位地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzbm" type="yzbm">
				<xs:annotation>
					<xs:documentation>邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jnsgqyxx">
		<xs:annotation>
			<xs:documentation>境内受雇签约信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dwmc" type="dwmc">
				<xs:annotation>
					<xs:documentation>单位名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrbm" type="kjywrsbh">
				<xs:annotation>
					<xs:documentation>扣缴义务人编码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwdz" type="dwdz">
				<xs:annotation>
					<xs:documentation>单位地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzbm" type="yzbm">
				<xs:annotation>
					<xs:documentation>邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jwpqdwxx">
		<xs:annotation>
			<xs:documentation>境外派遣单位信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dwmc" type="dwmc">
				<xs:annotation>
					<xs:documentation>单位名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwdz" type="dwdz">
				<xs:annotation>
					<xs:documentation>单位地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jwxx">
		<xs:annotation>
			<xs:documentation>境外信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jwzffmc" type="dwmc">
				<xs:annotation>
					<xs:documentation>境外支付方名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwlxdz" type="dwdz">
				<xs:annotation>
					<xs:documentation>境外联系地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzbm" type="yzbm">
				<xs:annotation>
					<xs:documentation>邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
