标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00197/TaxMLBd_0610045_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xuxin (csstj) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qysdsnbksmxsbbywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税年度纳税申报表附表四企业所得税弥补亏损明细表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdsnbksmxsbb">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税年度纳税申报表附表四企业所得税弥补亏损明细表》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="qysdsmbksmxsbbForm" type="qysdsmbksmxsbbForm">
									<xs:annotation>
										<xs:documentation>企业所得税弥补亏损明细表申报信息</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdsnbksmxsbb">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税年度纳税申报表附表四企业所得税弥补亏损明细表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qysdsmbksmxsbbForm" type="qysdsmbksmxsbbForm">
				<xs:annotation>
					<xs:documentation>企业所得税弥补亏损明细表申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsmbksmxsbbForm">
		<xs:annotation>
			<xs:documentation>企业所得税弥补亏损明细表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nd1" type="sbnd">
				<xs:annotation>
					<xs:documentation>申报年度之前第一年（年度）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylehkse1" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前一年年度的盈利额或亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbflqyzrkmbkse1" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前一年年度合并分立企业转入可弥补亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnkmbdsde1" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前一年年度的当年可弥补的所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqsnd" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前四年度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqsannd1" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前三年度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqernd1" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前二年度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqyind1" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前一年度</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hj1" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bndsjmbdyqndkse1" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前一年年度实际弥补的以前年度亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd2" type="sbnd">
				<xs:annotation>
					<xs:documentation>申报年度之前第二年（年度）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylehkse2" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前二年年度的盈利额或亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbflqyzrkmbkse2" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前二年年度合并分立企业转入可弥补亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnkmbdsde2" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前二年年度的当年可弥补的所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqsannd2" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前三年度2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqernd2" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前二年度2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqyind2" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前一年度2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hj2" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前二年年度的以前年度亏损弥补额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bndsjmbdyqndkse2" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前二年年度实际弥补的以前年度亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzyhndmbdkse2" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前二年年度可结转以后年度弥补的亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd3" type="sbnd">
				<xs:annotation>
					<xs:documentation>申报年度之前第三年（年度）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylehkse3" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前三年年度的盈利额或亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbflqyzrkmbkse3" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前三年年度合并分立企业转入可弥补亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnkmbdsde3" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前三年年度的当年可弥补的所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqernd3" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前二年度3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqyind3" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前二年度3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hj3" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前三年年度的以前年度亏损弥补额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bndsjmbdyqndkse3" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前三年年度实际弥补的以前年度亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzyhndmbdkse3" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前三年年度可结转以后年度弥补的亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd4" type="sbnd">
				<xs:annotation>
					<xs:documentation>申报年度之前第四年（年度）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylehkse4" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前四年年度的盈利额或亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbflqyzrkmbkse4" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前四年年度的合并分立企业转入可弥补亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnkmbdsde4" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前四年年度当年可弥补的所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndksmbeqyind4" type="je">
				<xs:annotation>
					<xs:documentation>以前年度亏损弥补额前一年度4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hj4" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前四年年度的以前年度亏损弥补额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bndsjmbdyqndkse4" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前四年年度实际弥补的以前年度亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzyhndmbdkse4" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前四年年度可结转以后年度弥补的亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd5" type="sbnd">
				<xs:annotation>
					<xs:documentation>申报年度之前第五年（年度）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylehkse5" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前五年年度的盈利额或亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbflqyzrkmbkse5" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前五年年度的合并分立企业转入可弥补亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnkmbdsde5" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前五年年度当年可弥补的所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bndsjmbdyqndkse5" type="je">
				<xs:annotation>
					<xs:documentation>申报年度之前五年年度实际弥补的以前年度亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzyhndmbdkse5" type="je">
				<xs:annotation>
					<xs:documentation>可结转以后年度弥补的亏损额5 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nd6" type="nd">
				<xs:annotation>
					<xs:documentation>本年</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylehkse6" type="je">
				<xs:annotation>
					<xs:documentation>申报年度当年盈利额或亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbflqyzrkmbkse6" type="je">
				<xs:annotation>
					<xs:documentation>申报年度当年合并分立企业转入可弥补亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dnkmbdsde6" type="je">
				<xs:annotation>
					<xs:documentation>申报年度当年可弥补的所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bndsjmbdyqndkse6" type="je">
				<xs:annotation>
					<xs:documentation>申报年度实际弥补的以前年度亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzyhndmbdkse6" type="je">
				<xs:annotation>
					<xs:documentation>申报年度可结转以后年度弥补的亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjzyhndmbdksehj" type="je">
				<xs:annotation>
					<xs:documentation>申报年度可结转以后年度弥补的亏损额合计</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
