标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00197/TaxMLBd_0610056_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by xuxin (csstj) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qysdsndnssbbalywbw">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税年度纳税申报表（A类）》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qysdsndnssbbal">
						<xs:annotation>
							<xs:documentation>《中华人民共和国企业所得税年度纳税申报表（A类）》</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="sbbhead" type="qysdsndnssbbalheadVO">
									<xs:annotation>
										<xs:documentation>中华人民共和国企业所得税年度纳税申报表（A类）表头信息</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="qysdsndnssbbalFrom" type="qysdsndnssbbalFrom">
									<xs:annotation>
										<xs:documentation>中华人民共和国企业所得税年度纳税申报表（A类）申报信息</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qysdsndnssbbal">
		<xs:annotation>
			<xs:documentation>《中华人民共和国企业所得税年度纳税申报表（A类）》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="qysdsndnssbbalheadVO">
				<xs:annotation>
					<xs:documentation>中华人民共和国企业所得税年度纳税申报表（A类）表头信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qysdsndnssbbalFrom" type="qysdsndnssbbalFrom">
				<xs:annotation>
					<xs:documentation>中华人民共和国企业所得税年度纳税申报表（A类）申报信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsndnssbbalFrom">
		<xs:annotation>
			<xs:documentation>企业所得税年度纳税申报表（A类）数据对应明细</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yysr" type="yysr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yycb" type="yycb" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业成本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yysjjfj" type="yysjFj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业税金及附加</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsfy" type="xsfy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>销售费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="glfy" type="glfy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>管理费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cwfy" type="cwfy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财务费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccjzss" type="zcjzss" minOccurs="0">
				<xs:annotation>
					<xs:documentation>资产减值损失</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyjzbdsy" type="gyjzbdsy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>公允价值变动收益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzsy" type="tzsy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>投资收益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yylr" type="yylr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业利润</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yywsr" type="yywsr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业外收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yywzc" type="yywzc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>营业外支出</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrze" type="lrze" minOccurs="0">
				<xs:annotation>
					<xs:documentation>利润总额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nstzzje" type="nstzzje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税调整增加额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nstzjse" type="nstzjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税调整减少额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzssr" type="bzssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>不征税收入||不征税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssr" type="mssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jjsr" type="jjsr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减计收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsxmsd" type="jmsxmsd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减、免税项目所得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jjkc" type="jjkc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>加计扣除</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dkynssde" type="dkynssde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>抵扣应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwyssdmbjnks" type="jwyssdmbjnkse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>境外应税所得弥补境内亏损额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsdzhsd" type="nsdzhsd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税调整后所得</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbyqndks" type="mbyqndks" minOccurs="0">
				<xs:annotation>
					<xs:documentation>弥补以前年度亏损||弥补以前年度亏损</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsdse" type="ynsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsdse" type="jmsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减、免所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dmsdse" type="dmsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>抵免所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="ynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwsdynsdse" type="jwsdynsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>境外所得应纳所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jwsdDmsdse" type="jwsdDmsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>境外所得抵免所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjynsdse" type="sjynsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>实际应纳所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljsjyyjSdse" type="bnljsjyyjSdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年累计实际已预缴的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hznszjgftyjdse" type="hznsZjgftyjSe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>汇总纳税的总机构分摊预缴的税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hznszjgczdkyjdse" type="hznsZjgczdkyjSe" minOccurs="0">
				<xs:annotation>
					<xs:documentation>汇总纳税的总机构财政调库预缴的税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hznsdzjgssfzjgftdyjse" type="hznsZjgssfzjgftYjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>汇总纳税的总机构所属分支机构分摊的预缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbnscyqyjdyjbl" type="hbnsMztzcyqyjdyjbl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合并纳税母子体制成员企业就地预缴比例%</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbnsqyjdyjdsdse" type="hbnsqyjdyjSdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合并纳税企业就地预缴的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnybtdsdse" type="bnybtSdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本年应补退的所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqnddjdsdsezbndje" type="yqnddjSdseBndje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度多缴的所得税额在本年抵减额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqndyjwjzbnrksdse" type="yqndYjwjzbnrksdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>以前年度应缴未缴在本年入库所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgyftsdse" type="zjgZjgyftsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构总机构应分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czjzfpsdse" type="czjzfpsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>财政集中分配所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzjgyftsdse" type="fzjgyftsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>分支机构应分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjgdlscjybmyftsdse" type="zjgQzzjgdlscjybmyftsdse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>总机构其中总机构独立生产经营部门应分摊所得税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="jbr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljbrzyzjhm" type="dljbrzyzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理经办人执业证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dljbr" type="dljbrxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理经办人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlsbrq" type="dlsbrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>代理申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qysdsndnssbbalheadVO">
		<xs:annotation>
			<xs:documentation>企业所得税月（季）度预缴纳税申报表（A类）表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq1">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm1" type="sbsxDm1">
				<xs:annotation>
					<xs:documentation>申报属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfjglxDm" type="zfjglxDm">
				<xs:annotation>
					<xs:documentation>总分机构类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kdqzylx" type="kdqzylx">
				<xs:annotation>
					<xs:documentation>跨地区转移类型</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
