标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00085证券机构已预扣预缴的税款信息查询/TaxMLBw_GSGL_SB_085_Request_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="zjjgYykjSkxxCxRequest">
		<xs:annotation>
			<xs:documentation>证券机构已预扣预缴的税款信息查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbssqq" type="sbssqq">
						<xs:annotation>
							<xs:documentation>申报所属期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbssqz" type="sbssqz">
						<xs:annotation>
							<xs:documentation>申报所属期止</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gpDm" type="gpDm">
						<xs:annotation>
							<xs:documentation>股票代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
