标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_SB_00087两处以上工资薪金收入已申报信息查询/TaxMLBw_R_S_ZRRWT_SB_001_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="lcysgzxjsrysbxxcxresponse">
		<xs:annotation>
			<xs:documentation>两处以上工资薪金收入已申报信息查询反馈</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kjdwsbmxxxlb" type="kjdwsbmxxxlb"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="kjdwsbmxxxlb">
		<xs:annotation>
			<xs:documentation>扣缴单位申报明细信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="kjdwsbmxxx" type="kjdwsbmxxx" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kjdwsbmxxx">
		<xs:annotation>
			<xs:documentation>扣缴单位申报明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>任职受雇单位登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>任职受雇单位名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>任职受雇单位纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmDm" type="sdxmDm">
				<xs:annotation>
					<xs:documentation>所得项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdxmmc" type="sdxmmc">
				<xs:annotation>
					<xs:documentation>所得项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdqjq" type="sdqjq">
				<xs:annotation>
					<xs:documentation>所得期间起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdqjz" type="sdqjz">
				<xs:annotation>
					<xs:documentation>所得期间止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sre" type="sre">
				<xs:annotation>
					<xs:documentation>收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssd" type="mssdje">
				<xs:annotation>
					<xs:documentation>（免税所得）其他免税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjryxjjlmsbf" type="mssdje">
				<xs:annotation>
					<xs:documentation>（免税所得）科技人员现金奖励免税部分</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbyanglbxf" type="je">
				<xs:annotation>
					<xs:documentation>基本养老保险费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ylbxjjje" type="je">
				<xs:annotation>
					<xs:documentation>基本医疗保险费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybxf" type="je">
				<xs:annotation>
					<xs:documentation>失业保险费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfgjjje" type="je">
				<xs:annotation>
					<xs:documentation>住房公积金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ccyz" type="je">
				<xs:annotation>
					<xs:documentation>财产原值</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxkcsfe" type="je">
				<xs:annotation>
					<xs:documentation>允许扣除的税费</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtfyje" type="je">
				<xs:annotation>
					<xs:documentation>其他</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nj" type="je">
				<xs:annotation>
					<xs:documentation>年金</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syjkx" type="je">
				<xs:annotation>
					<xs:documentation>商业健康险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzdk" type="je">
				<xs:annotation>
					<xs:documentation>投资抵扣</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syylbx" type="je">
				<xs:annotation>
					<xs:documentation>税延养老保险</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqkcxmhj" type="je">
				<xs:annotation>
					<xs:documentation>税前扣除项目合计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcfy" type="je">
				<xs:annotation>
					<xs:documentation>减除费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zykcdjze" type="je">
				<xs:annotation>
					<xs:documentation>准予扣除的捐赠额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynssde" type="ynssde">
				<xs:annotation>
					<xs:documentation>应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zslhxdsl" type="sl2">
				<xs:annotation>
					<xs:documentation>征收率或协定税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sskcs" type="sskcs">
				<xs:annotation>
					<xs:documentation>速算扣除数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="ynse">
				<xs:annotation>
					<xs:documentation>应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yingkjse" type="je">
				<xs:annotation>
					<xs:documentation>应扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yikjse" type="je">
				<xs:annotation>
					<xs:documentation>已扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="je">
				<xs:annotation>
					<xs:documentation>应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssswjgDm" type="ssswjgDm">
				<xs:annotation>
					<xs:documentation>所属税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjgDm" type="zgswjgDm">
				<xs:annotation>
					<xs:documentation>主管税务局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务科所代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
