标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_YH_00201查询居民个人享受税收协定待遇备案信息/TaxMLBw_GSGL_YH_00201_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="jmgrxsssxddybaxxcxrequest">
		<xs:annotation>
			<xs:documentation>居民个人享受税收协定待遇备案信息查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>登记序号(不可为空)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lcslid" type="lcslid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>lcslid(征管退税必传)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjrdjxh" type="kjrdjxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>扣缴人登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="kjrdjxh">
		<xs:annotation>
			<xs:documentation>扣缴人登记序号</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
