标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_YH_00201查询居民个人享受税收协定待遇备案信息/TaxMLBw_GSGL_YH_00201_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="jmgrxsssxddybaxxcxresponse">
		<xs:annotation>
			<xs:documentation>非居民个人享受税收协定待遇备案信息查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jmgrxsssxddybaxxgrid" type="jmgrxsssxddybaxxgrid">
						<xs:annotation>
							<xs:documentation>非居民个人享受税收协定待遇备案信息查询</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jmgrxsssxddybaxxgrid">
		<xs:annotation>
			<xs:documentation>非居民个人享受税收协定待遇备案信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="jmgrxsssxddybaxxlb" type="jmgrxsssxddybaxxlb">
				<xs:annotation>
					<xs:documentation>非居民个人享受税收协定待遇备案信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmgrxsssxddybaxxlb">
		<xs:annotation>
			<xs:documentation>非居民个人享受税收协定待遇备案信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yhpzuuid" type="yhpzuuid">
				<xs:annotation>
					<xs:documentation>优惠凭证uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码(码表dm_gy_zsxm)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fjmnsrxsssxddm" type="fjmnsrxsssxddm">
				<xs:annotation>
					<xs:documentation>非居民纳税人享受税收协定代码（码表dm_gy_ssxd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdlxdm" type="sdlxdm">
				<xs:annotation>
					<xs:documentation>所得类型代码(码表dm_gy_ssxdsdlx)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzdlDm" type="jmxzdlDm">
				<xs:annotation>
					<xs:documentation>减免性质大类代码（码表dm_gy_ssjmxzdl）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzxlDm" type="jmxzxlDm">
				<xs:annotation>
					<xs:documentation>减免性质小类代码（码表dm_gy_ssjmxzxl）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxzDm" type="jmxzDm">
				<xs:annotation>
					<xs:documentation>减免性质代码（码表dm_gy_ssjmxz）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxq" type="jmqxq">
				<xs:annotation>
					<xs:documentation>减免期限起（yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmqxz" type="jmqxz">
				<xs:annotation>
					<xs:documentation>减免期限止（yyyy-MM-dd）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsswsxDm" type="swsxDm">
				<xs:annotation>
					<xs:documentation>减免税税务事项代码(码表dm_gy_swsx)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wspzxh" type="wspzxh">
				<xs:annotation>
					<xs:documentation>文书凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="jmxzdlDm">
		<xs:annotation>
			<xs:documentation>减免性质大类代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmxzxlDm">
		<xs:annotation>
			<xs:documentation>减免性质小类代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="jmxzDm">
		<xs:annotation>
			<xs:documentation>减免性质代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fjmnsrxsssxddm">
		<xs:annotation>
			<xs:documentation>非居民纳税人享受税收协定代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sdlxdm">
		<xs:annotation>
			<xs:documentation>所得类型代码</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="wspzxh">
		<xs:annotation>
			<xs:documentation>文书凭证序号</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>