标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00330/TaxMLBw_HXZG_ZS_00330_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS00330RequestVO">
		<xs:annotation>
			<xs:documentation>电子缴税情况查询请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzlDm" type="pzzlDm">
						<xs:annotation>
							<xs:documentation>票证种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjsjq" type="kjrq">
						<xs:annotation>
							<xs:documentation>开具时间起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kjsjz" type="kjrq">
						<xs:annotation>
							<xs:documentation>开具时间止</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swjgDm" type="swjgDm">
						<xs:annotation>
							<xs:documentation>税务机关代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
