标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00337/TaxMLBw_HXZG_SB_00337_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00337Request">
		<xs:annotation>
			<xs:documentation>税源明细报告是否重复采集,返回原业务表单</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrqq" type="sbrqq">
						<xs:annotation>
							<xs:documentation>申报日期起||不带小时分秒</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbrqz" type="sbrqz">
						<xs:annotation>
							<xs:documentation>申报日期止||不带小时分秒</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzlDm" type="pzzlDm">
						<xs:annotation>
							<xs:documentation>票证种类代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzhm" type="pzhm">
						<xs:annotation>
							<xs:documentation>票证号码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pzzg" type="pzzg">
						<xs:annotation>
							<xs:documentation>票证字轨</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sybzDm1" type="sybzDm1">
						<xs:annotation>
							<xs:documentation>税源标志代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sybh1" type="sybh1">
						<xs:annotation>
							<xs:documentation>税源编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fyszBdcxmbh" type="fyszBdcxmbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>房源所在不动产项目编号</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
