标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01845/TaxMLBw_szyssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_szyssb_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_szysjm_V1.0.xsd"/>
	<xs:complexType name="szyssbywbw">
		<xs:annotation>
			<xs:documentation>《水资源税申报》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="szysSbb" type="szyssb">
						<xs:annotation>
							<xs:documentation>《水资源税税款申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="szysJmb" type="szysjm">
						<xs:annotation>
							<xs:documentation>《水资源税附表减免表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
