标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00074/TaxMLBd_01100200101_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="bgcxswdjb">
		<xs:annotation>
			<xs:documentation>变更税务登记表提交</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgslxxvo" type="DJYsqywslxxbVO">
				<xs:annotation>
					<xs:documentation>受理信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djZjgxxvo" type="DJZjgxxVO">
				<xs:annotation>
					<xs:documentation>总机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxnsrfyhyxxGrid" type="BgcxNsrfyhyxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人附营行业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxfzjgxxGrid" type="BgcxFzjgxxGrid">
				<xs:annotation>
					<xs:documentation>分支机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxtzfxxGrid" type="BgcxTzfxxGrid">
				<xs:annotation>
					<xs:documentation>投资方信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxTzzexxGrid" type="BgcxTzzexxGrid">
				<xs:annotation>
					<xs:documentation>纳税人信息投资总额信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxZczbxxGrid" type="BgcxZczbxxGrid">
				<xs:annotation>
					<xs:documentation>纳税人信息（注册资本信息）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxDJPzjgxxVO" type="DJPzjgxxVO">
				<xs:annotation>
					<xs:documentation>批准机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgcxDJSwdjbxxVO" type="DJSwdjbxxVO">
				<xs:annotation>
					<xs:documentation>税务登记vo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgcxNsrfyhyxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人附营行业信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="nsrfyhyxxGridlb" type="DJNsrfyhyxxVO">
				<xs:annotation>
					<xs:documentation>纳税人附营行业信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgcxFzjgxxGrid">
		<xs:annotation>
			<xs:documentation>分支机构信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tzjgxxGridlb" type="DJFzjgxxVO">
				<xs:annotation>
					<xs:documentation>分支机构信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgcxTzfxxGrid">
		<xs:annotation>
			<xs:documentation>投资方信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tzfxxGridlb" type="DJTzfxxVO">
				<xs:annotation>
					<xs:documentation>投资方信息信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgcxdjmxGrid">
		<xs:annotation>
			<xs:documentation>变更登记明细信息列表</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="bgdjmxGridlb" type="DJBgdjmxVO">
				<xs:annotation>
					<xs:documentation>变更税务登记明细信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgcxTzzexxGrid">
		<xs:annotation>
			<xs:documentation>纳税人信息投资总额信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TzzexxGridlb" type="DJNsrxxTzzexxVO">
				<xs:annotation>
					<xs:documentation>纳税人信息投资总额信息信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgcxZczbxxGrid">
		<xs:annotation>
			<xs:documentation>纳税人信息（注册资本信息）</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ZczbxxGridlb" type="DJNsrxxZczbxxVO">
				<xs:annotation>
					<xs:documentation>纳税人信息（注册资本信息）信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
