标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/72 投资公司会计核算办法财务报表资料报送与信息采集/TaxMLBd_0610337_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_nsrxxForm_V1.0.xsd"/>
	<xs:complexType name="tzgszcfzbywbw">
		<xs:annotation>
			<xs:documentation>资产负债表(适用执行投资公司会计核算办法的公司)业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="tzgszcfzb" type="tzgszcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表(适用执行投资公司会计核算办法的公司)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tzgszcfzbVO">
		<xs:annotation>
			<xs:documentation>资产负债表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="nsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzgszcfzbGrid">
				<xs:annotation>
					<xs:documentation>资产负债表</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="tzgszcfzbGridlb" type="tzgszcfzbGridlb"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="nsrxxForm" type="nsrxxFormVO">
		<xs:annotation>
			<xs:documentation>纳税人信息</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tzgszcfzbGridlb">
		<xs:annotation>
			<xs:documentation>资产负债表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hmc" type="hmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hc" type="hc">
				<xs:annotation>
					<xs:documentation>行次</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncs" type="ncs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年初数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qms" type="qms" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
