标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01628/TaxMLBw_fcssb_V2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by maatcat (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610749_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610679_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610680_V1.0.xsd"/>
	<xs:complexType name="fcssbywbw">
		<xs:annotation>
			<xs:documentation>房产税申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fcsSbb" type="fcsnssbb">
				<xs:annotation>
					<xs:documentation>房产交易申报表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjjzfcsbbxx" type="fcssbb01_cjjzfcsbbxx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>从价计征房产税税源明细表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czjzfcsbbxx" type="fcssbb02_czjzfcsbbxx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>从租征房产税税源明细表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
