标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/30 同期资料采集/TaxMLBd_0610539_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qygnfxfxbywbw">
		<xs:annotation>
			<xs:documentation>企业功能风险分析表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qygnfxfxb" type="qygnfxfxbVO">
						<xs:annotation>
							<xs:documentation>企业功能风险分析表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qygnfxfxbVO">
		<xs:annotation>
			<xs:documentation>企业功能风险分析表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="qygnfxfxbNsrxxformVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qygnfxfxbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="qygnfxfxbGridlb" type="qygnfxfxbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qygnfxfxbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dcxmmc" type="dcxmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>调查项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qygnfxfxA" type="qygnfxfxA" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qygnfxfxB1" type="qygnfxfxB1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业B1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qygnfxfxB2" type="qygnfxfxB2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>企业B2</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qygnfxfxbNsrxxformVO">
		<xs:annotation>
			<xs:documentation>纳税人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>A企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qymcb1" type="qymcB1">
				<xs:annotation>
					<xs:documentation>B1企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qymcb2" type="qymcB2">
				<xs:annotation>
					<xs:documentation>B2企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq">
				<xs:annotation>
					<xs:documentation>填表日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qyfzr" type="fzr">
				<xs:annotation>
					<xs:documentation>企业负责人</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
