标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/优惠/HXZG_YH_00008/TaxMLBd_031005004_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYHType.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="clgzsmjssqbywbw">
		<xs:annotation>
			<xs:documentation>车辆购置税免（减）税申请表</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="clgzsjmbaxxVO" type="clgzsjmbaxxVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="clgzsjmbaxxVO">
		<xs:annotation>
			<xs:documentation>车辆购置税免（减）税备案</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="YHClgzsjmbaxxVO" type="YHClgzsjmbaxxVO">
				<xs:annotation>
					<xs:documentation>备案信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YHJmsspjgVO" type="YHJmsspjgVO"/>
			<xs:element name="DJYsqywslxxbVO" type="DJYsqywslxxbVO"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
