标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01307/TaxMLBd_0610084_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="yhssbbw">
		<xs:annotation>
			<xs:documentation>印花税申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yhssb" type="yhssb">
						<xs:annotation>
							<xs:documentation>印花税申报</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="yhssb">
		<xs:annotation>
			<xs:documentation>印花税申报</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbbhead" type="yhssbbheadVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhssbGrid">
				<xs:annotation>
					<xs:documentation>印花税申报表信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="yhssbGridlb" type="yhssbGridlbVO">
							<xs:annotation>
								<xs:documentation>印花税申报表信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slrxxForm" type="slrxxForm">
				<xs:annotation>
					<xs:documentation>受理人信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yhssbGrid">
		<xs:annotation>
			<xs:documentation>申报数据信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="yhssbGridlb" type="yhssbGridlbVO">
				<xs:annotation>
					<xs:documentation>申报数据信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yhssbbheadVO">
		<xs:annotation>
			<xs:documentation>印花税申报表表头信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sblx" type="sblx">
				<xs:annotation>
					<xs:documentation>申报类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrlx" type="nsrlx">
				<xs:annotation>
					<xs:documentation>纳税人类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xzqhszDm" type="xzqhszDm">
				<xs:annotation>
					<xs:documentation>行政区划代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwlsgxDm" type="dwlsgxDm">
				<xs:annotation>
					<xs:documentation>单位隶属关系代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yhssbGridlbVO">
		<xs:annotation>
			<xs:documentation>印花税申报表信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rdpzuuid" type="rdpzuuid">
				<xs:annotation>
					<xs:documentation>认定凭证UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhpzuuid" type="yhpzuuid">
				<xs:annotation>
					<xs:documentation>优惠凭证UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="yspzmc">
				<xs:annotation>
					<xs:documentation>应税凭证名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsje" type="jsje">
				<xs:annotation>
					<xs:documentation>计税金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdzsHdde" type="hdzsHdde">
				<xs:annotation>
					<xs:documentation>核定征收核定定额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdzsHdbl" type="hdzsHdbl">
				<xs:annotation>
					<xs:documentation>核定征收核定比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysl" type="sysl">
				<xs:annotation>
					<xs:documentation>适用税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjse1" type="bqyjse">
				<xs:annotation>
					<xs:documentation>本期已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybtse" type="bqybtse">
				<xs:annotation>
					<xs:documentation>本期应补退税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="ssjmxzDm">
				<xs:annotation>
					<xs:documentation>减免性质</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="slrxxForm">
		<xs:annotation>
			<xs:documentation>受理人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsr" type="bsrxm">
				<xs:annotation>
					<xs:documentation>办税人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrxm" type="bsrxm">
				<xs:annotation>
					<xs:documentation>处理办税人旧数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjg" type="slswjgmc">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgmc" type="slswjgmc">
				<xs:annotation>
					<xs:documentation>处理受理税务机关旧数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slr" type="slrxm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrxm" type="slrxm">
				<xs:annotation>
					<xs:documentation>处理受理人旧数据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlr" type="dlr">
				<xs:annotation>
					<xs:documentation>代理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dlrsfzjhm1" type="dlrsfzjhm1">
				<xs:annotation>
					<xs:documentation>代理人身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
