标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSGL_YH_00198自然人优惠减免税房产交易反写/TaxMLBw_GSGL_YH_00198_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="zrryhjmsfcjyfxRequest">
		<xs:annotation>
			<xs:documentation>自然人优惠减免税房产交易反写请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zrryhjmsfcjyfxlb" type="zrryhjmsfcjyfx" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>自然人优惠减免税房产交易反写列表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zrryhjmsfcjyfx">
		<xs:annotation>
			<xs:documentation>自然人优惠减免税房产交易反写</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yhpzuuid" type="yhpzuuid">
				<xs:annotation>
					<xs:documentation>优惠凭证uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzxh" type="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
