标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00382/TaxMLBw_HXZG_DJ_00382_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00382Response">
		<xs:annotation>
			<xs:documentation>根据工程项目查询分包方信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="gcxmfbfxxGrid" type="GcxmfbfxxGrid">
						<xs:annotation>
							<xs:documentation>根据工程项目查询分包方信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GcxmfbfxxGrid">
		<xs:annotation>
			<xs:documentation>根据工程项目查询分包方信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="gcxmfbfxxGridlb" type="DjgcxmfbfxxVO">
				<xs:annotation>
					<xs:documentation>根据工程项目查询分包方信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DjgcxmfbfxxVO">
		<xs:annotation>
			<xs:documentation>工程项目查询分包方信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>房屋使用情况登记信息及房源基本信息</xs:documentation>
			</xs:annotation>
			<xs:element name="gcxmbh" type="gcxmbh">
				<xs:annotation>
					<xs:documentation>工程项目编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gcxmmc" type="gcxmmc">
				<xs:annotation>
					<xs:documentation>工程项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gcxmdz" type="gcxmdz">
				<xs:annotation>
					<xs:documentation>工程项目地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>原纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shxydm" type="shxydm">
				<xs:annotation>
					<xs:documentation>社会信用代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmszddfswjgDm" type="xmszddfswjgDm">
				<xs:annotation>
					<xs:documentation>项目所在地地方税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zdxmbz" type="zdxmbz">
				<xs:annotation>
					<xs:documentation>重点项目标志</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
