标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01629/TaxMLBw_HXZG_SB_01629_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_fcssb_V2.0.xsd"/>
	<xs:complexType name="HXZGSB01629Request">
		<xs:annotation>
			<xs:documentation>保存房产税申报表</xs:documentation>
		</xs:annotation>
			<xs:complexContent>
			<xs:extension base="taxDoc">			
		<xs:sequence>
			<xs:element name="sbxxGrid">
				<xs:annotation>
					<xs:documentation>申报数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="sbxxGridlb" type="SBSbxxTjVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="jmxxGrid">
				<xs:annotation>
					<xs:documentation>减免数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jmxxGridlb" type="SBSbjmTjVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="yjxxGrid">
				<xs:annotation>
					<xs:documentation>预缴税款数据信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="yjxxGridlb" type="SBSbyjTjVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fcssbb" type="fcssbywbw">
				<xs:annotation>
					<xs:documentation>房产税申报表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbSBbcTjqtxxVO" type="SBSBbcTjqtxxVO">
				<xs:annotation>
					<xs:documentation>申报纳税人申报保存提交其他信息对象</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
