标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/44 企业会计准则（一般企业）财务报表报送与信息采集/TaxMLbw_qykjzzybqycwbbbsycj_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610157_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610173_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610162_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610178_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="ybqykjzzcwbywbw">
		<xs:annotation>
			<xs:documentation>总业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ybqyzcfzbVO" type="ybqyzcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表（适用执行农民专业合作社财务会计制度的单位)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ybqylrbVO" type="ybqylrbVO">
						<xs:annotation>
							<xs:documentation>利润表（适用执行企业会计准则的一般企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ybqyxjllbVO" type="ybqyxjllbVO">
						<xs:annotation>
							<xs:documentation>现金流量表（适用执行企业会计准则的一般企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ybqysyzqybdbVO" type="ybqysyzqybdbVO">
						<xs:annotation>
							<xs:documentation>所有者权益变动表（适用执行企业会计准则的一般企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fyazxzfldbcclVO" type="FyazxzfldbcclVO">
						<xs:annotation>
							<xs:documentation>费用按照性质分类的补充资料</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qykjzzfzVO" type="QykjzzfzVO">
						<xs:annotation>
							<xs:documentation>财务报表企业会计准则附注VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtsygxmjsdshzrsyqkVO" type="QtsygxmjsdshzrsyqkVO">
						<xs:annotation>
							<xs:documentation>其他综合收益各项目及其所得税影响和转入损益情况VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtzhsygxmdtjqkVO" type="QtzhsygxmdtjqkVO">
						<xs:annotation>
							<xs:documentation>其他综合收益各项目的调节情况VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
