标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/72 定点联系企业名册信息报送与采集/TaxMLBd_xsjgqd_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="xsjgqdVO">
		<xs:annotation>
			<xs:documentation>下属机构清单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xsjgqdGrid">
				<xs:annotation>
					<xs:documentation>下属机构清单</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="xsjgqdGridlb" type="xsjgqdGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xsjgqdGridlbVO">
		<xs:annotation>
			<xs:documentation>下属机构清单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbhgs" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号(国税)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gsnsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称(国税)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbhds" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号(地税)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dsnsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称(地税)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzjgDm" type="zzjgDm">
				<xs:annotation>
					<xs:documentation>组织机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
