标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/57 保险类金融企业财务报表报送与信息采集/TaxMLBd_0610390_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="sybxlzczlqkbVO">
		<xs:annotation>
			<xs:documentation>资产质量情况表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sybxlzczlqkbxxGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="sybxlzczlqkbxxGridlb" type="sybxlzczlqkbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sybxlzczlqkbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncs" type="ncsZc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年初数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nms" type="bnqm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年末数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
