标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/TaxMLBw_HXZG_SB_01341_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicYSHType.xsd"/>
	<xs:complexType name="HXZGSB01341Response">
		<xs:annotation>
			<xs:documentation>资料报送业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zlbsbcbzVO" type="zlbsbcbzVO">
						<xs:annotation>
							<xs:documentation>资料报送信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fileGrid">
						<xs:annotation>
							<xs:documentation>附件明细信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="fileGridlb" type="ZHYsdzzlglVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="rtnCode" type="bz">
						<xs:annotation>
							<xs:documentation>附件保存服务调用状态</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="msg" type="bz">
						<xs:annotation>
							<xs:documentation>附件保存服务信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zlbsbcbzVO">
		<xs:annotation>
			<xs:documentation>资料报送</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="flag" type="bz">
				<xs:annotation>
					<xs:documentation>保存成功标志</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
