标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/01 企业会计制度财务报表报送与信息采集/TaxMLBd_0610165_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="qykjzdcwbbzcfzbywbw">
		<xs:annotation>
			<xs:documentation>企业会计制度财务报表报送与信息采集资产负债表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="qykjzdcwbbzcfzbVO" type="qykjzdcwbbzcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="qykjzdcwbbzcfzbVO">
		<xs:annotation>
			<xs:documentation>企业会计制度财务报表报送与信息采集资产负债表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="NsrxxFormVO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdxxGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="zcfzbdxxGridlb" type="qykjzdcwbbzcfzbdxxGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qykjzdcwbbzcfzbdxxGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zcxmmc" type="zcxmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>资产项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncsZc" type="ncsZc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年初数_资产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmsZc" type="qmsZc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末数_资产</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qyxmmc" type="qyxmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>负债和所有者权益权益项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncsQy" type="ncsQy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>年初数_权益</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qmsQy" type="qmsQy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期末数_权益 </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
