标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00683/TaxMLBw_HXZG_DJ_00683_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TdzzsxmVOType.xsd"/>
	<xs:complexType name="HXZGDJ00683Request">
		<xs:annotation>
			<xs:documentation>保存土地增值税项目信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="nsrsbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DJTdzzsxmxxVO" type="DJTdzzsxmxxVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>土地增值税项目信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tdzzsTdxxGrid" type="tdzzsTdxxGrid">
						<xs:annotation>
							<xs:documentation>土地信息VOList</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tdzzsBdcxmxxGrid" type="tdzzsBdcxmxxGrid">
						<xs:annotation>
							<xs:documentation>不动产信息VOList</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tdzzsZrxxGrid" type="tdzzsZrxxGrid">
						<xs:annotation>
							<xs:documentation>不动产信息VOList</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
