标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00048/TaxMLBw_HXZG_RD_00048_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGRD00048Response">
		<xs:annotation>
			<xs:documentation>保存非居民企业承包工程作业和提供劳务企业所得税扣缴义务通知书返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="wsuuid" type="uuid">
						<xs:annotation>
							<xs:documentation>文书UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uuid" type="uuid">
						<xs:annotation>
							<xs:documentation>UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
