标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00048/TaxMLBw_HXZG_RD_00048_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLBd_042007001_V1.0.xsd"/>
	<xs:complexType name="HXZGRD00048Request">
		<xs:annotation>
			<xs:documentation>非居民企业承包工程作业和提供劳务企业所得税扣缴义务通知书保存业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lclsid" type="lcslid">
						<xs:annotation>
							<xs:documentation>流程实例ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fjmqycbgczyhtglwqysdskjywrrd" type="fjmqycbgczyhtglwqysdskjywrrdForm">
						<xs:annotation>
							<xs:documentation>非居民企业承包工程作业和提供劳务企业所得税扣缴义务人认定</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
