标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00272/TaxMLBw_yhssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610084_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_yqtfb_V1.0.xsd"/>
	<xs:complexType name="yhssbywbw">
		<xs:annotation>
			<xs:documentation>印花税申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yhssb" type="yhssb">
						<xs:annotation>
							<xs:documentation>印花税申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yqtfb" type="yqtfb">
						<xs:annotation>
							<xs:documentation>油气田附表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
