标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/59 金融控股集团公司类金融企业财务报表报送与信息采集/TaxMLbw_jrkgjtgslcwbb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610400_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610401_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610402_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610403_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610404_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610405_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610415_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="jrkgjtgslcwbbywbw">
		<xs:annotation>
			<xs:documentation>金融控股集团公司类财务报表业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jrkgjtjbqkbVO" type="jrkgjtjbqkbVO">
						<xs:annotation>
							<xs:documentation>基本情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrkgjtlrbVO" type="jrkgjtlrbVO">
						<xs:annotation>
							<xs:documentation>利润表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrkgjtsjjsbfjnqkbVO" type="jrkgjtsjjsbfjnqkbVO">
						<xs:annotation>
							<xs:documentation>税金及社会保险费用缴纳情况表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrkgjtqybVO" type="jrkgjtqybVO">
						<xs:annotation>
							<xs:documentation>所有者权益变动表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrkgjtywjglfyyywszmxbVO" type="jrkgjtywjglfyyywszmxbVO">
						<xs:annotation>
							<xs:documentation>业务及管理费与营业外收支明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrkgjtzcfzbVO" type="jrkgjtzcfzbVO">
						<xs:annotation>
							<xs:documentation>资产负债表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jrkgjtzcjzzbmxbVO" type="jrkgjtzcjzzbmxbVO">
						<xs:annotation>
							<xs:documentation>资产减值准备明细表</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
