标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00838/TaxMLBw_HXZG_SB_00838_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_HXZG_SB_00837_Response_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00838Request">
		<xs:annotation>
			<xs:documentation>定期定额户自行申报申报错误更正保存</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dqdezxSbbdxxVO" type="dqdezxsbbdxx">
						<xs:annotation>
							<xs:documentation>定期定额自行申报数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbsbbcTjqtxxVO" type="SBSBbcTjqtxxVO">
						<xs:annotation>
							<xs:documentation>申报其他数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cwgzxxVO" type="SBCwgzxxVO">
						<xs:annotation>
							<xs:documentation>错误更正信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sbcwgzJs" type="bz">
						<xs:annotation>
							<xs:documentation>申报粗无更正计税标志（必传，取值为sbcwgzSv）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBCwgzxxVO">
		<xs:annotation>
			<xs:documentation>房申报错误更正纳税人VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sbuuid" type="sbuuid">
				<xs:annotation>
					<xs:documentation>申报uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzxh" type="pzxh">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scenceCs" type="nsrmc">
				<xs:annotation>
					<xs:documentation>错误更正参数（cwgzbz）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbrq1" type="sbrq">
				<xs:annotation>
					<xs:documentation>申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm1" type="sblx">
				<xs:annotation>
					<xs:documentation>申报属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
