标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/认定/HXZG_RD_00726/TaxMLBw_HXZG_RD_00726_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGRD00073Request">
		<xs:annotation>
			<xs:documentation>税（费）种认定查询</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqq" type="skssqq" minOccurs="0">
						<xs:annotation>
							<xs:documentation>税款所属期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="skssqz" type="skssqz" minOccurs="0">
						<xs:annotation>
							<xs:documentation>税款所属期止</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zsxmDm" type="zsxmDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>征收项目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zspmDm" type="zspmDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>征收品目代码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjDm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
