标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/证明/HXZG_ZM_00097/TaxMLBw_HXZG_ZM_00097_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZM00097Request">
		<xs:annotation>
			<xs:documentation>信息接入报文保存跨区域涉税事项延期信息接受报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="DJSqydjyxxyqVo" type="DJSqydjyxxyqVo"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DJSqydjyxxyqVo">
		<xs:annotation>
			<xs:documentation>延长跨区域涉税事项报告vo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyzmuuid" type="wcjyzmuuid">
				<xs:annotation>
					<xs:documentation>外出经营证明uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyhdssglzmbh" type="wcjyhdssglzmbh">
				<xs:annotation>
					<xs:documentation>外出经营证明编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bydjuuid" type="bydjuuid">
				<xs:annotation>
					<xs:documentation>报验uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zxyxqxz" type="yxqq">
				<xs:annotation>
					<xs:documentation>最新有效期限止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jbr" type="jbr">
				<xs:annotation>
					<xs:documentation>经办人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzr" type="fzr">
				<xs:annotation>
					<xs:documentation>负责人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc"/>
			<xs:element name="nsrsbh" type="nsrsbh"/>
			<xs:element name="lcslid" type="lcslid"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
