标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00578/TaxMLBd_0610085_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="yysfxmsbjzysbydtgjzylwqksbbywbw">
		<xs:annotation>
			<xs:documentation>《营业税分项目申报建筑业申报异地提供建筑业劳务情况申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yysfxmsbjzysbydtgjzylwqksbb" type="yysfxmsbjzysbydtgjzylwqksbb">
						<xs:annotation>
							<xs:documentation>《营业税分项目申报建筑业申报异地提供建筑业劳务情况申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="yysfxmsbjzysbydtgjzylwqksbb">
		<xs:annotation>
			<xs:documentation>《营业税分项目申报建筑业申报异地提供建筑业劳务情况申报表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ydtgjzylwqksbbGrid" type="ydtgjzylwqksbbGrid">
				<xs:annotation>
					<xs:documentation>"营业税分项目申报建筑业申报异地提供建筑业劳务情况申报"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ydtgjzylwqksbbGrid">
		<xs:annotation>
			<xs:documentation>"营业税分项目申报建筑业申报异地提供建筑业劳务情况申报"</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ydtgjzylwqksbbGridlb" type="ydtgjzylwqksbbGridlb">
				<xs:annotation>
					<xs:documentation>"营业税分项目申报建筑业申报异地提供建筑业劳务情况申报"列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ydtgjzylwqksbbGridlb">
		<xs:annotation>
			<xs:documentation>"营业税分项目申报建筑业申报异地提供建筑业劳务情况申报"列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysxmmc" type="ysxmmc">
				<xs:annotation>
					<xs:documentation>应税项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="symc" type="symc">
				<xs:annotation>
					<xs:documentation>税源名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjnskje" type="ynse">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期应纳税额-税收缴款凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjkpzh" type="ssjkpzh">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期应纳税额-税收缴款凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybdkdjsk" type="je">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到扣缴税款通知书情况-本期已被代扣代缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjssjkpzh" type="ssjkpzh">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到扣缴税款通知书情况-税收缴款凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjskssqq" type="ssqq">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到扣缴税款通知书情况-税款所属期-起始月份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjskssqz" type="ssqz">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到扣缴税款通知书情况-税款所属期-终止月份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjdwnsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到扣缴税款通知书情况-扣缴单位纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yrkssjksslyysse" type="je">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到税收缴款书情况-已入库税收缴款书所列营业税税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yrkssjkpzh" type="ssjkpzh">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到税收缴款书情况-已入库税收缴款凭证号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdssjksskssqq" type="ssqq">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到税收缴款书情况-税款所属期-起始月份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdssjksskssqz" type="ssqz">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到税收缴款书情况-税款所属期-终止月份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdhzjmsse" type="je">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到减免税批准文书情况-核准减免税税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdswjmpzwsh" type="swjmpzwsh">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到减免税批准文书情况-税务减免批准文书号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdjmpzwsyxqq" type="ssqq">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到减免税批准文书情况-批准文书有效期-起始月份</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdjmpzwsyxqz" type="ssqz">
				<xs:annotation>
					<xs:documentation>异地提供建筑业劳务-本期收到减免税批准文书情况-批准文书有效期-终止月份</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
