标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00578/TaxMLBd_jzyxmxx_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="jzyxmxxywbw">
		<xs:annotation>
			<xs:documentation>建筑业项目信息业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jzyxmxx" type="jzyxmxx">
						<xs:annotation>
							<xs:documentation>建筑业项目信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="jzyxmxx">
		<xs:annotation>
			<xs:documentation>建筑业项目信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fb1Grid">
				<xs:annotation>
					<xs:documentation>建筑业项目信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="yysjzyGridlb" type="yysjzyGridlbVO">
							<xs:annotation>
								<xs:documentation>"营业税分项目申报销售不动产申报"</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yysjzyGrid">
		<xs:annotation>
			<xs:documentation>"申报信息"</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="yysjzyGridlb" type="yysjzyGridlbVO">
				<xs:annotation>
					<xs:documentation>《营业税分项目申报销售不动产申报表》</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="yysjzyGridlbVO">
		<xs:annotation>
			<xs:documentation>建筑业项目信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xybz" type="xybz">
				<xs:annotation>
					<xs:documentation>选用标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gcxmmc" type="gcxmmc">
				<xs:annotation>
					<xs:documentation>工程项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gcxmbh"/>
			<xs:element name="gcxmdz" type="gcxmdz">
				<xs:annotation>
					<xs:documentation>工程项目地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kgrq" type="kgrq">
				<xs:annotation>
					<xs:documentation>开工日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jgrq" type="jgrq">
				<xs:annotation>
					<xs:documentation>竣工日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmyt" type="xmyt">
				<xs:annotation>
					<xs:documentation>项目用途</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzmj" type="jzmj">
				<xs:annotation>
					<xs:documentation>建筑面积</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
