标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00578/TaxMLBd_0610024_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="yysfxmsbjzysbbywbw">
		<xs:annotation>
			<xs:documentation>《营业税分项目申报建筑业申报表》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yysfxmsbjzysbb" type="yysfxmsbjzysbb">
						<xs:annotation>
							<xs:documentation>《营业税分项目申报建筑业申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="yysfxmsbjzysbb">
		<xs:annotation>
			<xs:documentation>《营业税分项目申报建筑业申报表》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bdjzyGrid" type="bdjzyGrid">
				<xs:annotation>
					<xs:documentation>"营业税分项目申报本地建筑业申报"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydjzyGrid" type="ydjzyGrid">
				<xs:annotation>
					<xs:documentation>"营业税分项目申报异地建筑业申报"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bdjzyGrid">
		<xs:annotation>
			<xs:documentation>本地提供建筑业应税劳务申报事项</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="bdjzyGridlb" type="bdjzyGridlb">
				<xs:annotation>
					<xs:documentation>"营业税分项目申报本地建筑业申报"列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bdjzyGridlb">
		<xs:annotation>
			<xs:documentation>本地提供建筑业应税劳务申报事项列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydbz" type="ydbz">
				<xs:annotation>
					<xs:documentation>异地标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhpzuuid" type="yhpzuuid"/>
			<xs:element name="ysxmmc" type="ysxmmc">
				<xs:annotation>
					<xs:documentation>应税项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="symc" type="symc">
				<xs:annotation>
					<xs:documentation>税源名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syssswjgdm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>项目税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzdm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yssr" type="yssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysjcxmjexj" type="ysjcxmjexj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税减除项目金额小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfgfzbrgcjg" type="zfgfzbrgcjg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>支付给分转包人工程价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcsbjk" type="jcsbjk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减除设备价款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtjcxmje" type="qtjcxmje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>其他减除项目金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysyye" type="ysyye" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税营业额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssr" type="mssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqskxj" type="bqskxj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期税款小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mjse" type="bqMjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期免减税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qcqjse" type="qcqjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初欠缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qqdjse" type="qqdjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>前期多缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjsexj" type="bqyjsexj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已缴税额小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjbqynse" type="yjbqynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已缴本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybkjse" type="bqybkjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已被扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjqjse" type="bqyjqjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已缴欠缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjnsexj" type="bqyjnsexj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应缴税额小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqqmyjse" type="bqqmyjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期期末应缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqqmyjqjse" type="bqqmyjqjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期期末应缴欠缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ydjzyGrid">
		<xs:annotation>
			<xs:documentation>异地提供建筑业应税劳务申报事项</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ydjzyGridlb" type="ydjzyGridlb">
				<xs:annotation>
					<xs:documentation>"营业税分项目申报异地建筑业申报"列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ydjzyGridlb">
		<xs:annotation>
			<xs:documentation>异地提供建筑业应税劳务申报事项列表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ydbz" type="ydbz">
				<xs:annotation>
					<xs:documentation>异地标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yhpzuuid" type="yhpzuuid"/>
			<xs:element name="ysxmmc" type="ysxmmc">
				<xs:annotation>
					<xs:documentation>应税项目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="symc" type="symc">
				<xs:annotation>
					<xs:documentation>税源名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syssswjgdm" type="swjgDm">
				<xs:annotation>
					<xs:documentation>项目税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzdm" type="jdxzDm">
				<xs:annotation>
					<xs:documentation>街道乡镇</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yssr" type="yssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysjcxmjexj" type="ysjcxmjexj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税减除项目金额小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfgfzbrgcjg" type="zfgfzbrgcjg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>支付给分转包人工程价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jcsbjk" type="jcsbjk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减除设备价款</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qtjcxmje" type="qtjcxmje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>其他减除项目金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysyye" type="ysyye" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应税营业额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssr" type="mssr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>免税收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqskxj" type="bqskxj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期税款小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqynse" type="bqynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mjse" type="bqMjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期免减税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qcqjse" type="qcqjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>期初欠缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qqdjse" type="qqdjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>前期多缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjsexj" type="bqyjsexj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已缴税额小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjbqynse" type="yjbqynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>已缴本期应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqybkjse" type="bqybkjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已被扣缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjqjse" type="bqyjqjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期已缴欠缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjnsexj" type="bqyjnsexj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期应缴税额小计</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqqmyjse" type="bqqmyjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期期末应缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqqmyjqjse" type="bqqmyjqjse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>本期期末应缴欠缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
