标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/80 行业会计制度（运输[交通]）财务报表报送与信息采集/TaxMLBd_hykjzdysjtcwbb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="HykjzdysjtZcfzbVO">
		<xs:annotation>
			<xs:documentation>资产负债表（适用执行运输（交通）企业会计制度的企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrxxForm" type="NsrxxFormVO">
				<xs:annotation>
					<xs:documentation>纳税人基本信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hykjzdysjtZcfzbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="hykjzdysjtZcfzbGridlb" type="HykjzdysjtZcfzbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtZcfzbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ncs" type="ncs">
				<xs:annotation>
					<xs:documentation>年初数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qms" type="je">
				<xs:annotation>
					<xs:documentation>期末数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtSybVO">
		<xs:annotation>
			<xs:documentation>损益表（适用执行运输（交通）企业会计制度的企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hykjzdysjtSybGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="hykjzdysjtSybGridlb" type="HykjzdysjtSybGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtSybGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bys" type="bys">
				<xs:annotation>
					<xs:documentation>本月数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljs" type="bnljs">
				<xs:annotation>
					<xs:documentation>本年累计数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtCwzkbdbVO">
		<xs:annotation>
			<xs:documentation>财务状况变动表（适用执行运输（交通）企业会计制度的企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hykjzdysjtCwzkbdbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="hykjzdysjtCwzkbdbGridlb" type="HykjzdysjtCwzkbdbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtCwzkbdbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="je" type="je">
				<xs:annotation>
					<xs:documentation>金额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtLrfpbVO">
		<xs:annotation>
			<xs:documentation>利润分配表（适用执行运输（交通）企业会计制度的企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hykjzdysjtLrfpbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="hykjzdysjtLrfpbGridlb" type="HykjzdysjtLrfpbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtLrfpbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bys" type="bys">
				<xs:annotation>
					<xs:documentation>本月数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljs" type="bnljs">
				<xs:annotation>
					<xs:documentation>本年累计数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtZyywszmxbVO">
		<xs:annotation>
			<xs:documentation>主营业务收支明细表（适用执行运输（交通）企业会计制度的企业）</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hykjzdysjtZyywszmxbGrid">
				<xs:annotation>
					<xs:documentation>申报信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="hykjzdysjtZyywszmxbGridlb" type="HykjzdysjtZyywszmxbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HykjzdysjtZyywszmxbGridlbVO">
		<xs:annotation>
			<xs:documentation>申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysjtqyxmlxDm" type="xmmc">
				<xs:annotation>
					<xs:documentation>运输交通企业项目类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xmmc" type="xmmc">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zyywsr" type="je">
				<xs:annotation>
					<xs:documentation>主营业务收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zyywcb" type="je">
				<xs:annotation>
					<xs:documentation>主营业务成本</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zyywfy" type="je">
				<xs:annotation>
					<xs:documentation>主营业务费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zyywsjjfj" type="je">
				<xs:annotation>
					<xs:documentation>主营业务税金及附加</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zyywlr" type="je">
				<xs:annotation>
					<xs:documentation>主营业务利润</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
