标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01663/TaxMLBw_HXZG_SB_01663_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by liuwei (liuweicss) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="fjmqysdsjdnssbbsyyhdzsqy2015Gridlb">
		<xs:annotation>
			<xs:documentation>非居民企业企业所得税核定征收申报按收入总额核定应纳税所得额明细信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xmmc" type="xmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zzjesre" type="zzjesre" minOccurs="0">
				<xs:annotation>
					<xs:documentation>账载金额收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yfsbjesre" type="yfsbjesre" minOccurs="0">
				<xs:annotation>
					<xs:documentation>依法申报金额收入额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yfsbjelrl" type="yfsbjelrl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>依法申报金额利润率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yfsbjeynssde" type="yfsbjeynssde" minOccurs="0">
				<xs:annotation>
					<xs:documentation>依法申报金额应纳税所得额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HXZGSB01663Response">
		<xs:annotation>
			<xs:documentation>非居民企业企业所得税核定征收月季度申报基础数据查询返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:annotation>
							<xs:documentation>减免数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yjxxGrid">
						<xs:annotation>
							<xs:documentation>预缴税款数据信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="fjmqysdsjdnssbbsyyhdzsqy2015Grid">
						<xs:annotation>
							<xs:documentation>按收入总额核定应纳税所得额明细信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="fjmqysdsjdnssbbsyyhdzsqy2015Gridlb" type="fjmqysdsjdnssbbsyyhdzsqy2015Gridlb"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sbFjmQysdshdzshdzsqtxxVO" type="SBFjmQysdshdzshdzsqtxxVO">
						<xs:annotation>
							<xs:documentation>非居民企业企业所得税核定征收申报其他数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
