标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01687/TaxMlBd_cztdsysxxcj_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="CztdsysYsxxVO">
		<xs:annotation>
			<xs:documentation>城镇土地使用税应税信息表单VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tdysmxxxGrid">
				<xs:annotation>
					<xs:documentation>土地应税明细信息Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="tdysmxxxGridlb" type="SBCxsTdsyysxxVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SBCxsTdsyysxxVO" type="SBCxsTdsyysxxVO">
				<xs:annotation>
					<xs:documentation>应税信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmxxGrid">
				<xs:annotation>
					<xs:documentation>应税减免信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="jmxxGridlb" type="SBCxsYsjmxzxxVO">
							<xs:annotation>
								<xs:documentation>减免信息</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
