标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/个人税收业务/GSSB_DJ_00003_获取登记险种信息(全责模式)/TaxMLBw_GSSB_DJ_00003_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="ShbxfdjxzxxRequest">
		<xs:annotation>
			<xs:documentation>社会保险费获取登记险种信息（全责模式）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswjgdm" type="zgswjg">
						<xs:annotation>
							<xs:documentation>主管税务机关</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zgswskfjdm" type="zgswskfjDm">
						<xs:annotation>
							<xs:documentation>主管税务所（科、分局）</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
