标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01788/TaxMLBw_HXZG_SB_01788_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB01788Request">
		<xs:annotation>
			<xs:documentation>根据不动产项目编号或合同编号查询房产交易采集信息和房源信息请求报文（不动产项目编号 、合同编号、登记序号、纳税人名称不可同时为空）</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="kfbdcxmbh" type="kfbdcxmbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>不动产项目编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="htbh" type="htbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>合同编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zlfclfbz" type="zlfclfbz" minOccurs="0">
						<xs:annotation>
							<xs:documentation>增量房存量房标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssqq" type="rq" minOccurs="0">
						<xs:annotation>
							<xs:documentation>所属期起</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ssqz" type="rq" minOccurs="0">
						<xs:annotation>
							<xs:documentation>所属期止</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="djxh" type="djxh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nsrmc" type="nsrmc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>纳税人名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zrfcsfbz" type="zrfcsfbz">
						<xs:annotation>
							<xs:documentation>转让方承受方标志</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fwsdswjgDm" type="fwsdswjgDm">
						<xs:annotation>
							<xs:documentation>房屋属地税务机关代码</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
