标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01616/TaxMLBw_ccssb_V2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by pl (css) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610005_V2.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610006_V2.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="ccssbywbw">
		<xs:annotation>
			<xs:documentation>车船税申报业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ccssbb" type="ccssbbVO">
						<xs:annotation>
							<xs:documentation>车船税申报</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ccqkdjb" type="CcdjxxVO">
						<xs:annotation>
							<xs:documentation>车船情况登记表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="yjxxGrid">
		<xs:annotation>
			<xs:documentation>预缴信息业务报文</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="yjxxGridlb" type="SBYjxxJhVO"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
