标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.31_fix01/附录报文/核心征管业务/申报征收/申报/HXZG_SB_10526/TaxMLBw_HXZG_SB_10526_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGSB10526Response">
		<xs:annotation>
			<xs:documentation>查询一般纳税人对应属期内的申报比对信息是否正常</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBCgsDzWszmVO" type="SBCgsDzWszmVO" nillable="true">
						<xs:annotation>
							<xs:documentation>查询车购税电子完税证明(无纸化完税证明)返回信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBCgsDzWszmVO">
		<xs:annotation>
			<xs:documentation>查询车购税电子完税证明(无纸化完税证明)返回信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrmc" type="nsrmc">
				<xs:annotation>
					<xs:documentation>纳税人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzxh" type="pzxh">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clsbdh" type="clsbdh">
				<xs:annotation>
					<xs:documentation>车辆识别代号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clcp" type="clcp">
				<xs:annotation>
					<xs:documentation>车辆厂牌</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clcpxh" type="clcpxh">
				<xs:annotation>
					<xs:documentation>车辆厂牌型号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clxh" type="clxh">
				<xs:annotation>
					<xs:documentation>车辆型号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pql" type="pql">
				<xs:annotation>
					<xs:documentation>排气量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zws" type="zws">
				<xs:annotation>
					<xs:documentation>座位数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cldw" type="cldw">
				<xs:annotation>
					<xs:documentation>车辆吨位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zypz" type="zypz">
				<xs:annotation>
					<xs:documentation>主要配置</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fdjhm" type="fdjhm">
				<xs:annotation>
					<xs:documentation>发动机号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cgssbuuid" type="cgssbuuid">
				<xs:annotation>
					<xs:documentation>车购税申报UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cgsuuid" type="cgsuuid">
				<xs:annotation>
					<xs:documentation>车购税UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wspzhm" type="wspzhm">
				<xs:annotation>
					<xs:documentation>完税凭证号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zmsbz" type="zmsbz">
				<xs:annotation>
					<xs:documentation>征免税标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swjgjbrDm" type="swjgjbrDm">
				<xs:annotation>
					<xs:documentation>税务机关经办人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsjg_dm" type="zsjgDm">
				<xs:annotation>
					<xs:documentation>征收机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewtmc" type="ewtmc">
				<xs:annotation>
					<xs:documentation>二维条码字符串</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ffrq" type="ffrq">
				<xs:annotation>
					<xs:documentation>发放日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
