标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10218/TaxMLBw_HXZG_ZS_10218_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS10218Response">
		<xs:annotation>
			<xs:documentation>查询合伙企业欠税信息返回结果</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="yzxxGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yzxxGridlb" type="ZSYjsfVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZSYjsfVO">
		<xs:annotation>
			<xs:documentation>欠税信息VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zsuuid" type="zsuuid">
				<xs:annotation>
					<xs:documentation>征收UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzxh" type="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzmxxh" type="yzpzmxxh">
				<xs:annotation>
					<xs:documentation>应征凭证明细序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="glyzpzmxxh" type="glyzpzmxxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>关联应征凭证明细序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzpzzlDm" type="yzpzzlDm">
				<xs:annotation>
					<xs:documentation>应征凭证种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsdlfsDm" type="zsdlfsDm">
				<xs:annotation>
					<xs:documentation>征收代理方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nssbrq" type="nssbrq">
				<xs:annotation>
					<xs:documentation>纳税申报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzfsrq" type="yzfsrq">
				<xs:annotation>
					<xs:documentation>应征发生日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzgsrq" type="yzgsrq">
				<xs:annotation>
					<xs:documentation>应征归属日期||应征归属日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjjzrq" type="kjjzrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>会计记账日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yzclrq" type="yzclrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应征处理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czlxDm" type="czlxDm">
				<xs:annotation>
					<xs:documentation>操作类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tzlxDm" type="tzlxDm">
				<xs:annotation>
					<xs:documentation>调账类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skcllxDm" type="skcllxDm">
				<xs:annotation>
					<xs:documentation>税款处理类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbsxDm1" type="sbsxDm1">
				<xs:annotation>
					<xs:documentation>申报属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kssl" type="kssl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>课税数量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jsyj" type="jsyj">
				<xs:annotation>
					<xs:documentation>计税依据</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sl1" type="sl1">
				<xs:annotation>
					<xs:documentation>税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ynse" type="ynse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>应纳税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmse" type="jmse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjse" type="yjse">
				<xs:annotation>
					<xs:documentation>已缴税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ybtse" type="ybtse">
				<xs:annotation>
					<xs:documentation>应补(退)税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="znjje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>滞纳金金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fkje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>罚款金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxje" type="je" minOccurs="0">
				<xs:annotation>
					<xs:documentation>利息金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hyDm" type="hyDm">
				<xs:annotation>
					<xs:documentation>行业代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsxmDm" type="zsxmDm">
				<xs:annotation>
					<xs:documentation>征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqq">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jkqx" type="jkqx">
				<xs:annotation>
					<xs:documentation>缴款期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjkqx" type="yjkqx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>原缴款期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbsxDm" type="cbsxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>查补属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djzclxDm" type="djzclxDm">
				<xs:annotation>
					<xs:documentation>登记注册类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dwlsgxDm" type="dwlsgxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单位隶属关系代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssglyDm" type="ssglyDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收管理员代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjdjxh" type="kjdjxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣缴登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsfsDm" type="zsfsDm">
				<xs:annotation>
					<xs:documentation>征收方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skzlDm" type="skzlDm">
				<xs:annotation>
					<xs:documentation>税款种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sksxDm" type="sksxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税款属性代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjskztDm" type="yjskztDm">
				<xs:annotation>
					<xs:documentation>应缴税款状态代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sbfsDm" type="sbfsDm">
				<xs:annotation>
					<xs:documentation>申报方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>征收子目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sybh1" type="sybh1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssswjgDm" type="skssswjgDm">
				<xs:annotation>
					<xs:documentation>税款所属税务机构代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务所（科、分局）代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zsswjgDm" type="zsswjgDm">
				<xs:annotation>
					<xs:documentation>征收税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qrmxuuid" type="qrmxuuid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>确认明细UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rkrq" type="rkrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>入库日期</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
