标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_00324/TaxMLBw_HXZG_ZS_00324_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.chinatax.gov.cn/dataspec/" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGZS00324RequestVO">
		<xs:annotation>
			<xs:documentation>征收入库情况查询（个税发起的申报）请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>				
					
					<xs:element name="yzpzxhGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="yzpzxhGridlb" type="HXZGZS00324YzpzxhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HXZGZS00324YzpzxhVO">
		<xs:annotation>
			<xs:documentation>应征凭证序号VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yzpzxh">
				<xs:annotation>
					<xs:documentation>应征凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
