标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00824/TaxMLBw_zyssb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610036_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610502_V1.0.xsd"/>
	<xs:complexType name="zyysbywbw">
		<xs:annotation>
			<xs:documentation>《资源税申报》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zysnssbb" type="zysnssbb">
						<xs:annotation>
							<xs:documentation>《资源税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zwhzjhszyyqtzysnssbb" type="zwhzjhszyyqtzysnssbb">
						<xs:annotation>
							<xs:documentation>《中外合作及海上自营油气田资源税纳税申报表》</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
