标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01841/TaxMLBd_BDA0610890_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by www.hbnu.com (www.hbnu.com) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:complexType name="BDA0610890">
		<xs:annotation>
			<xs:documentation>《zyssb03》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="jmxxGrid" type="jmxxGrid">
				<xs:annotation>
					<xs:documentation>减免信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmxxGrid">
		<xs:annotation>
			<xs:documentation>减免信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="jmxxGridlbVO" type="jmxxGridlbVO"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jmxxGridlbVO">
		<xs:annotation>
			<xs:documentation>减免信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zspmDm" type="zspmDm">
				<xs:annotation>
					<xs:documentation>税目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zszmDm" type="zszmDm">
				<xs:annotation>
					<xs:documentation>子目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jldwDm" type="jldwDm">
				<xs:annotation>
					<xs:documentation>计量单位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsxsl" type="je">
				<xs:annotation>
					<xs:documentation>减免销售量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmsxse" type="je">
				<xs:annotation>
					<xs:documentation>减免销售额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysl" type="je">
				<xs:annotation>
					<xs:documentation>适用税率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssjmxzDm" type="jmxzDm">
				<xs:annotation>
					<xs:documentation>减免性质代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzbl" type="je">
				<xs:annotation>
					<xs:documentation>减征比例</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqjmse" type="je">
				<xs:annotation>
					<xs:documentation>本期减免税额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cjclbz" type="bz1">
				<xs:annotation>
					<xs:documentation>从价从量标志</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
