标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/46 非居民享受税收协定待遇执行情况报告/TaxMLBd_0610014_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="fjmxsssxddyzxqkbVO">
		<xs:annotation>
			<xs:documentation>非居民享受税收协定待遇执行情况报告表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fjmxsssxddyzxqkbGrid">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="fjmxsssxddyzxqkbGridlbVO" type="fjmxsssxddyzxqkbGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fjmxsssxddyzxqkbGridlbVO">
		<xs:annotation>
			<xs:documentation>报送信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xm" type="xm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrq" type="tbrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>填报日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tbrlxDm" type="tbrlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>填报人类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrsbh" type="kjywrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣缴义务人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kjywrmc" type="kjywrmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>扣缴义务人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssxddylx" type="ssxddylx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>税收协定待遇类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdlx" type="sdlx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>所得类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="syssxdtk" type="syssxdtk" minOccurs="0">
				<xs:annotation>
					<xs:documentation>适用税收协定及条款||1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spwsbh" type="spwsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>审批文书编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="babgsj" type="babgsj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备案报告时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sreynseSpsqse" type="sreynseSpsqse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收入额或应纳税所得额审批申请数额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sreynseBabgse" type="sreynseBabgse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收入额或应纳税所得额备案报告数额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sreynseSjfsse" type="sreynseSjfsse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>收入额或应纳税所得额实际发生数额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmseSpsqse" type="jmseSpsqse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额审批申请数额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmseBabgse" type="jmseBabgse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额备案报告数额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jmseSjzxse" type="jmseSjzxse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>减免税额实际执行数额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
