标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/46 非居民享受税收协定待遇执行情况报告/TaxMLbw_FjmxxssxddyYwbw_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610014_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_Fjmxsssxddynsrxx_V1.0.xsd"/>
	<xs:complexType name="Fjmxsssxddyzxqkywbw">
		<xs:annotation>
			<xs:documentation>非居民享受税收协定待遇执行情况报告表</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fjmxsssxddynsrxxVO" type="fjmxsssxddynsrxxVO"/>
					<xs:element name="fjmxsssxddyzxqkbVO" type="fjmxsssxddyzxqkbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>非居民享受税收协定待遇执行情况报告表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
