标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01341/83 企业会计准则（典当企业）财务报表报送与信息采集/TaxMLbw_qykjzzddqycwbb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLBd_qykjzzddqycwbb_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="Qykjzzddqycwbbywbw">
		<xs:annotation>
			<xs:documentation>总业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zcfzbVO" type="QykjzzddqyZcfzbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>资产负债表（适用执行企业会计制度的典当企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lrfpbVO" type="QykjzzddqyLrfpbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>利润分配表（适用执行企业会计制度的典当企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="xjllbVO" type="QykjzzddqyXjllbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>现金流量表（适用执行企业会计制度的典当企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="syzqybdbVO" type="QykjzzddqySyzqybdbVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>所有者权益变动表（适用执行企业会计制度的典当企业）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dkhdkadbwlfbqkVO" type="DkhdkadbwlfbqkVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>贷款和垫款按担保物类别分布情况（适用企业会计准则的典当类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yqdkVO" type="YqdkVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>逾期贷款（适用企业会计准则的典当类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jdjeVO" type="JdjeVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>绝当金额（指绝当涉及的贷款以及应收未收的利息和综合费用）（适用企业会计准则的典当类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lxsrVO" type="LxsrVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>利息收入（按担保物类别）（适用企业会计准则的典当类公司）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ndcwkjbgshbgVO" type="NdcwkjbgshbgVO">
						<xs:annotation>
							<xs:documentation>年度财务会计报告审核报告</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fyazxzfldbcclVO" type="FyazxzfldbcclVO">
						<xs:annotation>
							<xs:documentation>费用按照性质分类的补充资料</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qykjzzfzVO" type="QykjzzfzVO">
						<xs:annotation>
							<xs:documentation>财务报表企业会计准则附注VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtsygxmjsdshzrsyqkVO" type="QtsygxmjsdshzrsyqkVO">
						<xs:annotation>
							<xs:documentation>其他综合收益各项目及其所得税影响和转入损益情况VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="qtzhsygxmdtjqkVO" type="QtzhsygxmdtjqkVO">
						<xs:annotation>
							<xs:documentation>其他综合收益各项目的调节情况VO</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yfzcfzzhzbVO" type="YfzcfzzhzbVO">
						<xs:annotation>
							<xs:documentation>“研发支出”辅助账汇总表VO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
