标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/征收/HXZG_ZS_10186/TaxMLBw_HXZG_ZS_10186_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (pjf) 使用XMLSpy vcss编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicZSType.xsd"/>
	<xs:complexType name="HXZGZS10186Response">
		<xs:annotation>
			<xs:documentation>汇总税款实时扣款扣款结果</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="jkxxGrid">
						<xs:annotation>
							<xs:documentation>缴款信息</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="jkxxGridlb">
									<xs:annotation>
										<xs:documentation>缴款明细列表</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="dzsphm" type="dzsphm" minOccurs="1">
												<xs:annotation>
													<xs:documentation>电子税票号码</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="sjse" type="se" minOccurs="1">
												<xs:annotation>
													<xs:documentation>实缴税额</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="kkfhmc" type="kkfhmc">
												<xs:annotation>
													<xs:documentation>银税操作状态</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="kkfhDm" type="kkfhDm">
												<xs:annotation>
													<xs:documentation>银税操作状态</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="wszGrid" minOccurs="1">
												<xs:complexType>
													<xs:sequence maxOccurs="unbounded">
														<xs:element name="wszGridlb">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ybtse" type="ybtse">
																		<xs:annotation>
																			<xs:documentation>应补退税额</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="skgkDm" type="skgkDm">
																		<xs:annotation>
																			<xs:documentation>收款国库</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="zsswjgDm" type="zsswjgDm">
																		<xs:annotation>
																			<xs:documentation>征收机关</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="zsxmDm" type="zsxmDm">
																		<xs:annotation>
																			<xs:documentation>征收项目</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="zspmDm" type="zspmDm">
																		<xs:annotation>
																			<xs:documentation>征收品目代码</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="skssqq" type="skssqq">
																		<xs:annotation>
																			<xs:documentation>税款所属期起</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="skssqz" type="skssqz">
																		<xs:annotation>
																			<xs:documentation>税款所属期止</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="pzzlDm" type="pzzlDm">
																		<xs:annotation>
																			<xs:documentation>票证种类</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="pzzgDm" type="pzzgDm">
																		<xs:annotation>
																			<xs:documentation>票证字轨</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																	<xs:element name="pzhm" type="pzhm">
																		<xs:annotation>
																			<xs:documentation>票证号码</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
