标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01627/TaxMLBw_HXZG_SB_01627_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxMLBd_0610679_V1.0.xsd"/>
	<xs:include schemaLocation="TaxMLBd_0610680_V1.0.xsd"/>
	<xs:complexType name="HXZGSB01627Response">
		<xs:annotation>
			<xs:documentation>通过登记序号和产权证书号查询房产底册信息</xs:documentation>
		</xs:annotation>
			<xs:complexContent>
			<xs:extension base="taxDoc">
		<xs:sequence>
			<xs:element name="cjjzfcsmxbGrid" type="cjjzfcsmxbGrid">
				<xs:annotation>
					<xs:documentation>从价计征房产税明细表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="czjzfcsmxbGrid" type="czjzfcsmxbGrid">
				<xs:annotation>
					<xs:documentation>从租计征房产税明细表信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
					</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
