标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01617/TaxMLBw_HXZG_SB_01617_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_ccssb_V2.0.xsd"/>
	<xs:complexType name="HXZGSB01617Request">
		<xs:annotation>
			<xs:documentation>车船税申报保存车船税明细表数据</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="djxh" type="djxh">
						<xs:annotation>
							<xs:documentation>登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeleteClqkxxGrid" type="DeleteClqkxxGrid">
						<xs:annotation>
							<xs:documentation>删除车辆情况信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsertClqkxxGrid" type="InsertClqkxxGrid">
						<xs:annotation>
							<xs:documentation>新增车辆情况信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UpdateClqkxxGrid" type="UpdateClqkxxGrid">
						<xs:annotation>
							<xs:documentation>修改车辆情况信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InsertCbqkxxGrid" type="InsertCbqkxxGrid">
						<xs:annotation>
							<xs:documentation>新增船舶情况信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UpdateCbqkxxGrid" type="UpdateCbqkxxGrid">
						<xs:annotation>
							<xs:documentation>修改船舶情况信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeleteCbqkxxGrid" type="DeleteCbqkxxGrid">
						<xs:annotation>
							<xs:documentation>删除船舶情况信息Grid</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
