标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/涉税服务管理/涉税服务管理/HXZG_SF_00036/TaxMLBw_SSFWGL_SSFW_00036_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSFType.xsd"/>
	<xs:complexType name="SSFWGLSSFW00036Response">
		<xs:annotation>
			<xs:documentation>查询根据行政登记序号查询登记信息响应报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="ssjgxzdjbVO" type="ssjgxzdjbVO">
						<xs:annotation>
							<xs:documentation>行政登记信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zzSsjgryxxGrid" type="ssjgryxxGrid">
						<xs:annotation>
							<xs:documentation>在职人员信息集合</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lzSsjgryxxGrid" type="ssjgryxxGrid">
						<xs:annotation>
							<xs:documentation>离职人员信息集合</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
