标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00489/TaxMLBw_HXZG_DJ_00489_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00489Response">
		<xs:annotation>
			<xs:documentation>自然人间接登记</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="gszrrxxResGrid" type="gszrrxxResGrid">
						<xs:annotation>
							<xs:documentation>自然人信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="gszrrxxResGrid">
		<xs:annotation>
			<xs:documentation>自然人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="zrrxxResList" type="gszrrResxx">
				<xs:annotation>
					<xs:documentation>自然人信息列表</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gszrrResxx">
		<xs:annotation>
			<xs:documentation>自然人信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlx_dm" type="sfzjlxDm">
				<xs:annotation>
					<xs:documentation>身份证件类型</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xm" type="xm">
				<xs:annotation>
					<xs:documentation>姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gj_dm" type="gjhdqszDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国籍代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csrq" type="csrq" minOccurs="0">
				<xs:annotation>
					<xs:documentation>出生日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xb" type="xbDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>性别</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswsxDm" type="slswsxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>受理税务事项</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lyqdDm" type="lyqdDm">
				<xs:annotation>
					<xs:documentation>来源渠道代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzdzyzbm" type="yzbm">
				<xs:annotation>
					<xs:documentation>注册地址邮政编码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
