标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01791/TaxMLBd_zlfjysb_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="zlfjysbbdywbw">
		<xs:annotation>
			<xs:documentation>增量房交易申报表单业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zlfjysbbd" type="zlfjyxxsbbd">
						<xs:annotation>
							<xs:documentation>增量房交易申报表单</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zlfjyxxsbbd">
		<xs:annotation>
			<xs:documentation>增量房交易申报表单</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zlfsbForm" type="SBZlfsbFormVO">
				<xs:annotation>
					<xs:documentation>增量房销售信息表</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfsbxxGrid">
				<xs:annotation>
					<xs:documentation>承受方申报信息Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="csfsbxxGridlb" type="FcjysbxxGridlbVO">
							<xs:annotation>
								<xs:documentation>承受方申报信息Grid列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zlfsbxx">
		<xs:annotation>
			<xs:documentation>增量房申报信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fcjyVO" type="SBCxsFcjyVO">
				<xs:annotation>
					<xs:documentation>申报信息VO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="csfskxxGrid">
				<xs:annotation>
					<xs:documentation>承受方税款信息Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="csfskxxGridlb" type="SBCxsFcjySkxxVO">
							<xs:annotation>
								<xs:documentation>承受方税款信息Grid列表</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sffgyrdp" type="bz1">
				<xs:annotation>
					<xs:documentation>是否分共有人打票</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
