标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/风险处理/HXZG_FXCL_00951/TaxMLBw_HXZG_FXCL_00951_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGFXCL00951Response">
		<xs:annotation>
			<xs:documentation>查询特别纳税调整立案信息查询业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="fhm" type="bzdsDm" minOccurs="0">
						<xs:annotation>
							<xs:documentation>返回码</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cljgmc" type="ywmc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>处理结果描述</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tbnsdcajbh" type="tbnsdcajbh" minOccurs="0">
						<xs:annotation>
							<xs:documentation>特别纳税调查案件编号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tbnsdcajmc" type="tbnsdcAjmc" minOccurs="0">
						<xs:annotation>
							<xs:documentation>特别纳税调查案件名称</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yqtgxgzljzrq" type="qysqyqtgxgzldjzrq" minOccurs="0">
						<xs:annotation>
							<xs:documentation>要求提供相关资料截止日期</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
