标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00018/TaxMLBw_HXZG_DJ_00018_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicDJType.xsd"/>
	<xs:complexType name="HXZGDJ00018Request">
		<xs:annotation>
			<xs:documentation>保存文化事业建设费登记表信息</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="whsyjsfdjbxx" type="DJWhsyjsfjfxxdjbVO">
						<xs:annotation>
							<xs:documentation>文化事业建设费登记表信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="whsyjsfslxx" type="DJYsqywslxxbVO">
						<xs:annotation>
							<xs:documentation>文化事业建设费受理信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
