标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_01712/TaxMLBw_HXZG_SB_01712_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB01712Response">
		<xs:annotation>
			<xs:documentation>从事房地产开发的纳税人清算后尾盘销售适用请求返回</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="sbxxGrid">
						<xs:annotation>
							<xs:documentation>申报信息Grid</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="sbxxGridlb" type="SBSbxxJhVO">
									<xs:annotation>
										<xs:documentation>申报Gridlb</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="jmxxGrid">
						<xs:complexType>
							<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:element name="jmxxGridlb" type="SBJmxxJhVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yqsbBz" type="bz1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>逾期申报标志（Y表示存在逾期未申报）</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sfzrdbz" type="bz1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>税费种认定标识</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjseptzz" type="je" minOccurs="0">
						<xs:annotation>
							<xs:documentation>已缴税额普通住宅</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjsefptzz" type="je" minOccurs="0">
						<xs:annotation>
							<xs:documentation>已缴税额非普通住宅</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="yjseqtlxfc" type="je" minOccurs="0">
						<xs:annotation>
							<xs:documentation>已缴税额其他房产类型</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
