标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/纳税人管理/登记/HXZG_DJ_00826/TaxMLBw_HXZG_DJ_00826_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:complexType name="HXZGDJ00826Request">
		<xs:annotation>
			<xs:documentation>查询跨区域涉税事项反馈-地税接收的查询服务请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="KqysxFkCxtjVO" type="KqysxFkCxtjVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KqysxFkCxtjVO">
		<xs:annotation>
			<xs:documentation>跨区域事项反馈查询条件VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sfybjbz" type="sfybjbz">
				<xs:annotation>
					<xs:documentation>办理情况</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bjfs" type="bjfs">
				<xs:annotation>
					<xs:documentation>办结方式</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqq" type="yxqq">
				<xs:annotation>
					<xs:documentation>有效期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yxqz" type="yxqz">
				<xs:annotation>
					<xs:documentation>有效期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsrsbh" type="nsrsbh">
				<xs:annotation>
					<xs:documentation>纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wcjyhdssglzmbh" type="wcjyhdssglzmbh">
				<xs:annotation>
					<xs:documentation>外管证编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswjDm" type="zgswjDm">
				<xs:annotation>
					<xs:documentation>主管税务局代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zgswskfjDm" type="zgswskfjDm">
				<xs:annotation>
					<xs:documentation>主管税务科所代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kqyjydxzqh" type="xzqhszDm">
				<xs:annotation>
					<xs:documentation>跨区域行政区划</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
