标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00567/TaxMLBd_zlfxsxxcj_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="zlfxsxxcjbdywbw">
		<xs:annotation>
			<xs:documentation>增量房销售信息表表单业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="zlfxsxxcj" type="zlfxsxxcj">
						<xs:annotation>
							<xs:documentation>增量房销售信息表</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="zlfxsxxGridlbVO">
		<xs:annotation>
			<xs:documentation>增量房销售信息GridlbVO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gfzdjxh" type="djxh">
				<xs:annotation>
					<xs:documentation>购房者登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gfznsrsbh" type="gfznsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>购房者纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grzmc" type="grzmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>购房者姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjDm" type="gjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国籍代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjzlDm" type="sfzjzlDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件种类代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjhm" type="sfzjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdfwdz" type="tdfwdz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>土地、房屋地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fybh" type="fybh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房源编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mj" type="mj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dj" type="dj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jyjg" type="jyjg" minOccurs="0">
				<xs:annotation>
					<xs:documentation>交易价格</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htbh" type="htbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gmffwtcDm" type="gmffwtcDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房屋套次代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htje" type="htje" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同金额</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htqdsj" type="htqdsj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>合同签订时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qsqszydxDm" type="fclxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房产类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dh" type="dh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>幢号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lc1" type="lc1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>楼层</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dyh" type="dyh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>单元号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fjh" type="fjh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房间号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jzjglxDm" type="jzjglxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>建筑结构类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tnmj" type="tnmj" minOccurs="0">
				<xs:annotation>
					<xs:documentation>套内面积</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cxDm" type="cxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>朝向代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fcjyfsDm" type="fcjyfsDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房产交易方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bz" type="bz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlfsbbz" type="bz1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>增量房申报标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzxh" type="pzxh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zlfxsxxcj">
		<xs:annotation>
			<xs:documentation>增量房销售信息表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zlfxsxxForm" type="zlfxsxxForm">
				<xs:annotation>
					<xs:documentation>增量房销售信息Form</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zlfxsxxGrid">
				<xs:annotation>
					<xs:documentation>增量房销售信息Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="zlfxsxxGridlb" type="zlfxsxxGridlbVO">
							<xs:annotation>
								<xs:documentation>增量房销售信息Gridlb</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="zlfgyrxxGrid">
				<xs:annotation>
					<xs:documentation>增量房共有人信息Grid</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="zlfgyrxxGridlb" type="zlfgyrxxGridlbVO">
							<xs:annotation>
								<xs:documentation>增量房共有人信息Grid</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zlfxsxxForm">
		<xs:annotation>
			<xs:documentation>增量房销售信息Form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="zrfcsfbz" type="zrfcsfbz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>转让方承受方标志</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kfqymc" type="kfqymc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>开发企业名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kfqynsrsbh" type="kfqynsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>开发企业纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kfbdcxmbh" type="kfbdcxmbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>开发不动产项目编号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bdcxmmc" type="bdcxmmc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>不动产项目名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xzqhszDm" type="xzqhszDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>行政区划数字代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jdxzDm" type="jdxzDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>街道乡镇代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fwsdswjgDm" type="fwsdswjgDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>房屋属地税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zlfgyrxxGridlbVO">
		<xs:annotation>
			<xs:documentation>增量房共有人信息列表VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dyEwbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>对应二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyrdjxh" type="gyrdjxh">
				<xs:annotation>
					<xs:documentation>共有人登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyrnsrsbh" type="gyrnsrsbh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>共有人纳税人识别号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gyrxm" type="gyrxm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>共有人姓名</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sfzjlxDm" type="sfzjlxDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>身份证件类型代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zjhm" type="zjhm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>证件号码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gjDm" type="gjDm" minOccurs="0">
				<xs:annotation>
					<xs:documentation>国籍代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dz" type="dz" minOccurs="0">
				<xs:annotation>
					<xs:documentation>地址</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lxdh" type="lxdh" minOccurs="0">
				<xs:annotation>
					<xs:documentation>联系电话</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="szfe1" type="szfe1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>所占份额</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
