标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00045/TaxMLBw_HXZG_SB_00045_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00045Response">
		<xs:annotation>
			<xs:documentation>增值税小规模纳税人申报保存返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBSaveReturnVO" type="SBSaveReturnVO" minOccurs="0">
						<xs:annotation>
							<xs:documentation>申报保存返回数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SBZzsSaveReturnVO" type="SBZzsSaveReturnVO">
						<xs:annotation>
							<xs:documentation>申报增值税保存返回数据信息</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
