标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00045/TaxMLBd_X610535_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicType.xsd"/>
	<xs:complexType name="dlqyzzsxxsehjxsecddywbw">
		<xs:annotation>
			<xs:documentation>《电力企业增值税销项税额和进项税额传递单》业务报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dlqyzzsxxsehjxsecdd" type="dlqyzzsxxsehjxsecdd"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dlqyzzsxxsehjxsecdd">
		<xs:annotation>
			<xs:documentation>《电力企业增值税销项税额和进项税额传递单》</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xxGrid">
				<xs:annotation>
					<xs:documentation>销项信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="xxGridlb" type="xxGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="jxGrid">
				<xs:annotation>
					<xs:documentation>进项信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="jxGridlb" type="jxGridlbVO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="skzsForm" type="skzsFormVO">
				<xs:annotation>
					<xs:documentation>税款征收信息</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xxGrid">
		<xs:annotation>
			<xs:documentation>销项信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="xxGridlbVO" type="xxGridlbVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="xxGridlbVO">
		<xs:annotation>
			<xs:documentation>销项信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xsdl" type="xsdl">
				<xs:annotation>
					<xs:documentation>销售电量上网电量</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dj2" type="dj2">
				<xs:annotation>
					<xs:documentation>电价</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sdsr" type="sdsr">
				<xs:annotation>
					<xs:documentation>销项-售电收入</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bzsdjwfy" type="bzsdjwfy">
				<xs:annotation>
					<xs:documentation>销项-其中不征税的价外费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ysjwfy" type="ysjwfy">
				<xs:annotation>
					<xs:documentation>销项-其中应税价外费用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="deslhyzl" type="deslhyzl">
				<xs:annotation>
					<xs:documentation>定额税率或预征率</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jxGrid">
		<xs:annotation>
			<xs:documentation>进项信息</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="jxGridlbVO" type="jxGridlbVO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="jxGridlbVO">
		<xs:annotation>
			<xs:documentation>进项信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ewbhxh" type="ewbhxh">
				<xs:annotation>
					<xs:documentation>二维表行序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqfsjx" type="bqfsjx">
				<xs:annotation>
					<xs:documentation>进项-本期发生进项</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mshwyjxse" type="mshwyjxse">
				<xs:annotation>
					<xs:documentation>进项-免税货物用</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fzcssjxse" type="fzcssjxse">
				<xs:annotation>
					<xs:documentation>进项-非正常损失</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zrjxse" type="zrjxse">
				<xs:annotation>
					<xs:documentation>进项-折让</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqsjdkjxse" type="bqsjdkjxse">
				<xs:annotation>
					<xs:documentation>进项-本期实际抵扣进项</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="skzsFormVO">
		<xs:annotation>
			<xs:documentation>税款征收信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="qylxbz" type="qylxbz">
				<xs:annotation>
					<xs:documentation>企业类型  1 供电企业   2发电企业</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slsdljt" type="slsdljt">
				<xs:annotation>
					<xs:documentation>所隶属电力集团</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjzzs1" type="bqyjzzs1">
				<xs:annotation>
					<xs:documentation>本期应缴增值税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqyjzzshcbsk" type="bqyjzzshcbsk">
				<xs:annotation>
					<xs:documentation>本期已交增值税（含查补税款）</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bqqjzzs" type="bqqjzzs">
				<xs:annotation>
					<xs:documentation>本期欠缴增值税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bnljjnzzs" type="bnljjnzzs">
				<xs:annotation>
					<xs:documentation>本年累计缴纳增值税</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shswry" type="swryxm">
				<xs:annotation>
					<xs:documentation>审核税务人员</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
