标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/发票管理/HXZG_FP_15053/TaxMLBw_HXZG_FP_15053_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by time (wnass) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxDoc.xsd"/>
	<xs:include schemaLocation="TaxMLPublic.xsd"/>
	<xs:include schemaLocation="TaxMLPublicFPType.xsd"/>
	<xs:complexType name="HXZGFP15053Request">
		<xs:annotation>
			<xs:documentation>开具红字普通发票（无蓝字发票）请求报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="dksq" type="FPDkSqVO">
						<xs:annotation>
							<xs:documentation>代开申请</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tyjdfp" type="FPDkTyjdfpVO">
						<xs:annotation>
							<xs:documentation>通用机打发票</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hlList" minOccurs="0">
						<xs:annotation>
							<xs:documentation>货劳明细</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="hlListlb" type="FPDkTyjdfpHlmxVO"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="kjxx" type="FPDkFpkjxxVO">
						<xs:annotation>
							<xs:documentation>开具信息</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kcxx" type="FPFpSwjgkfkcVO">
						<xs:annotation>
							<xs:documentation>发票库存</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
