标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00503/TaxMLBw_HXZG_SB_00503_Response_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (TeaM DJiNN) 使用XMLSpy vTeaM DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:complexType name="HXZGSB00503Response">
		<xs:annotation>
			<xs:documentation>延期申报核准初始化返回报文</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="SBYqsbhzQueryVO" type="SBYqsbhzQueryVO"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SBYqsbhzbmx">
		<xs:annotation>
			<xs:documentation>延期申报延期主键查询延期申报申请信息税种VO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="yqsbmxuuid" type="yqsbuuid">
				<xs:annotation>
					<xs:documentation>yqsbmxuuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yqsbuuid" type="yqsbuuid">
				<xs:annotation>
					<xs:documentation>yqsbuuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>djxh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsqxDm" type="nsqxDm">
				<xs:annotation>
					<xs:documentation>yqsbmxuuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbszDm" type="sqyqsbszDm">
				<xs:annotation>
					<xs:documentation>税种征收项目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbpmDm" type="sqyqsbpmDm">
				<xs:annotation>
					<xs:documentation>税种征收品目代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqq" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期起</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skssqz" type="skssqz">
				<xs:annotation>
					<xs:documentation>税款所属期止</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gdsbqx" type="gdsbqx">
				<xs:annotation>
					<xs:documentation>规定申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbqx" type="sqyqsbqx">
				<xs:annotation>
					<xs:documentation>申请延期申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzyqsbqx" type="hzyqsbqx">
				<xs:annotation>
					<xs:documentation>核准延期申报期限</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SBYqsbhzQueryVO">
		<xs:sequence>
			<xs:element name="yqsbuuid" type="yqsbuuid">
				<xs:annotation>
					<xs:documentation>延期申报uuid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="djxh" type="djxh">
				<xs:annotation>
					<xs:documentation>登记序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pzxh" type="pzxh">
				<xs:annotation>
					<xs:documentation>凭证序号</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lcslid" type="lcslid">
				<xs:annotation>
					<xs:documentation>流程实例id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqyqsbdly" type="sqyqsbdly">
				<xs:annotation>
					<xs:documentation>延期申报的理由</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrmc1" type="sqrmc1">
				<xs:annotation>
					<xs:documentation>申请人名称</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sqrq" type="sqrq">
				<xs:annotation>
					<xs:documentation>申请日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrDm" type="slrDm">
				<xs:annotation>
					<xs:documentation>受理人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slswjgDm" type="slswjgDm">
				<xs:annotation>
					<xs:documentation>受理税务机关代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slrq" type="slrq">
				<xs:annotation>
					<xs:documentation>受理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yjskhdfsDm" type="yjskhdfsDm">
				<xs:annotation>
					<xs:documentation>预缴税款核定方式代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfbz" type="zfbz">
				<xs:annotation>
					<xs:documentation>作废标识</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrq" type="zfrq">
				<xs:annotation>
					<xs:documentation>作废日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="zfrDm" type="zfrDm">
				<xs:annotation>
					<xs:documentation>作废人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrq" type="lrrq">
				<xs:annotation>
					<xs:documentation>录入日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrDm" type="xgrDm">
				<xs:annotation>
					<xs:documentation>修改人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xgrq" type="xgrq">
				<xs:annotation>
					<xs:documentation>修改日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sjgsdq" type="sjgsdq">
				<xs:annotation>
					<xs:documentation>数据归属地区</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lrrDm" type="lrrDm">
				<xs:annotation>
					<xs:documentation>录入人代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzyjSm" type="hzyjsm">
				<xs:annotation>
					<xs:documentation>核准意见说明</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzyj" type="hzyj">
				<xs:annotation>
					<xs:documentation>核准意见</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hzyjDm" type="hzyjDm">
				<xs:annotation>
					<xs:documentation>核准意见代码</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="list">
				<xs:annotation>
					<xs:documentation>延期申报明细信息</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="sbYqsbhzbmx" type="SBYqsbhzbmx"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
