标准服务清册/GT3-ZJ-金税三期标准服务清册_V2.29/附录报文/核心征管业务/申报征收/申报/HXZG_SB_00344/TaxMLBw_HXZG_SB_00344_Request_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!-- 被2012 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<xs:schema xmlns="http://www.chinatax.gov.cn/dataspec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chinatax.gov.cn/dataspec/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TaxML.xsd"/>
	<xs:include schemaLocation="TaxMLPublicSBType.xsd"/>
	<xs:include schemaLocation="TaxMLBw_clfxsxxcj_V1.0.xsd"/>
	<xs:complexType name="HXZGSB00344Request">
		<xs:annotation>
			<xs:documentation>存量房交易信息采集保存</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="taxDoc">
				<xs:sequence>
					<xs:element name="mfdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>卖方登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gmfdjxh" type="djxh">
						<xs:annotation>
							<xs:documentation>购卖方登记序号</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="clfjyxxcjb" type="clfjyxxcjywbw">
						<xs:annotation>
							<xs:documentation>存量房交易信息表表单</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="zlbscjuuid" type="zlbscjuuid" minOccurs="0">
						<xs:annotation>
							<xs:documentation>原资料报送采集UUID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
